[2017-11-29 14:51] DreadKnight opened #1303 "change combat location during match"
Combat location could be allocated randomly during match start, allowing to be changed by swiping the upper third part. This plugin *might* come in handy for the task http://mattcolman.com/labs/phaser-list-view/index.html

[2017-11-29 15:17] DreadKnight commented on #1303
This might require assets to be loaded after game loads, which might be a new feature in Phaser v3.

[2017-11-29 20:32] #1177 closed

[2017-11-30 21:34] #1296 closed

[2017-11-30 21:34] #1294 closed

[2017-11-30 21:34] #1295 closed

[2017-11-30 21:38] DreadKnight opened #1305 "broken Chimera ultimate"
Chimera's ultimate ability seems to be a bit broken as it no longer pushes target units around...

**Specs:**
Will be able to use a nearby unit (3 hexagons back and forth, similar to Tooth Fairy ability) as a projectile:

- target unit will take 15 crush damage when hit by Chimera, then will slide in the corresponding direction up to 3 hexagons;
- if reaching another unit, it will take another 15

[2017-11-30 22:39] TommyDong1998 commented on #1260
Couldnt reproduce the error. Maybe it already fixed

[2017-12-01 04:56] DreadKnight commented on #1260
@TommyDong1998 You might be right, someone did poked around on some related bugs a while back.

[2017-12-01 04:56] #1260 closed

[2017-12-01 09:08] DreadKnight opened #1306 "Discord partnership"
Once we have online multiplayer #315 and scale up the community, we should go for Discord partnership.
https://discordapp.com/partners

[2017-12-01 20:27] DreadKnight opened #1307 "Sandbox strategies PR agency"
This PR agency seems nice and suitable for the project when time comes https://sandboxstrat.com
They get in touch with steamers and writers in order to promote indie video games.

[2017-12-01 20:54] #1139 closed

[2017-12-01 21:30] #199 closed

[2017-12-01 21:59] DreadKnight commented on #882
Fixed by 006080bd5c8bf8f893b6e6359c2eaf7a680da4d2

[2017-12-01 21:59] #882 closed

[2017-12-03 00:11] DreadKnight commented on #923
http://rasmusrasmussen.com/2017/10/06/how-to-translate-a-game-13-the-process
http://rasmusrasmussen.com/2017/10/13/how-to-translate-a-game-23-preparation-and-tools
http://rasmusrasmussen.com/2017/10/30/how-to-translate-a-game-33-gamemaker-studio-2-example

[2017-12-03 03:21] DreadKnight commented on #1048
Found this nice particle editor tool for Phaser https://phaser-particle-editor.firebaseapp.com

[2017-12-03 03:35] DreadKnight commented on #850
Never Phaser versions do this by default for quite a while now.

[2017-12-03 03:35] #850 closed

[2017-12-03 10:42] DreadKnight opened #1308 "Mr. Stitches tweaks"
This creature is a stuffed puppet, the passive could allow it to bypass materialization sickness while the second ability could allow repairing self / allies or disable other units.

Stuffed Decoy - this ability is passive.
Materialization sickness doesn't affect this unit at all, allowing it to act faster.
It will act the same round materialized.
Upgrade: Nearby foes can't use attacks.

Razor Bla

[2017-12-08 03:03] vritant24 commented on #1243
Hi, I would like to try to fix this issue.
Could I get some help as to where to start?

[2017-12-08 05:47] DreadKnight commented on #1243
@vritant24 Heya, after you've read the contribution guide, the files you need to deal with would probably be `deploy/index.html`, `src/ui/interface.js` and/or `src/ui/button.js`. I've added the icon in `deploy/icons/upgrade.svg`.

[2017-12-08 05:51] DreadKnight commented on #1243
@vritant24 did more digging, you'll probably have to patch this function https://github.com/FreezingMoon/AncientBeast/blob/master/src/ui/interface.js#L1175

[2017-12-08 13:42] DreadKnight commented on #962
This style guide might be the way to go https://github.com/airbnb/javascript as it looks good, it's quite popular and provides package for ES-Lint as well.

[2017-12-08 13:42] DreadKnight commented on #913
This open source p2p/blockchain based alternative solution is also worth looking into https://sia.tech - https://github.com/nextcloud

[2017-12-08 15:12] vritant24 commented on #1243
Thanks for the help! So I figured out the code, but what would be a good way to go about seeing if it works?
I played the game a bit but didn't know how to go about making an upgrade happen.

[2017-12-08 15:18] DreadKnight commented on #1243
@vritant24 no problem. That stuff is described in the ability tooltip. Basically, for active abilities you need to use them a few times as indicated there. Passive abilities (first ones) upgrade automatically after a number of rounds.

[2017-12-09 23:05] #1190 closed

[2017-12-09 23:05] #1225 closed

[2017-12-10 12:44] DreadKnight commented on #158
Could use Dat for the task, which is built using Javascript, Node.js and Electron and allows for p2p file sharing, providing quite a few massive advantages, allowing for more decentralization and less costs. Players playing the game would share the assets with each others https://dat.land

[2017-12-10 14:51] DreadKnight opened #1311 "Heroku build failing"
As we migrated to yarn, the build on Heroku fails https://ancientbeast-beta.herokuapp.com
Probably `app.json` might needs to be tweaked to include a build postinstall script, which grunt didn't need...

[2017-12-10 14:52] DreadKnight opened #1312 "documentation for workflow changes"
We've changed a few things in our pipeline, the contribute document should be updated accordingly.

[2017-12-10 17:07] DreadKnight commented on #158
And there's this dat JS library https://github.com/datproject/dat-js though it's described as out of date.
It might be usable for when players are using the browser based version of the game, otherwise this one could be used for the downloadable version https://github.com/datproject/dat-node in order to share the assets p2p style.

[2017-12-19 00:53] DreadKnight commented on #1311
It's still failing after recent patch, but now there's more going on in the log https://pastebin.com/9JVS907u

[2017-12-19 13:21] PN1019 commented on #1311
@DreadKnight  deployment is still failing? or is log still showing same things?

[2017-12-19 14:20] DreadKnight commented on #1311
@PN1019 your PR is not failing deploying with latest patch anymore, but while accessing the server still getting `Cannot GET /`, might be because you haven't merged in from master, which included something.

[2017-12-28 04:36] danieldiaz14 commented on #1292
Hey Dread Knight! I would love to contribute to your game! I'm a little confused on this issue, did you want all the hexagons colored except for the target which is glowing and colored or has this issue been resolved. Apologies first time contributing to open source.

[2017-12-28 05:50] danieldiaz14 commented on #1185
Hey I fixed the issue! Created a pull request let me know if this is okay or if the issue has already been resolved. Will keep looking at other issues.

[2017-12-29 05:22] danieldiaz14 commented on #1204
I can definitely do this! I still need help setting up the dev environment as I get "Fatal Error cannot locate grunt file". I followed  the instructions on your contribution page and that hasn't helped, I sent you an email about it. Please reach out as soon as you can as I am eager to help solve issues on this project.

[2017-12-29 05:28] danieldiaz14 commented on #1204
I've been playing the game and I am unaware of how to view a unit's level. Some help would be much appreciated!

[2018-03-12 22:26] #1185 closed

[2018-03-13 09:33] DreadKnight opened #1316 "related TAO game is dead, R.I.P."
Tactics Arena Online game died a while ago, could approach the fanbase and point them to this project.
https://www.reddit.com/r/Games/comments/4fulif/tactics_arena_online_is_shutting_down_may_1st_2016/
https://www.youtube.com/watch?v=9QMx_aqW5UM

[2018-03-13 09:34] DreadKnight commented on #1316
It was a pretty good and free game, didn't liked that it was chance based though afaik.

[2018-03-13 13:17] DreadKnight opened #1317 "upgrade jQuery library"
Github is warning about jQuery package vulnerabilities and that it should be updated to 3.0.0
I don't see this as a big concern, but if it's doable without breaking anything, maybe go for it.

[2018-03-13 13:19] DreadKnight opened #1318 "center version text horizontally"
The version text (and perhaps other elements) from the pre-match screen should get centered horizontally.

[2018-03-13 13:23] DreadKnight commented on #1161
The issue is a bit different, this is a duplicate of #673 overall.

[2018-03-13 13:23] #1161 closed

[2018-03-13 13:26] DreadKnight commented on #329
Duplicate of #272 overall.

[2018-03-13 13:26] #329 closed

[2018-03-13 13:38] DreadKnight opened #1319 "pre-match settings display wider"
The development version currently has some new visual regressions, one of them is that the pre-match screen displays the setting fields way bigger.

Dev version (wider)
![wider setting fields in the dev version](https://user-images.githubusercontent.com/587487/37344729-d833ae70-26d3-11e8-8362-4e413c532860.png)

Stable version (smaller) http://play.ancientbeast.com
![proper field size - stable vers

[2018-03-13 13:55] DreadKnight opened #1320 "combat log visual regression"
The development version of the game has some visual regressions, some of which are related to the combat log. The distance between the rows of text is too big, making the minimized combat interface not properly display a single line and making the maximized interface not display the whole "mini-tutorial". Also the scrollbar is rendered ugly.

How it's displayed atm https://ancientbeast-beta.heroku

[2018-03-13 14:11] DreadKnight opened #1321 "improper rescale of game canvas"
There are some visual regressions in the development version of the game, for example the HTML5 canvas area doesn't properly rescale to be seen within the viewport.

How it currently looks https://ancientbeast-beta.herokuapp.com
![screenshot from 2018-03-13 00-04-01](https://user-images.githubusercontent.com/587487/37346824-113525aa-26d9-11e8-9656-4f451e896099.png)

How it should look http://play.

[2018-03-13 16:04] DreadKnight opened #1322 "stats & masteries tutorial not displayed"
When hovering the card stats and masteries icons from the in-game dashboard view, the tutorials are no longer displayed over the left side (artwork) card, like in happens on the website http://ancientbeast.com/units/?view=sets#Greedy_Knight

![screenshot from 2018-03-14 10-30-33](https://user-images.githubusercontent.com/587487/37391090-d7c8b4a4-2772-11e8-9ffa-15cdf8d5fe43.png)

![screenshot from

[2018-03-13 19:53] DreadKnight opened #1323 "switch to semi-random unit button"
When opening dash from upper right corner or hotkey, the big button under Dark Priest cards could be clickable in order to select a random available unit (if able to materialize) or a random materialized one.

[2018-03-13 19:56] DreadKnight opened #1324 "dash player tabs broken"
Clicking the player tabs at the top of the in-game dash is bugged, making the background dark and showing all units unavailable.

![screenshot from 2018-03-13 21-54-40](https://user-images.githubusercontent.com/587487/37366470-3140a600-2709-11e8-9069-c97ca64ff4f5.png)

[2018-03-14 02:28] troydavidcook commented on #1318
Mind if I give this a look? Happy to!

[2018-03-14 08:11] DreadKnight commented on #1318
@troydavidcook Neat, go for it! :)

[2018-03-14 16:48] DreadKnight commented on #315
A nice tutorial series about making an online multiplayer game using Phaser and hosting it on Heroku, like we do http://gojasonyang.com/post/phaserMultiplayerGamePart1.html

[2018-03-15 09:29] DreadKnight opened #1325 "match mindset script"
Should have an article in the wiki (and maybe later on the website as well) describing the whole mindset that goes on during a match. This should help some of the new players and even developers get a better grasp of the whole thing easier. It  could even serve as a script for an upcoming Youtube video later on.

[2018-03-15 22:57] Bennet11 commented on #1324
Hello @DreadKnight, I'm a coding student and new into contributing to Open Source project and i would love to try working on this but may I know what behavior are you expecting it to be? Since I'm not aware of its intended rendition. Thank you!

[2018-03-15 22:59] DreadKnight commented on #1324
@Bennet11 Heya, the idea is to fix the regression/bug and have the tabs usable again, like in the stable version from over here http://play.ancientbeast.com - so no more dark background with all units disabled.

[2018-03-15 23:11] Bennet11 commented on #1324
Thanks! I was able to reproduce it. I would like to give it a try.

[2018-03-15 23:12] DreadKnight commented on #1324
@Bennet11 Good, sure thing, go for it! :)

[2018-03-16 10:17] DreadKnight commented on #1322
Fixed in 3f18ce762edbbc354648d82b096b0fea9d3d8c3e, good job @ktiedt !

[2018-03-16 10:17] #1322 closed

[2018-03-17 07:01] ktiedt opened #1327 "Better support for developing w/live rebuilds etc."
Make it easy for developers to run the application once and have the application rebuilt on the fly for testing purposes.

[2018-03-17 21:00] DreadKnight opened #1329 "Materialization ability selectable after usage"
In development version of the game, after materializing a unit, pressing R will set a colored contour around the Godlet Printer ability.

Right after materializing Uncle Fungus
![screenshot from 2018-03-17 22-59-05](https://user-images.githubusercontent.com/587487/37559900-d4edf412-2a36-11e8-892a-67cac943aeab.png)

Pressing R makes the ability look selected
![screenshot from 2018-03-17 22-59-12](h

[2018-03-17 21:04] DreadKnight opened #1330 "scroll wheel no longer toggling between usable abilities"
Using the scroll wheel in-game no longer switches between usable abilities, but scrolls the game canvas up and down (thanks to #1321 bug).

[2018-03-17 21:24] #1327 closed

[2018-03-18 19:02] DreadKnight commented on #962
Just stumbled upon https://prettier.io - looks great and also integrates with IDEs like VSC.

[2018-03-18 22:09] Bennet11 commented on #1324
Hi @DreadKnight, may I ask a question? May I know what's the best way for me to test my code? Since running the page with Visual Studio Code live preview does not render the app properly. Thanks!

[2018-03-18 22:29] DreadKnight commented on #1324
@Bennet11 Sure, no problem! I've recently updated the contribution guide over here https://github.com/FreezingMoon/AncientBeast/blob/master/docs/CONTRIBUTING.md

The VSC live preview might be for rather more simplistic projects afaik.

As the guide says, yo need to basically install Node.js and yarn, then do `yarn install` and `yarn start:dev` in VSC's CLI when you have your fork opened and you'll

[2018-03-18 23:18] Bennet11 commented on #1324
@DreadKnight I just want to be clarified, is 'start:dev' still working as a yarn command? Because after trying it for multiple of time it gives me this error
``
error An unexpected error occurred: "Command \"start:dev\" not found.".
``
but 'yarn start dev' works for me though.

[2018-03-19 00:02] ktiedt commented on #1324
@Bennet11 `git pull` start:dev was just added the a day or so ago, you will also want to `yarn install` to update the dependencies.

[2018-03-19 01:24] Bennet11 commented on #1324
@ktiedt Did exactly what you told me to do and now it's working. Thanks!

[2018-03-19 01:49] ktiedt commented on #962
Just ran a quick test locally... this looks pretty promising. I'll see what it takes to enforce this using commit hooks to make it `just work` and devs can use whatever format they like locally.

[2018-03-19 04:58] ktiedt opened #1331 "broken dependencies (jquery)"
Several of the files relying on jquery were missing the import statement (almost all of them) and the few that did have the import statement were still relying on the magic `window.$j = jQuery` hack in script.js (which I am also removing).

[2018-03-21 20:16] #1331 closed

[2018-03-21 20:17] #962 closed

[2018-03-23 04:14] ktiedt opened #1334 "Properly inherit Phaser"
Move towards a more proper Phaser setup by inheriting Phaser.Game instead of storing it as a property.

There is likely some more that can be done, but this is a good 1st step.

[2018-03-23 04:37] ktiedt commented on #1334
I have a PR for this -- but it touches several ability files which now have to be fixed for the linter -- will commit tomorrow at some point :)

[2018-03-23 15:21] DreadKnight commented on #1334
Alright, sounds good. Looking forward to it :+1:

[2018-03-23 15:38] DreadKnight opened #1335 "parcel web app bundler"
There's a web application bundler that claims to be easier & faster https://github.com/parcel-bundler/parcel
We could consider this as a replacement for webpack eventually if it better suits our needs for the project.

[2018-03-23 16:39] ktiedt commented on #1335
Lots of open issues that raise red flags here. I believe webpack will work well for us, I just don't believe we started with the best approach, I'm slowly working on improving our config.

[2018-03-25 03:40] tdondich opened #1336 "Non production development environments are erroneously calling Google Analytics"
Steps to reproduce:
* Set NODE_ENV to anything other than PRODUCTION
* Run the server.js via node server.js
* View source or development tools and view that Google Analytics code is being included

Viewing source shows at the bottom of the HTML:

[code]

Solution is to check for NODE_ENV and only include this when NODE_ENV is production

[2018-03-25 03:52] tdondich commented on #1317
As of commit 8dc1edb in master branch, it appears that jQuery 3.3.1 is already being loaded and is imported from server.js.  This ticket is no longer valid.

We actually troubleshooted this ticket live on twitch in our twitch.tv/adventuresinprogramming stream.  Great project, wishing you all the best success!

[2018-03-25 05:43] ktiedt commented on #1317
You are correct, this was fixed at the same time as #1327. Thanks for catching that!

[2018-03-25 05:43] #1317 closed

[2018-03-26 06:06] DreadKnight commented on #1336
Alright, thanks for opening this issue.
I've seen the twitch video and would definitely want to have more issues worked on in a future stream :+1:

[2018-03-29 17:43] #816 closed

[2018-03-29 17:43] #641 closed

[2018-03-29 17:44] #64 closed

[2018-03-29 17:47] #823 closed

[2018-03-29 17:48] #961 closed

[2018-03-29 17:50] #433 closed

[2018-03-29 17:51] #921 closed

[2018-03-29 17:52] #922 closed

[2018-03-29 17:52] #950 closed

[2018-03-29 17:54] #947 closed

[2018-03-29 20:05] DreadKnight commented on #1311
Heroku works for quite a while now.

[2018-03-29 20:05] #1311 closed

[2018-03-29 20:16] #1312 closed

[2018-03-30 11:49] DreadKnight commented on #1323
Duplicate of #622

[2018-03-30 11:49] #1323 closed

[2018-03-30 11:50] #643 closed

[2018-03-30 11:51] DreadKnight commented on #643
Moved issue to website's issue tracker https://github.com/FreezingMoon/AncientBeast-Website/issues/86

[2018-03-30 11:53] DreadKnight commented on #672
Moved this to website's issue tracker https://github.com/FreezingMoon/AncientBeast-Website/issues/87

[2018-03-30 11:53] #672 closed

[2018-03-30 11:59] #733 closed

[2018-03-30 12:03] #865 closed

[2018-03-30 12:06] #840 closed

[2018-03-30 12:07] DreadKnight commented on #839
Moved to website's issue tracker https://github.com/FreezingMoon/AncientBeast-Website/issues/90

[2018-03-30 12:07] #839 closed

[2018-03-30 12:09] #769 closed

[2018-03-30 12:12] #1014 closed

[2018-03-30 12:20] #814 closed

[2018-03-30 12:32] #576 closed

[2018-03-30 13:00] #1316 closed

[2018-03-30 13:08] #1168 closed

[2018-03-30 13:12] #1110 closed

[2018-03-30 13:14] #1016 closed

[2018-03-30 13:19] #991 closed

[2018-03-30 13:20] #92 closed

[2018-03-30 13:21] #306 closed

[2018-03-30 13:21] #392 closed

[2018-03-30 13:22] #431 closed

[2018-03-30 13:23] #838 closed

[2018-03-30 13:23] #866 closed

[2018-03-30 13:23] #920 closed

[2018-03-30 13:24] #934 closed

[2018-03-30 13:25] #941 closed

[2018-03-30 13:25] #948 closed

[2018-03-30 13:27] #982 closed

[2018-03-30 13:29] #936 closed

[2018-03-30 18:41] #1325 closed

[2018-03-30 18:42] DreadKnight commented on #1325
https://github.com/FreezingMoon/AncientBeast/wiki/Game-tutorial

[2018-03-30 19:11] #344 closed

[2018-03-30 19:13] #385 closed

[2018-03-30 19:14] #424 closed

[2018-03-30 19:25] #529 closed

[2018-03-30 19:59] DreadKnight commented on #829
This is something that's a bit subjective and requires maintaining. It could be a bonus subscription feature.

[2018-04-01 22:35] Bennet11 commented on #1202
@DreadKnight I tried to replicate the issue here but I found out that on the website version of the app, the explanation on the left side of the card are not being shown when Im hovering on the icons. On the heroku app however, the explanations are being shown when you hover on the icons.

[2018-04-01 22:46] DreadKnight commented on #1202
@Bennet11 @Bennet11 Do you mean here's not working http://ancientbeast.com/units/?view=sets#Swine_Thug while here http://ancientbeast.com/play/ is working for you? Both of those work for me, so that's strange. What operating system and browser are you using btw? I might open up an issue on the website's own repo if that's the case... https://github.com/FreezingMoon/AncientBeast-Website/issues Will

[2018-04-01 22:53] Bennet11 commented on #1202
@DreadKnight On the first link you've mentioned, it's working but when I'm trying to do it in-game(second link you mentioned) nothing happens when Im hovering on those icons. Not sure though if it only happens on my end.

Im using mac osx el capitan and google chrome.

[2018-04-02 00:26] DreadKnight commented on #1202
@Bennet11 Understood. Well, it's broken anyway in the development version, so it needs to be fixed.

[2018-04-06 23:50] kertislagg commented on #438
only need dat beefy 300dpi if it goes to print. when viewing on screen it'll always be good in 72dpi.

[2018-04-06 23:56] DreadKnight commented on #438
@kertislagg Yeah, was wondering a bit about those Retina displays, as I'm not really an Apple user and don't have access to one https://forums.adobe.com/message/9490181#9490181

[2018-04-07 00:32] DreadKnight commented on #438
@kertislagg Hehe, alright, keeping all of them 300 dpi to be more printer friendly then as it doesn't really matter for the web/pc itself. Thanks for your input on this :+1:

[2018-04-07 00:32] #438 closed

[2018-04-07 00:40] DreadKnight commented on #232
The new artwork should also be used for the blurred greyscale B-card Wrath realm background.

[2018-04-07 11:52] DreadKnight opened #1337 "errors launching the project"
Trying to start the development version of the project throws some errors

yarn run v1.5.1
$ NODE_ENV=production node server.js
events.js:136
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::8080
    at Object._errnoException (util.js:1031:13)
    at _exceptionWithHostPort (util.js:1052:20)
    at Server.setupListenHandle [as _listen2] (net.js:1367:14)
    at listenI

[2018-04-07 11:56] DreadKnight commented on #1337
Also, it would be nice to have `yarn start:dev` show up in VSCode as well when pressing `Ctrl+Shift+B`...

[2018-04-10 03:16] programmer-pixie commented on #1330
Hello, is this issue still open and available? If so I would like to try and help.

[2018-04-10 10:59] DreadKnight commented on #1330
@programmer-pixie heya, it's still available, feel free to take a swing at it :)

[2018-04-17 02:36] yfzdq commented on #1305
The issue is caused by an undefined debug-mode Boolean in here:
`// Damage calculation
		$j.each(this.damages, (key, value) => {
			let points;

			if (key == 'pure') {
				// Bypass defense calculation
				points = value;
			} else {
				points = Math.round(
					value * (1 + (atk.offense - trg.defense / this.area + atk[key] - trg[key]) / 100)
				);
				// For debugging purposes
				if (this.gam

[2018-04-17 02:59] ktiedt commented on #1305
What error does this supposedly cause? An undefined property on an object `this.game.debugMode` in this case, would not in itself, cause an error so long as `this.game` exists as an object.

[2018-04-17 03:10] yfzdq commented on #1305
I had some questions about this too... Why would 'this.game.debugMode' return undefined? The error caused by this is that Chimera's damage infliction is skipped somehow. The knock-back effect is also skipped.

[2018-04-20 09:04] drivingshooters commented on #1321
Why is that a bad thing, shouldn't it scale with the resolution?

[2018-04-20 09:10] DreadKnight commented on #1321
@drivingshooters the whole game canvas should maintain its aspect ratio at all times, otherwise important stuff can get cut off:
![screenshot from 2018-04-20 12-10-01](https://user-images.githubusercontent.com/587487/39042567-cee2c562-4493-11e8-85b8-908f276cad84.png)

[2018-04-20 09:15] #1335 closed

[2018-04-29 22:14] DreadKnight commented on #1336
Fixed in recent patch d08e057 by @Stopczyt :+1:

[2018-04-29 22:14] #1336 closed

[2018-04-29 22:15] DreadKnight commented on #1334
@ktiedt wondering if you've made progress with this one :)

[2018-04-29 22:36] ktiedt commented on #1334
Have not had a chance to revisit, may have that opportunity sometime this week in the evening.

[2018-04-29 23:33] DreadKnight opened #1340 "shout creature name when materialized"
Found *yet another* regression in the development version of the game: when a unit is materialized, its name is no longer shouted.

[2018-04-29 23:33] #454 closed

[2018-04-30 20:55] #845 closed

[2018-04-30 20:55] #1320 closed

[2018-05-02 00:48] ktiedt commented on #1319
When you do that, do you see your changes in the CSS inheritance in the dev consoles style listings? If so and they are overriden, then you know its just a specificity problem. If not, then your change may be in the wrong file.

[2018-05-03 13:12] DreadKnight commented on #1319
@CameronProbert heya, thanks for your interest / initiative. Changes need to sort of be rebuilt, so you would need to run the game with `yarn start:dev`, which should automatically compile the changes as you make them, though, you would need to refresh the page and make sure cache is not enabled, as indicated here https://github.com/FreezingMoon/AncientBeast/blob/master/docs/CONTRIBUTING.md#patch-

[2018-05-27 02:18] infoalisaa commented on #1340
Hello @DreadKnight !

 I am a first-time contributor, and I was wondering if I could take on this issue.
 Can you let me know where in the code I should look for this issue to fix?

Thanks!

[2018-05-27 07:51] DreadKnight commented on #1340
@infoalisaa Heya! Feel free to take a swing at it. Did a quick search and it's somewhat related to this line of code https://github.com/FreezingMoon/AncientBeast/blob/e50cf19cbdcefbb46fae12f072b8d922abf25059/src/player.js#L90 but you need to do the opposite, since there's a chance that the initial code for this feature currently not working was actually removed by accident, so you would need to ad

[2018-05-30 01:56] infoalisaa commented on #1340
Hi @DreadKnight !

 I took a look at the code, and there is a comment above the line that you referenced that says," Avoid Dark Priest shout at the beginning of a match", so I was a little confused with your comment that says that it is for Dark Priests.
 This is a little tough for me, but I would really like to help and to learn from this.
 If I am understanding this correctly, I would need to do

[2018-05-30 18:44] DreadKnight commented on #1340
@infoalisaa That Dark Priest related stuff was actually an usability patch as it was annoying for their names to be shouted out first thing during a match since they're the first appearing.
From what I can tell, your logic seems pretty correct to me :-)

[2018-06-06 01:34] infoalisaa commented on #1340
Hello @DreadKnight !

 So I am starting to get my machine ready in order to contribute, and when I tried the yarn build:dev command, I got this message:

yarn run v1.7.0
$ yarn run generateManifest && webpack --mode=development
$ node manifestGenerator.js
internal/modules/cjs/loader.js:596
    throw err;
    ^

Error: Cannot find module 'prettier'
    at Function.Module._resolveFilename (internal/

[2018-06-06 10:03] DreadKnight commented on #1340
@infoalisaa Heya! Just checking if you haven't missed the `yarn install` command first by any chance...

[2018-06-06 11:51] infoalisaa commented on #1340
Hi @DreadKnight !

 Yeah, I did the yarn install as well, so I am not sure what is wrong.
 Should I try cloning the project again?

Thanks!

[2018-06-06 11:54] DreadKnight commented on #1340
@infoalisaa You could give that a go, but not sure if it will fix things... this whole backend pipeline feels so problematic at times, sigh.

Any chance you had ESLint or Prettier installed globally before? Been googling about this and looking at suggestions...

[2018-06-06 11:56] infoalisaa commented on #1340
@DreadKnight
I haven’t installed either one of those actually. I’ll give that a go when I get home from work today.

[2018-06-06 11:57] DreadKnight commented on #1340
@infoalisaa I take it you mean giving cloning the project another go and not installing those, because their global installation is what caused issues in some cases.

[2018-06-06 12:00] infoalisaa commented on #1340
@DreadKnight Oh, okay. I was planning on installing it since I don’t think I have either one of those installed.
Should I install it to my folder where I have all of the files or just skip it?

[2018-06-06 12:02] DreadKnight commented on #1340
@infoalisaa The whole point of yarn is to take care of dependencies itself so that you don't have to install stuff manually, so skip installing those packages I mentioned, as doing so manually could cause issues.

[2018-06-07 00:59] infoalisaa commented on #1340
@DreadKnight
I think I found the issue.
I did the yarn install again, and I got this message:

yarn install v1.7.0
[1/5] 🔍  Validating package.json...
[2/5] 🔍  Resolving packages...
[3/5] 🚚  Fetching packages...
[----------------------------------------------------------------------] 0/1114(node:21336) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Pleas

[2018-06-07 04:48] ktiedt commented on #1340
it seems like dev dependencies maybe did not install... you could try `yarn global add prettier` or `npm i -g prettier` -- I do not believe that warning is because your Node version...

[2018-06-07 05:48] ktiedt commented on #1334
Just updating here -- this was bigger than I expected it to be, I am revisiting my bookmarks and code to refresh my memory on this and I'm gonna try and knock it out in the next week over several evenings.

[2018-06-07 05:51] ktiedt opened #1342 "webpack cleanup"
Removing some redundant config code and adding comments for some future optimizations.

Also stream the Phaser imports the more proper way.

[2018-06-07 12:15] DreadKnight commented on #1334
@ktiedt Alright, understood. Thanks for the update, I hope all goes well :)

[2018-06-07 12:21] DreadKnight commented on #1340
@infoalisaa Oh, I see the problem, just like @ktiedt said in his edit, you should downgrade your Node.js to LTS version, like the contribution guide actually suggests. Seen issues like this before a few times, hence why apparently it's always good to ask the basic questions and check to see if people are actually on the same page with stuff :D

If you really need that newer Node for something else

[2018-06-07 14:54] #1342 closed

[2018-06-08 02:21] infoalisaa commented on #1340
Hi @DreadKnight and @ktiedt !

Thanks so much for pointing me in the right direction.
 I was able to get everything up and running and now I can finally work on solving this problem.
 So I know that I was pointed this direction as far as what to put into the summon method of the creature object:

		for (let i = game.creatureJSON.length - 1; i >= 0; i--) {
			if (game.creatureJSON[i].type == type &

[2018-06-08 12:03] DreadKnight commented on #1340
@infoalisaa Good you sorted things out, there are always likely to be issues if not following the guides, plenty of issues even if following them as it is xD

Regarding the code, I'm a crappy JS coder, but logic wise, you would probably only need to play a sound  as you don't need to go through loops, since the unit that gets materialized (summoned) is a specific one. I'm not sure in the code you

[2018-06-09 16:36] DreadKnight opened #1344 "project docker image [bounty: 33 XTR]"
We could probably simplify local project set-up and avoid most issues (especially Windows OS related ones) by having a docklet. Will need to figure out if this would play nicely with Heroku.

[2018-06-09 16:43] DreadKnight commented on #1344
https://www.youtube.com/watch?v=zXFw_huwdKM

[2018-06-09 16:47] DreadKnight commented on #1344
The project contribution guide would also need to be updated to reflect changes when this is done.

[2018-06-09 19:57] #1321 closed

[2018-06-10 02:01] infoalisaa commented on #1340
@DreadKnight

Well, I think I got the code which is this, hopefully:

this.soundsys.playSound(getUrl('units/shouts/' + this.name), 1000 + this.id);

The thing that I am a little lost on is if materalizing means the same thing as summoning as far as within the game. I also don't know if I am doing the testing right.
I save the creature.js file I updated, and then I go into my localhost:8080, but I

[2018-06-10 12:29] DreadKnight commented on #1340
@infoalisaa That line looks about right to me. Yes, materialize = summon; the thing is that there is no magic in the game, all is explained by tech and all unit abilities are like performed with physical or natural weapons and such, while summoning is more of a magical MTG term.

If you run the game with `yarn start:dev` and you make changes, you'll see in the console that the file got updated, yo

[2018-06-10 15:33] DreadKnight commented on #1344
Nice timing, VSCode just got more Docker friendly recently https://code.visualstudio.com/docs/azure/docker

[2018-06-10 15:41] paezao commented on #1318
Is this still an issue?

[2018-06-10 15:44] DreadKnight commented on #1318
@paezao Yeah, just a small aesthetic thing. Such issues usually better left to newcomers to get some confidence breaking the ice with something :D Anyway, patches welcome regardless, as we need a polished product and to make progress.

[2018-06-10 16:13] DreadKnight opened #1347 "pre-match screen shouldn't scroll"
The pre-match screen is scrollable down a bit, without any purpose, revealing some ugliness.
![screenshot from 2018-06-10 19-11-53](https://user-images.githubusercontent.com/587487/41203606-42a28886-6ce2-11e8-998a-9657b71f5d80.png)

[2018-06-13 16:11] naorzr commented on #1347
I wanna go at this, should I just submit a PR?

[2018-06-13 16:12] DreadKnight commented on #1347
@naorzr Sure, go for it :)

[2018-06-13 17:18] DreadKnight commented on #1344
Been looking into how other project do things regarding this https://github.com/tootsuite/documentation/blob/master/Running-Mastodon/Docker-Guide.md

[2018-06-13 17:53] ktiedt commented on #1344
Odd that they by default, copy the source into the Build... no reason they couldnt have used VOLUME /mastadon /mastadon and achieved the same goal...

[2018-06-19 01:51] infoalisaa commented on #1340
@DreadKnight Hey there!

Sorry I had to take some time off of this task. I had a job interview for a SQL role, and I needed to bone up on my SQL skills in little over a week.
I'm just getting back to this, and I am noticing that when I try to run the game with yarn start:dev, it runs really slow. Most of the time it's just a dark priest hanging out there.
Could you let me know if I need to clone t

[2018-06-19 01:55] DreadKnight commented on #1340
@infoalisaa Try updating Chrome to latest version. Also give `yarn start` a go, since it does less stuff. Hopefully you don't have hardware acceleration disabled for your browser. What are your laptop specs btw?

Understood, no worries. I'm kinda expecting people to just wander off at any point long time by now.

[2018-06-19 10:46] infoalisaa commented on #1340
@DreadKnight I checked my Chrome, and it is at the latest version. Tried yarn start, and that didn't seem to work either. Also, the hardware acceleration isn't disables for my browser.
My laptop specs are a MacBook Air running on High Sierra with a 2.2 GHz Intel processor.
Tried restarting my computer just now, and I still cannot seem to get it to go. :(

[2018-06-20 21:53] #1324 closed

[2018-06-20 22:15] russon77 commented on #1347
@DreadKnight i am unable to reproduce this

using Chromium Version 66.0.3359.181 (openSUSE Build) (64-bit)

[2018-06-20 22:55] DreadKnight commented on #1347
@russon77 Here's the master branch constantly deployed (the beta of the game) https://ancientbeast-beta.herokuapp.com - scrolling down does that for me, can you give it a go over here as well?

[2018-06-20 23:00] russon77 commented on #1347
still no scrolling. i tried on os x with latest chrome and firefox, no scrolling.

[2018-06-20 23:04] DreadKnight commented on #1347
@russon77 Hmm, ok. I've poked the testers on Discord, hopefully will see some others to reproduce it...

[2018-06-20 23:34] russon77 opened #1352 "significant performance drop on canvas mouseout"
using chromium's devtools performance tool, a clear slowdown can be witnessed when moving the mouse between the canvas (e.g. hex board) and the external UI (e.g. unit portrait).

this appears to boil down to the `this.input.events.onInputOut.add()` function in `hex.js`, which adds an event listener to check all of the hexes on the board. this ends up running several times in a row (maybe phaser bu

[2018-06-21 00:47] #1224 closed

[2018-06-21 00:48] DreadKnight commented on #1352
Good find! Coding really needs to be improved so that the game runs better even on lower end machines.

[2018-06-21 00:49] russon77 opened #1353 "readme links broken"
mypaint links to an ad for dell

[2018-06-21 00:51] DreadKnight commented on #1353
Good find :)

[2018-06-21 00:51] #1353 closed

[2018-06-21 05:06] DreadKnight opened #1354 "remove avatar underline"
The avatar of active unit, upper left, has a grey line under it, it should be removed.

[2018-06-21 05:08] DreadKnight opened #1355 "don't show status indicator"
When ending active unit turn, the status indicator from the unit queue shouldn't appear while the avatar transitions out.

[2018-06-21 10:27] infoalisaa commented on #1340
@DreadKnight Well, it seems to work just fine like it did for me when I was initially testing it a couple of weeks ago. Were there any changes lately that I may need to update my branch for?

[2018-06-21 10:45] infoalisaa commented on #1340
@DreadKnight I am not sure if this helps or not, but when I do the yarn start, it kinda hangs in the Terminal saying Server listening at port 8080. It did this in the past, but I was still able to run the game just fine.

[2018-06-21 15:19] russon77 commented on #1352
some more updates: i think the slowdown comes from `updateStyle` in `hex.js`. from what i understand, the game used to be written in jquery/html _only_, so all of the style work is done in css classes. furthermore, `updateStyle` is called multiple times for each hex over and over again.

since the game is using phaser, i believe all rendering should be done in a "render" function that ticks once p

[2018-06-21 16:58] russon77 commented on #1352
this specific problem lied in the fact that the `mouseout` event for the canvas calls the `mouseout` event on _every_ object in the game, and calling mouseout on every object in the game re-renders every game board object every time, leading to a mess.

thankfully there is a property on the mouseout event handler that specifies `withinGame`, meaning that the mouse has left the game - and we do not

[2018-06-21 17:45] DreadKnight commented on #1340
@infoalisaa There are constantly new patches, so when you're getting down to checking it out and such, it's usually best to update your branch first. As the contribution guide sais, `yarn start` only starts the game, the other command also checks out for file changes, hence doing a bit more in the background. Anyway, bottom line is that when you play it from another server, it's more lightweight a

[2018-06-21 18:07] russon77 commented on #1355
@DreadKnight could you post a picture of what you mean? what's the `status indicator`?

[2018-06-21 18:07] DreadKnight opened #1358 "cursor waiting state weirdness"
Raising the cursor to an empty spot after the avatars in the unit queue turns it into a loading state.

[2018-06-21 18:11] DreadKnight commented on #1352
@russon77 Indeed, the game was initially jquery/html, then we considered a canvas rewrite and eventually we went with Phaser/CE (didn't even had documentation initially, we had to wait a bit but I recall our lead coder at the time who made the initial prototype managed quite well considering he was more of an artist).

So yeah, functions need to be improved and ideally go for that 1/FPS update tic

[2018-06-21 18:11] #1352 closed

[2018-06-21 18:33] #1329 closed

[2018-06-21 18:35] #1354 closed

[2018-06-21 18:38] DreadKnight commented on #1355
@russon77 Status indicators are the black boxes from under the avatars in the unit queue.
Regarding this bug, it starts showing off for the active unit as soon as it's no longer active transition starts.
Could make an animated gif is still needed.

[2018-06-21 18:45] #1319 closed

[2018-06-21 18:52] DreadKnight commented on #1204
@danieldiaz14 weird events happened to me when you commented so life got in the way big time and couldn't reply for months, so I kinda missed your comments. Anyway, back at it for a while now and could use more coding help if you're still up for it, ofc.

We've moved away from grunt, see our updated contribution guide, it's way easier to get it set-up now and it will get even easier in the near fu

[2018-06-21 19:30] DreadKnight commented on #1355
@russon77 here's a gif, probably late though, been poking at easy ways to make them in the future
![status-indicator](https://user-images.githubusercontent.com/587487/41741067-b0a48230-75a2-11e8-977c-1b7becda8ee2.gif)

[2018-06-21 19:49] #1355 closed

[2018-06-21 19:55] DreadKnight opened #1363 "area targeting should be visually less repugnant"
Area targeting is a bit visually distracting atm, so I think it should only use player colored hexagons when the cursor is out of the area. For example when the red player is materializing a new unit, he should see the red hexagons but when placing the unit, those hexagons should turn black in order to improve things.

The initial coloring should attract the player to hover over the indicated area

[2018-06-21 21:24] DreadKnight opened #1365 "Headless unit doesn't appear"
Headless creature doesn't appear after being materialized.

[2018-06-21 21:25] DreadKnight opened #1366 "can't get or play game logs anymore"
The `G.gamelog.get();` and `G.gamelog.play();` functions appear to be broken due to recent changes.

[2018-06-21 21:48] ktiedt commented on #1352
1FPS?!?!?! I hope you mean 60 ;)

[2018-06-21 21:58] DreadKnight commented on #1352
@ktiedt yeah, you're right, had a feeling something was wrong about that one xD

[2018-06-22 05:46] ktiedt commented on #1366
This changes things up slightly...

`AB.getLog([type])`
`AB.restoreGame(log)`
`AB.currentGame`

This negates the need for complex object walking from `G.gamelog.blahblah` and at least for now, uses a more relevant var name for the public facing var.

[2018-06-22 09:15] #1366 closed

[2018-06-22 14:14] russon77 commented on #1363
@DreadKnight could you make a quick ms paint pic of what you would like to see changed?

[2018-06-22 14:30] russon77 commented on #1214
@DreadKnight can you confirm this issue is still present? i tested and the range is indeed increased. the language is confusing though: "doubles the hexagon range." in practice this means that the base range of 1 is doubled to 2, with the +3 from the ability baseline means the range becomes 5.

[2018-06-22 14:40] russon77 commented on #1236
@DreadKnight what's the quickest way to get to the end game screen? any quick and OP strats?

[2018-06-22 15:09] russon77 commented on #1119
the problem is that the plasma shield only works when the priest is not the _current_ unit. the poison is added and then hurts/inflicts damage during the priest's turn, causing the damage to bypass the shield.

[2018-06-22 17:13] ktiedt commented on #1119
Well that is interesting... and janky.

[2018-06-22 20:16] #1358 closed

[2018-06-22 20:19] #1365 closed

[2018-06-22 21:05] #1119 closed

[2018-06-22 21:28] DreadKnight opened #1373 "more consistent non fleeing score bonus"
The `No Fleeing` bonus should probably be applied to defeated players as well if they didn't used that.
![screenshot from 2018-06-23 00-25-17](https://user-images.githubusercontent.com/587487/41799981-37f39062-767c-11e8-83dc-6ecd8be340e2.png)

[2018-06-22 21:32] DreadKnight opened #1374 "pasting saved matches"
Game logs should be saveable and replayable from pastebin type of links (might need a service with an API), though this should be another `type`.

[2018-06-22 21:34] DreadKnight opened #1375 "easy switch between versions"
In pre-match, the footer should have a link to switch to the auto deployed master beta, this should increase awareness. Also the beta should have test link to the stable version.

[2018-06-22 21:52] russon77 commented on #1374
@DreadKnight i don't know about links, but i've seen other games use "seeds" and have a text field where you can input them. for this game, one of the tabs on the matchmaking ui could be "load from seed", which is just a text field where you input the seed and then hit "go".

there is the issue that the seed grows larger over time, but that's an optimization for another time.

[2018-06-22 21:53] DreadKnight opened #1376 "Wild Fire backwards teleportation"
Abolished's Wild Fire ability allows for teleporting forward less than the unit's size, but not backwards too.
This should be modified to allow Abolished to teleport 1 or 2 hexagons backwards as well to be more fair.
![wild fire](https://user-images.githubusercontent.com/587487/41800886-31189b1c-7680-11e8-82e9-4eaf1dd2165a.gif)

[2018-06-22 22:00] DreadKnight commented on #1376
Another idea would be to force Abolished to teleport to a fully new location, this would lead to some clumsiness, it's immune to his own traps so it won't lead into awkwardness of self harming or suicide.

[2018-06-22 22:36] DreadKnight opened #1377 "change random place option behaviour"
The `Random Place` option should be removed, as I want to add another combat location and don't want to mess up the pre-match screen too much since we don't have a dedicated and more detailed tab for them.

The randomization will happen when the page is loaded so that a random location will be selected. This will make the game even less chance based overall as players will be able to avoid going w

[2018-06-22 22:56] DreadKnight commented on #1376
This seems to be a more generic issue, as the unit can't simply walk backwards one hexagon either...

[2018-06-22 23:04] ktiedt commented on #1374
The data is put directly into a JS object, so we don't have to worry about the hash getting too long really, it is never actually submitted through a form or anything. (Not that post would ever hit such a limit easily, but just to be clear)

[2018-06-22 23:05] ktiedt commented on #1377
Thats good because currently its handled as a hack there are //comments in script.js I believe detailing it ;)

[2018-06-22 23:10] DreadKnight commented on #1214
@russon77 the ability is very buggy, non-upgraded one should allow attacking a unit so that there are 3 empty hexagons in between it and Abolished, not to mention that most of the time the upgrade doesn't causes the ability to extend even further...

[2018-06-22 23:14] DreadKnight commented on #1374
@russon77 Seen seeds being used to restore cryptocurrency wallets, very handy feature for that stuff, but not in our use case.

@ktiedt I know, just thought it would be nicer to just deal with a little link, no more need for special markul or scrolling around when trying to copy it, it would simplify the way we deal with game logs.

[2018-06-22 23:20] DreadKnight opened #1378 "bigger units are problematic walking back"
Medium or large units can't walk backwards less than their size unless not having enough movement pts.

[2018-06-22 23:20] russon77 commented on #1374
a seed is just some data, in our case that data correlates to the game state at time of save, for a minecraft world it could be an RNG seed. same concept: it's a short string to share with your friends.

@ktiedt i agree with @DreadKnight - the seed shouldn't be huuuuge, it becomes cumbersome. did base64 encoding it decrease the size? do we need to keep the history or can we just keep the current s

[2018-06-22 23:20] DreadKnight commented on #1376
Opened more specific issue for walking back #1378, keeping this open for now as well just in case.

[2018-06-22 23:33] DreadKnight commented on #1363
@russon77 No ms paint here, linux user. Added screenie when materializing, the hexagons there for example should be red when cursor not inside and turn to black otherwise, when seeing the faded unit...

![screenshot from 2018-06-23 02-31-23](https://user-images.githubusercontent.com/587487/41803007-ca8b8c98-768d-11e8-97ac-7d40bf29f942.png)

[2018-06-23 14:29] russon77 commented on #1377
@DreadKnight to be clear:

1. remove the "Random Place" option
2. when page is loaded, one of the 3 locations will be preselected _at random_.

[2018-06-23 21:28] bolivierjr commented on #1373
This issue still open? May I have a crack at it?

[2018-06-23 22:33] DreadKnight commented on #1373
@bolivierjr Sure thing, go for it!

[2018-06-23 22:35] DreadKnight commented on #1377
@russon77

1. Yes, along with the hacky code, ofc
2. It should pick one from *all* of them, as I plan to add an extra one (and more with time)

[2018-06-24 03:01] DreadKnight commented on #448
In conclusion issue #1373 makes things a bit more fair, so that remaining player will have more score.

[2018-06-24 03:01] #448 closed

[2018-06-24 07:05] DreadKnight commented on #1236
@russon77 Regarding that, this issue #685 should be prioritized in order to be able to access it anytime.

[2018-06-24 11:43] DreadKnight commented on #1236
@russon77 Any other tip would be to start with low amount of plasma (pre-match setting), make Cyber Hound with red DP (just to consume plasma and disable the shield), then make a lvl 8 unit (Abolished) with blue DP, Cyber Hound should miss the rockets and then target blue DP to nuke him down, something like that xD

[2018-06-24 11:51] DreadKnight commented on #1236
@russon77 Also, start with abilities already upgraded, that usually means bonus damage and such.

[2018-06-24 12:05] #1373 closed

[2018-06-24 13:57] russon77 commented on #1378
i believe this has to do with the way movement is coded in general: the hex under your mouse is where the "head" of the unit will go. moving forward this creates no problem, but moving backward wants to put the unit's "head" in that tile, which it can't, so it will move the unit back two spaces to accommodate as much as possible.

the movement logic should be updated to be direction intelligent. p

[2018-06-24 13:58] russon77 commented on #685
@DreadKnight could you post a picture (wont ask for mspaint x)) of what you'd like to see?

[2018-06-24 14:01] russon77 commented on #1305
should be closed now @DreadKnight ?

[2018-06-24 14:01] #1377 closed

[2018-06-24 14:03] russon77 commented on #1091
should also be good to be closed @DreadKnight

[2018-06-24 14:04] russon77 commented on #1049
@DreadKnight could you explain this a little better? maybe with some visuals?

[2018-06-24 14:05] DreadKnight commented on #1377
@russon77 Well done! :) :+1:

[2018-06-24 14:08] DreadKnight commented on #1378
@russon77 Indeed, but this is actually a somewhat recent regression, as 0.3 does things properly http://play.ancientbeast.com

[2018-06-24 14:09] DreadKnight commented on #685
@russon77 Hehe, don't mind that (was close to delete it), as it kinda does look like that already.

[2018-06-24 14:11] DreadKnight commented on #1305
@russon77 indeed, since the PR was good and merged :+1:

[2018-06-24 14:11] #1305 closed

[2018-06-24 14:11] #1091 closed

[2018-06-24 14:14] russon77 commented on #685
@DreadKnight so the issue should accomplish:

1. toggle-able score screen exactly the same as it is now, but during the match

[2018-06-24 14:16] DreadKnight commented on #1049
@russon77 In the unit queue, the box under the inactive units shows their status (usually endurance), but that stuff usually gets reset each round. Sometimes you can see a certain unit there in current and next round, but *most* statuses get reset each round, meaning the box that's after the round indicator showcase that better. This might be a little trickier, hmm

[2018-06-24 14:17] DreadKnight commented on #685
@russon77 Yes, but hotkey or by pressing the upper right button, while also having a button there to exit (like with other screens).

[2018-06-24 14:17] russon77 commented on #1378
@DreadKnight indeed that solves the problem in a possibly easier way, by allowing the unit to move onto a hex its already "on". thanks for the tip

[2018-06-24 14:20] russon77 commented on #685
what do you mean by "upper right button"? i'm imagining adding another button to the right side with a scoreboard icon.

[2018-06-24 14:39] russon77 commented on #685
@DreadKnight i understand that - but i was referring to this part of the issue:

[2018-06-24 14:41] DreadKnight commented on #685
@russon77 Oh, I see, I'm pretty tired atm xD I meant the current button from the upper right corner should change functionality. Eventually we'll display an icon for it on hover and such.

[2018-06-24 14:43] russon77 commented on #685
![image](https://user-images.githubusercontent.com/17035732/41820180-6de8acaa-779b-11e8-90d0-11504f9a3784.png)

this button right? the one that currently opens the grid?

[2018-06-24 14:45] #1378 closed

[2018-06-24 14:46] DreadKnight commented on #685
@russon77 Exactly. Plenty of other ways to get to the dash (grid thingy).

[2018-06-24 20:36] russon77 opened #1382 "restoreGame doesn't always work"
About half the time, attempting to restore a game from a hash will simply hang at the loading bar. No console output either.

[2018-06-24 22:03] russon77 commented on #1382
it happens for pretty much every hash. here's an example:

[2018-06-24 22:27] ktiedt commented on #1382
As for the loading bar, if you do not focus the game tab, it will render after loading to 100%, because Phaser occasionally fails to render properly if the window is not active.

[2018-06-24 22:43] russon77 commented on #1382
the tab is always "active", as in it's showing, and then i am technically focused on the console when i run `restoreGame`. i understand it does not always happen, it's sometimes - but it happens quite a lot during active dev when replaying saves a lot.

i expect there may be a race condition or silent failure in the code.

[2018-06-24 22:58] ktiedt commented on #1382
Active != showing, active = showing + focused. Dev console steals focus even from the tab it represents. If you click back to the game and it doesnt render almost immediately there is a problem, but sitting at 100% until you click back to the game tab is not a bug.

[2018-06-25 04:37] DreadKnight opened #1384 "expand/minimize combat log hotkey"
Pressing `Spacebar` in-game should expand and minimize the combat log (the black thing at the bottom).

[2018-06-25 16:49] #685 closed

[2018-06-25 16:53] DreadKnight opened #1385 "Spacebar key scrolls the page"
Pressing `Spacebar` in pre-match screen or during match, scrolls down the game canvas a little bit.

[2018-06-25 16:54] DreadKnight commented on #1385
This might be related to #1347 and it might be fixed by #1384 during match at least.

[2018-06-25 16:56] DreadKnight opened #1386 "directly switch from a view to another using hotkey"
During match, when having a few opened and pressing the hotkey for a different one, it should switch to it.
Like when having the dash view opened and pressing `T` (score table) or `A` (audio player).

[2018-06-25 16:58] DreadKnight opened #1387 "hex grid coordinates hotkey"
Found another regression: while holding shift, should be able to see the hex grid coordinates, like when hovering on the round marker.

[2018-06-25 16:59] DreadKnight opened #1388 "dash view hotkey"
The dash view should open using the `G` (grid) hotkey, as there seems to be no hotkey currently assigned.

[2018-06-25 17:01] DreadKnight opened #1389 "more cursor consistency"
The cancel cursor state should be removed when moving out of hexagons.

[2018-06-25 17:37] DreadKnight commented on #1214
Made the non-upgraded ability proper range, but the upgrade doesn't work, so will just close this in favor of a revamped and more balanced upgrade, #1088

[2018-06-25 17:37] #1214 closed

[2018-06-25 21:53] russon77 commented on #1387
@DreadKnight i can't reproduce on http://ancientbeast-beta.herokuapp.com/

steps:
1. load site
2. press start
3. hold shift

[2018-06-25 21:59] russon77 commented on #1385
@DreadKnight can't confirm this either. can you post your Chrome version / OS?

[2018-06-25 22:01] russon77 commented on #1384
currently `return` or `enter` does this actually.

[2018-06-25 22:22] russon77 commented on #1049
@DreadKnight what if units in any round that's not the current do not display the status box? or display a message like 'queued' until it's the next round.

I found the code that updates the status. i have a feeling that each status is unique, meaning that the code to keep the status up to date between rounds would quickly become unwieldy / very tough to change.

[code]

[2018-06-25 22:54] DreadKnight commented on #1387
@russon77 regressions usually need to be checked against *stable* version http://play.ancientbeast.com

[2018-06-25 22:55] DreadKnight commented on #1387
Pfff, seems to be working fine now, strange...

[2018-06-25 22:55] #1387 closed

[2018-06-25 23:08] #1388 closed

[2018-06-25 23:17] #1389 closed

[2018-06-25 23:20] #1318 closed

[2018-06-26 01:11] infoalisaa commented on #1340
@DreadKnight Well, I updated my branch, and that doesn't seem to be working either... I'm not sure what I am doing wrong, but I guess I can try again in a little bit to see if there is a patch or something that will correct this. :(

[2018-06-26 01:14] russon77 commented on #1340
@infoalisaa when it hangs, do you access it in the browser? my terminal "hangs" at "listening..." until I actually try to load `localhost:8080` in the browser, then the terminal lights up.

[2018-06-26 01:49] infoalisaa commented on #1340
@russon77 Yep, that's what I do is when I see it say that it's listening at the localhost:8080. It did work a couple of weeks ago when I was testing it out.
I thought that maybe since I was working with PgAdmin4 to do some PostGreSql stuff, that may be the issue, but now I'm not so sure since it may not be running on the same server.

[2018-06-26 01:54] russon77 commented on #1340
@infoalisaa did you try deleting the repo and starting again? after backing up your changes.

what's your node version? and yarn?

[2018-06-26 01:59] DreadKnight commented on #1049
@russon77 I was afraid of not making this into a beast hard to deal with as well. Those display statuses are pretty good idea, the `Queued` one might do nicely I think, but we should display that for avatars after the next round marker only for units that haven't acted in the current round yet, I think it makes sense.

[2018-06-26 02:06] DreadKnight commented on #1385
@russon77 I've tried it in incognito mode and it's all good, since it disables all extensions. The one causing issues for me is https://chrome.google.com/webstore/detail/chromium-wheel-smooth-scr/khpcanbeojalbkpgpmjpdkjnkfcgfkhb - since it has a `Bouncy Edge` feature, though I keep that one `Off`. So this issue is invalid same as #1347 but the issues will probably go away if `Spacebar` will have a

[2018-06-26 02:06] #1385 closed

[2018-06-26 02:06] russon77 commented on #1049
that makes a lot of sense and would be a lot easier to implement. basically count the times the unit has been seen, and if it's more than once, then change stat display to `Queued`

[2018-06-26 02:09] DreadKnight commented on #1347
The problem for me was due to https://chrome.google.com/webstore/detail/chromium-wheel-smooth-scr/khpcanbeojalbkpgpmjpdkjnkfcgfkhb as it creates some new stuff even if `Bouncy Edge` feature is disabled. Will see about putting `Spacebar` to good use and hopefully it won't be reserved for scrolling.

[2018-06-26 02:09] #1347 closed

[2018-06-26 02:11] DreadKnight opened #1392 "start match hotkey"
In pre-match, the `Return` hotkey should start the match.

[2018-06-26 02:13] DreadKnight commented on #1384
@russon77 Yeah, had a feeling this was done before, but didn't bothered checking out the assigned keys.
Let's go with `Spacebar` anyway since it probably makes more sense and avoids some issues for me ;)

[2018-06-26 02:23] DreadKnight commented on #1088
@russon77 regarding first one, if the unit is up to 3 hexagons *distance*, meaning there can be up to 3 empty hexagons between Abolished and the target unit, as it has a long hand and can reach further.

Regarding second point, no, but Chimera's Disturbing Sound displays full hexagons up until the first target, then dashed ones as the projectile *might* continue to next ones if the initial target

[2018-06-26 02:30] infoalisaa commented on #1340
@russon77 Yeah, tried that, and it's still not working. I even forked and cloned the branch again, and I'm still having the same issue.
My node version is 8.9.4 and my yarn version is 1.7.0

[2018-06-26 02:36] DreadKnight commented on #1392
@ktiedt well, the checkboxes can be navigated using hotkeys just fine using tab and arrows.
Perhaps we should change the mindset from a website to more of an app/game. Imagine how silly it would be to consider accessibility to this point in a game like Quake 3 Arena http://www.quakejs.com

[2018-06-26 04:04] ktiedt commented on #1392
@DreadKnight quake wasnt designed for the web. Besides that, the configuration screen is quite plainly a direct correlation to a web form, there is generally an expectation of accessibility there.

Once you are in the game play, there is a bit more leeway to break things, but when your platform is the web, you should leverage that platform, not alienate it and the common usability people expect fr

[2018-06-26 04:40] DreadKnight commented on #1392
@ktiedt Well, the pre-match settings don't have the radio buttons tab selectable 1 by 1 anyway, that would have been very silly as it would take a long time to browse through them, so pre-match is very usable with keyboard only as it is, though the customized `START` button has the obnoxious selection blue border hidden since it showed up during clicks. The only reason there to use `Spacebar` woul

[2018-06-26 04:41] DreadKnight opened #1393 "cancel selected ability hotkey"
When there's an ability selected, pressing `Esc` should cancel it.

[2018-06-26 04:48] DreadKnight commented on #1392
Though might see about enabling the outline for it, but not for the active state, should do fine if so
https://www.456bereastreet.com/archive/200910/remove_the_outline_from_links_on_active_only

[2018-06-26 08:54] DreadKnight commented on #1392
@ktiedt Alright, will consider `Tab` and `Space` keys for the silly web type accessibility, for now at least.
Changed specs for this issue and will forget about #1384 as well.

[2018-06-26 08:56] DreadKnight commented on #1384
Will close this, leaving `Tab` and `Space` for the silly type web style accessibility, as @ktiedt suggests...

[2018-06-26 08:56] #1384 closed

[2018-06-26 13:01] russon77 commented on #1340
@infoalisaa do you have other applications running on port `8080`? i suppose not if nothing loads for `localhost:8080`, but you mentioned installing some admin tools...

my node is version `8.11.3`, which i think is the latest for major version 8. you could try updating.

[2018-06-27 01:06] infoalisaa commented on #1340
@russon77 I checked to see if I had any other apps running on 8080, and I couldn't find anything.
I tried switching my Node over to 8.11.3, but that didn't seem to work either.
But...I did switch my browser to Firefox, and it's working now.
Not sure why it's working on Firefox and not Chrome, but I'm happy to be back in business! :D

[2018-06-27 01:11] infoalisaa commented on #1340
@russon77 Apparently, there was a Chrome update that needed to happen that I didn't know about. I updated and restarted, and now I'm back to business on Chrome. 👍
Now to get what I wanted to get updated, updated. :)

[2018-06-27 01:53] infoalisaa commented on #1340
@russon77  Sorry to bug you again, but I have been trying to get this one line of code in the creature.js file to work. Are you any good at JavaScript?

[2018-06-27 01:59] russon77 commented on #1340
@infoalisaa yes feel free to ask in the discord chat! probably a better place than trying to keep up with the discussion here :)

[2018-06-27 02:00] infoalisaa commented on #1340
@russon77 Can you shoot me over an invite to the discord chat? I'm going to retire for the evening, but I do want to take this up again tomorrow.

[2018-06-27 11:19] DreadKnight commented on #1340
@infoalisaa we do quite a bit of talking on Discord, here's an invitation link https://discord.me/AncientBeast - there's a channel there called #coding-lodge drop by anytime ;-)

[2018-06-27 17:29] DreadKnight opened #1395 "code linting sprint"
We're getting rid of most linting errors, so that code looks good and we avoid commiting issues.

[2018-06-27 17:34] DreadKnight opened #1396 "add travis to pipeline"
Travis-CI should be used to verify commits.

[2018-06-27 17:34] DreadKnight commented on #1396
I've done step 1, but second step requires a config file.
https://travis-ci.org/FreezingMoon/AncientBeast

[2018-06-28 16:44] DreadKnight opened #1398 "Nutcase hasn't vanished after being killed"
Killed Nutcase but it didn't vanished, showing up an error.

    at Object.onCreatureDeath (ancientbeast.js:55)
    at Creature.die (ancientbeast.js:39)
    at Creature.takeDamage (ancientbeast.js:39)
    at l.activate (ancientbeast.js:55)
    at r (ancientbeast.js:47)
    at setTimeout (ancientbeast.js:47)

Game log below.

This was done against #1397 - thought it doesn't changes gameplay. will t

[2018-06-28 16:46] DreadKnight commented on #1398
Kept playing after that and got a funny log entry in-game `Player1's Nutcase is already dead, aborting takeDamage call.`.

[2018-06-28 16:49] DreadKnight commented on #1398
Smaller log fetched, this time against master branch https://ancientbeast-beta.herokuapp.com

[2018-06-29 08:11] DreadKnight opened #1400 "hotkeys disabled while targeting"
When having an ability selected, pressing `T`, `G` or `A` should still open the corresponding screens.

[2018-06-29 08:18] #1393 closed

[2018-06-29 15:20] DreadKnight opened #1402 "Whip Move bugged targeting direction"
Blue player's Headless is bugged, able to use Whip Move only behind, at least at times.

[2018-06-29 15:44] DreadKnight opened #1403 "invisible Wild Fire traps"
Abolished's Wild Fire traps don't really get destroyed, only become invisible while still affecting hexagons.

[2018-06-30 18:03] IgnacioCartes commented on #1386
Hello! I'm a first-time contributor and I'd like to see if I could tackle this issue, if that's ok. Just set up a local server and will be taking a look at the code.

[2018-06-30 18:05] DreadKnight commented on #1386
@IgnacioCartes Heya! Sure thing, go for it :-)

[2018-07-01 11:06] #1400 closed

[2018-07-01 11:11] #1395 closed

[2018-07-01 11:11] #1396 closed

[2018-07-01 19:33] #1386 closed

[2018-07-02 15:16] DreadKnight opened #1408 "Greater Pyre misleading targeting"
Targeting Abolished's Greater Pyre ability should highlight all adjacent hexagons on hover, since they're all affected.

[2018-07-02 15:40] #1398 closed

[2018-07-02 15:43] DreadKnight opened #1409 "Tentacle Bush shouldn't trigger for DoTs"
Nutcase vs Scavenger: after inflicting Nutcase with Deadly Toxin and staying nearby, Scavenger shouldn't be affected by Tentacle Bush and losing the ability to move the next time the toxic triggers during Nutcase's turn start.

DoT = damage over time (in this case, the round based poison of from Deadly Toxin ability)

[2018-07-02 18:42] DreadKnight commented on #1402
@russon77 Hmm, understood. That's still good progress even if no PR yet :) :+1:

[2018-07-03 13:46] russon77 commented on #1402
^^^ i think that was wrong. now i'm thinking that there's some confusion in the "flipped" logic. the ability is starting at the headless unit "tail" and ends up one hex short of the target unit.

but then there's also this bug, moving one hex closer, that the ability does not even find the enemy.

[2018-07-03 14:06] russon77 commented on #1402
i think that both issues have to do with `grid.getHexLine` and possibly `flipped`. when the direction is left or right, `getHexLine` returns the line to the right.

[2018-07-03 14:12] russon77 commented on #1408
@DreadKnight are there any other units that have similar functionality? hopefully the code can be reused :)

[2018-07-03 14:37] DreadKnight commented on #1408
@russon77 This used to be fine, it's a regression. Besides attacks (and not even), usually no two abilities are the same. The one that's most similar is Headless Boomerang Tool, as it's an area of effect attack.

[2018-07-03 14:43] russon77 commented on #1403
i believe that the _effect_ is somehow not being destroyed. the effect code in Abolished.js is run on enter/on exit, despite the trap being removed.

[2018-07-03 15:06] #1403 closed

[2018-07-03 15:45] #1408 closed

[2018-07-03 16:07] #1409 closed

[2018-07-03 19:12] russon77 commented on #1392
@DreadKnight ok to close?

[2018-07-03 19:13] #1392 closed

[2018-07-03 19:43] russon77 commented on #1376
this is resolved

[2018-07-03 19:43] #1376 closed

[2018-07-03 20:01] #1382 closed

[2018-07-03 20:02] russon77 commented on #794
@DreadKnight good now right? the location is in the game :fireworks:

[2018-07-03 20:03] russon77 commented on #1236
@DreadKnight has this been experienced again?

[2018-07-03 20:06] DreadKnight commented on #794
![ab-combat-desert-norbert-toth-hdv3](https://user-images.githubusercontent.com/587487/42242063-534f5bd8-7f15-11e8-875d-1b96ad832118.png)

I guess so, will probably desaturate it a bit for next version.
And it will eventually get remastered: remade in 3d, with better details and nicer placement of the elements, as the upper left side stuff kinda gets overlapped by UI too much, especially by the qu

[2018-07-03 20:06] #794 closed

[2018-07-03 20:08] DreadKnight opened #1415 "Dragon Skull 3d modeled / remastered"
Dragon Skull combat location should be remastered: remade in 3d (blender) in order to include more details, be easier to tweak and have better placements of the main focused visual elements so that they're not overlapped by the buttons and unit queue.

[2018-07-03 20:42] DreadKnight opened #1416 "active unit turn doesn't end if dying"
When Gumble moves and dies by Poisonous Trap, his turn doesn't end, UI still showing him as active.

[2018-07-03 20:45] DreadKnight opened #1417 "right click to see details about unit"
Regression: right clicking a unit should open the dash to that unit, not the active one.

This is very helpful in order to see proper details about the unit and soon #709 once again.

[2018-07-03 21:00] DreadKnight opened #1419 "misleading Skip Turn while usable ability"
There's a rather misleading `Skip Turn` above Uncle Fungus, even though he can use Supper Chomp ability on Impaler.

[2018-07-03 21:01] DreadKnight commented on #1419
And while the `Skip Turn` text was up, clicking on the unit actually skipped turn.

[2018-07-03 21:10] DreadKnight opened #1420 "charge ability dealt no damage because of trap"
Headless didn't get damage by Nutcase's War Horn ability, while breaking Impaler's Poisonous Vine.

[2018-07-03 21:13] DreadKnight commented on #1236
@russon77 Haven't seen NaN in latest tests, so I'm closing this for now at least.

[2018-07-03 21:40] DreadKnight commented on #1236
This still happens it appears.

[2018-07-03 21:42] #1251 closed

[2018-07-04 14:46] DreadKnight commented on #1416
@russon77 Updated the OP with smaller log. Will test some more to figure out if it's for any unit (trap related).

[2018-07-04 14:59] DreadKnight commented on #1416
@russon77 This seems to be related to the Poisonous Vine trap and happens to other units as well, log:

[2018-07-05 13:51] russon77 commented on #1416
Gumble log _before_ death, allowing for breakpoints to be set.

[2018-07-05 14:11] russon77 commented on #1416
the specific error is

    at s.Sprite.loadTexture (phaser-split.js:26518)
    at Creature.displayHealthStats (creature.js:1221)
    at Creature.updateHealth (creature.js:1213)
    at setInterval (game.js:622)

on checking the source, `this.game` is null for the Sprite object. i'm trying to figure out where `this.game` would be set, it appears everything is grouped making it difficult to discover.

[2018-07-05 14:31] russon77 commented on #1375
@DreadKnight something like this? where beta points to http://ancientbeast-beta.herokuapp.com/ and stable points to http://play.ancientbeast.com/

![localhost_8080_](https://user-images.githubusercontent.com/17035732/42329390-925fa394-803e-11e8-93ec-73db82b3a706.png)

[2018-07-05 14:35] russon77 commented on #1255
@DreadKnight are there other instances of animated sprites in the game?

[2018-07-05 14:54] russon77 commented on #1236
@DreadKnight gotcha - turns out @iBlackShadow was right on the money, score is calculated like so:

and the Dark Priest's level is `NaN`. so to resolve this, what level should the Dark Priest be?

as expected, in `data.json`, the Dark Priest is described:

[2018-07-05 15:07] #1417 closed

[2018-07-05 15:08] russon77 opened #1422 "lint does not check files in `src/` directory"
i noticed this when committing changes to `src/game.js` - the lint failed, even though `yarn lint` passes.

a naive change to `"lint": "eslint -c .eslintrc.json src/**/*.js src/*.js",` fails because `manifest.js` has a million errors. need to add `src/*.js` and exclude `src/manifest.js`

[2018-07-05 15:14] russon77 commented on #1422
`eslint -c .eslintrc.json --ignore-pattern manifest.js src/*.js src/**/*.js` should do the trick. just need to resolve the new errors :)

[2018-07-05 15:18] ktiedt commented on #1422
weird, `dir/**/pattern` should cover all files in `dir` and its `subdirs` matching `pattern`...

[2018-07-05 15:19] ktiedt commented on #1422
As for manifest js, it really needs to die in a fire, there should be a better way to achieve what its doing w/o extra build steps and polluting the src directory.

[2018-07-05 15:30] DreadKnight commented on #1236
@russon77 Hmm, indeed, the Dark Priest should be considered level 0, as in he doesn't gets scored for, since there's a totally different entry in the score table related to them, like `Annihilation` afaik.

[2018-07-05 15:33] DreadKnight commented on #1255
@russon77 None so far, it's just a matter of time...

[2018-07-05 15:35] russon77 commented on #1422
that's what i thought too - but then precommit showed me the light :)

[2018-07-05 15:36] russon77 commented on #1255
@DreadKnight maybe move this to 0.5 then? since it might be a totally new feature

[2018-07-05 15:37] russon77 commented on #1236
@DreadKnight ok - Dark Priest will be set to level 0 (hope this doesn't affect anything else haha), and therefore the `kills` score will not be affected by killing the dark priest.

[2018-07-05 15:39] DreadKnight commented on #1255
@russon77 Ok, I'm moving it.

[2018-07-05 15:56] DreadKnight opened #1424 "show ability damage and cost in tooltip"
Regression: ability damage and cost are no longer being displaying in the tooltip.

[2018-07-05 16:02] DreadKnight commented on #1375
@russon77 No, eventually we'll have `Version 0.4 Stable` on play.ancientbeast.com as a link to the http://ancientbeast-beta.herokuapp.com with tooltip saying "Switch to the beta version", clicking that will take to self deployed master which will be saying `Version 0.5 Beta`... more obscure and needs a condition xD

[2018-07-05 16:23] ktiedt commented on #1422
According to http://www.globtester.com/#p=eJzTLy5K1tfS0tfSyyoGABYeA18%3D&r=eJyzScksU0jOSSwutlXKTSxJzlCy0y8uStZP1MsqttEHStrZ4FCRpJ8EVwMATNQXkQ%3D%3D&

it absolutely should have worked.

[2018-07-05 17:17] russon77 commented on #1375
@DreadKnight i understand, and instead of worrying about "versions" i suggest, since there's two versions, to list them both in all cases. a dead simple solution to what could be an otherwise complicated situation

[2018-07-05 17:18] russon77 commented on #1422
@ktiedt that's what i thought too - but the computer can't lie

[2018-07-05 17:23] tristanmkernan opened #1426 "Audio doesn't work"
Running `Chromium Version 67.0.3396.87 (Developer Build) built on Debian 9.4, running on Debian 9.4 (64-bit)`

## To reproduce

- load site (beta or stable)
- open console
- note 'decodeAudioData error DOMException: Unable to decode audio data' x 20 or so
- attempt to play audio
- note exception appears on every attempt

[2018-07-05 17:42] DreadKnight commented on #1426
@russon77 Well, it's a developer build, usually problematic, if Chromium stable works, then it's all good...

[2018-07-05 17:46] russon77 commented on #1236
of course i couldn't get so lucky...

for the Dark Priest unit, this results in `"--"`, used extensively throughout the game. this may require a bit more effort.

[2018-07-05 17:47] #1424 closed

[2018-07-05 17:49] DreadKnight commented on #1236
@russon77 Maybe something like this pseudo code for the score calculation on kill `if (unit.level !== "--")`.

[2018-07-05 18:13] #1236 closed

[2018-07-05 18:19] russon77 commented on #1187
@DreadKnight could you elaborate? I don't understand the issue.

[2018-07-05 18:21] russon77 commented on #1176
@DreadKnight could you post a pic of what you'd like to see?

[2018-07-05 18:23] russon77 commented on #1115
@DreadKnight can you confirm this issue still exists?

[2018-07-05 18:30] DreadKnight commented on #1176
@russon77 This icon with a standard frame (like around that upper-right close button) in the mentioned place of the passive ability icon tooltips https://github.com/FreezingMoon/AncientBeast/blob/master/assets/icons/cycle.svg

[2018-07-05 18:34] russon77 commented on #574
@DreadKnight I believe this functionality is in place? or does it need to be updated to ignore dead / summoned units?

[2018-07-05 18:35] russon77 commented on #1187
@DreadKnight did you forget the link? :unicorn:

[2018-07-05 18:38] DreadKnight commented on #1187
@russon77 Yes, epic fail, computer froze a bit and forgot to paste it xD
http://www.crazygames.com/game/ancient-beast

[2018-07-05 18:39] russon77 commented on #1176
@DreadKnight here is my interpretation

![image](https://user-images.githubusercontent.com/17035732/42341483-37103e2c-8061-11e8-8568-ab8d8b12627b.png)

[2018-07-05 18:41] DreadKnight commented on #1176
@russon77 Yes, with a bit of pixels spacing around it besides the frame :+1:

[2018-07-05 18:42] russon77 commented on #1187
@DreadKnight unfortunately that website prevents scrolling on the iframe, meaning it is outside of our control.

I suppose we could make the link `target=blank` to open in a new browser tab, where it would behave normally.

[2018-07-05 18:47] russon77 commented on #608
@DreadKnight could you provide the missing data?

[code]

[2018-07-05 18:48] russon77 commented on #622
@DreadKnight is this resolved? currently, opening the Godlet Printer will select a random unit (and re-opening will select another). You'd need to navigate to the Dark Priest to see the message.

[2018-07-05 18:49] russon77 commented on #673
@DreadKnight anything specific that I could test for? I have an older ipad that I could test on.

[2018-07-05 18:51] russon77 commented on #714
@DreadKnight is this still open?

[2018-07-05 19:03] DreadKnight commented on #1187
@russon77 Understood, wanted to make sure. Will consider this invalid then.

[2018-07-05 19:03] #1187 closed

[2018-07-05 19:23] DreadKnight opened #1429 "ability hotkeys toggling / canceling / switching"
Pressing on an ability hotkey twice should cancel it, also, should be able to switch directly to other abilities by pressing their hotkeys while in targeting mode.

Pressing Q should start toggling from the first available ability and should cycle through them all + movement (cancel), just like the scroll wheel functionality.

[2018-07-05 19:45] DreadKnight commented on #622
@russon77 Yeah, I'm aware, that's the only scenario remaining. Clicking that button could trigger the randomization function.

[2018-07-05 20:16] DreadKnight commented on #673
@russon77 afaik, I couldn't properly play, so if something basic is not working it will pop right away.

[2018-07-05 20:17] DreadKnight commented on #714
@russon77 Yeah, the hexagons under Abolished towards viable targets are less transparent.

[2018-07-05 20:34] DreadKnight opened #1430 "Vine trap vanished prematurely"
Impaler's Poisonous Vine vanishes after usage, as new turn comes, instead of remaining for a complete turn.

[2018-07-05 20:38] DreadKnight opened #1431 "Vine trap didn't triggered"
Impaler's Poisonous Vine trap didn't triggered, doing no damage to the target and remaining there.

[2018-07-05 20:39] DreadKnight commented on #1431
Also encountered #1430 right before this.

[2018-07-05 20:42] DreadKnight commented on #1115
@russon77 The vine trap vanished in your log. Anyway, idea was after death... tried reproducing and ended up with a mess, as trap ended prematurely #1430 then #1431

[2018-07-05 20:48] DreadKnight commented on #574
@russon77 It needs to be updated to skip summoned/dead units as well as the ones not having enough remaining plasma for, otherwise (if no materializable unit available) it could goggle between summoned units and if none, it could toggle between all the "unlocked" ones, regardless of status.

[2018-07-06 17:38] bolivierjr commented on #1429
Not sure why, but the code from interface.js in lines 286-296 should have been deleted, but it's still showing in interface.js. It was deleted in this commit https://github.com/FreezingMoon/AncientBeast/pull/1404/commits/182aad4db039d07dad4a42f841f41745fe7fd3d9 ...strange. This is probably the cause of issue.

[2018-07-06 17:42] ktiedt commented on #1429
It looks like it was moved down a few lines, not deleted.

[2018-07-06 17:47] bolivierjr commented on #1429
The Google link in the #warning div, the shadow is the same color as the text, which makes it look funny compared to the rest of the line of text there. This is due to the link still having the underline and should
be removed to have the same color shadow as the rest. Also, the text in the link stays white for me in the dev build. Does that do that for anyone else? Using Google chrome Version 67.0

[2018-07-06 17:48] bolivierjr opened #1432 "#warning google link shadow"
The Google link in the #warning div, the shadow is the same color as the text, which makes it look funny compared to the rest of the line of text there. This is due to the link still having the underline and should
be removed to have the same color shadow as the rest. Also, the text in the link stays white for me in the dev build. Does that do that for anyone else? Using Google chrome Version 67.0

[2018-07-06 18:08] bolivierjr opened #1433 "#warning google link shadow"
The Google link in the #warning div, the shadow is the same color as the text, which makes it look funny compared to the rest of the line of text there. This is due to the link still having the underline and should
be removed to have the same color shadow as the rest. Also, the text in the link stays white for me in the dev build. Does that do that for anyone else? Using Google chrome Version 67.0

[2018-07-06 18:10] #1433 closed

[2018-07-06 18:15] ktiedt commented on #1433
So, this wasnt an issue after all?

[2018-07-06 18:23] bolivierjr commented on #1429
Yeah, the else if statement was supposed to be deleted all together and the "if (activeAbilityBool)" moved down to the else statement. Here it's showing it in both places still...https://github.com/FreezingMoon/AncientBeast/blob/master/src/ui/interface.js#L305
Just wondering if it was something I did wrong there with the PR? Anyways, I can fix this later.

[2018-07-06 18:29] bolivierjr commented on #1433
Double posted. You can delete this one.

[2018-07-06 21:42] DreadKnight commented on #1432
@bolivierjr Indeed, it seems that the link became white recently for some reason. Also, the shadow has some issues with the underline, I'm aware of that... Post a screenie, to make sure we're on same page.

[2018-07-06 22:05] bolivierjr commented on #1432
Here is a screeny of the local dev build:
![ancient_beast](https://user-images.githubusercontent.com/7041126/42402134-9b58da46-813e-11e8-97a9-2e7b8f28f57b.png)

Here is a screeny from https://play.ancientbeast.com/:
![ancient_beast2](https://user-images.githubusercontent.com/7041126/42402163-bae09fac-813e-11e8-98d0-26e3b889b743.png)

[2018-07-06 22:07] DreadKnight commented on #1432
@bolivierjr The downside of making web based stuff: crap can just change anytime "no given reason"...

[2018-07-06 22:12] #1422 closed

[2018-07-06 22:34] bolivierjr commented on #1432
@DreadKnight lol, I hear ya.

Here is a change on the local build I made. How's this?

![ancient_beast3](https://user-images.githubusercontent.com/7041126/42402819-c1438860-8142-11e8-85cc-23a7c617c957.png)

[2018-07-06 22:55] DreadKnight commented on #1432
@bolivierjr Fine, PR it! :+1:

[2018-07-06 23:58] #1432 closed

[2018-07-11 00:02] #1429 closed

[2018-07-19 22:59] AT1452 commented on #1023
Hey @DreadKnight , how can I help here?

[2018-07-19 23:04] AT1452 commented on #720
Perhaps they can fade away while doing some sort of action?

[2018-07-19 23:05] AT1452 commented on #1363
Has this already been done? I am available if help is needed

[2018-07-19 23:05] DreadKnight commented on #1363
@AT1452 Issue still open, up for grabs if you want!

[2018-07-19 23:07] DreadKnight commented on #1023
@AT1452 heya! This is related to https://github.com/FreezingMoon/AncientBeast/blob/master/src/animations.js file probably, as Scavanger is using some different types of movement.

[2018-07-19 23:16] DreadKnight commented on #720
@AT1452 Will tag this brainstorm once again since I haven't properly decided.

[2018-07-20 05:12] AT1452 commented on #1023
Sorry to bother you @DreadKnight, I've found the speed control in the animations file, but where is the file/code containing the details for the abilities of the Scavenger?

[2018-07-20 05:54] DreadKnight commented on #1023
@AT1452 no worries, questions like that always good. I guess you found the `src/abilities/Scavenger.js` file by now. I'll consider making some kind of "file map" explaining the directories/files of the project if needed.

[2018-07-20 16:21] AT1452 commented on #1023
I believe I've done it, please let me know if this was the solution you were looking for

[2018-07-20 22:22] AT1452 commented on #1363
![visuallydecent](https://user-images.githubusercontent.com/35006066/43027696-73f3d57e-8c41-11e8-94d7-1614194ca2b1.png)

Is this what you're looking for? @DreadKnight

[2018-07-23 08:12] #1023 closed

[2018-07-23 08:12] #1363 closed

[2018-07-23 08:17] DreadKnight opened #1438 "turning around when flying forward"
Scavenger turns around for no reason when flying forward.

[2018-07-29 21:10] #341 closed

[2018-08-01 20:00] DreadKnight opened #1439 "GameDistribution.com"
The game should be added to Game Distribution website in order to increase player base and even generate a bit of revenue from ads using their easy to implement SDK.
http://gamedistribution.com/developers

[2018-08-02 18:10] DreadKnight opened #1440 "Papa Eggplant alternative skin"
This "Creeper" artwork / 3d model done by piacenti could be used as an alternative skin for Papa Eggplant
https://opengameart.org/content/creeper
https://ancientbeast.com/units/?view=sets#Papa_Eggplant

[2018-08-07 19:03] Dw-Develops commented on #1203
I'm going to look into this. Let me look through the existing files and then figure out the best way to build the entity.

[2018-08-07 19:06] DreadKnight commented on #1203
@Dw-Develops this is for later down the road, relies on having #315 feature in the first place. I've updated the OP to include this info.

[2018-08-11 18:56] DreadKnight opened #1441 "Armory Hall"
A combat location that will have some medieval armors and weapons on the wall.

[2018-08-12 14:12] DreadKnight opened #1442 "end match sound"
When the match is finished, music should be stopped and an audio file should be played.
Perhaps this one (non-looped) https://opengameart.org/content/cinematic-percussion-loop

[2018-08-16 19:08] pranav1698 commented on #1442
Hello DreadKnight,
I am a first timer and want to contribute to this project,

[2018-08-16 19:11] DreadKnight commented on #1442
@pranav1698 Heya! Nice, I take it you're a coder. Feel free to poke at this issue or any other one of the open issues and submit a pull request. Don't forget we have a Discord server, feel free to join the #coding-lodge https://discord.gg/gQvZuuC

[2018-08-17 06:12] yati1998 commented on #1442
hello, I am a beignner. can I contribute to it?

[2018-08-17 06:15] DreadKnight commented on #1442
@pranav1698 sure thing, lots of rather easy issues opened. Submit a PR, also feel free to drop by our Discord https://discord.gg/gQvZuuC

[2018-08-17 10:17] pranav1698 commented on #1442
heya DreadKnight,
I am still working on it, But seems like my browser(Google Chrome) is not
taking the changes that I have made using yarn compilation

On Fri, 17 Aug 2018 at 11:45, Dread Knight <notifications@github.com> wrote:

[2018-08-17 15:09] DreadKnight commented on #1442
@pranav1698 The guide does mention disabling browser cache, you can also shift + click the refresh icon. So after you make changes and your stuff gets recompiled, you refresh the game window (with deleted or disabled cache) and test again usually.

[2018-08-17 15:14] #1442 closed

[2018-08-27 07:16] DreadKnight opened #1444 "horizontal game canvas rescale regression"
The development version doesn't properly maintain the aspect ratio of the game canvas when making the browser window smaller horizontally, while the stable version works fine. Yet another regression.

![screenshot from 2018-08-27 10-15-32](https://user-images.githubusercontent.com/587487/44645968-3b749800-a9e2-11e8-80b2-b0a7d52ba1e6.png)
dev: https://ancientbeast-beta.herokuapp.com

![screenshot f

[2018-08-27 07:26] DreadKnight commented on #1438
Might be duplicate of #1081

[2018-08-27 07:28] #821 closed

[2018-08-27 07:28] #752 closed

[2018-08-27 08:07] DreadKnight opened #1445 "Disturbing Sound sprite"
Chimera's Disturbing Sound is a range attack and should have a missile sprite.
For now an orb that would ideally rotate, perhaps from this pack https://opengameart.org/content/shiny-orbs-64x64

Maybe later we'll switch to a musical note or a sound wave.

[2018-08-27 08:17] DreadKnight commented on #1445
I've added the raw file, it should most likely be rescaled smaller and launched from the upper head's mouth. Usually optimizing sprites after changes using this https://tinypng.com to cut down the fat.

[2018-10-02 00:29] johnnybigoode commented on #1444
Hey, is anyone working on this? If not, I'd like to try! First Timer here.

[2018-10-02 00:31] DreadKnight commented on #1444
Heya! Feel free to go for it. It's one of those bugs that affects a lot of
people.

Mar, 2 oct. 2018, 03:29 johnnybigoode <notifications@github.com> a scris:

[2018-10-03 14:12] johnnybigoode commented on #1444
You may find the change here: https://github.com/johnnybigoode/AncientBeast/commit/2557632a53c3c30009071be1f59fe481089b2346

Hey @DreadKnight ! After fiddling with the I found out that the offender was the bottom margin.  After reading about Phaser, it seems that the default values are relevant for the correct rendering.  So I managed to fix the issue by changing the default margin-bottom on style

[2018-10-03 22:43] #1444 closed

[2018-10-03 22:43] DreadKnight commented on #1444
Great job, @johnnybigoode This did the trick, one less regression, woot! :+1:

[2018-10-06 12:10] DreadKnight opened #1448 "getting game log should be streamlined"
Using `AB.getLog()` should also include `AB.restoreGame()` along with the match data as parameter.

There should also be `AB.getLog(raw)` that would output the game data without `AB.restoreGame()`.

[2018-10-06 12:17] devkant commented on #1448
Can i claim this?

[2018-10-13 13:10] jony0008 commented on #923
I could help with the translations and can recommend crowdin or weblate.

[2018-10-13 21:48] DreadKnight commented on #923
@jony0008 It will take a while for translations to happen probably. Thanks for the recommendations, will look into them when the time comes. Which languages you would be able to help with btw?

[2018-10-14 05:04] jony0008 commented on #923
@DreadKnight I see. I can help with the Swedish translation.

[2018-10-23 08:50] DreadKnight opened #1449 "desktop progressive web app shortcut"
Google Chrome has been adding a new way of making shortcuts for websites that integrate with the OS's menu nicely and launch a Chrome instance that lacks the address bar and tabs, which is a very nice thing.

Documentation for it can be found here https://developers.google.com/web/progressive-web-apps/desktop
https://developers.google.com/web/fundamentals/app-install-banners

This could be integra

[2018-10-23 08:53] DreadKnight commented on #923
@jony0008 That's cool. Good news: more people showed up recently with interest in translating (into Spanish) so I'll get things going with the workflow for this.

[2018-10-29 14:17] #1420 closed

[2018-10-30 05:07] #1431 closed

[2018-10-30 13:08] #1416 closed

[2018-10-31 02:42] DreadKnight commented on #986
Updated original post, only 2 things to go to be able to close this issue.

[2018-10-31 05:28] ktiedt commented on #1334
I didn't forget about this. It's just that big of a pain - i suspect this ticket might just have to go un-fixed until you are willing to spend significant time on re-writing a bunch of the legacy stuff, as this fix blows up a bunch of things :(

[2018-10-31 17:01] DreadKnight commented on #923
@jony0008 this is now closer on the roadmap, I've added the ids for the pre-match menu, feel free to translate them https://github.com/FreezingMoon/AncientBeast/blob/master/assets/translations/en/pre-match.json

[2018-10-31 17:33] #1448 closed

[2018-10-31 17:33] DreadKnight commented on #1448
Good job, @ktiedt :+1:

[2018-10-31 17:41] #1438 closed

[2018-10-31 17:41] #1081 closed

[2018-10-31 18:17] DreadKnight commented on #1292
@danieldiaz14 Argh, couldn't reply in time as I got arrested. Anyway, this was sort of fixed as area targeting was improved visually, so I'll close this issue. Feel free to take a peek at other open ones.

[2018-10-31 18:17] #1292 closed

[2018-11-01 01:59] ktiedt commented on #1419
According to the replay I just did from these logs, there is not enough energy to super chomp.

[2018-11-01 02:36] DreadKnight commented on #1419
@ktiedt Hmm, probably replay somewhat broken by now, energy requirement for that ability might have changed...

[2018-11-01 04:07] #622 closed

[2018-11-01 04:09] DreadKnight opened #1459 "show button is clickable"
When the big button under cards displays "Please select an available unit from the left grid", the mouse should change to cursor when hovering it and the text should glow red for usability / consistency reasons.

[2018-11-01 04:15] DreadKnight commented on #1459
This is related to issue #622

[2018-11-01 05:42] #1264 closed

[2018-11-01 05:47] #1459 closed

[2018-11-01 06:03] DreadKnight opened #1461 "select locked units"
Can't select locked units anymore in-game. Another regression...

[2018-11-02 04:13] #1126 closed

[2018-11-02 17:23] DreadKnight opened #1462 "Stomper"
Level 3 Envy creature, that's very tanky.
This is a meta issue, consisting of:

#1712 - passive
#1713 - attack
#1714 - ability
#1715 - ultimate

[2018-11-02 17:26] DreadKnight opened #1463 "GitHub hiccup, nothing to see."
Moving along, just a small GH downtime...

[2018-11-02 17:32] #1463 closed

[2018-11-02 21:44] #1375 closed

[2018-11-03 08:34] DreadKnight opened #1464 "Progressive Web App"
AB should become such an app and also the repo should be tagged https://github.com/topics/pwa

A webworker would need to be created https://developers.google.com/web/fundamentals/primers/service-workers/

[2018-11-03 08:35] DreadKnight commented on #1464
This is an interesting step/alternative to having an Electron downloadable app #158

[2018-11-03 08:36] DreadKnight commented on #1449
This relies on having a webworker, issue #1464 should be completed before!

Regarding the shortcut, seems there are some webpack plugins to help out with this
https://github.com/brunocodutra/webapp-webpack-plugin
https://github.com/jantimon/favicons-webpack-plugin

[2018-11-03 12:47] ktiedt commented on #1464
They aren't mutually exclusive really.

[2018-11-03 16:04] DreadKnight commented on #1464
@ktiedt Yeah, I know. Will have to see on the user scenarios and interests when the time comes.

[2018-11-03 20:05] ktiedt opened #1465 "Setup panel cleanup"
Just a ticket to tie cleanup to the setup panel to.

[2018-11-04 12:24] DreadKnight opened #1467 "stylish score table"
The score screen (T-hotkey) should be using the same type of div as the pre-match settings.

[2018-11-04 12:31] DreadKnight opened #1468 "easier to close score screen"
The score screen should also be closable by clicking outside the div, while the cursor would turn to pointer.

[2018-11-04 12:49] DreadKnight opened #1469 "modular abilities"
Unit abilities should be refactored by having a proper API, with a set of actions that can be combined.

This is one of the biggest things holding back the project, as it makes it hard to code abilities for new heroes (reinventing the wheel a lot) and it makes a lot of features hard to implement, like #315

[2018-11-04 12:54] DreadKnight opened #1470 "show unit delay on hover"
Hovering the delay button should indicate where the unit will land inside the unit queue. Related to #441

[2018-11-05 00:17] DreadKnight commented on #1111
It seems that webcomponents are a nice way to approach this https://en.wikipedia.org/wiki/Web_Components#HTML_Import
Not sure if Firefox supports them already (while in draft phase).

[2018-11-05 00:26] #761 closed, assigned to nobody

[2018-11-05 00:28] DreadKnight commented on #846
Webcomponents or polymer are the way to go for this. https://www.polymer-project.org

[2018-11-05 00:28] DreadKnight commented on #1111
Although polymer improves on top of that and makes use of polyfills.
https://www.polymer-project.org - We already have a stale branch for migrating the game's UI to it...

[2018-11-05 01:37] DreadKnight opened #1471 "Q hotkey improved logic"
Pressing Q within Dash view should close it and switch to next ability.

[2018-11-05 01:38] DreadKnight commented on #1471
This will come in handy and speed up keyboard based workflow.
Especially useful when dealing with usable Godlet Printer ability that opens the dash view or after checking out a potential target's stats and modifiers after #844 will be implemented.

[2018-11-05 01:56] DreadKnight opened #1472 "pre-match deferred js loading"
Having everything bundled if a single huge js file is really bad, as it delays the use of the pre-match screen UI and drops the score of the page (which affects search rankings).

The pre-match screen doesn't contain any game logic or functionality, so it would be great if it could include and only make use of jQuery and jQuery-ui asap (which Cloudflare tends to cache and reuse nicely across diffe

[2018-11-05 02:01] DreadKnight commented on #1472
This approach could also speed up the project's build time quite a bit, as it will leave more of the libs untouched.

[2018-11-05 03:51] ktiedt commented on #1472
Absolutely right, I was against even committing this initial build this way. Part of the problem is that we also are inlining other resources into the JS as well. It is a horrible approach.

[2018-11-05 06:22] DreadKnight opened #1473 "slider style regression"
The jquery-ui slider from audio view got pawned due to some recent css changes.

[2018-11-05 08:03] DreadKnight opened #1474 "OpenCollective account"
This could be used in conjunction with patreon/bounty source or as alternative https://opencollective.com

[2018-11-05 18:47] DreadKnight commented on #690
Here's a nice nodejs P2P chat in alpha stage that could be used as reference https://github.com/moose-team/friends - since the multiplayer specs will revolve around P2P architecture for most player matches.

[2018-11-05 19:29] DreadKnight opened #1475 "testing infrastructure"
There are services for browser/OS testing for both desktop and mobile.

Here are some that foss projects can apply for
https://www.browserstack.com/open-source
https://crossbrowsertesting.com/open-source

[2018-11-06 02:31] ktiedt opened #1476 "remove Yarn"
NPM is less hassle these days.

[2018-11-06 02:58] #1476 closed

[2018-11-06 03:23] ktiedt opened #1478 "heroku deployment fails"

[2018-11-06 04:03] #1473 closed

[2018-11-06 04:51] #1478 closed

[2018-11-06 06:04] DreadKnight opened #1481 "audio related shortcuts behaviour"
The A hotkey and corresponding UI button should no longer open up the audio view, instead they should toggle between the following 3 states, while also displaying the corresponding icons:
- full audio https://game-icons.net/lorc/originals/double-quaver.html
- only sfx https://game-icons.net/delapouite/originals/musical-notes.html
- no audio https://game-icons.net/lorc/originals/silence.html

This

[2018-11-06 06:11] DreadKnight opened #1482 "easier unit selection in dash"
Using `WASD` in dash view should work similar to the arrow keys, switching the selected unit on the grid.
This sort of relies on (or synergises with) #1481 , since the `A` hotkey will no longer switch from the dash.

[2018-11-06 06:16] DreadKnight opened #1483 "recent events sneak peek"
Should be able to peek into a minimized combat log, which would expand a bit, showing a few extra lines. This will be done when hovering.

[2018-11-06 06:52] DreadKnight commented on #1483
This should show 2 extra rows, while using nicely animated transitions for expanding and contracting.

[2018-11-06 07:33] DreadKnight opened #1484 "mention local server address"
When running `npm run start:dev`, the console should mention about having to open `localhost:8080` in Chrome/Chromium.

Back in the day such a command would automatically open up the link in the browser, but maybe that was a bit obnoxious.

[2018-11-06 07:35] DreadKnight opened #1485 "webpack warnings"
Big size warnings

The 'mode' option has not been set. Set 'mode' option to 'development' or 'production' to enable defaults for this environment.

WARNING in asset size limit: The following asset(s) exceed the recommended size limit (244 KiB).
This can impact web performance.
Assets:
  86360decb0c2cc520c4bf709119329e1.ogg (3.24 MiB)
  3d08e70a17e98d737efc23fc62106b9b.ogg (2.77 MiB)
  61a2519ae5e2

[2018-11-06 07:36] DreadKnight commented on #1485
The `ancientbeast.js` one is related to #1472

[2018-11-06 08:46] DreadKnight opened #1487 "pre-match rescale tweaks"
The pre-match screen should be tweaked better for rescaling, to avoid element overlaps and other weirdness.

[2018-11-06 08:48] DreadKnight opened #1488 "restore stable deploy"
The master was deployed by accident on Heroku, removing the stable version. This should be reverted.

[2018-11-06 23:30] DreadKnight commented on #1488
I've found a very handy roll back functionality on Heroku when checking out an apps all activity, very handy.

[2018-11-07 10:45] C0rdes commented on #1467
Mind if I take a swing at this?

[2018-11-08 09:16] DreadKnight commented on #1467
@C0rdes feel free, usually there's no need to ask, it's nice when people do things and I see pull requests :)

[2018-11-12 15:07] DreadKnight commented on #158
Interesting read https://www.construct.net/en/blogs/ashleys-blog-2/everyone-blames-bloated-web-pages-on-the-browser-940 - showcasing some of the PWAs #1464 advantages.

[2018-11-13 15:48] DreadKnight commented on #1111
Ideally the index.html file will get split when `HTML Elements` spec receives mainstream adoption.
Proposal - https://github.com/w3c/webcomponents/issues/645#issuecomment-343601237
Discussion - https://github.com/w3c/webcomponents/issues?q=is%3Aissue+is%3Aopen+html+modules+label%3Amodules

[2018-11-13 16:10] DreadKnight commented on #1287
In case we'll be eventually rolling our own implementation, this might come in handy https://designmodo.com/coinlayer/

[2018-11-15 16:51] #1468 closed

[2018-11-15 21:23] #1467 closed

[2018-11-16 10:05] #1488 closed

[2018-11-18 20:03] DreadKnight commented on #1127
@ktiedt I've changed the input slider to a html one, but I didn't managed to actually hook its data to the game engine itself, sigh. Can you fix that so we can close this?

[2018-11-18 23:54] #1127 closed

[2018-11-19 01:03] ktiedt commented on #1127
I can, or did you figure it out?

[2018-11-19 19:00] DreadKnight commented on #1127
@ktiedt managed, though I was forced to add a jdoc thingy https://github.com/FreezingMoon/AncientBeast/commit/ed92f4016d21713744839e7f06a22cfbb4d7fb04#diff-2a263179d901a9fe35a39deecf3ba0a7R212

[2018-11-23 22:43] DreadKnight commented on #1097
There's an integration tutorial, though it's for Phaser 3.x series, so we would need a big migration first.
https://phaser.io/tutorials/getting-started-facebook-instant-games

[2018-12-11 10:12] DreadKnight commented on #1093
Found a tutorial http://www.dynetisgames.com/2018/10/28/how-save-load-player-progress-localstorage

[2018-12-17 13:03] DreadKnight opened #1491 "Discord partnership"
Should become a Discord partner in order to receive vaiours benefits, most importantly increase marketing for the project and also generating extra income. This requires the project to be way more popular and the community to be way bigger though. https://discordapp.com/partners

[2018-12-20 17:09] #1484 closed

[2019-01-04 22:06] DreadKnight commented on #542
This library https://github.com/nicolodavis/boardgame.io could be used for AI.

[2019-01-04 22:08] DreadKnight commented on #315
This library https://github.com/nicolodavis/boardgame.io could be used for online multiplayer, though I'm not sure about the p2p element when it comes to it atm.

[2019-01-10 14:32] DreadKnight commented on #1109
I'm pretty sure this issue was actually fixed by @ktiedt a while back.

[2019-01-10 14:32] #1109 closed

[2019-02-08 14:09] DreadKnight opened #1493 "color coded avatar corners"
The unit grid (dashboard) should have the corners of the avatars player color coded to indicate that the specific unit is also materialized (and alive).

[2019-02-09 23:37] DreadKnight opened #1494 "multitouch events"
I have a Wacom Bamboo tablet and been researching on how to add nice multi-touch support and gestures for it. On linux, various DEs support that kind of stuff somewhat poorly overall, but it seems there's a trend going on and there are quite few libraries trying to fill in the gap, so it's just a matter of time.

Meanwhile, mobile devices been having multi touch since long now and they're receivin

[2019-02-10 00:18] DreadKnight opened #1495 "materialization effect"
When a unit is confirmed for materialization, the summoner (Dark Priest) could emit light from his palm towards the selected spot using the Godlet, maintaining the transparent hologram and filling it from the bottom towards the top. The lights emitted should encompass the contour of the unit being materialized.

https://phaser.io/examples/v2/bitmapdata/copy-pixels
https://phaser.io/examples/v2/bit

[2019-02-11 07:00] DreadKnight opened #1496 "show cards for locked units"
Clicking on a locked unit should only show the cards of a unit but not try to load the cardboard, because most likely that unit is not yet playable. I've removed all the cardboard placeholders for units that aren't due for v0.4 in patch 9dd4748

[2019-02-11 07:05] DreadKnight commented on #1474
Collective was created and approved https://opencollective.com/ancientbeast

TODO:
- add more tiers
- add more rewards
- GitHub readme badge
- GitHub readme contributors
- include in website documentation

[2019-02-12 04:41] #452 closed

[2019-02-12 04:42] DreadKnight commented on #1496
Seems this is a duplicate of #1496 and it's not the lack of cardboards placeholders causing the problem.

[2019-02-12 04:42] #1461 closed

[2019-02-12 04:43] DreadKnight commented on #1461
This is a duplicate. See #1496 instead.

[2019-02-13 07:07] DreadKnight opened #1497 "Sound damage hit effect"
There should be a special effect when Sound type damage hits units: their cardboards/frames should be duplicated with high alpha opacity and scaled outwards, while fading away quickly.

[2019-02-13 07:09] DreadKnight commented on #1497
This should be rather easily doable and give the feeling of high intensity vibration going on the battlefield.

[2019-02-13 11:51] DreadKnight opened #1498 "unit cards visual refresh"
Card changes
- the margins will become color coded and realm specific (neutral version might be needed as well)
- level (vertical) and size (horizontal) could be embedded as details in the margins, using color coding

Side A
- no more css ridge border around bottom, as it tends to look different in various browsers (as most html/css things do overall...); there will be a top separator in the same

[2019-02-13 12:00] DreadKnight commented on #1498
Visually, this would make the card more streamlined, more readable and perhaps a bit more cryptic as well.
An advantage provided would be having the realm/level/size on both sides basically, easy to figure out unit.

[2019-02-26 12:29] DreadKnight opened #1499 "nodejs foundation showcase"
Should eventually have the project submitted to this showcase:
https://foundation.nodejs.org/application-showcase-form

[2019-02-26 14:21] DreadKnight opened #1500 "optimize image assets for production"
All image assets from the project should be optimized when building for production before being copied to /deploy.

https://github.com/Klathmon/imagemin-webpack-plugin
https://github.com/tcoopman/image-webpack-loader

[2019-03-17 18:44] omegacoo commented on #1496
Is this issue still open?

[2019-03-17 19:04] DreadKnight commented on #1496
@omegacoo Yes! PR welcomed :)

[2019-03-20 23:42] Websited commented on #1483
Hi, I am open to contribute. I could try to add this if nothing has been done.
Thanks

[2019-03-21 02:11] DreadKnight commented on #1483
@Websited sure thing, feel free. I just edited the issue and simplified it a bit. Looking forward to the PR! :)

[2019-03-23 15:48] #1483 closed

[2019-04-20 07:52] DreadKnight opened #1504 "shuffle track restyled button"
The audio track shuffle button could continue the player, using an icon with similar style to it.

[2019-04-20 08:00] DreadKnight opened #1505 "interface should rescale on mobile"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1505)

The game needs once again to properly display the whole canvas on mobile devices.

Also, the UI should scale and display fully, having the side icons/bars full screen height.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</sum

[2019-04-20 08:02] DreadKnight opened #1506 "bad tooltip display"
Clicking on UI buttons such as "Skip turn" on a mobile shouldn't keep the tooltip for it displayed after.

[2019-04-20 08:05] DreadKnight opened #1507 "fullscreen button during gameplay"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%243%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1507)

There should be a fullscreen button in the upper right corner when the game is not in that mode already.
The current info square in the upper right during the match should be moved a bit to the left when the fullscreen button is vi

[2019-04-20 19:05] DreadKnight commented on #1506
It's fine for the tooltips to display while keeping the finger on their icon.

[2019-04-20 19:07] DreadKnight opened #1508 "don't display tooltips offscreen"
On mobile devices (where the screen is small), the in-game tooltips for the side icon should be displayed in the UI gap closest to the respective upper right corners to ensure that their visible.

[2019-04-29 18:33] DreadKnight commented on #1445
New sprite based on https://opengameart.org/content/music-magic-effect#comment-78455

[2019-05-01 02:59] DreadKnight opened #1510 "switch css webpack loader"
Recently had to include style-loader in dev-dependencies to fix some security issues. It seems to be doing pretty much the same as css-loader and it's more popular. Ideally we should configure webpack to only use the new stuff and remove the old package if nothing else depends on it.
No need to bloat the install with duplicated stuff or unneeded dependencies ideally.

https://github.com/webpack-co

[2019-05-01 03:01] ktiedt commented on #1510
https://github.com/webpack-contrib/style-loader#usage

Just sayin' ;)

[2019-05-01 03:27] DreadKnight commented on #1445
Updated sprite(s) and specs, revamped OP.

[2019-05-01 03:30] DreadKnight commented on #1510
@ktiedt looked at that before actually. Regardless...

[2019-05-02 05:44] DreadKnight opened #1511 "linting weirdness"
The file `src/assets.js` is generated by `assetLister.js`, it's ignored in `.gitignore` and should also be in `packages.js`, but it gets linted each time and shows up as modified, but if trying to commit it, husky gets in the way. I renamed those files recently to avoid confusion, so maybe I'm doing something wrong. File shouldn't be showing as changed or it should be generated without issues...

[2019-05-02 05:47] DreadKnight opened #1512 "copy manifest into build"
The file `src/manifest.json` is a new standard file that should be used for PWAs #1464
I've created the file but it should be copied into `build` so that browsers will be able to access it.
I'm really bad at coding and Node.js, so for be it's quite the struggle.
This should also fix locking into landscape mode overall...

[2019-05-02 05:51] DreadKnight opened #1513 "can't start game on mobile"
When the pre-match screen is now small, it adjusts, showing bigger buttons.
The problem is that I couldn't get the new `Start` button to actually submit the settings form in order to start the game.

Line 163 in index.html:

I've tried quite a few things but the game won't start...

[2019-05-02 06:17] #1511 closed

[2019-05-02 06:34] #1512 closed

[2019-05-02 17:01] #1426 closed

[2019-05-02 17:09] DreadKnight opened #1517 "linting rule annoyance"
Each time `package.json` is edited, the linter has a problem with keeping lists shorter than 3 in-line (which is the jQuery standard) and tries updating the file as well as `package-lock.json`, making things a bit tedious. As far as I can tell, this happens since two automated tools work against each other.

[2019-05-02 17:11] ktiedt opened #1518 "google analytics not loading"
Self explanatory.

[2019-05-02 17:15] DreadKnight opened #1519 "close audio view"
Pressing Esc or clicking upper right icon when the audio player view (A) is open should close it.
Currently it opens up the dash view first...

[2019-05-02 17:16] DreadKnight opened #1520 "stylish audio screen"
Could have the audio player UI restyled, better game themed.

- no longer use native html5 player, become more touch friendly
- should use big and easy to touch icons similar to unit abilities
- no more Dark Priest info tabs at the top, do one thing & better

![audio](https://user-images.githubusercontent.com/587487/66268981-aa5e2a80-e84b-11e9-9d93-e5f0d94e78b7.png)

All the required icons are ava

[2019-05-02 17:32] DreadKnight commented on #1518
Still not working for the Heroku deploys apparently.
I've sent an invitation to GA so that you can check things out easily.

[2019-05-02 17:38] ktiedt commented on #1518
View source and look at the last lines of the HTML... If you see a comment
with only ancientbeast.js  then it's not production build if there are 2...
Then there's a different problem

On Thu, May 2, 2019, 12:32 Dread Knight <notifications@github.com> wrote:

[2019-05-02 17:41] DreadKnight commented on #1518
Indeed, it shows up. Should close this and open a new issue.

[2019-05-02 17:41] #1518 closed

[2019-05-02 17:42] DreadKnight opened #1522 "GA not working"
Google Analytics doesn't work for the game (Node.js/Heroku builds).
Noticed this for quite a while now... missing quite a bit of intel...

[2019-05-03 04:16] DreadKnight opened #1523 "close button hover animation"
In a full screen view like the dash or audio player, when hovering the top-right close icon, it should rotate counter-clockwise 90 degrees on hover and then back out when hovering out (inspired by Tinder website).

[2019-05-03 06:41] DreadKnight commented on #1522
Fixed in 5966baf451c63e7c31179bd6697d96655341c0b2

[2019-05-03 06:41] #1522 closed

[2019-05-03 07:08] DreadKnight opened #1524 "analytics for 0.4 when stable"
When v0.4 gets released, it will get pushed to https://ancientbeast.herokuapp.com as it will become the stable version. In Google Analytics, the name/links should be changed to that (so basically we'll start tracking the stable version only, unless finding a better way).

[2019-05-03 13:26] ktiedt commented on #1524
You can wrap the ga registration code in a hostname check from the location
object so only the host you want is registered and tracked.

On Fri, May 3, 2019, 02:08 Dread Knight <notifications@github.com> wrote:

[2019-05-04 03:33] thischrisblack commented on #1523
Is this the behavior you're looking for?

![chrome-capture](https://user-images.githubusercontent.com/7775971/57173256-cfa0c580-6de1-11e9-91b4-da5b529e4a73.gif)

I took out the frame.png in the button:before and #return.button:before, and maybe it looks a little better, although you can still see the ghost of the SVG background (???).

![chrome-capture (1)](https://user-images.githubusercontent.co

[2019-05-04 04:02] DreadKnight commented on #1523
@thischrisblack Looks nice, the frame.png should be kept, you could add another div or so to separate elements.
As for the ghost background, you can set the background to transparent and save as svg from here https://game-icons.net/1x1/sbed/cancel.html (and overwrite the proper file).

No worries! Nice initiative, go for it! :)

[2019-05-04 08:20] DreadKnight commented on #686
An example on how to achieve this on Android mobile devices https://codelabs.developers.google.com/codelabs/voice-interaction/index.html?index=..%2F..index#0

[2019-05-04 22:56] #1523 closed

[2019-05-08 01:55] DreadKnight commented on #1524
@ktiedt Not really sure how to do that, but added both codes in repo and webpack plugins so I can switch before releasing, should do the job I guess 31b7ea0fd4a168113fa75837fd29c2a057537fc8

[2019-05-08 02:53] ktiedt commented on #1524
Basically, if (window.location.host === 'play.ancientbeast.com') { .... }
and it will only register the GA code on the game site, etc.

-Karl Tiedt

On Tue, May 7, 2019 at 8:55 PM Dread Knight <notifications@github.com>
wrote:

[2019-05-13 20:56] TheSeally commented on #1506
@DreadKnight Hello. Can I take this issue? I'm newbie for opensource that's why I need some time to fix it, but I have idea how to do this.
Current implementation does not handle touch events (moreover css `hover` has some problem on mobile). I want to add touch functionality to `Button` class and change the implementation of the css `hover` to css class.

[2019-05-13 21:04] DreadKnight commented on #1506
@TheSeally Heya! Awesome, sounds like you're on the right path regarding what's needed. Go for it!

[2019-05-15 10:54] DreadKnight opened #1527 "update touch even while sliding finger"
On mobile devices, UX could be improved if able to touch and move finger over the various top and side UI icons and buttons in order to view their tooltips (sides) or view the associated units (top).

[2019-05-15 10:56] #1506 closed

[2019-05-15 11:05] DreadKnight opened #1528 "tweak dash view player tabs"
The dash view should display the player tabs on the right side under close button, similar to how the info displays in-game in the upper right corner.

[2019-05-15 11:08] DreadKnight opened #1529 "touch and slide to change settings"
On pre-match screen, it would be nice UX wise to be able to touch any value and slide left/right to change the corresponding setting, at least on mobile devices, kinda like how sliders usually behave.

[2019-05-15 11:31] DreadKnight opened #1530 "portrait view on mobile devices"
When rotating the phone on a mobile device, a view with something interesting should be displayed.

Perhaps the card(s) of the active creature (toggling them on click) or the 3d (Sketchfab) version.

[2019-05-15 11:38] DreadKnight commented on #1530
Showing the unit abilities might be the best option, since it could make it easier for players to understand the current creature; could even allow ability selection from there, but this would disable toggling to the (eyecandy) artwork card where buffs/debuffs could also be displayed.

Displaying 3d models could be rather data intensive and slow, as each one would be rather big and would have to b

[2019-05-17 20:41] TheSeally commented on #1507
@DreadKnight could you tell more about this issue? Should this button hide on mobile devices?

[2019-05-17 20:43] DreadKnight commented on #1507
@theseally I actually fixed this myself a while ago, forgot about the issue xD

[2019-05-17 20:52] DreadKnight commented on #1507
@TheSeally It should use `assets/icons/fullscreen.svg` plus the typical frame. I think the button should be visible on all devices, provided the game is not fullscreen and it should actually be displayed on the left of the current info box that's in the upper right corner.

[2019-05-18 08:11] DreadKnight commented on #1507
@TheSeally The button should also show up in pre-match screen. Atm it does that over there only for mobiles, so perhaps reusing that. It even has text under the icon, we should have it like that all around.

[2019-05-18 14:36] #1519 closed

[2019-05-18 14:39] DreadKnight commented on #1507
Updated specs a bit.

[2019-05-18 14:56] TheSeally commented on #1507
Thanks, try to fix it later :)

[2019-06-19 18:01] mcshakes commented on #1508
If no one took this yet, I'd love to make this my first contribution here!

[2019-06-19 18:16] DreadKnight commented on #1508
@mcshakee Sure thing, go for it :)

[2019-06-25 20:31] mcshakes commented on #1508
![Screen Shot 2019-06-25 at 2 21 22 PM](https://user-images.githubusercontent.com/8164007/60130567-b61e5900-9754-11e9-86a4-a32ccdf0e5f8.png)

@DreadKnight So, minimizing the screen to that size, I can see the #playerinfo div covering the next few move turns. Is that general area where you would like to replace the tooltip toggle (currently the grey area at the bottom)

[2019-06-25 20:54] DreadKnight commented on #1508
@mcshakes oh, wow. The game is not meant to be played in portrait mode at all tbh. Try again in landscape xD

[2019-07-07 19:41] mcshakes commented on #1508
@DreadKnight LMAO, ok I took another look in landscape.

![Screen Shot 2019-07-07 at 1 30 35 PM](https://user-images.githubusercontent.com/8164007/60773006-798b1f80-a0bb-11e9-8897-431c317c9c05.png)

Using IphoneX resolution/measurements, I'd say both those icons on the right and left side should be smaller so no cut off on the bottom.

Now, I'm still confused about the tooltip icon. If I click it,

[2019-09-26 18:14] #1496 closed

[2019-09-29 09:01] #1471 closed

[2019-09-30 14:30] JoelLau commented on #1528
are you guys still looking to implement this ?

[2019-09-30 14:31] JoelLau commented on #1505
I would love to help if there's anyone willing to point me in the right direction

[2019-09-30 14:46] DreadKnight commented on #1505
@JoelLau Sure thing, it's usually best to drop on our Discord server https://discord.me/AncientBeast

[2019-09-30 14:51] DreadKnight commented on #1528
@JoelLau Pretty much, but I'll probably review and update the specs a bit, because some of the stuff doesn't make much sense to me anymore xD

[2019-10-03 23:41] #1513 closed

[2019-10-03 23:54] c3ho commented on #851
Hi, can I try working on this issue?

[2019-10-03 23:54] DreadKnight commented on #851
@c3ho Sure thing, give it a go!

[2019-10-04 07:46] konsvasi commented on #1504
Hello, can I get a better explanation on this issue? I would like to take a look at it.

[2019-10-04 09:05] DreadKnight commented on #1504
@konsvasi Sure thing. This will actually be deprecated in favor of a newer issue that covers this as well.

[2019-10-04 09:18] DreadKnight commented on #1504
@konsvasi Alright, feel free to take a poke at #1520 or at the many other issues we have around.

[2019-10-04 09:18] #1504 closed

[2019-10-04 09:25] DreadKnight commented on #1505
@JoelLau This guide contains the first steps btw https://github.com/FreezingMoon/AncientBeast/blob/master/CONTRIBUTING.md

[2019-10-04 09:58] DreadKnight opened #1542 "revamped track list view"
The track list from the audio player view could get revamped:
- should use columns to fit more tracks on-screen
- should use icons representing the tracks nicely
- should display track information on multiple rows
(track name top, artist name and track length under)

[2019-10-04 10:03] konsvasi commented on #1520
Okay, I'll take a look at this. Is there a certain player that you want to use? Why not the native html5 player?

[2019-10-04 10:05] DreadKnight commented on #1520
@konsvasi Alright. Native one is too generic and also bad with touch screen devices overall.
Might make a quick mock-up for this soon.

[2019-10-04 10:08] konsvasi commented on #1520
So it is only a design change, nothing with how the sound should be played right?

[2019-10-04 10:08] DreadKnight commented on #1520
@konsvasi Indeed, just a theme that's nicer to use overall and more consistent with the game :)

[2019-10-04 10:10] konsvasi commented on #1520
Okay cool, I'll play around while waiting for the mockup

[2019-10-04 11:39] DreadKnight commented on #1520
@konsvasi Well, I've made a mock-up, but the whole thing where it's pushing things is not cool enough (too clunky and old-school), but I did get a few new ideas for something alternative I was going for which was still in brainstorm #632. I'll close this if favor of the other thing up and polish it. Meanwhile, hope you'll poke at something else that's meant for the next milestone (sorry about this

[2019-10-04 11:41] DreadKnight commented on #632
I know where to push this now, it will get a revamped and have the brainstorm tag removed soon!

[2019-10-04 12:16] sbartlett97 commented on #1529
I assume the changes you are talking about are the areas I have highlighted on this screenshot? (They were the ones that made sense to me as candidates to be sliders)
![Screenshot](https://user-images.githubusercontent.com/32865609/66206795-118fa980-e6a9-11e9-9223-98f4413353f3.png)

[2019-10-04 12:18] DreadKnight commented on #1529
@sbartlett97 Would be nice to be able to slide the rest as well, because most on/off type of buttons tend to work like that nowadays afaik.

[2019-10-06 09:38] konsvasi commented on #1520
Okay, I'll take a look.

[2019-10-06 10:03] DreadKnight commented on #1520
@konsvasi Good news! I've been thinking about this and I've figured out how things should overall. Will make a new mock-up and tag you when you'll have the green light :)

[2019-10-06 12:12] DreadKnight commented on #1520
@konsvasi Alright, updated specs for this and included new mock-up in original post!

[2019-10-06 12:15] DreadKnight commented on #632
New ideas that sparked from this went back into #1520, woot!

[2019-10-06 12:15] #632 closed

[2019-10-07 19:06] kubikill commented on #724
Can I do this one?

[2019-10-07 19:26] DreadKnight commented on #724
@kubikill Feel free! :)

[2019-10-07 20:32] #724 closed

[2019-10-07 20:35] DreadKnight opened #1544 "auto deploy review apps for PRs on zeit.co"
Zeit.co fails at deploying, probably needs a configuration file, `now.json`.
https://zeit.co/docs/v2/advanced/configuration/

[2019-10-07 20:37] DreadKnight opened #1545 "auto deploy review apps for PRs on Heroku"
Heroku doesn't autodeploys review apps for new PRs for a while now, even though the option is enable.

[2019-10-07 20:43] c3ho commented on #851
I have a question, did you want to remember the last unit viewed until it was successfully materialized and then randomize it again?

[2019-10-07 22:55] DreadKnight commented on #1528
@JoelLau Reviewed the specs, seems they're actually good. Feel free to poke at it. I might even make a mock-up, should make a good habit of doing so :)

[2019-10-08 09:46] konsvasi commented on #1520
Cool, I'll take a look

[2019-10-08 11:47] konsvasi commented on #1520
So which mockup should I use as reference? I implemented the first mockup but I'm missing the icons. Also how should the tracks be handled? There is no mockup for this. One solution could be to center the tracklist on the screen. Right now I haven't touched the tracklist at all, that's why they are in a weird position. [Here](https://imgur.com/a/l3ngZd1) is a screenshot of what I have at the momen

[2019-10-08 11:57] DreadKnight commented on #1520
@konsvasi The mock-up that I've added in the original post. About the icons, I've patched them locally, but have lots of changes uncommited and can't sync unless I stash things, hopefully nothing will break.
Yeah, center the tracklist for now, there's another open issue that will handle those pretty soon, #1542

[2019-10-08 12:01] DreadKnight commented on #1520
@konsvasi Alright, I've added the patch with the icons from the mock-up :)

[2019-10-08 12:04] konsvasi commented on #1520
Cool, thank you

[2019-10-08 13:19] DreadKnight opened #1546 "exit fullscreen mode"
Pressing the `Fullscreen` button from the upper right corner (main menu) doesn't exist fullscreen.

Besides fixing that, when already in fullscreen mode, could change the icon to this https://game-icons.net/1x1/delapouite/contract.html and also say something like `Contract` as the text under.

[2019-10-08 18:49] DreadKnight opened #1547 "Decentraland integration"
Would be awesome to add a way to duel players from Decentraland somehow, since it has a SDK. https://decentraland.org

[2019-10-08 18:54] DreadKnight opened #1548 "Mousotaur creature"
Should have a creature that's a mouse warrior pretending/posing as a minotaur.
Inspiration can come from here https://opengameart.org/content/rat-people (upper right one).

[2019-10-09 13:29] sbartlett97 commented on #1529
@DreadKnight that does make sense actually, I'll see what I can manage

[2019-10-10 07:02] c3ho commented on #851
I'm running into an issue right now, because I don't have a global variable to memorize the creatureType, everytime I call showCreature (by pressing r or the godlet printer) it will randomize. Do you have any suggestions?

[2019-10-10 07:57] DreadKnight commented on #851
@c3ho I don't really see the issue... you have your answer right there I guess, just like you got access to the source code and you can edit it, so make a variable if you have to! xD

[2019-10-10 19:48] #1546 closed

[2019-10-10 19:51] DreadKnight opened #1550 "problematic fullscreen button if using hotkey"
The upper right fullscreen button shown in the prematch screen becomes bugged if entering fullscreen mode using F11 hotkey.

[2019-10-10 19:59] DreadKnight opened #1551 "individual creatures to flee match"
In-game generic action `Flee Match` could be revamped, acting on a per unit basis, causing the currently active unit to flee match if adjacent to one of the screen sides and having movement.

- creature no longer showing up in unit queue
- special status icon in the creature grid dash
- fleeing creature can be killed in the process
- the player score impact based on outcome

[2019-10-10 22:23] DreadKnight commented on #1528
I've simplified the spec quite a bit; this will go along the upcoming changes for the audio view #1520

[2019-10-11 09:11] DreadKnight opened #1553 "problematic random creature button"
Reproducing these steps results in the `Godlet Printer` ability being selected with no creature actually selected to be materialized within Dark Priest's radius instead of just selecting a creature in dash mode.

- select Godlet Printer ability
- select a creature to materialize
- right click anywhere to open dash
- press the big button from under cards

[2019-10-11 16:11] c3ho commented on #1553
I'll try working on this issue as well. There's a few things I'll need clarifications on

- currently when right clicking on an space will send the user to the Godlet Printer defaulted to the Dark Priest, should it default to the last viewed monster instead if that is available?

- currently when right clicking on the Dark Priest will send the user to the Godlet Printer defaulted to the Dark pries

[2019-10-12 00:13] DreadKnight commented on #1553
@c3ho
* sure, that would make more sense and actually improve flow overall
* basically when you right click a specific unit, its cards should be focused

Units get modified by buffs/debuffs, we used to have a nice way of seeing the modifiers, but that got broken with time, though a new and hopefully better way/UI is planned #844

[2019-10-12 01:18] c3ho commented on #1553
@DreadKnight okay in that scenario, we may have a problem, because only one copy of the creature can only be on the field per player right? Unless you view another player's creature.

[2019-10-12 10:31] DreadKnight commented on #1553
@c3ho Given time, some creatures might have clones. Guessing at that point creatures will be defined with an unique generated id or creation or so.

[2019-10-15 20:44] TheSeally commented on #1550
I researched this problem for a while. Unfortunately browser API does not register pressing the button `f11`. The only way to track clicks is to listen to the `resize` event. I can implement this, but there is still one problem. This solution allows you to change the icon for different methods of opening in full screen but if user use `f11` to use full screen I can’t undo this action through JS.

[2019-10-16 22:33] c3ho commented on #1553
Ok, I managed to fix half of the issue, when right clicking on an empty space, it will check for the last viewed creature. If there has not been a creature(clicked and viewed from the Godlet Printer) it will always default to Dark Priest.

That leaves the other half of the problem, what should happen when there was a last viewed unit but right clicked on the Dark Priest?

[2019-10-16 23:46] DreadKnight commented on #1553
@c3ho The materialize button tends to select a random creature when clicked in that scenario.

[2019-10-17 10:17] DreadKnight commented on #1550
@TheSeally I'm a bit confused. So instead of displaying an alert when clicking the button, isn't it possible to trigger the function and change icon/text and such? xD

[2019-10-17 19:16] TheSeally commented on #1550
I can call function to change icon and text, but I can't disable full screen that was activated by hotkey

[2019-10-17 19:17] DreadKnight commented on #1550
@TheSeally Understood. Will merge the PR then. Good job!

[2019-10-17 19:17] #1550 closed

[2019-10-23 02:52] c3ho commented on #1553
With all  that said, actually do you think it would be better to disable all materialize functions when viewing a creature(including dark priest) on the field with right click and only allow the materialize function when right clicking on an empty hex?

[2019-10-23 02:58] DreadKnight commented on #1553
@c3ho That's true, good point! I guess we could replace that large materialize button in the future with status icons (buffs/debuffs) when viewing creatures that are already materialized or not dead.

[2019-10-23 14:08] c3ho commented on #1553
Submitted PR #1555 to fix this issue

[2019-10-25 23:05] DreadKnight opened #1556 "show dead status same round"
After a unit is killed, there's no overlay indicator in the dash view over its avatar in the same round.

Game log:

[2019-10-25 23:09] DreadKnight opened #1557 "materialize only once"
After a specific unit of a player is killed, it should not be materializable again for the rest of the match.

Replay

[2019-10-25 23:32] DreadKnight opened #1558 "switch to random materializable creature"
Clicking materialize, then going to the blue player tab and clicking on the big button from under the cards to switch to own tab, results in red Dark Priest being selected for materialization, with a NaN value.
A random materializable unit should probably be selected instead.

[2019-10-26 11:14] DreadKnight commented on #1545
I've switched to new Review Apps for the pipeline, which is in beta and it seems this works fine now.

[2019-10-26 11:14] #1545 closed

[2019-10-26 11:38] DreadKnight opened #1559 "remove player tabs from audio view"
The player tabs should be removed from the audio view (hotkey A), since they don't really belong there.

[2019-10-26 11:39] DreadKnight commented on #1528
Closing this in favor of #1559

[2019-10-26 11:39] #1528 closed

[2019-10-26 11:59] DreadKnight opened #1560 "colored frame for close button"
The upper right close button should use color coded player frame whenever showing up in any views.

[2019-10-26 16:22] DreadKnight commented on #1508
@mcshakes Well, it seems you're confused regarding the elements. That's not a tooltip, if anything, it's closer to a status bar: it's called the combat log. Tooltips are only shown when hovering on the side icons.

[2019-10-26 16:28] DreadKnight commented on #273
We'll probably just go with color coded orbs in order to avoid any confusion with stat/mastery icons.

[2019-10-26 16:28] #273 closed

[2019-10-26 16:31] DreadKnight opened #1561 "only selected ability should glow"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1561)

The side icons should have player color coded frame when usable, having only the selected ability glowing. This should increase the style consistency overall while also making things less distracting.
It will also make it easier to

[2019-10-27 12:13] marcosbaesse commented on #1561
Actually the avaiable abilities are glowing and the selected player have colored frame:

![image](https://user-images.githubusercontent.com/8548482/67634386-dcd2d480-f899-11e9-83fe-200115c4dbf7.png)

I am thinking about creating a PR for this issue but I didin't get what you are proposing to do.

[2019-10-27 14:22] DreadKnight commented on #1561
@marcosbaesse I'll update the specs once I get once.

[2019-10-27 15:18] DreadKnight commented on #1561
@marcosbaesse All those ability frames should be blue and only have the selected ability glowing.

[2019-10-27 15:19] DreadKnight commented on #1561
@marcosbaesse Also, the ones on the other side (audio, skip, delay, flee) should be player color coded.

[2019-10-27 15:34] DreadKnight commented on #1561
@marcosbaesse I said nothing about a selected player, but selected ability btw; you didn't read properly xD

[2019-10-27 17:06] marcosbaesse commented on #1561
@DreadKnight sorry for that, lol.

I will see what I can do, Thank you for the tips.

[2019-10-27 18:53] DreadKnight opened #1562 "slide out already used abilities"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%243%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1562)

The already used left side abilities should slide about 50% towards their screen edge (under the nearby bars) in order to better suggest their used status. While being hovered, they should slide back in.
The delay action should als

[2019-10-28 08:00] sourcediz commented on #1562
Hey, Currently working on this.
Just a quick question on the slide out would you like it done with the title still having the black background or not? (See related pics)

Without background you can see the foreground from the flashing transparency this is something I will fix if you choose to go down the no background route.

Cheers,
Looking forward to helping out, I use to play hours and hours of

[2019-10-28 12:03] DreadKnight commented on #1562
@sourcediz Heya! Without the black background. The icon style will change soon (working on it myself) and the flashing animation will do so as well, so it will look way better when all patches come together.
Always nice to see more contributors helping out the project, especially fellow HoMM players like you :D

[2019-10-28 19:11] DreadKnight commented on #1560
Removed frame altogether for these buttons.

[2019-10-28 19:11] #1560 closed

[2019-10-29 01:04] DreadKnight opened #1563 "partial card info update"
In dash view, abilities don't update for the Stomper creature in the right side card.

[2019-10-30 02:53] #1517 closed

[2019-10-30 07:01] #1553 closed

[2019-10-30 07:03] DreadKnight opened #1566 "don't show materialization specific error for dead/queued units"
The `Materialization has already been used this round` error button shouldn't be showing for queued or dead units, as they're not really materializable anymore to begin with (provided #1557 actually gets fixed first), so they should show their regular texts.
The button only shows during Dark Priest turn after he already materialized when opening the dash view again.

[2019-10-31 02:58] DreadKnight opened #1568 "transparent bg for unit status icon"
There were some regressions from fixing #1024, the status icons overlaid on top of unit grid should have transparent black background:

[2019-10-31 02:59] DreadKnight opened #1569 "semi-transparent unit status boxes"
The status boxes from under the unit queue (top avatars) should have a semi transparent dark background:

[2019-10-31 03:02] DreadKnight opened #1570 "dark semi-transparent ability icon background on cards"
The ability icons from the unit cards should receive semi-transparent dark background.
Ideally they would reuse same style (less type) variable with the icons from the UI.

[2019-11-01 04:19] DreadKnight commented on #1557
I might have been confused regarding player tabs at the time, so this is invalid.
Thanks @ktiedt for triaging if so.

[2019-11-01 04:19] #1557 closed

[2019-11-01 04:43] #1563 closed

[2019-11-03 03:22] DreadKnight opened #1572 "mouse wheel to switch units easily"
Using the scrollwheel in the dash during Dark Priest's turn should toggle between own materializable units if any (if Godlet Printer ability wasn't used), otherwise it should switch between own queued units.
If viewing another player's tab, it should switch between that player's queued units, to get a quick view.

[2019-11-03 03:31] DreadKnight opened #1573 "change button behavior"
The "Please select an available unit from the left grid" button should actually select a materializable unit.

[2019-11-03 20:14] bolivierjr commented on #1572
I didi some debugging and there seems to be some funky stuff going on with mousewheel and arrow keys inside and out of the dash. If you go into console, you can see all the uncaught exceptions as you hit the keys and move the mousewheel. The errors when the dash are open and hitting the keys and mousewheel seem to stem from this.selectedCreature in the UI class in ui/interface.js, getting set to u

[2019-11-03 21:38] DreadKnight commented on #1572
@bolivierjr It throws some errors atm because it used to kinda work similarly to how I've described, but after some more patching around the project, even that broke, so this is actually a regression and I though, while at it, to push it to the point I actually desired it to be design wise. Nice debugging so far!

[2019-11-04 19:17] DreadKnight commented on #1544
Seems the `package.json` file needs to be tweaked a little in order for this to work https://zeit.co/docs/v2/platform/frequently-asked-questions#missing-build-script

  "scripts": {
    "build": "[my-framework] build --output public"
  }
}

[2019-11-05 03:09] #1572 closed

[2019-11-05 03:17] DreadKnight opened #1575 "materialization button vanishes"
During Dark Priest active turn, when being able to use Godlet Printer, the buttons under unit cards vanish after selecting an already materialized unit (queued) Probably a bug generated by this PR #1555

[2019-11-05 03:24] bolivierjr opened #1576 "TravisCI builds failing"
Click [Here ](https://travis-ci.org/FreezingMoon/AncientBeast/builds/606961815) in the most recent build log and you can see the error in the log from "consistent" being the value for array-element-newline. It wants an integer but you can also feed it an array which lets you have more options. You can see in the [docs ](https://eslint.org/docs/rules/array-element-newline#consistent), for eslint, i

[2019-11-05 21:20] DreadKnight commented on #1575
@c3ho Hey, feel free to take a peek at this issue. Might be a bug resulted in your previous patches xD

[2019-11-05 21:26] c3ho commented on #1575
@DreadKnight Sure thing, any specific steps you remember that caused the issue?

[2019-11-05 21:28] DreadKnight commented on #1575
@c3ho Well, let's see... I've played with default settings, made maximum number of units, then had to kill one to make "room" for another one each time, but I couldn't anymore cause of the button missing.

[2019-11-05 22:03] DreadKnight opened #1577 "Battering Ram ping-pong effect"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%243.5%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1577)

There's a bug that cause Chimera's Battering Ram ability to do a lot of hits until killing a unit.
I've attached a log where a secondary inline target takes 12 hits from it somehow until dead.

---

<details>
<summary>
<b>IssueHu

[2019-11-05 22:06] DreadKnight commented on #1575
@c3ho Here's a log, it's a bit big, will see if I can do better soon; did found another bug in the process:

[2019-11-06 20:55] DreadKnight commented on #1482
@bolivierjr Feel free to look into this since you have more experience with that stuff now! :-)

[2019-11-06 20:56] DreadKnight commented on #1507
@TheSeally Alright, assigned you to it since you now have more experience with this stuff! :-)

[2019-11-06 20:58] DreadKnight commented on #1233
@ktiedt Assigned you to this for a while, hopefully you'll pull through with a PR :-)

[2019-11-06 21:02] DreadKnight commented on #1088
This issue is up for grabs once again since last coder didn't submitted any PR so far!

[2019-11-08 04:56] DreadKnight opened #1579 "hotkeys using Shift modifier"
- `Shift + A` should open (or switch to) Audio view. :heavy_check_mark:
- `Shift + S` should open (or switch to) Score view.
- `Shift + D` should open (or switch to) Dash view.
- `Shift + F` should toggle fullscreen mode on/off.

[2019-11-08 04:58] #1482 closed

[2019-11-11 16:21] DreadKnight opened #1580 "Gitpod usage"
Should configure the project for Gitpod usage via a `.gitpod.yml` file and have a button for creating an instance in the documentation.

[2019-11-11 17:47] DreadKnight commented on #1580
So far the configuration file seems to be fully ignored. Hopefully I'll get some support and figure things out https://spectrum.chat/gitpod/general/gitpod-yaml-file-seems-to-be-fully-ignored~8a55302d-3068-416c-b20f-06325be1bf34

[2019-11-11 19:02] #1580 closed

[2019-11-11 21:11] DreadKnight opened #1582 "web monetization using Coil / Stronghold"
The game should integrate Coil and be listed in their new discovery page
https://coil.com/docs/#introduction
https://coil.com/explore

[2019-11-12 06:17] DreadKnight commented on #805
This is now standard stuff for PWA's, already added first steps in that direction as part of #1464

[2019-11-12 06:17] #805 closed

[2019-11-14 02:07] s-arika commented on #1579
Hi could I look into this issue?

[2019-11-14 02:07] DreadKnight commented on #1579
@s-arika Sure thing, go ahead!

[2019-11-14 17:29] s-arika commented on #1579
@DreadKnight Thanks!  I completed the first two issues, but I'm running into trouble with fullscreen. So far, when it goes into fullscreen it looks like this.
<img width="1440" alt="Screen Shot 2019-11-14 at 12 23 42 PM" src="https://user-images.githubusercontent.com/28491962/68880731-ce7a1a80-06d9-11ea-986b-0529974a6450.png">
Do you have any pointers on how to resize the screen when it goes into

[2019-11-14 17:32] DreadKnight commented on #1579
@s-arika I was pretty sure you would bump into issues with last one. It's best if you open up a PR so we can take a peek at the code.

[2019-11-14 18:12] s-arika commented on #1579
@DreadKnight  Thanks, I'll open a draft PR

[2019-11-15 03:08] DreadKnight commented on #1579
@s-arika Good, well done I guess, all that stuff works fine for me overall, only the routing could be better.

[2019-11-15 03:11] #1579 closed

[2019-11-15 03:28] DreadKnight commented on #200
Issue #198 is related (duplicated?) to this as well...

[2019-11-15 03:30] DreadKnight opened #1584 "upgrade to Phaser 3"
We should eventually upgrade to Phaser 3, while v4 is being heavily worked on, as v3 will get polished.

[2019-11-15 08:24] clarkeadg commented on #1577
Just taking a quick look, I suspect problem might be in here:
https://github.com/FreezingMoon/AncientBeast/blob/master/src/abilities/Chimera.js

I suspect the for loop at line 283, but need to investigate.

[2019-11-15 08:26] DreadKnight commented on #1577
@clarkeadg You're probably right about that. Looking forward to a PR from you :-)

[2019-11-15 08:34] clarkeadg commented on #741
I can fix this.

[2019-11-15 08:35] DreadKnight commented on #741
@clarkeadg awesome, feel free to do so! :+1:

[2019-11-15 21:49] CameronFoss commented on #1573
I'm interesting in working on this issue. I'm a university student looking to make my first contribution as part of the final project in my Software Engineering course. How should the button choose the unit to materialize? Should it choose the lowest costing unit? Maybe the highest costing unit we can afford? How should ties be handled?

[2019-11-16 02:58] DreadKnight commented on #1573
@CameronFoss Woah, didn't even noticed you can make another Dark Priest xD lel
It should select a random materializable unit, I think we already have code for that kind of stuff, used when you open up the dash during Dark Priest's turn. But if there's not enough plasma to materialize a unit, it should say so on the button (which would do nothing), if we don't already have an error string for that

[2019-11-16 03:48] DreadKnight opened #1585 "gather players together with rewards"
At some point, players could be rewarded with creature cards when going to certain places.
Could gather players together for a TCG mode to battle each other or trade.
https://www.geon.network/business

[2019-11-16 04:10] DreadKnight opened #1586 "Gitcoin grant"
Should create a gitcoin grant in the near future https://gitcoin.co/grants/

[2019-11-16 05:09] DreadKnight opened #1587 "ditch jQuery for UI+animation libs"
We should totally ditch jQuery and replace it with an UI library plus an animation one https://greensock.com

- https://vuejs.org
- https://vuetifyjs.com
- https://github.com/vuejs/ui
- https://greensock.com
- https://nuxtjs.org

[2019-11-16 05:56] DreadKnight commented on #1582
Should also submit it to https://coil.com when done.

[2019-11-16 10:07] DreadKnight opened #1588 "Grant for the Web"
Should submit the project to the Grant for the Web once that opens up in order to raise some funding.
https://coil.com/p/coil/Coil-Mozilla-and-Creative-Commons-Launch-100-Million-Grant-for-the-Web-to-Advance-Web-Monetization-f/Bdp8Hgcf4

[2019-11-16 19:40] ashik112 commented on #1500
Do you want lossless or lossy optimization?

[2019-11-16 19:46] DreadKnight commented on #1500
@ashik112 probably lossless to start with and move from there. File formats need to remain the same.

[2019-11-16 19:47] DreadKnight commented on #1500
@ashik112 about that, I tend to manually optimize files using https://tinypng.com or https://tinyjpg.com

[2019-11-16 19:58] DreadKnight commented on #1500
If we're going for lossless, it would be ok to optimize them in the `assets` folder as well, to be used for development purposes and cut down times even when building for production.

[2019-11-16 20:04] ashik112 commented on #1500
@DreadKnight okay. I will look into it.

[2019-11-17 00:40] CameronFoss commented on #1556
Interested in looking into this. What exactly should the indicator look like? Is there an asset for it already? If not, should I look into finding one? Should the indicator be another sprite placed on top of the avatar, and do I need to worry about loading more assets slowing the game down significantly? Should I do anything with the color of the avatar like grayscaling it?

[2019-11-17 00:42] DreadKnight commented on #1556
@CameronFoss There's already an indicator, it just doesn't display asap in this scenario. Kill a unit, end turn and you'll see it in the avatar grid (for that specific player that it belonged to, in the proper dash tab).

[2019-11-17 03:15] DreadKnight opened #1589 "improve display in topics"
The project should display better in GitHub topics, such as https://github.com/topics/turn-based-strategy perhaps using an image, the screenshot from the `README.md` file, like Wesnoth does.
The problem is that I don't know where GH fetches those images from...

[2019-11-17 03:17] DreadKnight opened #1590 "project structure information"
Most important project directories should contain `README.md` files describing the content.
These files shouldn't interfere with the whole project build pipeline.

[2019-11-17 03:22] DreadKnight commented on #1589
Found some info about topics, seems they need to manually be adjusted, which is odd and kinda lame:
https://github.com/github/explore/blob/master/CONTRIBUTING.md?source=add-description-turn-based-strategy#update-the-image

[2019-11-17 03:54] DreadKnight commented on #1306
Duplicate issue #1491

[2019-11-17 03:54] #1306 closed

[2019-11-17 03:55] DreadKnight commented on #1491
Ideally should have #542 and/or #315 first for this in order to really be able to reap the benefits.

[2019-11-17 17:18] CameronFoss commented on #1556
@DreadKnight I can't seem to be able to replicate the bug on the current development build. I materialized a Street Thug for each player and had the red player's unit kill the blue players. Controlling the red unit, I used Baseball Baton to kill the blue Street Thug. Before ending the turn, I clicked on a unit avatar in the top left to open the grid, switch over to the blue player's grid, and see

[2019-11-17 17:27] DreadKnight commented on #1556
@CameronFoss I guess you mean Swine Thug, funny mistake :D I'll check it out again in a bit to see if I can replicate the bug...

[2019-11-17 17:37] DreadKnight commented on #1556
@CameronFoss You're right, this doesn't replicate anymore. Thanks for the triaging help and feel free to look into some other open issues :+1:

[2019-11-17 17:37] #1556 closed

[2019-11-17 17:58] DreadKnight commented on #1445
Part of the implementation can be found in this unfinished PR #1447

[2019-11-18 09:04] er-raoniz commented on #1589
You have to upload the image under `Social Preview` under the `Settings` tab. Hope that helps! :)

[2019-11-18 09:06] DreadKnight commented on #1589
@er-raoniz Big thanks, I wasn't aware of that stuff. Gonna try later today :-)

[2019-11-18 09:15] er-raoniz commented on #1589
I'm keen to contribute to this repo but, I'm completely new to node.js. I would feel grateful, if there's something I can contribute to. Thanks ;)

[2019-11-18 09:19] DreadKnight commented on #1589
@er-raoniz Understood, that would be great. We don't use node.js that much besides some automatization and besides, our contributing.md guide covers things pretty well, super easy to get into dev with the 1 click set-up via Gitpod (see the shields from the readme).

[2019-11-18 18:34] DreadKnight commented on #1589
I came up with this so far and it's indeed visible https://github.com/topics/2d-game
![AncientBeast](https://user-images.githubusercontent.com/587487/69079462-b2aca680-0a42-11ea-8ac7-66f7f1c4c7f8.jpg)

[2019-11-18 18:34] #1589 closed

[2019-11-18 23:59] DreadKnight opened #1591 "revamp Plasma Field upgrade"
The upgrade for Dark Priest's Plasma Field could change the whole ability to only shield attacks if they're deadly blows. As a result, this would make first rounds of a match usually a hit rush until the ability upgrades, speeding things up. On the down side, freezing/stunning abilities could be very OP.

[2019-11-19 00:01] DreadKnight commented on #1591
Other ideas would be to make the shield block ability effects or to only trigger when bellow a health threshold, but this would make a rather low health priest that has a lot of plasma prone to die from high damage strikes.

[2019-11-19 02:05] DreadKnight opened #1592 "parallax unit cards"
The unit cards should have a nice parallax for the unit artwork and realm background when hovering the cursor over them. We would have to adopt Vue or Svelte to be able to easily integrate existing stuff.

- https://vuejsexamples.com/parallax-depth-cards-with-vue-js
- https://github.com/tehdarthvid/dna-vue
- https://dna.darthvid.com

[2019-11-19 02:07] DreadKnight commented on #1592
This should be usable on mobiles too by making use of the gyroscope sensor and actually moving the device.

[2019-11-19 02:19] DreadKnight opened #1593 "parallax effect for unit avatars on hover"
All the unit avatars should have a nice parallax effect when hovering the cursor over them.
We would have to adopt Vue or Svelte to be able to easily integrate existing the stuff.

https://codepen.io/andymerskin/pen/XNMWvQ
https://vuejsexamples.com/parallax-depth-cards-with-vue-js
https://dna.darthvid.com
https://github.com/tehdarthvid/dna-vue

[2019-11-19 02:21] DreadKnight commented on #1593
I wonder if avatar size should ideally be increased for this kind of stuff; same goes for the artwork #1592

[2019-11-19 02:31] DreadKnight opened #1594 "morph ability icons on hover"
Abilities that aren't usable should morph into an interdiction symbol https://game-icons.net/1x1/lorc/interdiction.html while hovered.
Morph-svg plugin should be used after it gets updated to the latest version of GreenSock https://greensock.com/morphsvg

The passive ability should morph into a cycle icon if there are usable abilities https://game-icons.net/1x1/lorc/cycle.html

[2019-11-19 02:42] DreadKnight opened #1595 "rotating unit cards transition"
In dash view, after a little bit of time since a new unit was selected, the cards should spin around and show the cards of the newly selected unit. The small delay is used to avoid making this very distracting / annoying, especially when the mouse wheel is being used to browse between units at a fast speed.

[2019-11-19 10:47] DreadKnight opened #1596 "Kudos art creation"
There should be at least one project related Gitcoin Kudos on their marketplace. It's basically an original svg drawing that can be sold or given away on quests. Could be one of the project units.

https://gitcoin.co/kudos/

[2019-11-19 10:49] DreadKnight opened #1597 "Gitcoin quest"
We could have a Gitcoin quest informing people about the project, giving away one or more Kudos #1596
https://gitcoin.co/quests/ https://gitcoin.co/kudos/

[2019-11-19 11:14] er-raoniz commented on #1589
Yeah, glad that it helped! 😄

[2019-11-20 04:07] DreadKnight commented on #1507
@TheSeally Hey, are you still looking into this? Because I've assigned it to you and it's a `Priority` bug report: soon will have some pretty big changes to the website and there will be no obvious way to maximize a match after it was started. Luckily we have a Shift+F hotkey shortcut to go fullscreen.

[2019-11-20 21:01] DreadKnight opened #1598 "hexagon flow animation"
All the hexagons could have a flow in effect somewhat similar but simplified version of thishttps://codepen.io/towc/pen/mJzOWJ

[2019-11-21 18:47] jxuan101 opened #1599 "Contributing guidelines needs an update"
I forked the master branch, installed dependencies, compiled, and tried to run the dev build but I ran into an error with assetloader.js. I did as the contributing guidelines suggested in such a case which was to run the script generateManifest. However, the script didn't exist so I checked out package.json and use assetLister instead and the issue was fixed. I believe contributing guidelines shou

[2019-11-21 18:51] DreadKnight commented on #1599
@jxuan101 Thanks for the feedback. I bumped into this a while ago and got confused by this. I've renamed that script a while ago and probably forgot to rename all the references to it, will try to fix it.

[2019-11-21 19:00] #1599 closed

[2019-11-21 19:05] DreadKnight commented on #1599
@jxuan101 I've fixed this, cheers! What OS and node version do you use btw?

[2019-11-21 19:08] jxuan101 commented on #1599
@DreadKnight Thank you for fixing this. I am currently using node v8.10.0 on Ubuntu 18.04.2 LTS.

[2019-11-21 19:10] DreadKnight commented on #1599
@jxuan101 I see, that's a bit old stuff, we're usually going for LTS node version.
Anyway, I wonder why that assetLister script needs to be run manually to begin with in certain cases...
@ktiedt Any ideas about that? ^

[2019-11-21 19:52] ktiedt commented on #1599
@DreadKnight  without looking, the last time I was in package.json the script commands manually run the asset script (which I have never agreed with the use of) before starting the dev server, so anything that would change assets after that, will not make it into the compiled file.

[2019-11-21 19:58] DreadKnight commented on #1599
@ktiedt Oh, I think it's a regression in the pipeline when we switched from grunt to webpack.
Gonna open up a new issue so that we'll eventually do things seamlessly and more on the fly.

[2019-11-21 20:10] #927 closed

[2019-11-22 00:49] DreadKnight opened #1600 "watch for asset changes"
The `build:dev` command should watch for asset changes as well and recompile on the fly as needed.
This should eliminate the need to run `npm run assetLister` manually in some cases when building
https://github.com/FreezingMoon/AncientBeast/blob/master/CONTRIBUTING.md#compile-project

[2019-11-22 00:52] DreadKnight commented on #1599
I've opened issue #1600 to fix this problem at its root.

[2019-11-22 04:48] ktiedt commented on #1600
It should probably not bundle everything and rely on JS files importing
what they need (so creatures import their images etc). This will greatly
reduce builds size I suspect by not including all the unused artwork.

-Karl Tiedt

On Thu, Nov 21, 2019 at 6:49 PM Dread Knight <notifications@github.com>
wrote:

[2019-11-22 04:56] DreadKnight commented on #1600
@ktiedt all the assets included should be bundled in the deploy folder, but not all loaded right away.
Anyway,  It should be possible to optimize load time once we upgrade to Phaser 3 actually #853
as it allows for loading things more on the fly, unlike Phaser 2 which needs all the assets at first load.
There are even demo files for that https://labs.phaser.io/index.html?dir=loader/loader%20events

[2019-11-22 05:01] ktiedt commented on #1600
Yeah the current thing isnt copying them to the deploy folder, its encoding
them in the bundle... thats why it hits ~10 megs I believe. At least thats
how I remember it working.

-Karl Tiedt

On Thu, Nov 21, 2019 at 10:56 PM Dread Knight <notifications@github.com>
wrote:

[2019-11-22 05:03] DreadKnight commented on #1600
@ktiedt Yeah, you're right, definitely. Just wanted to be clear about things. So I should prioritize Phaser v3 upgrade for next release and then see about using these new goodies that it offers us to play with.

[2019-11-25 04:26] zufishanali commented on #1481
Hi @DreadKnight , I would like to work on this.

[2019-11-25 04:27] DreadKnight commented on #1481
@zufishanali Alrighty, assigned you to it! You have 2 weeks, good luck! :-)

[2019-11-25 04:28] DreadKnight commented on #1481
The Shift+A functionality was already added recently btw.

[2019-11-25 21:36] jxuan101 opened #1602 "Spellcheck and Typos"
After browsing through the codebase, I noticed that there are some spelling mistakes. For example, in src/ability.js, the function retreiveCreatureStats is misspelled and some comments are also misspelled. My suggestion is that the project could maybe have an issue that is always open for spell checks and typos. I am also willing to help fix all the typos I can find myself.

[2019-11-26 08:01] DreadKnight commented on #1602
Took me a while to figure out the typo. Soon "Creature" should also be renamed to "Unit" to be more generic since the extra layer of turn based strategy game engine that we're making could be reused by others.

That's too generic to keep an issue open for this xD

Feel free to send PRs for that stuff anytime.

[2019-11-26 19:15] jxuan101 commented on #1602
Okay sounds good. I will submit a PR for any typos I find soon.

[2019-11-26 21:11] TheSeally commented on #1507
@DreadKnight sorry for the late reply, I have a business trip, so I couldn’t respond faster. Yes, I would like to fix this issue (try to do it this week), but based on the corrections made in PR #1546 , should the full screen button be displayed constantly during the game?

[2019-11-27 00:42] DreadKnight commented on #1507
@TheSeally Understood, no worries! Well, I think the button over here should be displayed only when the game is not detected to be fullscreen.

[2019-11-27 20:13] TheSeally commented on #1507
But how user exit from full screen mode? Only using hotkey?

[2019-11-28 02:53] DreadKnight commented on #1507
@TheSeally I think Esc/F12 do the trick and on some browsers at least, when you hover at the top of the screen you get an exit button afaik.

[2019-11-28 14:30] DreadKnight commented on #1561
@marcosbaesse Any updates on this? Otherwise I guess it's up for grabs again...

[2019-11-28 14:35] DreadKnight commented on #1562
@sourcediz Any updates on this? Was really looking forward to a PR :-)

[2019-11-30 02:56] DreadKnight opened #1603 "real time 3d graphics version"
So instead of doing a basically full 3d game rewrite using something like Godot eventually, we could keep on using Phaser and use three.js to render things. There's even a plugin called Phaser 3d, currently only released for Patreon backers. This will allow the game to become VR/AR/MR friendly.
https://www.emanueleferonato.com/2019/11/27/build-fake-3d-html5-games-with-phaser-arcade-physics-three-j

[2019-12-02 19:28] DreadKnight opened #1605 "travis-ci fails"
Here's a log
https://travis-ci.org/FreezingMoon/AncientBeast/builds/619771871?utm_source=github_status&utm_medium=notification

[2019-12-02 19:31] #1602 closed

[2019-12-05 19:21] #1570 closed

[2019-12-05 19:22] #1559 closed

[2019-12-05 19:22] #1569 closed

[2019-12-05 22:45] classicmatsuo commented on #1568
@DreadKnight can you provide more details? are you referring to the lock icon over the unit grid?

[2019-12-05 22:47] DreadKnight commented on #1568
@classicmatsuo Indeed and all the other status icons alike.

[2019-12-06 20:49] #1568 closed

[2019-12-08 22:00] DreadKnight commented on #1575
I've figured out what's causing this bug and updated original post. Hopefully this gets fixed asap as it's a gameplay breaker.

[2019-12-08 22:03] #1573 closed

[2019-12-09 00:54] c3ho commented on #1575
Thanks for the update! Is it ok if I take a look at it next week? I have finals coming up this week, but am free after that.

[2019-12-09 05:20] DreadKnight commented on #1575
@c3ho Understood, no worries. If someone else doesn't fix it by then, feel free to do it yourself :)

[2019-12-11 10:26] #1508 closed

[2019-12-17 00:56] #1520 closed

[2019-12-17 01:15] DreadKnight opened #1610 "close button in dash view"
Regression from recent patches! When opening up the dash view, the player info stuff shouldn't be displayed, as it overlaps the close button, not having an easy way to click and exit the dash view.

[2019-12-17 01:17] DreadKnight commented on #1562
I guess this issue is once again up for taking...

[2019-12-18 02:42] CameronFoss commented on #1558
This should have been resolved in PR #1608
Going to the blue player tab and clicking the "Please select" button switches back to the red player and does a random selection.

[2019-12-18 02:58] CameronFoss commented on #1469
May begin to work on this, though I don't quite understand how the abilities interact with the game class yet. Would you prefer a composition pattern over an inheritance pattern? I could start with a high-level organization of what you've listed above and the common functions in abilities (require, query, activate) and work with you from there.

[2019-12-18 17:43] DreadKnight commented on #1469
@CameronFoss Really great to hear you're starting to work on this! I don't have a preference as I'm a very lousy coder myself and can't really tell the difference atm, sadly. The idea is to make the abilities easier to code and have them in better shape for upcoming features, such as bots and multiplayer.

[2019-12-18 20:56] DreadKnight commented on #1558
@CameronFoss Indeed, forgot to make sure this would get auto-closed. Thanks for pointing that out! :-)

[2019-12-18 20:56] #1558 closed

[2019-12-20 00:02] #1610 closed

[2019-12-20 19:05] DreadKnight commented on #1605
Duplicate of #1576

[2019-12-20 19:05] #1605 closed

[2019-12-24 13:34] ariskycode commented on #1575
@DreadKnight I was trying to figure out what was causing the issue that made the button vanish. But the on the current master version I cannot see the Materialize button itself.
The only reference I found was in the HTML page. Also, I couldn't find it on the currently deployed version on AncientBeast.com Could you guide me in the right direction so I could try and fix this?

[2019-12-24 14:26] DreadKnight commented on #1575
@ariskycode Nobody complained about that completely missing so far. You start the game, press R (or click Godlet Printer ability during Dark Priest turn) and there should be a big button to materialize under the selected unit's cards. Anyway, I do see that the dash view still has some display issues atm, sigh...

[2019-12-24 14:29] DreadKnight opened #1612 "bad z-index stacking"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%243%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1612)

The gameplay UI should have lower z-index in order to display under the open views (dash or audio).

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $3.00)

- [<img src='https://avatars0.githubuser

[2019-12-24 15:07] c3ho commented on #1575
@ariskycode When you click on Godlet Printer, a screen to summon creatures should pop up, under the image of the creature on the right side, a button should pop up which we call the Materialize button.

[2019-12-24 15:33] c3ho opened #1613 "Button to close Godlet Printer overlaps with button to display Game Score"
**Describe the bug**
Button to close the Godlet Printer overlapped by button to show game stats.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the game
2. Open the Godlet Printer through right clicking on the hex map or pressing R
3. Click on the top right corner with the Godlet Printer displayed

**Expected behavior**
The two buttons should be separate and not overlap

**Screenshots

[2019-12-24 15:35] DreadKnight commented on #1613
Not sure how this just popped out today without new patches recently to break this...
Anyway, just reported this a few minutes ago, problem is that the whole UI shows up.
Duplicate of #1612

[2019-12-24 15:37] c3ho commented on #1613
I'll close this if it's a duplicate! Sorry about disappearing, I found a fix for the bug I created from my previous PR, but I'll let the new guy take a look at it first and step in if anything.

[2019-12-24 15:39] DreadKnight commented on #1613
@c3ho No worries. This should be fixed asap, not sure about which new guy you're talking about xD
Anyway, it should be fixed as according to #1512, because all the default UI should be hidden away.

[2019-12-24 15:49] c3ho commented on #1575
@DreadKnight I found a fix for this and tested it locally. @ariskycode if you want, I can help you out on this PR if you're a bit lost.

[2019-12-24 15:54] DreadKnight commented on #1575
@c3ho Feel free to make a pull request asap, as this issue is tagged "Priority", plenty of other ones marked "Easy" that could just click for @ariskycode . Need to not have the game too broken since I had to push the beta as main part of the website, because the "stable" one was lacking a fullscreen button.

[2019-12-24 16:40] #1575 closed

[2019-12-25 01:15] #1613 closed

[2019-12-25 02:05] c3ho commented on #1344
Hi, I’ve been wanting to learn how to use docker. Can I take this issue on?

[2019-12-25 02:08] DreadKnight commented on #1344
@c3ho Heya! Sure, go for it. It's odd that stuff like gitpod kinda figures out the docker images stuff automatically from what I can see during initiation https://gitpod.io/#https://github.com/FreezingMoon/AncientBeast

[2019-12-27 22:29] longducnguyen98 opened #1615 "Accessibility of the game"
**Is your feature request related to a problem? Please describe.**
At its current state, the game is not accessible to people and users with disabilities.

For example, on the home screen, elements such as the Full Screen button could not be accessible by keyboard. Therefore, users with mobility impairment might not be able to enjoy the game on full screen to their likings.

**Describe the solutio

[2019-12-27 22:31] DreadKnight commented on #1615
@longducnguyen98 Heya! Usually there's F11 hotkey (generic) in order to make the game fullscreen ;-)

[2019-12-27 22:34] longducnguyen98 commented on #1615
@DreadKnight Yes but that is just one example. I did a quick test earlier on and there are some pretty severe accessibility issues. Like I said, I'd love to make this game accessible so I'll create a list of issues that I found soon. Thanks!

[2019-12-27 22:34] DreadKnight commented on #1615
@longducnguyen98 Anyway, glad to hear you like the project so far and glad to contribute.
Because of it's turn based and open source nature, I do think that this game could be embraced by people with disabilities as well since it should become very friendly overall. Will see about that label soon.

[2019-12-27 22:38] DreadKnight commented on #1615
There will be plans for v0.5 to sort of kill the website and have the game directly in its place, with documentation, changes and media as items in its menu (revamped for a nicer experience with more modern toolkits), so at that point the F11 hotkey will properly work on the main AncientBeast.com domain as well.

[2019-12-27 22:50] longducnguyen98 commented on #1615
I see. That is very encouraging to hear. I will conduct the preliminary audit on the Beta site (https://beta.ancientbeast.com/) first then.

[2020-01-12 09:40] DreadKnight commented on #1603
I've just bumped into a specialized addon for Phaser 3 to make the game 3d, I've edited the OP with it.

[2020-01-22 00:36] DreadKnight commented on #1544
Gitpod does the job fine for now. All good.

[2020-01-22 00:36] #1544 closed

[2020-01-22 00:50] #651 closed

[2020-02-03 13:59] DreadKnight commented on #1288
Found this, though I'm not sure how useful it is overall, hmm https://discord.js.org/#/docs/main/stable/class/RichPresenceAssets

[2020-02-05 07:42] Vallerious commented on #1612
Hello!
Is the image below a snapshot of the problem? So, I suppose, the Beast list should be above the actions?

<img width="226" alt="Screenshot 2020-02-05 at 9 40 25" src="https://user-images.githubusercontent.com/7551015/73821014-a6431900-47fb-11ea-89ef-e171b6cd0283.png">

[2020-02-05 09:09] DreadKnight commented on #1612
@Vallerious yes, that's part of the problem. All the default UI should be underneath.

[2020-02-05 22:43] DreadKnight commented on #315
Will go for nakama implementation and in order to keep things more organized, will open different issues https://github.com/heroiclabs/nakama

[2020-02-05 22:43] #315 closed

[2020-02-05 23:43] DreadKnight opened #1616 "Nakama client implementation (online multiplayer)"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24225%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1616)

Nakama is an open source server that has plenty of features that we'll need and also supports JavaScript implementation, so we should make use of it rather than reinventing the wheel.

It might even be implemented with Node.js

[2020-02-05 23:49] DreadKnight opened #1617 "Nakama server (online multiplayer)"
Should deploy and set up an official game server using Nakama once we have client implementation #1616

https://github.com/heroiclabs/nakama

Documentation on how to set-up server over here https://heroiclabs.com/docs/install-binary

Some extra links that might provide useful information regarding the whole set-up/config process:
https://www.stevestreeting.com/2018/03/20/setting-up-a-game-server-u

[2020-02-20 14:18] #1612 closed

[2020-02-22 10:12] BaibhaVatsa opened #1619 "The yellow energy bar goes into negative on hover"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%244%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1619)

**Describe the bug**
The yellow energy bar on the left, when you are controlling a unit, goes into negative when you hover over an ability that costs more than what you have available.

**To Reproduce**
Steps to reproduce the behav

[2020-02-22 20:34] DreadKnight commented on #1619
I'm aware of the issue, thanks for reporting. I think ideally should show a line on the bar to indicate the energy required.

[2020-03-05 17:24] DreadKnight commented on #1202
This was fixed a long time ago overall; could probably still use some code clean-up from the old stuff and have the dark backgrounds showing up on hover with all corners rounded, but might make new issue for that.

[2020-03-05 17:24] #1202 closed

[2020-03-05 17:26] DreadKnight opened #1620 "round background corners on hover"
Hovering on stats/masteries on the right side creature card should have the dark background be with all the corners rounded.

[2020-03-05 17:27] DreadKnight commented on #1202
New issue for the visual stuff remaining #1620

[2020-03-05 17:55] DreadKnight commented on #714
Seems things are a bit different now...

[2020-03-05 17:55] #714 closed

[2020-03-05 17:59] DreadKnight commented on #986
Implemented a while ago, though the score part could act better...

[2020-03-06 08:31] DreadKnight opened #1621 "don't jump away when active"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%241.5%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1621)

Snow Bunny's passive triggers after pushing away melee range unit using the Blowing Wind ability when it shouldn't do that stuff.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $1.50)

- [<img

[2020-03-11 19:00] dq-mlnck commented on #1616
It’d be great to help out on this one..I was randomly playing around Nakama last month so it’s  still somewhat fresh :)

What are the requirements to close this?
• Spinning up a local environment only
• Porting everything as-is from the current env to Nakama
• Creating the server and moving integrating all aspects
• Something completely different / etc

Thanks!

[2020-03-11 19:21] DreadKnight commented on #1616
@dq-mlnck The game should still be playable hotseat/offline as well, just like now.
The pre-match screen should be tweaked and have a new tab or so where you would do stuff like logging in, browsing existing game rooms or creating new one; when joining a room you should see other players (nickname/avatar) and chat (could use same UI for that as the in-game combat log at the bottom).

So probably t

[2020-03-14 11:01] dq-mlnck commented on #1616
@DreadKnight Nice!
I should be able to start breaking into this today :)

[2020-03-14 11:31] DreadKnight commented on #1616
@dq-mlnck Good to hear! I just remembered, someone made a guide on how to enable nodejs support for it, you should probably go this route https://github.com/heroiclabs/nakama-js/issues/23
That should have been the standard way imho of dealing with JavaScript implementations like this.

[2020-03-18 00:31] raynathanlow commented on #1620
Hi, may I be assigned this issue? Thanks.

[2020-03-18 00:43] DreadKnight commented on #1620
@raynathanlow Heya! Done, go for it :-)

[2020-03-18 05:24] #1620 closed

[2020-03-19 16:11] mlnck commented on #1616
@DreadKnight Sorry for the delay ... Covid stuff has me running a few days behind.
I've got it up and running with a script that auto-applies the "moneky-patch" after install so you won't overwrite the changes each time you run it.

I haven't had a chance to look into the user management piece yet. But if I can't get to it tonight should be able to dive in tomorrow.

[2020-03-19 16:22] DreadKnight commented on #1616
@mlnck Understood, thought that might be the case. Thanks for the update, let me know how it goes :+1:

[2020-03-28 07:31] DreadKnight opened #1624 "menu changes for multiplayer"
These are a collection of UI/UX changes to accommodate the integration of Nakama in the client #1616

**Default**
In the big mode, there will be a new icon on the middle right side called "Multiplayer", while in the small mode, it will replace version icon from the lower right corner.
The Ancient Beast text (big mode) or icon (small mode) will act as a back navigation button.

**Connecting**
When

[2020-03-28 17:11] #1576 closed

[2020-03-28 20:49] DreadKnight commented on #686
There's Mycroft, provided we would have downloadable client using Selene as of #158

https://github.com/MycroftAI/selene-ui
https://github.com/mycroftai/selene-backend

[2020-04-04 22:21] #1619 closed

[2020-04-04 22:34] DreadKnight commented on #1619
Alright, this was fixed and also has nice improved consistent style even when (energy) requirement not met for the hovered ability :)

[2020-04-05 06:39] DreadKnight opened #1629 "updated dependencies"
The project could use some updated dependencies.

[2020-04-05 06:40] DreadKnight commented on #1629
@RobinVdBroeck I've opened this up.

[2020-04-05 06:41] DreadKnight opened #1630 "optimized asset loader"
The asset loader could be optimized.

[2020-04-05 06:41] DreadKnight opened #1631 "webpack tweaks"
Webpack could be sped up and have simplified config.

[2020-04-07 07:29] DreadKnight commented on #997
Testing suite, might come in handy https://www.cypress.io

[2020-04-07 07:29] DreadKnight commented on #1039
Testing suite, might come in handy https://www.cypress.io

[2020-04-07 16:08] rianconley commented on #1562
@DreadKnight , I created a new pull request to address this improvement. Let me know if it needs additional work.

[2020-04-07 16:10] DreadKnight commented on #1562
@rianconley I'm aware, no worries :) Already testing it, so far soooo good! Will let you know or merge.

[2020-04-07 16:26] DreadKnight commented on #1561
This issue is on hold as the design is still not good enough and it will get an improved revamp.

[2020-04-08 03:20] DreadKnight opened #1633 "estimate damage on target"
When targeting an ability, hovering over the viable targets could show the total estimated damage (if not a harmful ability, just display "Target" status instead,) in the status box under the unit(s) avatar(s) (in the unit queue), while making other non-hovered avatars transparent (except the active unit one).

[2020-04-08 03:27] DreadKnight opened #1634 "passive icon ability toggling regression"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%241%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1634)

Clicking on the passive ability icon should toggle between all the currently usable abilities in order and then cancel selection, similar to how the mouse wheel functions, so reusing that code would be ideal.

---

<details>
<summa

[2020-04-08 04:30] DreadKnight opened #1635 "slide-in abilities if currently usable"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1635)

Instead of constantly glowing when an ability is usable (has viable targets from current position and requirements met), it should nicely slide in, otherwise it should slide out 50% just like used abilities.
Note that the ability i

[2020-04-08 04:32] DreadKnight opened #1636 "emphasis on viable targets"
When hovering over an usable ability, should showcase the viable targets from that spot, by applying X-Ray to the possible targets and their avatars.

[2020-04-08 06:41] #1562 closed

[2020-04-08 06:57] DreadKnight commented on #1561
Closing this in favor of #1635, hopefully will manage to avoid annoying ability icon glowing altogether.

[2020-04-08 06:57] #1561 closed

[2020-04-08 08:16] DreadKnight commented on #1344
GitHub has a new tab called "Actions" in which there are several docker related ones:
https://github.com/FreezingMoon/AncientBeast/new/master?filename=.github%2Fworkflows%2Fdockerimage.yml&workflow_template=dockerimage

https://github.com/FreezingMoon/AncientBeast/new/master?filename=.github%2Fworkflows%2Fdockerpublish.yml&workflow_template=dockerpublish

[2020-04-08 08:33] DreadKnight opened #1637 "automatically label PRs"
Should set up an workflow to automatically label PRs based on directories they've changed
https://github.com/FreezingMoon/AncientBeast/new/master?filename=.github%2Fworkflows%2Flabel.yml&workflow_template=label

[2020-04-08 11:04] DreadKnight opened #1638 "bad build base-path"
There are some path related issues in our build, preventing from hosting it on GitHub Pages #1639.

[2020-04-08 11:06] DreadKnight opened #1639 "host game on GitHub Pages"
An action should be set-up to autodeploy master on GitHub Pages, allowing us to ditch Heroku host.

https://github.com/marketplace/actions/deploy-to-github-pages

Issue #1638 needs to be fixed first in order to proceed with this.

[2020-04-08 14:19] DreadKnight opened #1640 "in-game changelog presentation"
Since the website will get deprecated pretty soon in favor of just showing the game, the change log (lower right button) should probably trigger a nice changelog presentation, showcasing the biggest changes nicely, https://revealjs.com lib could be used for this kind of stuff and it's also touch friendly.

[2020-04-08 16:43] rianconley commented on #1566
Hi @DreadKnight , trying to to reproduce the error but thus far has been unsuccessful. Once one of the unit dies, I'm not seeing the error button. Perhaps I'm not looking in the right place.  Could you provide steps to  show when the error appears?
Thanks

[2020-04-08 16:53] DreadKnight commented on #1566
@rianconley Gonna check the dead scenario after some sleep. Anyway, I want to tweak this issue a bit to actually show something in the space that will be empty otherwise, like the game logo or maybe even crediting the artists involved in making the creature come alive, will have to think about it.
Meanwhile, feel free to poke at this issue instead #1635 1635

[2020-04-08 18:29] rianconley commented on #1635
Hey Dreadknight, looking into this now, wondering which non-disabled buttons should slide in. Should it only be the glowing ones or also include the other buttons that are non-disabled, such as ability buttons that can't be used yet,music button, delay button etc?

[2020-04-09 05:22] DreadKnight commented on #1635
@rianconley Alrighy. Note that the emphasis is "currently usable", meaning if you can properly see the icon for it you can click on it and use it :) With this stuff we'll end up having better consistency between left and right side icons, as there will be no more glowing at all. But if an ability hasn't been used yet, it won't have vignette and it will be hidden (50% slide out state) until active

[2020-04-09 06:00] #1638 closed

[2020-04-09 06:01] DreadKnight commented on #1639
Closed in #1641

[2020-04-10 20:18] #1629 closed

[2020-04-11 12:04] #1630 closed

[2020-04-11 12:08] #1631 closed

[2020-04-12 07:32] DreadKnight commented on #1505
Duplicate of #673

[2020-04-15 16:06] DreadKnight commented on #1616
Since I haven't seen any progress in over a month or getting any replies back, I'm guessing this issue is up for taking again...

[2020-04-15 18:21] DreadKnight opened #1648 "pointless turn around"
Abolished shouldn't turn around when using Greater Pyre ability if clicking behind.

[2020-04-16 16:28] DreadKnight opened #1649 "unit drop not where supposed to"
When Nutcase kills a unit using Fishing Hook ability, the drop is not placed properly.

[2020-04-16 16:37] DreadKnight opened #1650 "can't load game"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%243%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1650)

Restoring games using logs seems to be broken. This is mainly bad for development purpose.

Provided a small log for testing purposes:

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $3.00)

- [<i

[2020-04-16 16:47] #1635 closed

[2020-04-18 18:49] rianconley commented on #1469
Hey @DreadKnight , is this task still open?

[2020-04-18 18:54] DreadKnight commented on #1469
@rianconley Yes, feel free to look into it :-) Also keep in mind that I'm a terrible coding, so that list is very rough. The need for this was pointed out to me over the years but I'm bad properly comprehending it compared to a more skilled coder, so if you sort of notice something lacking from there, it should probably be proposed and addressed sooner or later.

[2020-04-18 18:57] rianconley commented on #1616
Hey @DreadKnight , any progress on this task? It seems like this would be the crucial update for AB since it needs to have a multiplayer component. I took a look and was able to get the server running locally through docker. I can continue looking at it if no one else is currently working on it.

[2020-04-18 18:59] DreadKnight commented on #1616
@rianconley No progress, last guy vanished. So hopefully someone else (perhaps you) can pick this up.

[2020-04-21 04:21] kaylina140 commented on #1507
Hi there! Just put together an implementation of this, and wanted to double-check that it's still up for grabs before submitting a PR.

[2020-04-21 10:36] DreadKnight commented on #1507
@kaylina140 Heya! Sure thing, go ahead!

[2020-04-21 17:10] #1507 closed

[2020-04-22 11:24] DreadKnight opened #1652 "Discord verification"
Using this will get us several nice perks
https://discordapp.com/verification

Should be done in favor of #1491

[2020-04-22 11:42] DreadKnight commented on #1587
Or maybe keeping things native, using https://developer.mozilla.org/en-US/docs/Web/API/Web_Animations_API/Using_the_Web_Animations_API

[2020-04-22 22:50] rianconley commented on #1624
Hey @DreadKnight , can you expand on what you mean by "big mode" vs "small mode". I'm trying to put together a POC with UI features for the Nakama implentation

[2020-04-22 22:55] DreadKnight commented on #1624
@rianconley Heya! It's when you change screen size basically, so the UI will adjust mostly using some css media queries. Basically I called the "big mode" the full HD pre-match screen on a monitor vs "small mode" which are small size iframe embeds inside arcade websites or small display like a phone.
Here's an example: big mode https://play.ancientbeast.com vs small mode https://ancientbeast.com

[2020-04-23 22:35] DreadKnight opened #1653 "delayed abilities"
The effect of such an ability won't be instant, but will be marked in the queue at the top using own monochrome icon with color coded frame around it showing to which player it belongs to.
Hovering that icon should showcase the target area or it could be marked on the field until trigger.
Such abilities would need to specify a required time frame (that's opposed to the initiative stat).
Will need

[2020-04-23 22:36] DreadKnight commented on #460
The ultimate ability for this creature will most likely be a delayed one, based on specs from #1653 issue.

[2020-04-26 23:44] rianconley commented on #1624
Heya @DreadKnight , a few things:

1. After click mutiplayer, should the match settings box switch out with the login/register?
2. "Each player gets randomly assigned a unit avatar, with the exception of the Dark Priest ones":Can you elaborate on the types of players? There's dark priests, what other types? What makes a player a dark priest? Aren't all players dark priests?
3. "The "Multiplayer" b

[2020-04-27 00:40] DreadKnight commented on #1624
@rianconley

1. Only the login/register displayed until player gets on the server; no point in match settings there.
2. I meant something else, like representing players with avatars, but for the sake of simplicity, we could use player names for now and later on could use some legacy colored ability icons in order to represent players like other games do (such as League of Legends or Quake Champio

[2020-04-27 13:10] DreadKnight commented on #1582
Seems I was a bit confused about this. The API is for integrating coil into websites for allowing to sponsor users individually, for example like a content publishing platform would allow each of its users to individually enable this to get donations. For now (at least), only want the project to get funding, but will reconsider at some point after we would have online multiplayer, accounts, specta

[2020-04-27 13:18] #1582 closed

[2020-04-27 13:31] DreadKnight opened #1654 "Coil discovery page"
Project could do with some promotion in the Coil discovery page.
https://coil.com/explore

[2020-04-27 14:51] DreadKnight opened #1655 "status icons on mobile"
On mobile using Chrome, the unit avatar grid doesn't display any status icons.

[2020-04-27 14:52] DreadKnight commented on #1655
The annoying thing is that this works fine on Brave, while Brave fails at big time when it comes to the gameplay fullscreen button #1507 Damn mobile browsers!

[2020-04-28 10:26] DreadKnight commented on #562
I've added it to igdb and it was recently approved, that makes at least 10 listings, so this is completed.

[2020-04-28 10:26] #562 closed

[2020-04-29 13:00] DreadKnight opened #1656 "tournament implementation using outplay SDK"
There's a service (currently in closed beta) that might provide nice tournament feature with its SDK implementation. Should look into it at some point. https://outplay.games

[2020-05-03 23:37] billyLumberjack commented on #1469
So u need to completely refactor `src/ability.js` right ?

[2020-05-04 00:11] DreadKnight commented on #1469
@billyLumberjack Yeah, and stuff in `src/abilities` goes without saying :-)

[2020-05-13 00:08] DreadKnight opened #1657 "mouse state for locked units button"
Hovering over the button under the cards for a locked unit should change the cursor to `not-allowed`.

[2020-05-13 00:47] DreadKnight commented on #837
This is rather irrelevant now as we have stable/dev versions and also the website itself will get diminished with time until fully eliminated, just having the game with some of the website elements integrated in it, especially in the main menu.

[2020-05-13 00:47] #837 closed

[2020-05-13 00:49] DreadKnight commented on #460
This creature won't make it in as it is, instead we might take the "evil eye / Sauron" tweak from it and use it on a fan art on the old design, while the tentacle part stuff will be used for an "octoskull" variation creature.

[2020-05-13 01:03] DreadKnight commented on #863
Figured how this should be handled overall, edited OP and removing the `brainstorm` tag now.

[2020-05-13 13:02] DreadKnight opened #1658 "card text tweaks"
Text on the in-game cards doesn't match the ones on the website line wise to fit things exactly in rows.

[2020-05-13 13:39] #609 closed

[2020-05-13 13:39] #1658 closed

[2020-05-20 10:42] DreadKnight opened #1659 "delay icon in queue"
After there's at least one unit delayed during a round, the delay icon should appear in the top unit queue as a separator along with text indicator saying "Delayed", so the delayed units will be between the queue icon and the next round marker.

Probably affected files:
- https://github.com/FreezingMoon/AncientBeast/blob/master/src/index.ejs#L1074
- https://github.com/FreezingMoon/AncientBeast/blo

[2020-05-27 12:55] rianconley commented on #1616
Hey @DreadKnight , do you have any cloud hosting solutions set up yet for the game (linode, digital ocean, etc). I've been able to get authentication and socket connections working locally but I'm at an impasse until there's an cloud environment where I can test multiple users.
Thanks

[2020-05-27 13:33] DreadKnight commented on #1616
@rianconley I got current stuff hosted using Heroku, but obviously, no Nakama stuff yet. Just register for Heroku or something and throw the Nakama server on it so you can test things out properly, as it has nice free tier.

[2020-05-28 12:15] rianconley commented on #1616
I'll take a look at Heroku. Thanks.

[2020-05-28 12:57] DreadKnight commented on #1616
@rianconley Alright, cool. You can easily clone existing GH repos and deploy them. Compared to the alternatives, it has very simple UI, though it's supposedly more expensive in the long run, so I might eventually have to properly learn the alternatives as well, but they sure like to nitpick on every single resources, which makes things tedious.

[2020-05-28 21:58] rianconley commented on #1616
@DreadKnight , it doesn't look like Heroku is an option. Nakama needs  cockroachdb database server to be installed and  Heroku doesn't appear to have support for deploying custom database servers.  Nakama has a tutorial to install Nakama using digital ocean.  I also found an article where nakama is installed using Google Compute Enrine. Both these options appear suited for  Nakama's dependencies b

[2020-05-28 22:02] DreadKnight commented on #1616
@rianconley I see. Well, I probably know the tuts. Digital Ocean has 100$ credit for new accounts for 60 days, you could give that ago. I might see about getting some paid hosting if/when it comes down to that and hopefully will be able to invite to that (I think Google stuff has teams and such).

[2020-05-28 22:12] rianconley commented on #1616
I also saw that 100$ credit for 60 days; it looks legit. I'll give it a go.

[2020-05-28 22:16] ktiedt commented on #1616
If you are looking at Digital Ocean, I have a referal link that benefits my pet project as well (it would cover 1 month of our hosting).

https://m.do.co/c/0e803bfcf0d2

[2020-05-29 10:52] mostafahesham-dev commented on #1650
have you tried to focus on the screen by the mouse
[code]