[2020-05-29 10:54] mostafahesham-dev commented on #1650
i dont think there is problem with in version .4
i think you just need to focus on screen by the mouse

[2020-05-29 18:43] DreadKnight commented on #1616
@rianconley There's also https://www.openshift.com - I think it has 2 month trial period. Previous version used to be great and even had AB hosted on it, UI was neat and used cartridges, but they cut the free hosting for foss projects for a while, hence the forced moved to Heroku for the project.
They did released new version but I'm not yet familiar with it and also allow applying for free hostin

[2020-05-30 08:54] DreadKnight commented on #1650
@mostafahesham-dev Tested it again and worked fine, seems you are right. Bug might have come from somewhere else and got fixed meanwhile, some dependency or the browser, who knows...

[2020-05-30 08:54] #1650 closed

[2020-05-31 15:07] DreadKnight opened #1660 "Gumble tweaks"
Gumble doesn't currently have the best flow/combo/utility, so it should get better defined with a make-over.

He should be a short range unit that charges into battle, being able to take quite a bit of physical damage, then popping back up to do it again or just go defensive role, supporting other units.

The passive ability should be highly boosted, making this unit a true masochist to physical p

[2020-06-01 04:18] DreadKnight opened #1661 "shared unit pool"
The unit pool will become shared and so, each unit will be materializable only once per combat.
The player tabs from the dash view should be removed, using player coded circles around unit avatars in the grid to better indicate to which players already summoned units belong to.

_This will eventually allow for better fitting of the grid and cards, while having icons and bars on the sides, in a mor

[2020-06-01 12:12] DreadKnight commented on #1493
Closing this in favor of #1661 which has a simplified approach, as each unit will be usable just once.

[2020-06-01 12:12] #1493 closed

[2020-06-01 12:33] rianconley commented on #1277
Hey @DreadKnight ,  looking to take  a break from the Nakama stuff and work on something else.  Can you clarify a bit more what you're looking to achieve with this task? For example, what if the viable target has multiple hexes, how would the icon appear over the hexagon?  So clicking on the target now wouldn't use the ability it would show the ability on the hexagon? Clicking again would target t

[2020-06-01 12:43] rianconley commented on #1419
@DreadKnight, this is more of a general gameplay suggestion. Wouldn't it make more sense instead of "skip turn" it should be "end turn". SKipping turn is applicable if they haven't used any abilities but if they've used the max amount of abilities, the player would then end turn not skip turn. Perhaps there could be another button for end turn or the skip turn button would switch to end turn.

[2020-06-01 12:55] DreadKnight commented on #701
This encompases multiple ideas. We've switched away from glowing icons by default though.

[2020-06-01 12:55] #701 closed

[2020-06-01 13:03] DreadKnight commented on #1277
@rianconley I was probably trying to make players focus less on side icons and improve the flow, focus and speed of the combat by just clicking on units and getting the corresponding actions.
I think this might be rather problematic (AoE abilities especially) and conflicting with other stuff, some of which was already implemented since, like when clicking on an unit to see queue position.
This was

[2020-06-01 13:11] DreadKnight commented on #1419
@rianconley It's related to brain memory, as the hotkey is "S", while "E" is used for ability.
It might make more sense to show "End turn" above creature, because nothing can be done anymore anyway, hence even if pressing "E", nothing too harmful will happen, except confusing the player at most and wasting (possibly limited turn) time.

[2020-06-02 02:20] DreadKnight opened #1662 "dash view buttons and bars"
The dash view should have a bit of an UI, showing current player avatar in the upper left, along with color coded frame. Under it should have 2 bars along with 4 icons (table and alpha, betta, gamma).
The bars will indicate remaining plasma amount (purple color) and how many remaining units can the Dark Priest control using his Godlet, also showing with dashed lines how much of those will be drain

[2020-06-02 02:26] DreadKnight opened #1663 "table view in dash"
The unit stats table from the website should be ported to the game's dash view overall, listing creatures from all unit sets, but having a column with what set they belong to, using greek letter.
This view mode should be activating when clicking the corresponding dash icon as of #1662 issue.

[2020-06-02 02:30] DreadKnight opened #1664 "card hex/set info"
The unit cards should have the size number nicely displayed inside the hexagon and the set greek letter that it belongs to, to the left side of the hexagon, info that's being fetched as well from `data.json` file.

[2020-06-03 23:44] DreadKnight opened #1665 "show proper energy cost"
Ability energy cost doesn't update properly for locked units when viewing cards in the dash.

[2020-06-04 03:46] DreadKnight commented on #1639
Autodeploys nicely now and it can be accessed from https://FreezingMoon.org/AncientBeast
Cheers @RobinVdBroeck for poking at this :+1:

[2020-06-04 03:46] #1639 closed

[2020-06-06 20:42] rianconley commented on #1634
Hey @DreadKnight , working on this currently although I'm confused if the passive ability button is for  triggering the passive ability or to cycle through active abilities. Honestly, I think the passive ability button having two functions is confusing and unintuitive from a UI perspective. It also makes this update really difficult to program because there's a bunch conditions to test for whether

[2020-06-06 23:08] DreadKnight commented on #1634
@rianconley Passive abilities never trigger on demand, button is used to cycle through usable ones.
New players used to press that button because it was the very first one and it did nothing at all, hence
why this was given some handy functionality. Anyway, this functionality is mentioned in the tooltip.

[2020-06-06 23:17] rianconley commented on #1634
@DreadKnight  Is it only with some beasts, that the ability doesn't trigger on demand.. Example,  cyberwolf's passive ability can be used on demand.

[2020-06-06 23:20] DreadKnight commented on #1634
@rianconley It's consistent in the way that you never press on the passive ability button, but the passive abilities act very differently, therefor some of them are easier to trigger on purpose than others.

[2020-06-06 23:29] rianconley commented on #1634
@DreadKnight, I'm seeing different logic when using the buttons. Not sure I'm following your logic for the button.  How would you use trigger the cyber wolf passive ability "bad doggie"  by NOT clicking the button? I understand there are different types of passive abilites, but the passive button either triggers the passive ability or it doesn't.

[2020-06-06 23:43] DreadKnight commented on #1634
@rianconley "Bad Doggie" just checks if there's nearby enemy in front and triggers or not, simple as that. It says in its description. It doesn't trigger by pressing any button; you can check for yourself.

[2020-06-06 23:53] rianconley commented on #1634
@DreadKnight , understood, but  the button triggers the  ability( there's an event listener).  This is different than the button  being used to cycle through the abilites. So essentially, the button has two unrelated  operations to perform which complicates the logic of what happens when you click on the button.

[2020-06-07 00:12] rianconley commented on #1634
@DreadKnight I checked the passive ability of the cyber wolf again and it does trigger by pressing the passive button.  I am not crazy or stupid ;)

[2020-06-07 00:22] rianconley commented on #1634
I hope we're talking about the same button. it's the first button of four on the left side? The button that says "passive ability".

[2020-06-07 00:41] rianconley commented on #1634
Anyways, this is just my feedback.  I don't mind doing free dev work. All I ask is let me give feedback on occasion. It's free and I have decades of experience with gaming,

So, if we're sticking to the original logic, pressing the passive button should trigger the passive ability if possible?

If not it's supposed to cycle through the abilities?

[2020-06-07 00:51] DreadKnight commented on #1634
@rianconley Yes, we're talking about the same button. I listen to feedback, but things need to make sense in the bigger picture, there were times along the way that some people got offended as they're not listened, but that's not the case and it's also hard to please everybody; sometimes solutions are not ideal or perfect due to lack of development power, because I don't like most things about the

[2020-06-07 01:00] DreadKnight commented on #1634
Cyber Wolf has two main play styles:
- either ranged nuker, provided he manages to not get fatigued and has some support unit(s) to protect him or even provide him with energy (option that will be available at some point)
- or played as melee rusher going for melee hits and ideally stopping in front of units that are slower initiative wise, so that he can land that extra attack from the passive ab

[2020-06-07 02:16] rianconley commented on #1634
@DreadKnight , Ok, I see what is happening. I was pressing the passive and it was toggling to the next ability. Apologies, I thought the toggling was completely not working, and pressing the passive ability, instead of toggling uses the passive ability. The red border was the indicator, which I wasn't seeing. Anyways, I'll have a new pull request for this shortly. Hopefully tomorrow. Take care.

[2020-06-07 02:21] DreadKnight commented on #1634
@rianconley I did get the feeling something is making you confused. Hehe, it's alright, looking forward to a PR. Plenty of small details in the game and there's tendency to miss them, hence why always trying to push things to a new level based on testing and feedback, especially when it comes to the basics.

[2020-06-07 22:15] #1634 closed

[2020-06-08 22:20] #581 closed

[2020-06-08 22:32] DreadKnight commented on #1616
I've found that OpenShift Grant program once more https://www.openshift.com/community/programs/grants/
Though it doesn't list CockroachDB https://access.redhat.com/articles/2176281?hsLang=en-us#online3
Wouldn't it be possible to have that CockroachDB inside Docker? I thought that was the whole point of it, to include all required dependencies...

[2020-06-09 01:56] DreadKnight opened #1668 "switch deprecated package"
Package `serialize-javascript` has security issues, but `uglifyjs-webpack-plugin` https://github.com/webpack-contrib/uglifyjs-webpack-plugin depends on it.
Seems this package was deprecated in favor of `terser-webpack-plugin` https://github.com/webpack-contrib/terser-webpack-plugin so we should switch.

[2020-06-09 02:02] #1668 closed

[2020-06-09 06:37] rianconley commented on #1616
@DreadKnight , For development w Nakama, I think I'm going to use up the free credits for digital ocean. After development, once everything is working, we can definitely deploy to another hosting platform like OpenShift. The grant program looks promising, although their criteria for OSS that they'll choose to adopt seems rather rigid(only projects that perform research). I think OpenShift should h

[2020-06-09 17:21] DreadKnight commented on #1616
@rianconley Regarding OpenShift criterias, I think those check marks are confusing, a proposal there not having to meet all of those criterias together, but to fit somewhere in that area, which this project does, at least for now, I hope. Mhm, hope you'll manage in the near future, the more time passes, the more things are looking grimmer for me and the project...

[2020-06-09 23:14] DreadKnight commented on #1474
Alright, tweaked the tiers/rewards/goals thingies, so I'm considering this completed.
Though the project README.md file has the related links kinda broken, but it's confusing stuff that I might bot be able to fully fix myself...

[2020-06-09 23:14] #1474 closed

[2020-06-10 21:42] DreadKnight opened #1669 "Discord bot"
Could eventually have a Discord bot that would allow various facilities, like:

- rewarding players with XatteR at given intervals or for activity
- allow searching for other players to duel for crypto

Possible framekworks.
https://github.com/TheSharks/WildBeast
https://github.com/ttbowen/joltite.js

[2020-06-10 21:44] DreadKnight opened #1670 "Gamejolt integration"
Could have some kind of Gamejolt integration using their API

https://github.com/MausGames/game-jolt-api-js-library
https://github.com/ttbowen/joltite.js (newer / incomplete but more active)

[2020-06-10 21:45] DreadKnight opened #1671 "Google Closure Compiler"
The game should eventually compile using Google Closure Compiler https://developers.google.com/closure/compiler
https://github.com/google/closure-compiler-npm/tree/master/packages/google-closure-compiler

This will speed up download, improve and optimize code and as well hide API keys, like for #1670

[2020-06-11 19:25] DreadKnight opened #1672 "get BAM Animation to improve a creature"
Should submit one or more of the creatures to these guys, as they usually good a great job of pushing that design to a whole new level while also making an awesome youtube video about the process.
https://www.youtube.com/bamanimation
https://www.brentandmax.com/contact-us

![redraws art show](https://user-images.githubusercontent.com/587487/84429938-a92e9a00-ac31-11ea-9777-bc9f0bbb8df0.jpg)

[2020-06-11 20:07] BLBLBI commented on #1243
Hello, may i be assigned on this issue if it's not resolved yet?

[2020-06-11 20:32] DreadKnight commented on #1243
@BLBLBI Heya! I've assigned it to you, have fun. It will be free again in 2 weeks, plenty of time for it :P

[2020-06-11 20:36] DreadKnight commented on #1243
@BLBLBI I've also upgraded OP a bit with more details and a fine tweak that might make sense.
Thanks for wanting to contribute and don't forget to :star: the project ^_^

[2020-06-15 05:57] DreadKnight commented on #1652
Seems the process is paused for quite a while now, but I've e-mailed them to apply anyway, as I've revamped and fixed the [Freezing Moon website](https://FreezingMoon.org). Guess I'll give this more time...

[2020-06-15 09:01] DreadKnight commented on #1165
Found some refs for this
![vampire frog](https://user-images.githubusercontent.com/587487/84638663-f6479000-aeff-11ea-81eb-2ef6d70dfae4.jpg)
![vampire-frog](https://user-images.githubusercontent.com/587487/84638667-f6e02680-aeff-11ea-8f09-d7801ee96df2.jpg)

[2020-06-15 09:54] DreadKnight commented on #913
That white text on light green lime background, just wow, horrible amateurish move to the fullest https://owncloud.online

[2020-06-18 10:21] DreadKnight opened #1673 "reuse and improve fullscreen button code"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%244%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1673)

The pre-match and in-game fullcreen buttons should reuse code and also work without bumping into the error by using the F11 hotkey before clicking the button. Only difference between the two is that the in-game one lacks text under

[2020-06-18 10:34] DreadKnight opened #1674 "load units if playable"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1674)

The current way of loading creatures and their abilities seems ultra redundant to me atm.
This shouldn't be so manually hardcoded, but auto-generated instead based on a field in
the `data.json` file, named `playable`, so if the val

[2020-06-18 10:50] DreadKnight commented on #1169
Duplicate of #846, updated the specs of that one with some of the info that was provided here.

[2020-06-18 10:50] #1169 closed

[2020-06-20 05:37] DreadKnight opened #1675 "big screen version"
Should have the project as an app for the Plasma version optimized for big screens
https://plasma-bigscreen.org
https://apps.plasma-bigscreen.org

Project assets are done for 1080p. We might have everything as 3d models and scenes/objects, so we could eventually render everything bigger, going for a 4k version as well if needed by then.

[2020-06-20 05:39] DreadKnight commented on #1675
This could even act as a kioks #933 , requiring to use mobile devices (phones/tablets) as controllers #329

[2020-06-20 05:41] DreadKnight opened #1676 "4k resolution"
Project assets are done for 1080p. We might have everything as 3d models and scenes/objects, so we could eventually render everything bigger, going for a 4k version as well if needed by then.

[2020-06-20 05:42] DreadKnight commented on #1675
Eventually could even add 4k resolution as well, as of #1676 issue.

[2020-06-20 05:45] DreadKnight opened #1677 "Mirror Image revamp"
Should revamp Deep Beauty's ultimate, perhaps only cloning self and sharing stats. Could switch between self and clone by clicking on unit when no ability selected (might interfere with taunts a bit) or by clicking the ultimate ability icon again. https://ancientbeast.com/documentation/?id=units#Deep_Beauty

[2020-06-20 05:58] DreadKnight opened #1678 "rare digital assets on sale"
Should sell some assets on Open Sea, which is basically a crypto market for rare digital goods. https://opensea.io

Could eventually sell creature and perk cards, perhaps even kudos type of artwork #1596 .

[2020-06-20 06:02] DreadKnight commented on #1678
Could sell 3d avatar related pieces to be used within Decentraland or even Ancient Beast if going for that path. Like having a Psyhelm or Godlet on your character, Abolished's mask or other props from the game or having a small version of one of the creatures on your shoulder or following you around.

[2020-06-20 21:30] DreadKnight opened #1679 "patchbot integration"
There's a pretty cool Discord bot that sends out news on new game patches, as its very name implies.
Its devs allow for 3rd parties to integrate, though they require e-mail address from the domain name.
I might make such an e-mail address soon, as it's usually common courtesy, though it draws  in spam.
https://patchbot.io
https://patchbot.io/game-developers

[2020-06-21 05:44] DreadKnight commented on #1586
I've managed to list it, though it's impossible to get a single damn donation nowadays :(
https://gitcoin.co/grants/916/ancient-beast

[2020-06-21 05:44] #1586 closed

[2020-06-23 14:43] nourazekry commented on #1648
Hi there! I'd like to contribute to this project and was wondering where to start. :)

[2020-06-23 16:48] DreadKnight commented on #1648
@nourazekry Hello there! Thanks for your interest, have you checked out the Contribution guide over here? https://github.com/FreezingMoon/AncientBeast/blob/master/CONTRIBUTING.md - it gives the first steps.

This might deal with `src/abilities/Abolished.js` and perhaps even `src/ability.js`. Let me know how it goes :)

[2020-06-25 05:45] DreadKnight opened #1683 "Escort Service facing"
When Scavenger drags an unit from it's behind using `Escort Service`, that unit shouldn't turn around for the duration of the move.

[2020-06-25 05:53] #1674 closed

[2020-06-25 05:55] #1648 closed

[2020-06-25 19:32] DreadKnight commented on #1596
Made my first one today, though it's not related to the project
https://gitcoin.co/kudos/20287/flying_bats_%F0%9F%A6%87
Will also consider poking at some animated ones pretty soon.

[2020-06-29 13:10] DreadKnight opened #1686 "Mud Bath creation sound"
Creating a Mud Bath should have a fitting sound, perhaps the first one from here https://opengameart.org/content/sounds-fxs

[2020-06-29 13:11] DreadKnight commented on #1686
Duplicate of #889

[2020-06-29 13:56] DreadKnight opened #1687 "less interface animations when skipping"
When skipping turn, the left side ability icons should only translate up, no more state changes or horizontal sliding of any icons.

[2020-06-29 13:59] DreadKnight commented on #1035
Duplicate of the newer #1687 overall.

[2020-06-29 13:59] #1035 closed

[2020-06-29 14:05] DreadKnight opened #1688 "half opacity icons instead of dimming"
The `assets/interface/frame_dimmed.png` and `assets/interface/frame_upgrade_dimmed.png` should be deprecated in favor of just changing the opacity of the icon by 50%.

[2020-06-29 15:56] DreadKnight commented on #1603
In the latest newsletter from Phaser, it seems that v4 will be capable of making 3d games as well nativelly.
So I'm glad to see that things are moving in the right direction with our game engine, even if we haven't yet migrated to v3 #1584

[2020-06-29 18:45] #1243 closed

[2020-06-29 19:30] DreadKnight opened #1689 "circle in active unit hexagon effect"
When a new unit starts, there should be an animated visual effect, having player coded filled hexagons sort of circle in towards the currently active unit, sort of fully starting from outside the hexagon grid. This should only last about 1-2 seconds tops.

[2020-06-30 07:09] #1673 closed

[2020-06-30 19:03] #1688 closed

[2020-07-02 05:09] leodrk commented on #834
Hi, I would like to try to develop this feature, do you stilll want to add it to the project?

[2020-07-02 07:41] DreadKnight commented on #834
@leodrk Hey, this is marked as `brainstorm` so I'm still not sure about it, it's just a draft atm. I'll probably switch drops to affect stas/masteries again rather than just replenishing health/energy.

Feel free to poke at other issues, ideally the ones targeted for next release that aren't tagged `brainstorm` or assigned to me
https://github.com/FreezingMoon/AncientBeast/milestone/4

Also don't

[2020-07-02 14:17] leodrk commented on #1088
Hi, im interested in trying to resolve this issue. I got a question, to make a visual effect for the skill is part of the request?

i`ve never created a pull request via issueHunt, it is imperative to use it?

[2020-07-02 14:30] DreadKnight commented on #1088
@leodrk Heya! No visual effect needed, as that's already done. This is about tweaking the ability's own upgrade a little bit.
Regarding IssueHunt, that's only if you want the bounty, as it's a bounty system that you simply register using GitHub itself.

[2020-07-03 12:06] BLBLBI commented on #1462
Hello,
may i try to do this?
is there something i need to know before commencing?

[2020-07-03 12:11] DreadKnight commented on #1462
@BLBLBI Heya! Will have to update the abilities to be like the ones in the game and also detail them a little bit first :)

[2020-07-03 12:58] DreadKnight opened #1691 "can't view locked units"
Selecting locked units from game's dash view doesn't work anymore.
Once again, this regression... it's getting really really tiresome already.

[2020-07-03 13:01] DreadKnight commented on #1691
Hence why we need them automated testing at some point #1475
Anyway, this issue was probably caused by some recent code refactoring, where new data fields `playable` where added into `assets/units/data.json` file as of #1680 PR

[2020-07-03 13:15] DreadKnight commented on #1462
@BLBLBI I've updated it, feel free to poke at it, I've assigned you to it. 2 weeks deadline tops ideally ;-)
Let me know if you got any questions.

[2020-07-05 21:39] rianconley commented on #1616
Hey @DreadKnight , any news on the openshift grant status?

[2020-07-05 21:48] DreadKnight commented on #1616
@rianconley Haven't applied yet, was waiting to make sure we have something going on first, though it takes them quite a bit to process the applications, so meanwhile, could use the free/trial stuff for a private beta.  I see you're making progress on your branch.

[2020-07-05 23:16] rianconley commented on #1616
Sounds good. I'll keep using digital ocean's virtual server for testing. Thus far, it's been fairly inexpensive to maintain. Yes, making progress on the multiplayer stuff when I have time. Hoping by end of summer it'll be close to completion.

[2020-07-06 16:21] DreadKnight commented on #1683
Something along the lines was fixed in this patch 77455b3, could serve as inspiration.

[2020-07-06 19:45] carlsopa commented on #1691
I can take a look at this.

[2020-07-06 19:58] DreadKnight commented on #1691
@carlsopa Alright, feel free to do so.

[2020-07-06 20:53] DreadKnight commented on #1691
@carlsopa I've assigned you, for 1 week or so xD

[2020-07-06 21:09] DreadKnight commented on #1462
@BLBLBI Make that 3 weeks deadline. Also, for Stone Grinder ultimate ability, no need to make the arching animations for now, as those will be implemented eventually as an extension of #1469 when abilities will get proper animation support, to facilitate stuff like #1233

[2020-07-06 21:12] DreadKnight commented on #1469
If I recall right, CameronFoss was busy with other stuff so he's not really working on this. This issue is up for taking!

[2020-07-06 21:30] rianconley commented on #1616
Also, do you mind assigning this to me.

[2020-07-06 21:42] DreadKnight commented on #1616
@rianconley Sure thing, assigned this and the related UI one, also unpinned. Will increase the bounty with time for this, though will see about switching to gitcoin bounty system pretty soon, as the support on issuehunt is very RIP it seems...

[2020-07-06 22:15] DreadKnight commented on #1616
The thing about the OpenShift grant is that if accepted, period is like half a year, but can be extended in certain cases, so the game really needs to be "prime time" in that period and scale up, only way to do so is by having online multiplayer in open beta stage.

[2020-07-07 12:28] DreadKnight commented on #1111
This should probably be on hold until #1624 will be implemented, along with #1616 in order to avoid any merge conflicts.

[2020-07-08 23:30] DreadKnight commented on #1074
Fixed along with #1688, by deprecating the vignettes altogether, as they were done badly anyway, not modular enough...

[2020-07-08 23:30] #1074 closed

[2020-07-08 23:41] DreadKnight opened #1692 "sprite sheet animation support"
The modular unit abilities classes should be extend to properly support animation sprite sheets
which will be rendered in blender and assembled using https://github.com/FreezingMoon/Spritify
and should also support animation arcs, for abilities like #1233 and Stomper's ultimate #1462

[2020-07-08 23:46] DreadKnight opened #1693 "ability sfx support"
The modular unit abilities classes should be extend to properly support sound effects triggered at various steps of the action.

Depends on #1469 and #1692, so make sure those are fixed first.

Should allow for easy integration of most ability related sfx https://github.com/FreezingMoon/AncientBeast/issues?q=is%3Aopen+is%3Aissue+label%3Aaudio

[2020-07-08 23:49] DreadKnight commented on #1469
I've trimmed down the list a bit by pushing the animation #1692 and sfx #1693 support to be added later on, at different stages.

[2020-07-09 00:13] DreadKnight commented on #1176
I've revamped this issue and added a bounty as well. Any takers? :P

[2020-07-09 13:43] #1577 closed

[2020-07-10 02:39] DreadKnight opened #1695 "shift hotkey round marker regression"
Holding Shift should show the grid coordinates, like when hovering on the round marker from the unit queue.

[2020-07-10 12:30] DreadKnight commented on #1115
I've updated the issue with new game log and it's out of the brainstorming phase now, as I've figured out what needs to be done.

[2020-07-10 20:28] DreadKnight commented on #1088
@leodrk Are you still looking into this? If not, it's fine, let me know. One week deadline otherwise :D

[2020-07-12 20:50] #1695 closed

[2020-07-12 23:29] #1657 closed

[2020-07-13 12:00] leodrk commented on #1088
hi sorry for the delay, i will dedicate the next days to this issue and notify you by this chat if I cannot resolve it

[2020-07-13 12:48] DreadKnight commented on #1088
@leodrk Understood. I hope that you'll manage :)

[2020-07-13 13:06] DreadKnight commented on #1129
Another more detailed effect that could be used for the shield itself and made in blender, as well as having it easily animated
https://www.deviantart.com/anul147/art/new-fake-color-cloud-847690209

[2020-07-13 14:54] DreadKnight commented on #1691
@carlsopa Hey, any progress with this? Don't let it drag for too long :)

[2020-07-13 17:38] DreadKnight commented on #998
WIll just consider movement related abilities unaffected by this overall. So basically Scavenger is very efficient vs Mud Baths.

[2020-07-13 17:38] #998 closed

[2020-07-13 18:11] DreadKnight commented on #473
This is up for taking, as it finally got out of the brainstorming phase.

[2020-07-14 16:33] DreadKnight opened #1698 "WPA webworker"
Should add one (or more?) webworkers for caching and offline functionality

https://developers.google.com/web/fundamentals/primers/service-workers
https://medium.com/pwabuilder/microsoft-and-google-team-up-to-make-pwas-better-in-the-play-store-b59710e487
https://www.pwabuilder.com/serviceworker

[2020-07-14 17:42] DreadKnight opened #1699 "web shortcuts jumplist"
Should add some of the main menu's eventual screens to the list, providing easier access.

https://medium.com/pwabuilder/microsoft-and-google-team-up-to-make-pwas-better-in-the-play-store-b59710e487
https://components.pwabuilder.com/demo/web_shortcuts

[2020-07-14 22:45] DreadKnight opened #1700 "improve Lighthouse score"
Should improve Lighthouse scoring, by performing various tweaks to improve speed/accessibility and such.

In Chrome, press `Ctrl+Shift+J` and go to Lighthouse tab and generate report.

[2020-07-14 23:25] DreadKnight opened #1701 "allow for installation"
Should meet all the criterias to have the game installable as a progressive web app, bigger icon currently missing from the manifest.
https://web.dev/progressive-web-apps/#installable

[2020-07-14 23:54] DreadKnight commented on #1701
**Might** need to use this plugin for the favicons https://github.com/jantimon/favicons-webpack-plugin

[2020-07-15 00:51] DreadKnight commented on #1701
I've added an image but can't access it directly from assets folder, I might be confused about the whole workflow set-up, sigh...

[2020-07-15 01:35] DreadKnight commented on #1231
I've updated the game log for this with a proper one. Issue is up for taking!

[2020-07-15 01:38] DreadKnight opened #1702 "fit game in fullscreen mode on mobile"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1702)

When the game is fullscreen on mobile, the game canvas is not properly rescaled to fit the screen, making it unplayable while so.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $0.00)

#### [Beco

[2020-07-15 13:16] #1701 closed

[2020-07-17 23:40] #1115 closed

[2020-07-20 12:32] rianconley commented on #1616
@DreadKnight , good news, the multiplayer feature is ready for review here http://104.248.54.134/ab/deploy/. You can test it by registering  in different browsers. Currently the max amount of players for a match is only two. I'm still working on getting four total players per match for four player mode.

Some of the UI is probably different than what is outlined  in the UI ticket. I tried my best

[2020-07-20 12:58] DreadKnight commented on #1616
@rianconley I've noticed from your branch that you're making progress. Tried your deployment above but the register/login buttons don't seem to do anything, so I can't pass that screen...

[2020-07-20 13:05] rianconley commented on #1616
Looks like I had to start the nakama server. Not sure why it keeps stopping when inactive( I'll look into it). It should work now.

[2020-07-20 15:47] DreadKnight commented on #1616
Well, it doesn't seem to work. Same issues as before... :(

[2020-07-20 21:33] rianconley commented on #1616
Hey @DreadKnight sorry about that. The server was stopping everytime I logged out of the shell. I set it so it should always be running. Please try again?

[2020-07-20 21:46] DreadKnight commented on #1616
It works now. I've joined an already existing game and also made another one. Playing vs myself as well soon :3

[2020-07-20 21:52] DreadKnight commented on #1616
Tried vs myself as well, it seems to sort of get stuck, anyway, can't see games anymore so that I can join them, hmm...

[2020-07-20 22:26] rianconley commented on #1616
Some unfinished code made it to the server. It should be working now.

[2020-07-20 23:12] DreadKnight commented on #1616
It works pretty well. Managed to break it at some point though. Anyway, pretty exciting stuff so far :)

[2020-07-21 05:07] AT1452 commented on #1686
Is this up for grabs? I could add in the sound real quick!

[2020-07-21 09:10] DreadKnight commented on #1686
@AT1452 Sure thing, go ahead! There are quite a few issues like this as we've made quite a bit of SFX, but didn't knew how to implement them myself and nobody else did so far.

[2020-07-21 10:12] DreadKnight commented on #1691
This easy issue is up for taking once again. Feel free to simply create a PR!

[2020-07-21 10:46] DreadKnight opened #1705 "1vs1 duel for Ethereum"
Since this a non-chance eSport, should allow players to fight each other for crypto, allowing the best players to become pros.
Ethereum should be the easiest crypto to be used for this, since it allows for smart contracts. Depends on #1617 #1616 issues.

More details about the flow and links in the wiki https://github.com/FreezingMoon/AncientBeast/wiki/Multiplayer#duel

[2020-07-21 10:53] DreadKnight opened #1706 "project's own token"
When the game will have plenty of online players #1617 , especially ones that are dueling #1705 , it will make sense to have our own crypto based on Ethereum. This might come in very handy for doing so https://github.com/trufflesuite/ganache

Will need to figure out name and a symbol.

[2020-07-21 12:09] rianconley commented on #1616
I'm glad it's working for the most part. I also noticed some issues that pop up that break the turn switches.  Not sure exactly what's causing them. I'll have to do some more debugging.

[2020-07-21 13:52] DreadKnight commented on #1616
Indeed, I couldn't reproduce specific ones so far and the console errors weren't very helpful at all. Hopefully will manage to play vs people soon and actually report more bugs.

I've also looked into [Colyseus](https://colyseus.io) a bit more lately and it *might* have been a nice multiplayer engine choice, as it has nice documentation, 1 click Heroku set-up for development and focuses more on TS

[2020-07-21 14:56] rianconley commented on #1616
I'll look into creating console logs that will identify where the gameplay is breaking.

Colyseus looks interesting. The TS feature definitely looks appealing although the lack of several important features like user management ( no database ) could be problematic; we'd have to find another db solution.  I agree it doesn't make sense at this point since the multiplayer component is close to being

[2020-07-21 15:14] rianconley commented on #1616
Also regarding Heroku, I'm not totally convinced that it can't support Nakama despite what the initial research told me. I think there may be a workaround. I can try looking into this further if you'd prefer to use Heroku

[2020-07-21 15:35] DreadKnight commented on #1616
Good, that should prove in very useful in the long run.

Yeah, I've noticed that it's rather low on the user management side, but that's not necessarily a bad thing, as it allows us more freedom, allowing for stuff that I envisioned before: playing without account or integrating web3 decentralized type of accounts, such as 3box.io and others (thing that nakama would be worse at implementing since

[2020-07-21 15:56] rianconley commented on #1616
It's ultimately your project so It's up to you whether you want to use a different server. I'm biased only because I put in a lot of work  to build out the nakama feature. I would rather know sooner than later if it's worth completing. If you want to use another server, then any additional work to iron out the bugs doesn't make sense.

[2020-07-21 16:39] DreadKnight commented on #1616
I wasn't very aware of Colyseus up until recently. Been always planning on p2p / decentralization in the long run, so the only main advantage I was seeing for Nakama for now was security, but since you went the p2p route anyway, that pushed things already in the proper direction. And the server being mostly Go language was rather strange to me in the long run for many reasons...

I've been having

[2020-07-21 16:49] rianconley commented on #1616
Okay, I'm going to hold off doing any more work on Nakama. Instead of opening a new issue you're going to update the specs on this one which means you're not going to pay me the bounty, correct?

[2020-07-21 18:02] rianconley commented on #1616
@DreadKnight , sorry, don't mean to be dramatic with my last comment. I just don't like seeing my efforts wasted, or not valued. As I said in my last comment, I need to figure out if this something I have the time and commitment for. You probably can see, once I'm in I'm usually all in unless something happens.

[2020-07-21 18:21] DreadKnight commented on #1616
@rianconley No worries, all good. I understand your point of view, hence why ballparking this out in the open. I've thought about it more and decided how to proceed: we continue with Nakama implementation for now, but barebones (meaning less work for you), just the strictly necessary stuff to be able to play a match (I like how you avoided having a lobby for example by buffing the match listing in

[2020-07-21 18:56] rianconley commented on #1616
@DreadKnight, sounds like a solid plan. Thanks for coming up with this.

[2020-07-22 17:58] rianconley commented on #1616
Hi @DreadKnight , I think I understand what's causing the issue causing the multiplayer to break. Not sure if it's a pre-existing bug or not so you'll need to clarify:

It happens when summoning creatures. Some of them got to the top of the order within each round while some got to the back. For example, when I summon nightmare or headless they go to the back of the  array while others like uncle

[2020-07-22 18:29] DreadKnight commented on #1616
@rianconley Will explain the concepts that deal with how creatures get sorted in the queue:
- newly materialized creatures are fatigued, so they never act during the current round
- units are placed in the queue based on their initiative stat, the more = the faster the unit acts
- a currently active unit can delay its turn if it didn't do anything actively and it's not last one in the current roun

[2020-07-31 20:19] DreadKnight commented on #1702
Duplicate of #673

[2020-07-31 20:19] #1702 closed

[2020-07-31 20:23] #673 closed

[2020-08-02 03:03] DreadKnight commented on #1691
Fixed in #1708

[2020-08-02 03:03] #1691 closed

[2020-08-02 03:05] DreadKnight opened #1710 "don't display locked cards transparent"
The left side cards for locked units shouldn't not display transparent (during gameplay, inside dash screen).
![transp](https://user-images.githubusercontent.com/587487/90496219-3ae4e700-e14e-11ea-8560-08fbe8a5d4ef.jpg)

[2020-08-02 03:11] DreadKnight opened #1711 "locked cards = locked cursor and button"
Hovering over left side cards of locked unit and the big button under the cards should turn the cursor to locked state.

[2020-08-02 03:20] DreadKnight opened #1712 "Stomper's passive ability"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1712)

Passive ability for Stomper, part of #1462 meta.

This unit becomes more durable as it gains one bonus defense every round.
Maximum defense bonus capped at 40.
Upgrade: Two when no damage taken.

The cap is just this bonus, not uni

[2020-08-02 03:21] DreadKnight opened #1713 "Stomper's attack"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1713)

Attack ability for Stomper, part of #1462 meta.

Deals damage to an inline or diagonal target that's distant up to 3 hexagons.
14 crush + 14 sonic damage on strike.
Upgrade: Attack can now bypass stuff.

The attack has a bit of ran

[2020-08-02 03:22] DreadKnight opened #1714 "Stomper's primary ability"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%244%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1714)

Ultimate for Stomper, part of #1462 meta.

Stampedes over a row of units until space is found or is brutally created.
10 crush damage to every hexagon.
Upgrade: Only stops at destination.

Stomper will start bouncing over nearby in

[2020-08-02 03:24] DreadKnight opened #1715 "Stomper's ultimate ability"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%243%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1715)

Ability for Stomper, part of #1462 meta.

Smashes front limbs into the ground, delaying all units over the area ahead.
Delays units over all 8 hexagons area.
Upgrade: Delayed units will skip turn.

This is kinda like Infernal's Int

[2020-08-02 03:29] DreadKnight commented on #1462
Since this dragged for way longer than the extended deadline,  I'm trying a new approach that will hopefully work better for coding new units, so I've split this into different issues (plus rewards), for each ability, to make things way more modular and approachable.

[2020-08-02 03:50] DreadKnight opened #1716 "hide fullscreen button where useless"
The in-game fullscreen button is not able to leave that mode in some scenarios, displaying an error about using F11, like when used as a PWA on mobile. Should rather hide that button altogether in such cases.

[2020-08-04 11:22] rianconley commented on #1616
@DreadKnight ,

I think I got the turns working with the queue now. Thanks for clarifying how the games concepts.

Some other things I updated:

-  The audio button is now clickable when it isn't the user turn.
- When opponent disconnects from match, game will reset. A better solution may come later if need be.

You can view the current state at http://104.248.54.134/ab/deploy/.

[2020-08-04 12:29] DreadKnight commented on #1088
Issue up for taking once again. PR's welcome!

[2020-08-04 13:01] DreadKnight commented on #1616
@rianconley That's good news. I've tested it a bit myself, seems to break if I sort of go idle for a while.
Gonna see about some light testing with volunteers pretty soon, I've sent a mass msg on Discord about it.
Regarding other issues, non-brainstorm and non-assigned ones from next milestone are the higher focus:
https://github.com/FreezingMoon/AncientBeast/issues?q=is%3Aopen+is%3Aissue+mileston

[2020-08-04 13:11] DreadKnight commented on #1616
@rianconley And here's some feedback for this if it wasn't obvious, as you reminded me with the audio button related patching:
During online multiplayer gameplay, the right side of the interface is for the logged in player only, so the upper right corner stuff shouldn't switch around between active players. This will also make this type of testing on the same machine a bit less confusing.

[2020-08-05 01:26] DreadKnight commented on #1616
Also, please move that "Push START Button" outside that div as it is in https://beta.ancientbeast.com - looks way better that way.

[2020-08-05 13:03] rianconley commented on #1616
@DreadKnight, sorry, can you clarify? Do you mean the audio, skip turn, delay and flee button, and user info(upper right) are  for logged in users only? As opposed to not being logged in these buttons would disappear?

[2020-08-05 13:42] DreadKnight commented on #1616
@rianconley They're always show up, but upper right icon is always about the logged in player. Stuff like skip/delay/surrender get disable accordingly when not the player's turn and so on.

[2020-08-05 13:58] DreadKnight opened #1719 "Stomper cardboard needs polishing"
Stomper's placeholder cardboard artwork looks bad, having jagged edges overall and lacking shadow, should improve this a bit.

[2020-08-05 14:13] DreadKnight opened #1720 "disable upgrade event when upgrades are enabled"
When the game has ability upgrades enabled, there shouldn't be any ability upgrade events going on, so no flashing of that upgrade icon and no sound notification, because it gets very tedious fast.

[2020-08-05 14:16] rianconley commented on #1616
Gotcha, should be a matter of just reverting some code since it wasn't obvious to me. I'll also move the start button outside the div.

[2020-08-05 15:13] DreadKnight commented on #1713
@BLBLBI I've made this one more interesting, should be easy to understand and implement.

[2020-08-05 15:14] DreadKnight commented on #1715
Decreased the range quite a bit for this, so keep that in mind @BLBLBI

[2020-08-05 15:17] DreadKnight opened #1721 "camera shaking events"
Some abilities will use Phaser's camera shaking event when being used, extending on #1692
They should properly use various intensity levels (usually depending on the creature's size/level and ability) and directions, as the class allows, to properly support/empower those actions.

Low amount:
- Gumble's Gummy Mallet
- Toxic Shroom's Cap Knock [not playable atm]
- Uncle Fungus when landing after Fr

[2020-08-06 04:48] DreadKnight opened #1722 "revamped Electrified Hair"
Impaler's Electrified Hair passive needs to get revamped, as it's quite strange right now, making unit very OP versus Dark Priests:
It should ensure successful meditation, even if fatigued, while the upgrade would actually double meditation when not fatigued.

[2020-08-06 04:54] DreadKnight commented on #1722
This would also put an end to a semi nasty exploit with the ultimate, as Impaler would pretty much be able to fixate and spam a single target, as Chain Lightning would arch back and refill part of the energy cost back, which should encourage using it properly.

[2020-08-06 05:35] DreadKnight commented on #1713
Tweaked damages and energy costs, committing data.json update soon myself, but needs to be hardcoded in ability file as well :P

[2020-08-06 05:47] DreadKnight commented on #1715
Tweaked description a bit to better reflect the unit and also the energy cost. This is now the new ultimate!

[2020-08-06 05:48] DreadKnight commented on #1714
This is not the ultimate anymore, but the ability before it. I've revamped it quite a bit to make it more interesting, having more potential, as well as compensating for the lack of overall mobility (having rather low movement points).

[2020-08-06 05:59] DreadKnight opened #1723 "no energy cost update on cards for locked units"
In-game, when in dash, clicking on a locked unit doesn't update the energy costs for the active abilities, showing the values from the last clicked playable unit.

[2020-08-06 06:12] DreadKnight commented on #1665
Duplicate of #1723

[2020-08-06 06:12] #1665 closed

[2020-08-07 02:25] thePlebDev commented on #1723
if this is still up for grabs. I would like to work on it(im bigdogtrist) thank you!!!!!!!!!!

[2020-08-07 02:53] DreadKnight commented on #1723
@thePlebDev Sure thing, go for it, I've assigned you, one week deadline xD

[2020-08-08 02:33] DreadKnight opened #1724 "unit cards update redundancy"
When it comes to creating (fetching data and populating it in the cards template) and updating the cards in the dash view, there's quite a bit of code duplication, which seems like redundancy to me and should probably be avoided as it's usually bad coding.

https://github.com/FreezingMoon/AncientBeast/blob/master/src/ui/interface.js#L916 (populating the card with data)
https://github.com/FreezingM

[2020-08-09 05:04] DreadKnight commented on #1233
I've revamped this issue, making it more generic, targeting all the special case abilities that will actually require this.

[2020-08-09 05:09] DreadKnight commented on #1721
I've revamped this to be more generic and include all special case abilities that will trigger camera shaking.

[2020-08-09 05:28] DreadKnight commented on #1724
How this was coded also causes a lot of bugs or even discrepancies between playable and locked unit cards.

[2020-08-09 05:32] DreadKnight opened #1725 "card A hexagon consistency"
The card A should have some consistency when displaying unit hexagon size for locked and playable units, as the first displays old "H" mode, while the other one shows a hexagon instead along the number. Ideally they'll both do it like this: show one or more hexagons, without the number, that are nicely centered vertically in the colored info box. Should also keep issue #1724 in mind.

[2020-08-09 06:27] DreadKnight opened #1726 "show animated icons easier"
When hovering around unit card stats/masteries icons dark box, the icons should switch to the gif animated version for easier view.

[2020-08-09 06:30] DreadKnight opened #1727 "hover specific ability field"
Hovering one of the abilities in dash view, card B, should make the background black for it, for increased contrast and evidentiation.

[2020-08-09 07:12] DreadKnight opened #1728 "suggest proper orientation for mobile devices"
When viewing the game on a mobile device in portrait mode, since game is landscape, we should display notification about rotating the device along with icon `assets/icons/rotate.svg`.

This should probably be displayed on and off using css media queries based on screen aspect ratio.

[2020-08-09 07:14] DreadKnight commented on #1728
Note that this is not the same as issue #1530 - which will basically add extra useful but optional functionality.

[2020-08-09 07:36] DreadKnight opened #1729 "mobile devices portrait orientation optimized gameplay view mode"
This is a total alternative for issue #1530 allowing playing on smaller screen devices easier, by zooming the combat field to be full height, being able to pan around by swiping (thought a bit risky perhaps) and ideally by moving the phone around (like AR/VR).

The top unit queue could be kept stable, as well as the combat log/chat at the bottom, but the left and right side icons would perhaps nee

[2020-08-09 08:20] DreadKnight commented on #1706
So instead of calling it `Beast/s` like Aeon Firebrand suggested on Discord, as it might create some confusion, we could actually call it `Plasma`, basically creating a connection with the in-game resource used for unit materialization and Dark Priest shielding (etc), becoming one and the same for the online multiplayer mode, which will make things interesting in some ways and problematic in other

[2020-08-09 12:32] DreadKnight opened #1730 "go big, don't go home"
The Fullscreen button should be displayed instead of the `Flee match` one, less UI overlap for mobile phones when in portrait mode.

[2020-08-09 12:33] #1551 closed

[2020-08-09 21:39] #1176 closed

[2020-08-09 21:43] DreadKnight opened #1732 "build fails linting check"
Build linting fails for some time now, here's a sample https://github.com/FreezingMoon/AncientBeast/runs/964518188

[2020-08-09 23:11] TheGuardianWolf commented on #1732
As a sidenote, the fix here is to make eslint recognise that it's a dynamic import being used rather than a static one.

[2020-08-10 09:16] DreadKnight commented on #1729
An approach similar to this would have been interesting https://rotoview.com - anyway this mode is silly and problematic.

[2020-08-10 09:31] DreadKnight opened #1733 "Democracy Lab listing"
Should list the project on [Democracy Lab](https://democracylab.org) in order to hopefully find more contributors and fans.

[2020-08-10 09:32] DreadKnight opened #1734 "Casting Call listing"
Should list the project on [Casting Call](http://castingcall.club) in order to hopefully find more contributors and fans.

[2020-08-11 05:05] DreadKnight commented on #1662
Gonna follow a less-buttons approach in in overlay screens, relying more on scrolling/panning and at some point device tilting.
This is so that the screens are less scary at first glance, simplicity ftw and allowing the UI to also adapt easier for portrait mode.

[2020-08-11 05:20] DreadKnight opened #1735 "table view adaptive to mobile portrait mode orientation"
When mobile and in portrait mode, the table view should have the column with unit portrait emojis, having it float as you pan around to various parts of the table, same goes for the table's header. This depends on issue #1663 to be implemented first.

[2020-08-11 07:23] DreadKnight opened #1736 "optimize avatars into sprite sheets"
The unit avatars could be merged at build into a sprite sheet, which would be square, supporting all 3 unit sets + other units, such as player coded Dark Priests on a different square. This way might avoid bugs like #1655 and most importantly, speed up loading.

[2020-08-11 07:31] DreadKnight opened #1737 "stats/masteries table sorting"
Clicking on any of the header's icons should change the sorting ascending, descending and then switching back to alphabetical.

[2020-08-11 07:35] DreadKnight commented on #1615
As requested and needed, I've created a new label for issues called `input` that deals with hotkeys, input devices and accessibility.

[2020-08-11 07:35] #1615 closed

[2020-08-11 07:36] DreadKnight commented on #1615
https://github.com/FreezingMoon/AncientBeast/labels/input

[2020-08-11 08:50] DreadKnight opened #1738 "generated shadows for units"
The unit cardboards shouldn't have baked in shadows, but those should be generated by the game instead by using the cardboards.

Need to figure out decent starting parameters and all current unit cardboards would need to be cleaned up of the old shadows.

Parameters:
- opacity x
- scale x
- skew x

[2020-08-11 14:07] DreadKnight commented on #1730
This is during matches, not in the pre-match screen etc. (but might move around the fullscreen button from that screen as well soon)

[2020-08-11 14:10] #1662 closed

[2020-08-13 08:36] DreadKnight commented on #1652
So, this is not integrated more into server's settings, also providing guidelines, requirements and more benefits. I've checked some things off the list already since I've bumped into this earlier today. Only stuff left is to reach 10k members (but they might lower that number soon) and a bit more activity. We're at about 350 members atm, so whoever wants to help out with this and growing the comm

[2020-08-14 20:55] Strahlend commented on #1712
I am new to contributing to open source and have little development experience but I would like to try to help with this.

[2020-08-14 22:58] DreadKnight commented on #1723
@thePlebDev Deadline passed. What's your status on this? Otherwise I might release it, whatever gets this a fix.

[2020-08-15 12:45] rianconley commented on #1616
@DreadKnight , just want to give you an update: the top right UI for the user stats is now for only the active user. It no longer switches between players. I also moved the start button outside.

[2020-08-15 12:56] #1727 closed

[2020-08-16 05:05] DreadKnight opened #1740 "Vehemoth's passive ability"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1740)

Part of meta issue #575

The Vehemoth becomes stronger when foes and allies are also using sloth units.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $2.00)

- [<img src='https://avatars0.github

[2020-08-16 05:29] DreadKnight opened #1741 "Vehemoth's basic ability"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1741)

Part of meta issue #575

Attacking a unit that's 39hp or less will kill it, basically doing pure damage to it, so that stats/masteries and other resistances won't be taken into account.

When this is upgraded, the ability will be t

[2020-08-16 05:35] DreadKnight opened #1742 "Vehemoth's primary ability"
Part of meta issue #575

Unable to do any frost damage to targets that have a higher frost mastery than him.
"Frozen" status is an already existing status, also used by Snow Bunny's Chilling Spit, when upgraded and used at melee range.

[2020-08-16 05:41] DreadKnight opened #1743 "Vehemoth's ultimate ability"
Part of meta issue #575

This ability is devastating against lower level units: up to 12 pierce and 18 frost damage will be granted as bonus if hitting a level 1 target. The upgrade makes things even worse for lower level enemies.
Attacking another level 7 unit will give you a 0 damage bonus, while attacking a level 6 unit will give you a total of 5 points of damage (3 frost + 2 pierce).
This abil

[2020-08-16 20:16] leopoldwe commented on #1231
Can I be assigned this issue?

[2020-08-16 20:19] DreadKnight commented on #1231
@leopoldwe Done, you have a week deadline to tinker at it. Good luck and don't forget to :star: the project and feel free to join us on Discord if you wish, we have coding related channel over there https://discord.gg/kvrnvx (invite expires in 1 day)

[2020-08-16 22:09] rianconley commented on #1616
Hey @DreadKnight , the upper right stats box now should only show the logged in user's stats. I also moved the start button outside the pre-match settings div.

[2020-08-16 22:52] DreadKnight commented on #1616
@rianconley Good. Anything else major left to be done on this btw? There will be plenty of small UI tweaks that I'll open to be fixed by whoever wishes to pitch in, even before the supposed migration to Collyseus, as they'll still be valid even after.
I've played a quick match and managed to finalize it this time without any freezes, which is very promising :+1:

[2020-08-17 11:14] rianconley commented on #1616
@DreadKnight , the only remaining thing should be getting  matches that allow 4 players. It should be working but getting four browsers running simultaneously is a pain. I'll test it out this week when I have a chance.

[2020-08-17 13:01] DreadKnight commented on #1616
@rianconley Understood, well, that's sort of low priority imo, can be added later, the button could just be disabled from now in pre-match settings if that mode is too much work. Feel free to make a PR soon for all this, along with db instructions and such.

[2020-08-18 07:46] DreadKnight opened #1745 "Fiery Claw speed and hit location consistency"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1745)

Having 2 Abolished back to back using Fiery Claw, I've noticed that one hits the first hexagon, while other the last and also the speed of the fireball projectile differ, slow vs fast. There should be consistency between them, havi

[2020-08-18 08:45] DreadKnight opened #1746 "flee match button"
The Score screen (upper right or Shift+S) should contain a button allowing the player to flee the match after first 12 rounds while match still not being over. This goes in perfect synergy with issue #1730

[2020-08-18 09:04] DreadKnight commented on #903
Sharing won't be needed as the website will be cannibalized by the game itself in v0.5

[2020-08-18 09:08] DreadKnight commented on #746
We removed blinking altogether a while ago, so this issue is irrelevant now.

[2020-08-18 09:08] #746 closed

[2020-08-18 09:30] DreadKnight commented on #953
Duplicate of #1042

[2020-08-18 09:30] #953 closed

[2020-08-18 09:53] DreadKnight commented on #186
There's no longer dimmed icons as we actually got rid of the blinking effect altogether for a while now.

[2020-08-18 09:53] #186 closed

[2020-08-18 09:56] DreadKnight commented on #787
He was renamed to Cyber Wolf a while ago, though audio not updated for many creatures as well, but we'll go with individual VA.

[2020-08-18 09:56] #787 closed

[2020-08-18 10:41] DreadKnight commented on #602
This could be a specialization type of skill when we'll be expanding the game, providing bonuses, while other units will drop the count.

[2020-08-18 13:02] DreadKnight opened #1748 "rock genre original sound tracks"
There should be an alternative playlist for the game with rock music (probably no vocals at all or next to none).
We'll need at least 5 good rock type of tracks to get things going with this.

[2020-08-18 13:03] DreadKnight opened #1749 "toggle music genres in audio view"
The audio interface (Shift + A) should have tag buttons for `epic` and `rock` that you can activate, making such tracks to be included/excluded from the playlist. Only the `epic` list should be turned on by default. This depends on issue #1748 overall.

[2020-08-18 13:05] DreadKnight commented on #1749
Should also document this somewhere, though the website is to be cannibalized by the game, so might include this kind of stuff in the wiki, which is way easier to deal with overall regarding updates and such https://ancientbeast.com/contribute/#audio

[2020-08-18 13:05] DreadKnight commented on #1748
Should also document this genre somewhere, though the website is to be cannibalized by the game, so might include this kind of stuff in the wiki, which is way easier to deal with overall regarding updates and such https://ancientbeast.com/contribute/#audio

[2020-08-18 13:18] DreadKnight commented on #1551
This won't happen, also the free match button will get a bit more hidden, having that action available in the score screen.

[2020-08-18 14:27] #1710 closed

[2020-08-18 18:40] isbur commented on #1743
I see several ways to approach this issue:
1. Add a preparation farrier For this skill

[2020-08-18 19:30] DreadKnight commented on #1743
@isbur I only see one point which is rather confusing anyway xD

[2020-08-19 10:29] #1726 closed

[2020-08-19 22:03] #1231 closed

[2020-08-20 13:27] isbur commented on #1743
@DreadKnight

Sorry, I started to type this from phone with broken screen and it seems like I accidentally pressed "Comment" button.

[2020-08-20 13:55] DreadKnight commented on #1743
@isbur Thought you might have encountered technical issues. Well, I was hoping you're talking on how to approach this coding wise, because this is not an issue up for `brainstorm` anymore, has bounty and it's pending coding. If you're talking mechanics, see `ability` combined with `brainstorm`, also feel free to drop by our Discord, https://discord.gg/KsbGap Anyway, thanks for your input:

1. It's

[2020-08-22 14:34] DreadKnight opened #1752 "big button shouldn't inherit transparency"
The big button from under unit cards in the dash view becomes 50% transparent during Dark Priest's turn after he materializes an unit, as the button inherits the the opacity change from the `Godlet Printer` ability's already used status.

[2020-08-22 14:52] DreadKnight opened #1753 "score screen not properly visible on mobile"
The score screen is not properly visible on mobile devices in landscape mode, should probably remove the header text or even rescale the table text down just for phones.

[2020-08-25 01:43] DreadKnight commented on #1732
@ktiedt Hmm, I see, hopefully I got this fixed in https://github.com/FreezingMoon/AncientBeast/commit/044bad56ecb3aeb4476361c68a1815fa79bf5b9f, will find out soon...

[2020-08-25 01:55] DreadKnight commented on #1732
Some other error now

[2020-08-26 03:14] DreadKnight commented on #1475
Related to issue #997

[2020-08-26 03:14] #1475 closed

[2020-08-29 00:41] leopoldwe commented on #1745
Can I be assigned this issue?

[2020-08-29 00:48] DreadKnight commented on #1745
@leopoldwe Done, 2 weeks deadline. Have fun with it! :D

[2020-08-29 00:48] DreadKnight commented on #1745
Also, feel free to join us on Discord, we have a coding lodge channel https://discord.gg/gQvZuuC

[2020-08-29 08:37] Ryuuko commented on #1753
Hi! Can I help with it? ・◡・

[2020-08-29 08:48] DreadKnight commented on #1753
@Ryuuko Sure, go ahead. Will assign you to it for 2 weeks. We got a Discord server btw, https://discord.me/AncientBeast feel free to drop by.

[2020-08-29 08:53] DreadKnight commented on #1753
I've tweaked description to be more clear. Don't forget to ⭐ the project ^_^

[2020-08-30 16:12] Ryuuko commented on #1753
Hi Dread Knight @DreadKnight !

I come up with the solution I guess, but not sure which is better.

The first one simply add codes in media query in the style.less ("scale down" as you've suggested):
[code]
The result will be like this:

2vs2:
![image](https://user-images.githubusercontent.com/25223617/91663392-cc5a3e80-eae8-11ea-8e91-afd8fbf88ba7.png)
4vs4:
![image](https://user-images.githubuser

[2020-08-30 23:58] DreadKnight commented on #1753
There's no such thing as 4vs4 :P

Regarding the first try, the close button should have stayed in the corner, where it belongs.

I've thought as well about making the table horizontally oriented, but each row should fit properly, so there are two approaches:
- either stack the header words like this guy did here https://github.com/FreezingMoon/AncientBeast/pull/1717
- or we could try going for emo

[2020-08-31 10:49] Ryuuko commented on #1753
I don't how I come up with the term 4vs4 .______."

emmmmm, just to make sure some my understanding in order to make us on the same page:

1. When you refer to header word or header title, you mean "Players", "First blood" and so on?

2. I've read the post about the first approach, but it's still confusing to me. If we stack the header together, the first try or the original one should have done t

[2020-08-31 11:03] DreadKnight commented on #1753
1. Yes, tables have headers like that, naming the purpose of columns and/or even rows.
2. Stacking of longer names to make sure the horizontal approach has nice fitting rows.
3. Table headers stuff = emoji icons; the table content itself will display score numbers

[2020-08-31 12:56] Ryuuko commented on #1753
2.  I kind of got what u mean...
Instead of:

| First Blood | Kill |
| ------------- | ------------- |

You expect to have:
| First <br> Blood | Kill |
| ------------- | ------------- |

So that the table can display all the header in only one line three rows, instead of two lines like above:
![image](https://user-images.githubusercontent.com/25223617/91721221-b4da8e80-eb98-11ea-952f-a29213045dad.

[2020-08-31 13:49] DreadKnight commented on #1753
You understood the number 2 point.

Regarding number 3, I said the emojies would be like 🩸in the table header for columns instead of showing "First blood", that text would be displayed on hover only. The cells will get the score numbers in them :P
There are some of them that kinda act like radio type of buttons, only scoring a certain player achieving that, like in the case of 🩸.

[2020-08-31 20:45] Ryuuko commented on #1753
Sorry if I'm being too wordy since it's my first open-source participation and I want to make sure I'm doing right (＠_＠;)

I see what you mean....the second thought should be like：

Player | 🩸|💀|⛓️|👶|⚰|💥|🍒|⏰|🐔|💓|🦇|🎖|💯|
-- | -- |-- | -- |-- | -- |-- | -- |-- | -- |-- | -- |-- | -- |
Player1 | 1 | 1 |-- | -- |-- | -- |-- | -- |-- | -- |-- | -- |1|

And hovering above the emoji will display the text

[2020-08-31 21:22] DreadKnight commented on #1753
@Ryuuko No worries. I really love it when the project gathers first time contributors actually :)

Yeah, table looks about right. That score logic was stuff I was explaining regarding radio buttons is under the hood mechanics  already implemented, no need to worry about it. We're just poking at visuals here.

Would be cool if you would implement this, as it's more visual and makes sense fast.
Will

[2020-09-01 14:41] Ryuuko commented on #1753
okidoki, I'll see how far I can goヽ(✿ﾟ▽ﾟ)ノ

[2020-09-04 00:25] #1745 closed

[2020-09-04 23:53] DreadKnight commented on #1745
@leopoldwe Don't forget to :star: the project and also claim your bounty :dollar: . Looking forward to more PRs :+1:

[2020-09-11 19:53] Ryuuko commented on #1753
@DreadKnight Sorry I'm kind of busy for a week, I hope you don't mind if I complete the stuffs in few days later. Because tomorrow will be the "deadline" of this assignment as you said "for two weeks" and I'm afraid I can't finish on time. (つд⊂)

[2020-09-11 19:56] DreadKnight commented on #1753
@Ryuuko Alrighty, thanks for the update. Seems most people a tad more busy than usual because of summer ending :P

[2020-09-22 03:15] DreadKnight opened #1756 "enhanced unit drops and inventory"
The current drops are quite boring overall. Even if increasing and diversifying their stats, they'll still be rather dull and only serve fast units or front line tanks, which will sometimes be a redundant as they might not really need the specific stats.

Instead of being instantly consumed, they could be thrown to the top of the screen, where an inventory will reside.
Most, if not all drops would

[2020-09-25 13:46] #1752 closed

[2020-09-25 23:47] leopoldwe commented on #1621
Can I be assigned this issue?

[2020-09-26 00:50] DreadKnight commented on #1621
@leopoldwe Sure thing, 2 weeks deadline for this. Good luck!

[2020-09-26 15:28] DreadKnight commented on #1588
Got rejected, no reason to why yet. So this might take longer, if at all... might just forget about it and focus on other sources.

[2020-09-27 18:01] rianconley commented on #1616
@DreadKnight , I disabled the 2vs 2 mode. I'm currently looking at an env build of  Heroku and docker. I think this might work. More to come soon.

[2020-09-27 18:12] DreadKnight commented on #1616
@rianconley Understood, thanks for the update. Google Cloud is probably also viable, though less expensive but probably also more confusing, as it's more complex UI/UX wise, it has a hosting component called App Engine https://cloud.google.com/appengine
It's probably way better compared to Heroku in the long run, but migration could be done later, as everything happens in stages.

[2020-09-27 19:19] Cassiopeia19 commented on #27
is this issue still accepting pull requests?

[2020-09-28 21:57] #1621 closed

[2020-09-30 09:48] DreadKnight commented on #1652
I've applied today for Discord's verification, as they opened it up officially https://discord.com/verification

[2020-10-01 15:11] devcer commented on #1732
I would like to work on this. Can you assign this to me?

[2020-10-01 15:17] DreadKnight commented on #1732
@devcer Cool, happy hacktober! Sure thing, I'm so annoyed by this issue was considering moving to buddy.works once again xD

[2020-10-01 15:47] DreadKnight opened #1759 "Cock Shirt creature"
For the next Pride unit set, we should have a rooster that's wearing a shirt, revealing some of its chest feathers from open buttons.
Should be quite colorful and full of arrogance and pride, fitting for the realm.
Probably a level 1 creature, occupying one hexagon. Will need to figure out abilities / icons, stats and drop.

[2020-10-01 22:14] elsazuckerman commented on #1730
Hi,
I'd like to give this a try.
It'll be my first ever open source contribution.

[2020-10-01 22:16] DreadKnight commented on #1730
@elsazuckerman Happy Hacktober! I've assigned you to this issue.
Always nice to see coders popping their cherry so to speak with this project. :cherries:

[2020-10-01 22:57] elsazuckerman commented on #1730
Just wondering, should the flee button be displayed somewhere else instead, or are we just getting rid of it?

[2020-10-01 23:02] DreadKnight commented on #1730
@elsazuckerman Good that you reminded me. It should probably be moved to the score screen (activated by the upper right corner icon) while the game is not finished. Could become a different type of button or retain shape and even be placed in a corner.

[2020-10-02 07:22] devcer commented on #1732
@DreadKnight I found only one lint issue. I believe It is also a bug too. Please review this -> https://github.com/FreezingMoon/AncientBeast/pull/1760

[2020-10-02 07:24] DreadKnight commented on #1732
@devcer Kinda seems legit. Will have to merge and see if it actually works I guess xD

[2020-10-02 07:24] #1732 closed

[2020-10-02 07:32] devcer commented on #1732
@DreadKnight I see one pipeline failed. Can you help me understand what it is? https://github.com/FreezingMoon/AncientBeast/runs/1197568643

Just curious. :D

[2020-10-02 07:39] DreadKnight commented on #1732
@devcer It's some stupid GitHub thing that displays a message in the repo for the newcomers.
I might just remove it because it's super annoying and badly implemented, as it tends to spam our Discord activity channel each time I tweak some GH issue a bit, as it's rebuilding the view page for it (it's like a caching mechanism).

[2020-10-02 08:34] DreadKnight commented on #1616
Seems there's a GitHub workflow action thingy to deploy a container thingy to Google Kubernetes Engine
Not sure how to link to it, this link may or may not work:
https://github.com/FreezingMoon/AncientBeast/new/master?filename=.github%2Fworkflows%2Fgoogle.yml&workflow_template=google

[2020-10-02 09:16] fakeharahman commented on #1746
Hey! I am new to open source. Can I try this issue?

[2020-10-02 09:18] DreadKnight commented on #1746
@fakeharahman Happy Hacktober! Sure thing, go for it, will assign you to it.

[2020-10-02 09:19] DreadKnight commented on #1730
There's the previously mentioned around issue #1746 exactly about that it seems; I forgot about it last night as I was in rush and tired.

[2020-10-02 13:05] rianconley commented on #1616
Interesting. I saw in the docs Heroku has a similar container registry which can be used for deployments using docker. I also found out  that posgres db engine can be used if cockroach db isn't available so there are options available with Heroku. I can look at GKE. Unfortunately, my day job is in crunch time now with an upcoming live release so my bandwidth is limited right during the week.  I sh

[2020-10-02 16:28] DreadKnight commented on #1746
@fakeharahman That's just the controller part. Most modern projects have a MVC approach, which stands for model-view-controller.
For the html part you would need to poke at `src/index.ejs` and there's also `src/style` to affect the look of the element.

[2020-10-03 21:35] TheSeally commented on #1711
Hello, can I take this issue?
And if you can please add screenshot for locked units and big button

[2020-10-03 21:45] DreadKnight commented on #1711
@TheSeally Heya! I've assigned you, there're all in the dash view, when you're trying to materialize (or when you right click a unit or left click an avatar).

[2020-10-04 08:44] #1711 closed

[2020-10-04 11:47] himankpathak commented on #1716
Hey @DreadKnight, how can we detect that we are on mobile in PWA?

[2020-10-04 11:50] fakeharahman commented on #1746
Hey @DreadKnight ! This is a silly question but I am not able to run the changes I make on my machine. I have tried `npm run build:dev`, `npm run start` and `npm run start:dev` but it isn't showing the changes I made. Could you please help me out here? Sorry to bother you!

[2020-10-04 12:04] DreadKnight commented on #1746
@fakeharahman So `npm run start` is out of the question for development usually, as it only runs what's already built/deployed.
In some cases, I think `npm run start:dev` won't cut it for some big structural changes, so it's best to exit that and try `npm run build:dev` and then `npm run start:dev` again. Some people don't get to see changes because they edit files from the `deploy` folder itself

[2020-10-04 12:11] DreadKnight commented on #1716
@himankpathak Would probably google "check if on mobile JavaScript" and end up with something like this https://dev.to/timhuang/a-simple-way-to-detect-if-browser-is-on-a-mobile-device-with-javascript-44j3
As a coder etc the search engine is your best friend. Keep in mind that PWA's are also usable on desktop.

[2020-10-04 12:17] DreadKnight commented on #1716
@himankpathak You would have to google, research and try solutions. It's your best friend as a developer and not only for that.
 A lot of seemingly issues are open around here because I don't have the knowledge, time or energy to tackle them all by myself.
I bumped into an article might it's about 2 years or so it's probably outdated https://www.xspdf.com/resolution/52695341.html

[2020-10-04 12:36] TheSeally commented on #1748
Hello. I want to help with this issue. I found some epic rock tracks. I want to hear your opinion about them
- https://www.realrocks.ru/songs/1589242
- https://www.realrocks.ru/songs/1285164
- http://ccmixter.org/files/XTaKeRuX/58769
- http://ccmixter.org/files/KarLos/58249
- http://ccmixter.org/files/cdk/50691

[2020-10-04 13:19] TheSeally opened #1762 "Queue unit icon drops too low when multiple clicks on board unit"
**Describe the bug**
If you click on unit on board multiple times the queue icon will drops too low in interface

**To Reproduce**
Steps to reproduce the behavior:
1. Click on unit on board multiple times
2. Look on queue

**Expected behavior**
The queue icon should drop for fixed distance

**Screenshots**
![image](https://user-images.githubusercontent.com/34841680/95016657-9e6e9980-0654-11eb-8f4f

[2020-10-04 13:20] TheSeally commented on #1762
@DreadKnight if you confirm this issue I would like to fix it

[2020-10-04 13:24] DreadKnight commented on #1748
Do note that this is meant for the next milestone and it will need another issue to deal with audio UI tweaks to have this into a separate non-default track at some point. But appareciate the help ahead of time regardless.

:confused: A bit rough at start, sounds pretty good overall, license also nice.
What I'm not too keen about is the whole russioning, I don't do cyrillic, so I'm not sure how I

[2020-10-04 13:31] DreadKnight commented on #1762
@TheSeally I'm aware of this, could be poked at but would still want multiple clicks to influence the drop rate, perhaps having that capped to something more sane.

[2020-10-04 13:36] TheSeally commented on #1762
May be limited this effect by the beginning of the board?

[2020-10-04 13:49] TheSeally commented on #956
Hello again :) I can try to fix it

[2020-10-04 13:55] TheSeally commented on #1748
So can I continue to searching tracks or is it better to postpone this problem?
I also interested in fixing #1749

[2020-10-04 13:59] DreadKnight commented on #1748
@TheSeally You can work on it just fine, though it was lower priority stuff, but if it gets done before and it's in good shape, there's no reason to postpone its release.

Yeah, that was the other issue I was talking about, had a feeling I already opened it :)

[2020-10-04 14:02] DreadKnight commented on #1762
@TheSeally Not exactly sure what you mean but you can make a PR for me to test out and give feedback on :)

[2020-10-04 14:06] DreadKnight commented on #956
@TheSeally Feel free to go for it, but make sure you don't spread too thin. Will assign you for a week :P

[2020-10-04 14:09] DreadKnight commented on #1749
@TheSeally Seems you have to comment on this so that I can actually assign you to it. System fail #workaround

[2020-10-04 14:15] TheSeally commented on #1749
I fix it after you approve rock tracks ☺️

[2020-10-04 14:19] DreadKnight commented on #1749
Ok, I've assigned you.

[2020-10-04 14:22] DreadKnight commented on #1748
First track got a thumbs up as well, it was the russian website confusing me, finally figured it was kinda like SoundCloud and noticed the artist/track names, which are in latin and should do overall, though track name contains 00 which should be the track number.
So that's 2 tracks out of 5, with 3rd one having potential to be included if converted to latin or translated into English if possible.

[2020-10-04 14:45] fakeharahman commented on #1746
Thanks a lot @DreadKnight ! It was a cache issue and its working after a hard refresh. I think the flee button would look nice at the right bottom. Is that ok with you or do you have some other place in mind?

[2020-10-04 14:49] DreadKnight commented on #1746
@fakeharahman Glad you sorted out the issue :) Was thinking the exact same if you want to reuse that nice square flag icon.
An alternative would be a text only button with a background, like the red ones used here https://ancientbeast.com but smaller.

[2020-10-04 14:51] fakeharahman commented on #1746
@DreadKnight I will try out both and implement the one that looks better!

[2020-10-04 14:55] DreadKnight commented on #1746
@fakeharahman Note that alternative version would probably go under the score table and would change text if the match is actually over :-)

For the icon/corner one we would have to change icon in same situation. https://game-icons.net/1x1/delapouite/exit-door.html

[2020-10-04 16:15] #1762 closed

[2020-10-04 18:39] rianconley commented on #1616
@DreadKnight , still trying to get Nakama's docker container to work in Heroku. I'm able to run Nakama process supposedly running but connecting it to cockroach db which is in another container isn't working . As I said before, trying to to get this to work on Heroku is way more complicated and convoluted than using a VPS that digital ocean or Google Compute Engine provides. Digital Ocean even has

[2020-10-04 19:15] DreadKnight commented on #1616
@rianconley Google Compute Engine or even Digital Ocean should be fine, if you finish this month you'll even get a t-shirt from them :D

[2020-10-04 19:20] rianconley commented on #1616
Hmm, well digital ocean server is already running with AB. This is where you've been testing the multiplayer.

[2020-10-04 21:23] rianconley commented on #1616
Should I go ahead and make a pull request? Wherever you decide to deploy it can be part of another task?

[2020-10-05 04:28] DreadKnight commented on #1616
Yes, go ahead, as I said before. Though for PR review would ideally need to get it hosted to try it out, so would go for any of those that work and *might* need some very basic guiding to smooth out the process I haven't used them before, otherwise docs/googling/youtube/communities are my friends.

[2020-10-05 09:56] pivovarnikj commented on #1720
Hi, I will try to look into this one.

[2020-10-05 10:17] DreadKnight commented on #1720
@pivovarnikj Heya, I've assigned you, deadline ~1 week. Good luck! :)

[2020-10-07 18:45] #1462 closed

[2020-10-07 18:46] DreadKnight commented on #1712
Implemented in PR #1718 by @BLBLBI

[2020-10-07 18:46] #1712 closed

[2020-10-07 18:47] DreadKnight commented on #1713
Implemented in PR #1718 by @BLBLBI

[2020-10-07 18:47] #1713 closed

[2020-10-07 18:47] DreadKnight commented on #1714
Implemented in PR #1718 by @BLBLBI

[2020-10-07 18:47] #1714 closed

[2020-10-07 18:47] DreadKnight commented on #1715
Implemented in PR #1718 by @BLBLBI

[2020-10-07 18:47] #1715 closed

[2020-10-08 16:44] ChengYuuu commented on #1723
Hi, Please assign this to me. I have a rough idea on how to fix this issue.

[2020-10-08 16:52] DreadKnight commented on #1723
@ChengYuuu Heya! Sure thing, though ideally this would be poked at a higher level, merging some code duplication as of #1724 while also fixing #1725 in the process.

[2020-10-08 16:59] #1723 closed

[2020-10-09 12:37] #1753 closed

[2020-10-10 12:39] rianconley commented on #1616
Allright @DreadKnight , pull request was made and the conflicts should be resolved.
I added an example .env file. When you decide on a provider, the variables will need to be updated accordingly.

I also added the docker compose file. This can be used for local set up.

[2020-10-10 12:53] DreadKnight commented on #1616
@rianconley Took a peek at it last night and it was a bit problematic with the pre-match, kinda squishing another recent PR.
So wanted to see if you would fix on your own and then provide you with feedback. Gonna test it out soon and see if that was solved, otherwise will suggest how the new multiplayer button should be handled in the pre-match screen between its modes.

Good there's a docker for

[2020-10-10 13:18] rianconley commented on #1616
Sounds good. Yeah, I noticed pre-match was messed up as well. I fixed all the issues that I saw.

[2020-10-10 13:28] rianconley commented on #1616
Looks like I spoke too soon. The discord link was removed somehow. I re-added the discord link.

[2020-10-10 16:01] ChengYuuu commented on #1741
Hi. Would like to try taking this issue up. Just a clarify a few things.

1. When non-upgraded, vehemoth will only be able to attack unit directly in front or behind it.
2. When upgraded, vehemoth will be able to attack unit (current movement points) in front or behind it.
3. When upgraded, vehemoth will **move up** to directly in front of the target then knock it back by the same amount?

[2020-10-10 16:18] DreadKnight commented on #1741
@ChengYuuu Heya!
1. All normal melee attacks work adjacent diagonally as well, check how any other already coded unit behaves. Note that medium and large units have some "dead zones" to the sides, as the attack comes from the front hexagon (or back, if turning around).
2. Indeed, because a range is not specified, so movement points will be used. It should work inline only, in order to avoid weird

[2020-10-10 23:40] TheSeally commented on #1748
What about taking some tracks of [XTaKeRuX] (https://freemusicarchive.org/music/XTaKeRuX)
You approved one of his song and I found few similar tracks in his albums. For example
-https://freemusicarchive.org/music/XTaKeRuX/XTaKeRuX/Free_will_possession_
-https://freemusicarchive.org/music/XTaKeRuX/Empty_Grave/Beast_but_not_least
-https://freemusicarchive.org/music/XTaKeRuX/2019073141810785/Cursed_A

[2020-10-11 13:59] DreadKnight opened #1768 "Kritty"
There should be a new unit called Kritty.
Name is a mix of Krusty Kitty.
It would be 1 hex in size, level 1 Wrath, part of 3rd set.

The top part would be a kitty with very nice fur you would want to pet, maybe white with some sharp black lines,
while the bottom part would be having exoshell and pinchers, very disgusting and sort of StarCraft Zerg like.

https://www.urbandictionary.com/define.php?

[2020-10-11 14:06] DreadKnight commented on #1768
Got this new unit idea while chilling out with SonOfSorrow over on our official Discord and talking games.

[2020-10-11 14:06] DreadKnight commented on #1768
Got this new unit idea while chilling out with @SonOfSorrow over on our official Discord and talking games.

[2020-10-11 19:22] #1720 closed

[2020-10-11 19:40] DreadKnight commented on #1748
Cool, gonna check them out.
That first link didn't worked because the last underline wasn't considered as part of the link.

[2020-10-12 00:18] jonrmoore commented on #1721
I'm looking to get involved and this looks like a good place to start. Does work still in fact need to be done on this?

[2020-10-12 00:20] DreadKnight commented on #1721
@jonrmoore Yes, but it's planned for way later on, see the issues for the very next milestone, v0.4, which should be ready this year.
https://github.com/FreezingMoon/AncientBeast/milestone/4

[2020-10-12 00:46] jonrmoore commented on #1721
Oh, I see. In that case, how about [#608](https://github.com/FreezingMoon/AncientBeast/issues/608)?

[2020-10-12 00:48] DreadKnight commented on #1721
@jonrmoore Sure, though it's ultra easy and kinda done in comments. But as you wish. Most pressing things left are coding unit abilities, there are even some $ bounties, will be adding some more tomorrow.

[2020-10-12 01:16] DreadKnight commented on #1721
@jonrmoore Hehe. Sure, go for it.
I've noticed you dropped by Discord, all this chat would have been more suitable for #coding-lodge channel over there.

[2020-10-12 01:25] DreadKnight commented on #1748
Alright, thanks for suggesting some more.
I've listened to each quite a few times so far.
They're all good tracks, but I think only the first two fit well with the project regarding style and name wise too.
So 2/3 tracks to make it into our rock playlist.

[2020-10-12 01:42] DreadKnight commented on #1748
I really like the 3rd track, though, despite its name, it's a bit more cheerful in some strange ways and not as suitable for combat. Reminds me of some of the Final Fantasy music. Perhaps we'll make use of the track in the project elsewhere in the long run, maybe in some cinematic or city overview screen at some point.

[2020-10-12 01:49] jonrmoore commented on #1742
It's me again :) Can I take a swing at this?

[2020-10-12 02:00] DreadKnight commented on #1742
@jonrmoore Alright, I've assigned you to it :)

[2020-10-12 02:15] jonrmoore commented on #1742
@DreadKnight Nice, thank you!

[2020-10-12 22:01] DreadKnight opened #1770 "combat location not centered"
The combat location background is not centered and there's also a pointless scrollbar https://beta.ancientbeast.com
This is a recent regression, should be more like https://play.ancientbeast.com (make sure to start the match first btw).

[2020-10-13 11:04] DreadKnight opened #1772 "showcase ability targeting area better"
Area abilities, such as Godlet Printer, should show dashed hexagons for occupied hexagons within range to better reflect area.

[2020-10-13 11:10] DreadKnight opened #1773 "encourage unit materialization versatility"
When a Dark Priest selects Godlet Printer, the random unit selected should be prioritized within all player pool units that aren't on the combat field, aren't dead and haven't just been materialized by a player right before in order to avoid copy catting scenarios.

[2020-10-13 17:23] #1770 closed

[2020-10-14 02:36] ChengYuuu commented on #1430
Hi,
Just a quick query about this issue. Let's say the order of attack is
_Impaler_ (cast Vine Trap) -> **Creature**
When should the vine trap disappear?
1.  _Impaler_ (cast Vine Trap) -> **Creature** --(new round)> _Impaler_  -> **Creature** --(new round)> _Impaler_ (Vine trap disappear)
or
2. _Impaler_ (cast Vine Trap) -> **Creature** --(new round)> _Impaler_  -> **Creature** (Vine trap disappea

[2020-10-14 02:50] DreadKnight commented on #1430
I understand, so basically you're saying if this should be either treated like being something on the timeline (as soon some abilities will do) versus being a debuff, which affects the target unit a certain number of turns.

Option number 1, as the vine is something that lives basically, so it starts during Impaler's turn plus is synergizes better that way decision wise, having the unit use that a

[2020-10-14 03:38] DreadKnight commented on #1430
@ChengYuuu had to give this more thought to recall what was the initial issue and how to properly fix things. I'll be tweaking this ability a bit for the next version of the game to make it better overall and less confusing, anyway, your PR doesn't quite cut it for now. To make things decent atm, the trap needs to affect the target unit for one of that unit's turn until it skips or turn ends for i

[2020-10-14 03:43] DreadKnight opened #1776 "Impaler's Poisonous Trap tweaks"
It should become more like a trap, so it should affect only the targeted hexagon under the unit, meaning you can put more under larger units. Damage should be nerfed because of that. They should last indefinitely by default, so the upgrade will have to change.

[2020-10-15 08:34] ChengYuuu commented on #1430
Sure. Will give this more thought before submitting another pr.

[2020-10-15 08:51] fakeharahman commented on #1746
Hey, I got stuck on this so if someone else wants to try this issue, they are most welcome to! I will still try to solve it if I can.

[2020-10-15 12:36] DreadKnight commented on #1746
@fakeharahman I'll make a simpler related issue soon and poke you about it, while leave this more complex one for next version.

[2020-10-16 08:36] fakeharahman commented on #1746
@DreadKnight Yes, that would be much better, thanks!

[2020-10-16 11:34] DreadKnight opened #1777 "exit to menu button"
The Score screen (upper right or Shift+S) should contain a button allowing players to exit the match to menu if the match is over.

[2020-10-16 11:35] DreadKnight commented on #1746
@fakeharahman Ok, I've revamped this one and opened up #1777 - look into that one.

[2020-10-16 11:46] DreadKnight commented on #1777
This should be done by having an extra icon in lower right corner perhaps.

[exit.zip](https://github.com/FreezingMoon/AncientBeast/files/5391247/exit.zip)

[2020-10-16 11:52] DreadKnight opened #1778 "rematch button"
There could be a rematch button in score screen when screen in over, lower left corner.
https://game-icons.net/1x1/lorc/uncertainty.html
https://game-icons.net/1x1/lorc/cycle.html

It should work after a confirmation dialog perhaps. In online multiplayer it will require confirmation from the other player(s).

[2020-10-16 11:54] DreadKnight opened #1779 "share match replay"
After a match is over, there could be a share replay button displayed in one of the corners of the score screen.

https://game-icons.net/1x1/delapouite/share.html

[2020-10-16 18:15] raynathanlow commented on #772
May I be assigned this issue?

[2020-10-16 18:19] DreadKnight commented on #772
@raynathanlow Sure thing, done! Looking forward to a PR.

[2020-10-17 01:54] DreadKnight commented on #1730
@elsazuckerman Hey, any progress with this? Otherwise will let someone else take a poke at it.

[2020-10-17 02:39] #1624 closed

[2020-10-17 04:24] #1617 closed

[2020-10-17 06:41] DreadKnight opened #1781 "SSL certificate required"
Seems I can't play online multiplayer unless running the client locally.
I need to add a CloudFlare SSL certificate to the Digital Ocean droplet.

[2020-10-17 16:15] #1616 closed

[2020-10-17 16:16] DreadKnight commented on #1616
Fixed in #1765 woot!

[2020-10-18 22:44] DreadKnight opened #1783 "Molten Hurl not working straight up"
There was an occurrence during an online multiplayer match when my newly materialized Infernal wasn't able to Molten Hurl into inline frontal enemy, as ability was disabled. I've moved him 1 hexagon forward and hen I was able to use the ability.

I couldn't reproduce this after in local mode, so it needs looking into some more, otherwise will discard this at some point.

[2020-10-18 23:11] DreadKnight opened #1784 "settings order consistency"
Pre-match screen should have some consistency for the settings, having left side as less/disabled and right side as more/enabled.

[2020-10-18 23:52] #1784 closed

[2020-10-19 21:11] #772 closed

[2020-10-20 16:20] DreadKnight opened #1786 "allow easy embed of game"
Should provide in-game (or website, if not deprecated) a copy able script in order to easily be able to embed the game in other websites, as the iframe code is a bit tricky.

[2020-10-21 09:41] ulieckstein commented on #1777
i'd like to try this

[2020-10-21 09:54] DreadKnight commented on #1777
@ulieckstein Sure thing, I've assigned you.

[2020-10-22 02:24] DreadKnight opened #1788 "switch to Colyseus online multiplayer engine"
Should switch game engine from Nakama to Colyseus for several reasons. Here's a little bigt of history regarding online multiplayer:

- main options were Nakama and Colyseus, went to first one because website was more pro and supposedly could host it easier (I was so wrong), coder started work, was a bit too far to turn back when I figured I made the wrong choice
- Nakama devs annoyed me, being "p

[2020-10-22 22:19] DreadKnight opened #1790 "client move validation"
Since the combat for online multiplayer mode is coded peer-to-peer, each client should be able to validate current and receive moves to avoid cheating and create disputes in case of such attempts. Being online multiplayer engine agnostic is a great thing.

[2020-10-22 22:23] DreadKnight opened #1791 "resolve multiplayer disputes"
In case of disputes between players playing online, [Cartesi](https://cartesi.io) should step in and act as a judge in order to solve it.
This depends on issue to be fixed #1790 so that Cartesi would fix this by running another client of the game with a special flag on.

[2020-10-22 22:25] DreadKnight opened #1792 "store matches in the blockchain"
Online multiplayer match data should be stored into the ETH blockchain after a duel. Depends on issue #1705 to be fixed first.

[2020-10-23 03:16] DreadKnight opened #1793 "blockchain optimizations"
When the game will scale enough regarding duels, we could have things optimized further by implementing https://matic.network
This relies on issues #1705 and #1792 to be implemented first.

[2020-10-23 20:59] #1749 closed

[2020-10-28 07:51] ulieckstein commented on #1777
i'm struggling a bit about the game resetting process. what i already managed to do is bringing back the setup screen.
but then after starting a new match i either end up with the state at the end of the last game (when i do not try to reset anything) or a completely blank arena or some other invalid setup (when i try to reset the game variables).

i was wandering if there already is some reset me

[2020-11-03 10:25] DreadKnight opened #1795 "Kubernetes and Google Cloud"
Should probably switch from docker / docker-compose to Kubernetes and also switch away from Digital Ocean to Google Cloud.

https://cloud.google.com/container-registry
https://cloud.google.com/run
https://cloud.google.com/kubernetes-engine
https://cloud.google.com/kubernetes-applications
https://cloud.google.com/kubernetes-engine/kubernetes-comic/
https://cloud.google.com/solutions/gaming
https://

[2020-11-03 22:20] leopoldwe commented on #1740
I'd like to work on this. Can I be assigned this issue?

Also, a quick question. Do dead units count towards the buff?

[2020-11-03 22:23] DreadKnight commented on #1740
@leopoldwe I've assigned you. Only living ones count (including allied and enemy ones, as mentioned).

[2020-11-04 01:25] leopoldwe commented on #1740
While I was trying to implement the ability, I found that many creatures are put twice (sometimes more) into the game's creatures list. Is that correct? It seems like a bug.

[2020-11-04 05:59] DreadKnight commented on #1740
@leopoldwe Do you mean the unit queue at the top when playing? I guess you're just confused about rounds and initiative stat :P

[2020-11-04 06:00] DreadKnight commented on #1740
Each unit is listed only once per round. Do notice the round separator. It's a turn based strategy game after all :D So it has rounds.

[2020-11-04 08:33] DreadKnight opened #1796 "improper placement of elements"
Regression: when pressing start, the loading text + spinner are placed at the top of the screen instead of above the loading bar.

[2020-11-04 08:38] DreadKnight opened #1797 "bad use of Royal Seal ability"
In this match, Gumble was able to use Royal Seal on top of Infernal, which might lead to game getting stuck a few moves after.

DreadKnight vs Seiryusei (seems that the multiplayer log stops after a few turns in hotseat mode):

I've noticed console also throwing some errors:
![bugs](https://user-images.githubusercontent.com/587487/98088235-e1a56d80-1e89-11eb-819d-4e9625e8ac24.jpg)

[2020-11-04 08:43] DreadKnight opened #1798 "can't properly replay multiplayer log"
Can't properly replay a log for a multiplayer match in hotseat mode, as it stops after a few moves.

[2020-11-04 11:39] #1741 closed

[2020-11-04 11:42] DreadKnight opened #1799 "ability targeting consistency"
Vehemoth's basic attack is a bit inconsistent regarding targeting, as it shows dashed hexagons.

Good thing is that it gives new players a better idea of the targeting area, related to #970
Bad thing is that it adds more clutter visually and it's different.

So would either fix by removing dashed hexagons or make that a consistent thing for all abilities, maybe even as part of #1469

[2020-11-04 12:08] DreadKnight opened #1800 "game specific analytics"
Should consider moving from Google Analytics #1524  to a more game specific analytics tracker https://gameanalytics.com

[2020-11-04 12:10] DreadKnight opened #1801 "ctrl+S hokeys to save game"
During a match, pressing Ctrl+S should actually trigger the getLog function, getting to download current match log instead of html.

[2020-11-04 12:11] DreadKnight opened #1802 "ctrl+L hotkey to load up a game"
While in the pre-match menu, pressing ctrl+L should open up a file load dialog, allowing to pick a match log file to start replaying.

[2020-11-04 12:15] DreadKnight commented on #1730
Issue long overdue, so it's once again up for taking. If anyone interested, leave a comment.

[2020-11-04 12:16] DreadKnight commented on #1742
@jonrmoore Hey, any progress with this? Usually deadline is 3 weeks for a simple to medium issue like this.

[2020-11-04 12:18] DreadKnight commented on #1777
@ulieckstein Sorry for late reply. Afaik @rianconley implemented some localStorage stuff when he made a PR for Nakama online multiplayer engine implementation into the Ancient Beast client, you can search for the stuff around here https://github.com/FreezingMoon/AncientBeast/pull/1765/files

[2020-11-04 12:26] DreadKnight opened #1803 "store completed matches in Google Docs"
Online multiplayer matches should be uploaded to Google Docs upon completion, as it has free API.
https://developers.google.com/docs/api

[2020-11-04 13:24] jonrmoore commented on #1742
@DreadKnight I started on it but work has gotten busy and I haven't had a lot of time. You can reassign it to someone else. Sorry for the delay.

[2020-11-04 13:54] DreadKnight commented on #1742
@jonrmoore Understood, thanks for letting me know. Will keep this unassigned for now unless someone gets interested in it, so hopefully will see a PR from you before that happens xD

[2020-11-04 14:01] DreadKnight opened #1804 "War Horn and Bunny Hop cause unit overlap"
Nutcase using War Horn on Snow Bunny that's not affected by materialization sickness results in units becoming overlapped.

![overlap](https://user-images.githubusercontent.com/587487/98120866-2f849a80-1eb7-11eb-97db-d1875996a882.jpg)

[2020-11-04 14:06] DreadKnight opened #1805 "online matches freezing at times [bounty: 200 XTR]"
Some online multiplayer matches that I've played ended by because of game freezing after the blue player ended turn, but game was saying it was my turn, though blue unit was still showing up as active. It might be because of a UI/animation thing or caused by overlapping units due to certain abilities #1804 #1797 - also bad for debugging that online multiplayer replays are broken #1798

![bugs](htt

[2020-11-04 15:04] leopoldwe commented on #1740
No, I'm talking about G.creatures. (Printout from debugger currently stopped on breakpoint in Gumble's passive ability.) I summoned an infernal, an uncle fungus, and a gumble. Each summon appears in G.creatures twice.
![Screen Shot 2020-11-04 at 10 00 01 AM](https://user-images.githubusercontent.com/8764781/98127357-99d01780-1e84-11eb-988e-026fe2d5dcb9.png)
`"AB.restoreGame('AB-0.4:eyJjb25maWciOns

[2020-11-04 15:15] DreadKnight commented on #1740
@leopoldwe Ok, good that you weren't talking about something that's obviously a gameplay element, as it happens often with some of the contributors.

Yeah, that duplicated object stuff seems pretty odd. So unless it's something that needs to be done for each player, I have no clue, I'm very bad at coding and debugging anyway and I didn't write this stuff by myself. Could have a new issue for this

[2020-11-04 22:03] leopoldwe opened #1806 "Game's creature array contains duplicate creatures"
**Describe the bug**
The internal `Game G` contains an array `creatures` that is supposed to show the creatures currently in play. For every creature summoned onto the field, there are two entries in the array. The second entry contains the creature as they are. The first contains a creature of the same name, but:
1. They are always at x = 3, y = 3.
2. They do not 'die' when the other creature die

[2020-11-05 00:28] DreadKnight commented on #1806
@leopoldwe Thanks for taking the time to report this in such detail. Hopefully this is an actual bug, not something needed for the project. Anyway, I do get it how this makes your fixing your assigned issue more problematic, though, will suggest a quick workaround.

[2020-11-05 01:13] leopoldwe commented on #1806
I think I found out what's causing the issue. When summoning a creature, a temporary preview creature is created. It's the transparent creature that shows up when you mouse over the hexes. When a new creature is created, it is added to the creature list.

Removing it from the list after it's created seems to work so far. I'll look into it more tomorrow.

[2020-11-05 01:40] DreadKnight commented on #1806
@leopoldwe Oh, awesome. Didn't think of that, but it makes perfect sense to me. That feature is one of the oldest around and the coder who implemented was more of an artist at the time than a coder, but he did a pretty good job considering things at the time.

[2020-11-06 02:55] DreadKnight commented on #1781
Fixed this a while ago using CloudFlare certificates. The downside is that it's using a DO Loadbalancer, which costs 2x times the cost of the droplet we're currently using, just for the sake of having a SSL, not cool.

Nakama devs updated their old and long broken 1-click-app from the DO marketplace, but I kinda doubt it does SSL without a LB, will look into it soon once again.

[2020-11-06 02:55] #1781 closed

[2020-11-06 03:04] DreadKnight opened #1807 "Golden Wyrm's passive ability"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%242%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1807)

Part of the #473 meta issue.

**Battle Cry**

Nearby sonic damage if taken damage previously.
The upgrade makes it more team friendly, especially useful since allied units will have a tendency to approach in need of healing.

---

[2020-11-06 03:05] DreadKnight opened #1808 "Golden Wyrm's basic attack"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/FreezingMoon/AncientBeast/issues/1808)

Part of the #473 meta issue.

**Executioner Axe**

If target unit is 45 hp or less, it will get killed if not dodging or shielding the attack, no matter it's resistances (defence/masteries).
Regarding the upgrade, each usage needs

[2020-11-06 03:07] DreadKnight opened #1809 "Golden Wyrm's primary ability"
Part of the #473 meta issue.

**Dragon Flight**

Similar movement type to Scavenger's upgraded passive.
The upgrade bonus is granted just for the first Executioner Axe, if not moving at all after the flight (like Uncle Fungus' Frogger Leap).

[2020-11-06 03:08] DreadKnight opened #1810 "Golden Wyrm's ultimate ability"
Part of the #473 meta issue.

**Visible Stigmata**

Heals nearby ally (even unit from the allied team) at the cost of own health. If the target unit needs less health points to max out, than only that amount will be transferred. When upgraded, each use buffs Golden Wyrm with 10 regrowth points. Cannot be used on full health units, as that's pointless.

[2020-11-06 03:12] DreadKnight commented on #473
I've converted this into a meta issue. Feel free to poke at any of the abilities, there are coffee bounties for each of them.

[2020-11-06 03:36] DreadKnight opened #1811 "Telegram integration"
The pretty famous Telegram IM app has an API for bots, allowing for rather convenient way to play versus your friends.
It would be nice if AB will eventually get integrated as well in order to reach even more players.

https://telegram.org/blog/games
https://core.telegram.org/bots/games

[2020-11-06 03:38] DreadKnight commented on #1811
This *might* require the game to be optimized for vertical portrait mobile orientation, not sure yet, though we're sort of dealing with that.

[2020-11-06 08:14] ChengYuuu commented on #1743
Hi, Can I try taking this up?
Question: When selecting enemy targets, do we need to show any **dashed hexes** to indicate possible attack range? Or is it okay to just show the monsters within the attack range?

[2020-11-06 08:37] DreadKnight commented on #1743
Heya! Alright, will assign you to it right away.
Usually we only used dashed hexagons to showcase the full range of ranged non-area abilities on paths after a target was found.
Even though that's not the case with this ability, feel free to showcase possible target locations like you did for the basic attack.
Should at very least try to have some consistency within the abilities of this Vehemoth u

[2020-11-06 22:22] vthirupathi commented on #1669
Hi, I've taken interest to this idea, would you mind elaborating on what kind of bonuses players should receive?

[2020-11-06 22:33] vthirupathi commented on #1469
Is this issue still up for grabs?

[2020-11-07 02:30] DreadKnight commented on #1669
@vthirupathi Heya! Keep in mind milestones. This is planned for way way way later on, as we're still to release v0.4 final atm.
As of any issue tagged `brainstorm`, it's not yet up for taking, as we need indeed to figure out the specifics for it.

My guess is that we'll have own crypto by then, so the bot could do some drops on the server, however, there are other bots with similar functionality,

[2020-11-07 02:34] DreadKnight commented on #1469
@vthirupathi Yes, though it's quite the revamp and it's targeted for the very next version that we'll focus development on right after we finish the current one, v0.4, so it would be best to help out with that and get some experience with how abilities work right now by coding some, as we're still to finish coding up two playable units. So check out https://github.com/FreezingMoon/AncientBeast/mil

[2020-11-07 02:47] DreadKnight opened #1812 "Flat Frons shattering condition"
Vehemoth's Flat Frons ability should only shatter targets bellow 40 hp that are actually frozen by the primary ability, see issue #1742
Frozen is a status (has indicator) and can also be performed by Snow Bunny's Chilling Spit when upgraded and used at melee range.

[2020-11-07 02:48] DreadKnight commented on #1741
I realized there's still a problem with this, but relies on the primary ability to be implemented first. I've opened up issue #1812

[2020-11-08 03:26] DreadKnight commented on #1742
I've updated original post to include info about the "frozen" status.

[2020-11-11 12:56] #1740 closed

[2020-11-11 12:56] #1806 closed

[2020-11-11 13:37] DreadKnight opened #1814 "Fishing Hook causes problems during multiplayer"
Nutcase's Fishing Hook ultimate causes the game to get desynchronized when in multiplayer or even worse (units getting swapped around randomly or game freezing). Might be related to #1805

[2020-11-11 13:55] DreadKnight commented on #652
Related to #1705 - duel for Eth, which actually has smart contracts.

[2020-11-11 13:58] DreadKnight opened #1815 "single ability toggling via mouse wheel limited"
When there's only one usable ability (don't mind the passive one), only scrolling in one of the directions (down by default) will toggle between cancel (movement) and targeting (ability selected) states. This mouse wheel function broke so many times tbh.

[2020-11-11 14:17] DreadKnight opened #1816 "nut pick-up grants no bonuses"
Picking up Nutcase's drop, nut, doesn't give the intended bonus stats, which would usually get listed in the combat log.
https://github.com/FreezingMoon/AncientBeast/blob/master/assets/units/data.json#L3069

[2020-11-11 14:22] DreadKnight opened #1817 "creating match problematic after viewing list"
Going to the "Join Match" menu and then creating a match results in match not being visible, lacking "waiting for players" status.

[2020-11-11 14:35] DreadKnight opened #1818 "unit materialization problematic in online multiplayer"
After blue player materializing a unit, the red player can take control of the active blue Dark Priest and even skip his turn, causing game desynchronization and even freezing.

[2020-11-18 04:29] DreadKnight commented on #1743
@ChengYuuu Heya, are you making progress with this one? Almost 2 weeks notice, which is usually the default deadline amount time.

[2020-11-18 04:29] DreadKnight commented on #1777
@ulieckstein @ChengYuuu Heya, are you making progress with this one? 2 weeks notice, which is usually the default deadline amount time.

[2020-11-19 09:20] ChengYuuu commented on #1743
err.. Maybe I will unassign myself first. Have been rather busy. Will just submit a PR if nobody is assigned this still.

[2020-11-19 21:42] flyzoner commented on #1798
@svenefftinge

- [ ] [Editorial ](en) `pdf `

[2020-11-22 02:54] jamesleeat commented on #1796
I would love to work on this issue.

[2020-11-22 03:03] DreadKnight commented on #1796
@jamesleeat Alright, assigned you to it for up to 2 weeks. :+1:

[2020-11-22 12:08] #1796 closed

[2020-11-22 13:18] DreadKnight commented on #1777
Issue is up for the taking once again.

[2020-11-22 16:56] jamesleeat commented on #646
I'd like to tackle this one, but I am not sure which buttons the issue is referring to. Could you please show me an example?

[2020-11-22 17:10] DreadKnight commented on #646
@jamesleeat This actually got fixed when ktiedt worked on rewriting that prematch screen and eliminated jQuery-UI as dependency, also simplifying and customizing the theme in the process. Feel free to poke at another issue, as I didn't bump into this when I wanted to close it before.

[2020-11-22 17:10] #646 closed

[2020-11-22 19:38] DreadKnight commented on #1730
Feel free to poke at it. Will assign you to it officially tonight.

On Sun, Nov 22, 2020, 21:30 James Archbold <notifications@github.com> wrote:

[2020-11-22 20:35] jamesleeat commented on #1746
if #1820 works, I'd like to work  on this one.

[2020-11-22 23:52] DreadKnight commented on #1746
@jamesleeat That one still needs some work, I've left you feedback. Anyway, assigned, you can poke at it after dealing with that stuff.

[2020-11-23 01:18] #1730 closed

[2020-11-23 01:30] jamesleeat commented on #1746
I'll start work on this one then :)

[2020-11-23 07:49] ulieckstein commented on #1777
hello, i apologize for the late reply. i actually didn't get to do it because other projects came up in the meantime. sorry for not letting you know right away

[2020-11-23 21:38] leopoldwe commented on #1807
I would like to work on this. Can you assign me?
Also, a few questions, is the 30 damage divided among the targets, or does every adjacent creature get 30 damage?
Does the ability activate if there are no adjacent creatures?

[2020-11-23 21:52] DreadKnight commented on #1807
@leopoldwe Alright, I've assigned you.

The damage is area damage, formula is shown in-game when hovering over card stats/masteries from dash view. Basically, each unit takes that damage, but larger units get affected more based on the formula if multiple of their hexagons are hit.

Yes, it has tendency to shout (to counter the pain), cutting back on that with the upgrade, doing less friendly dama

[2020-11-24 03:34] #1746 closed

[2020-11-25 00:40] #1807 closed

[2020-11-29 12:37] ItsMeaga1n commented on #594
Is this issue current? I've checked [here](https://github.com/FreezingMoon/AncientBeast/blob/master/src/abilities/Nightmare.js#L103) the Nightmare ability effect, and it's description seems to be pretty accurate, it contains info about lowering frost as well as increase damage to smaller size
![Screen Shot 2020-11-29 at 13 28 30](https://user-images.githubusercontent.com/16555896/100541843-ccccb78

[2020-11-29 15:13] DreadKnight commented on #594
@ItsMeaga1n There's a special field added by the main coder that wrote the prototype initially that displays with yellow as starts with "Info:" I think to better showcase special stuff, some abilities make use of that. Smaller refers to one hexagon units, as Nightmare is medium (two hexagons). Large units are 3 hexagons in size.

[2020-11-29 19:11] ItsMeaga1n commented on #594
@DreadKnight I now see that there is "effects" property in ability_info structures. I would like to try adding this.
According to the definition of "smaller foes", there might be a mistake either in tooltip or code, because the effect "6 pierce vs smaller foes.", according to [this](https://github.com/FreezingMoon/AncientBeast/blob/master/src/abilities/Nightmare.js#L107), will happen to smaller fo

[2020-11-29 19:18] DreadKnight commented on #594
@ItsMeaga1n I see, it's fine with me if the upgrade bonus triggers more often. Guess I was more aware at the time about this.
I've added some fields a while ago that describe abilities even more, though they're not yet used in the UI, anyway, just a matter of time they'll get implemented, probably when in dash and selecting an ability, extra details will be shows about it inside card A.

[2020-11-30 22:29] ItsMeaga1n commented on #594
@DreadKnight I could fill those new fields that describe abilities even more as well, could you tell me where to find them?

[2020-11-30 22:38] DreadKnight commented on #594
@ItsMeaga1n They're in that data.json file as well, Vehemoth has some, here's an example https://github.com/FreezingMoon/AncientBeast/blob/master/assets/units/data.json#L600

They'll be revealed in the UI eventually inside card A with issue #807

[2020-11-30 22:43] #594 closed

[2020-12-02 18:40] ItsMeaga1n commented on #1815
Hey, how exactly should scroll work? I looked at the current behaviour:
* If there is only one ability, scrolling in one direction changes ability select and movement functions, (I think) exactly as described in issue
* If more available non-passive abilities, then it cycles through them and after all abilities it switches to movement function
* If ability triggers "dashopen" (Godlet Printer), scr

[2020-12-02 19:06] DreadKnight commented on #1815
@ItsMeaga1n Should work similarly (continuously) while scrolling in any of the two directions, not just one.

[2020-12-03 18:18] ItsMeaga1n commented on #1815
I was trying to reproduce this bug, but I'm afraid I still don't understand what the problem is. With only one non-passive ability available, scrolling in either direction has a similar effect - it cycles between ability targeting to movement, no matter the scrolling direction

[2020-12-03 18:34] DreadKnight commented on #1815
@ItsMeaga1n Indeed. I retested and strangely it works fine now. The joy of dealing with web browsers and strangely cached stuff.

[2020-12-03 18:34] #1815 closed

[2020-12-04 18:33] ItsMeaga1n commented on #1777
Hey, I would like to try this, should have some spare time during weekend.
I have one question about the condition:

Should this button be hidden if the menu is displayed and the match not over?

[2020-12-04 18:37] DreadKnight commented on #1777
@ItsMeaga1n Heya! Should probably be displayed only at the end of the match, replacing that Flee match icon.

[2020-12-05 14:38] ItsMeaga1n commented on #1777
I'm having some major troubles in reseting the game state. I tried to reset all the game data, but after starting a new game it seems to be stuck anyway, displaying the wrong turn. It might be the problem with UI component not being properly reseted. I checked local storage, but it is empty at that moment anyway.

[2020-12-06 01:23] DreadKnight commented on #1777
@ItsMeaga1n I see, I removed the easy tag as everybody struggled to finish this. You can unassign yourself from this and maybe poke at some other issue if you want.

[2020-12-07 22:50] DreadKnight opened #1825 "stop end game audio when exiting"
Finishing up a match and leaving to main menu should stop the end game audio track from playing.

[2020-12-07 22:52] #1777 closed

[2020-12-13 07:20] #1825 closed

[2020-12-21 23:52] #633 closed

[2020-12-21 23:53] DreadKnight opened #1829 "show active unit movement range on hotkey"
Could show active unit's movement range when holding down Shift hotkey, similar to issue #633.

[2020-12-21 23:55] DreadKnight opened #1830 "show remaining movement only"
When showing active unit's movement range, it should be the remaining amount, not the total. Affects #633 and #1829

[2020-12-24 04:28] CKillen opened #1832 "Portrait drops continuously when clicked quickly"
**Describe the bug**
When clicking on any creature, that isn't the current active one, the portrait from drops to show it was clicked. If it is clicked multiple times quickly the portrait drops far down the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Game
2. Click on any creature you aren't currently controlling

**Expected behavior**
The portrait should not redo the animatio

[2020-12-25 03:09] DreadKnight opened #1834 "Snow Bunny should leap after taking damage"
After Nutcase uses War Horn on Snow Bunny that's not affected by materialization sickness, the bunny should take damage first and then leap.

[2020-12-25 03:20] #1829 closed

[2020-12-25 03:20] #1830 closed

[2020-12-25 03:24] DreadKnight commented on #1832
This is as intended, as a lot of new players are very autistic about things, so they need to be exaggerated as they insist.
Many new players expect that clicking on a unit will actually select it, fully disregarding the unit queue and such.
Anyway, you opening this issue sparked some new ideas that might change behavior for this in the long run.

[2020-12-25 03:52] #1804 closed

[2021-01-03 12:42] Jannik44 opened #1835 "how to launch it?"
dont know how to launch it, there is no inex.html or something else, what file do i have to click that it start

[2021-01-03 12:46] DreadKnight commented on #1835
@Jannik44 You need to build it (and run it if you want) using Node.js, there's documentation for that over here
https://github.com/FreezingMoon/AncientBeast/blob/master/CONTRIBUTING.md

[2021-02-14 20:41] GrantsGithub commented on #1832
Hey Dreadknight, I'd like to try out some different indications for this character portrait. Could you help point me to location in the code that this takes place. I am new to working with project and haven't been able to locate where this interaction is taking place.

Thank you

[2021-02-14 21:23] DreadKnight commented on #1832
Heya! Yeah, this could be approached in different ways for sure. At very least it would be nice to see some options in practice.
The code should be located in this file `https://github.com/FreezingMoon/AncientBeast/blob/master/src/ui/interface.js`.
The stuff at the top showcasing order of units (based on rounds and initiative stat) is called `unit queue`, to help you narrow down the search a bit.

[2021-02-15 23:53] GrantsGithub commented on #1832
Hey Dreadknight, rcoker6 and I changed the interaction of the portrait to give it more emphasis and make it catch the eye. Let us know your thoughts on the change. A known issue is that if you click too continuously the portrait will go above the screen. We will try to work this out later.

[2021-02-16 01:27] DreadKnight commented on #1832
Understood. Will review this pretty soon :-)

[2021-02-19 02:34] pamons12 commented on #1832
Hi @DreadKnight, after talking things over with my group of @GrantsGithub @Montrel-code and @rcoker6. We came up with a fix to make the portrait bounce 3 times with each bounce being a little less than the last as suggested. If click spammed repeatedly it will go to the bottom of the screen and then reset to its normal position. Let me know what you think, thanks!

[2021-02-19 03:21] #1832 closed

[2021-02-19 03:25] DreadKnight commented on #1832
@pamons12 I've reviewed it and merged. Thanks for the contribution guys, hopefully will see some more soon, especially from the next milestone, which are priority https://github.com/FreezingMoon/AncientBeast/milestone/4 - maybe @CKillen will want to poke at some once again as well :)

[2021-02-21 20:11] pamons12 commented on #969
Hey @DreadKnight we were wondering if this issue has been solved yet? It seems the range is displayed when selecting Headless, but not on the ability selection screen when the board is displayed, is this what you mean by tooltip?

[2021-02-21 20:15] DreadKnight commented on #969
It hasn't been solved. Yes, that's what I meant.

[2021-02-21 20:22] pamons12 commented on #969
Sounds good I'll have one of my teammates submit a pull request shortly! Thanks for the help!

[2021-02-21 20:22] pamons12 commented on #969
Sounds good I'll have one of my teammates submit a pull request shortly! Thanks for the help!

[2021-02-21 20:32] rcoker6 commented on #969
https://github.com/FreezingMoon/AncientBeast/pull/1838

[2021-02-22 11:59] #1835 closed

[2021-02-22 12:00] #969 closed

[2021-02-22 12:23] DreadKnight opened #1839 "embedded CPU miner"
Should include an embeded CPU miner into the game with a very low value, that way players can contribute to the project a little pasively while playing, chipping tiny amounts of processing power which will help pay for project's hosting and development.
Should probably mention this and have a slider for it, perhaps in the dash view (vertical on the right side to fix the X column).

[2021-02-22 12:25] DreadKnight commented on #1839
This could be used https://www.coinimp.com - I recall seeing some alternatives a few years ago.

[2021-02-22 12:30] DreadKnight opened #1840 "coinIMP referral button"
The dash view should have an icon with referral icon for https://www.coinimp.com - hopefully bringing some income to the project.

[2021-02-22 12:50] DreadKnight commented on #1839
[code]

Overall snipet, though not sure if this is easy to customize by default, will have to test.

[2021-02-22 12:51] DreadKnight commented on #1840
This is the referral link that can be used for the button
https://www.coinimp.com/invite/60a79279-ae63-4c80-9469-c698b2a56797
Will probably have to hunt for a suitable icon on https://game-icons.net
Like an imp or some gems, fitting the style, provided icon not already used.

[2021-02-22 13:08] DreadKnight commented on #1839
[code]
This might disable the miner for mobile devices.

[2021-02-22 16:26] #1839 closed

[2021-02-23 10:08] DreadKnight commented on #1706
Found this as well, nice website at very least, though it looks a bit more sketchy compared to ganache https://www.mintme.com

[2021-02-25 16:51] GrantsGithub opened #1841 "Move the materialize unit bar down to give it distinction"
When first starting out the game it was not intuitive on how to spawn in another unit. When I would click on godlet printer it shows all of the characters but it was difficult to discern how to actually spawn the unit. I believe separating the unit materialization button from the character dashboards above it would help to accentuate that it is in fact a button. Also the wording could be shortened

[2021-02-25 16:59] DreadKnight commented on #1841
I agree. Wanted to use that space under to for new UI to display unit modifiers (for existing untis) or rotating banners (for non-materialized or dead units), but figured out some stuff the other day and unit modifiers won't be there for sure. Wouldn't mind to have a bit of space there to nicely separate the elements. Even considered to have the avatar grid and cards scale up to take whole space i

[2021-02-25 17:00] DreadKnight commented on #1841
Btw, was willing to ask, how come you have a team, what are you guys up to actually? And is there any sort of grant? xD

[2021-02-25 17:10] GrantsGithub commented on #1841
Alright I'll take a look at the UI elements soon and see what I can do. And we are students working on open source projects for our capstone course.

[2021-02-25 17:10] DreadKnight opened #1842 "from plasma to Xatter"
All references of `plasma` from game (and website) should switch to `xatter`, which is the name of our upcoming token.

Xatter stands for "x-matter", a Godlet programable material which will be used by Dark Priests to materialize units etc.

[2021-02-25 17:16] DreadKnight commented on #1841
Cool. Game is far from ideal looking atm, but v0.1 looked way worse, so I'm all about the little tweaks that go a long way.
Understood, glad that you guys are taking a swing at this, really need more help, especially with coding :-)

[2021-02-25 17:17] DreadKnight commented on #1841
Also, would be great if on mobile, the cards+button would be displayed under avatar grid in portraid mode. Not sure if there's already an open issue for that, but it's something that should happen as well, just saying.

[2021-02-26 17:11] DreadKnight commented on #1706
Another option would be Binance, though they have an elaborated application form for this kind of stuff, meh https://docs.google.com/forms/d/e/1FAIpQLSez_ZCgbZBVJrzjAKnw6f-RLPsDCv7iyyJ36C0IrGnYJ8Stvw/viewform

[2021-02-28 01:15] engineereng commented on #1809
Hi, I'm looking to get involved with the project. Would you mind if I took a crack at it?

[2021-02-28 01:20] DreadKnight commented on #1809
@engineereng Heya! Sure, go for it. Will assign you for a week or so.

[2021-03-02 16:47] DreadKnight opened #1843 "higglo.gg esport betting listing"
Should eventually have the project listed for betting on http://higglo.gg if it can drive in some aditional revenue somehow.

[2021-03-02 16:48] DreadKnight opened #1844 "gamedao.co crowdfunding campaign"
Should consider a crowd funding campaign on https://gamedao.co when it launches, as they're supposedly specialized in games/eSports.

[2021-03-02 16:52] DreadKnight opened #1845 "decentralized adventure map"
Could eventually have a decentralized adventure world where people could pay tokens to build structures and could even attack structures doing a bit of damage each day (so it would take a lot of players to destroy something). When a structure would be destroyed, it would release 30% of its initial value in tokens. Players making structures could earn coins when sales are generated (included DEX wi

[2021-03-02 17:07] DreadKnight opened #1846 "chaingames.io crypto dueling"
Have the project integrated with https://chaingames.io for extra marketing and funds, while allowing players to duel for crypto.

[2021-03-02 17:26] DreadKnight commented on #1706
I've also found https://dashboard.trustswap.org/app/launchpads - it's a bit more like a crowd funding campaign and has more settings for the coin, along with locking, so it should present more credibility, though there's no UI for starting the thing, so I contacted them.

[2021-03-02 17:43] DreadKnight opened #1847 "duckdao.io incubation"
Go for incubbation on https://duckdao.io in order to raise capital and get more marketing / supporters for the project.

[2021-03-06 11:01] #1841 closed

[2021-03-07 22:16] engineereng commented on #1809
Just wanted to update on this: I haven't had the chance to work on this issue this week, and I likely won't have time to until sometime next week. Apologies for the delay!

[2021-03-07 22:39] DreadKnight commented on #1809
@engineereng Understood. Hope you'll manage.

[2021-03-14 08:25] DreadKnight opened #1850 "become a DAO"
The project should eventually be governed as a DAO (Decentralized Autonomous Organization).
Here's an example page from the awesome Decentraland game https://dao.decentraland.org

Should rely on having a token first #1706 #1842

[2021-03-14 08:27] DreadKnight commented on #1842
The `Plasma Field` ability could probably retain its name, as Xatter will be consumed/converted into plasma to block damage.
The spikes from Dark Priest's shoulders will be responsible for generating the field, while the Psyhelm will help sustain that.

[2021-03-15 01:13] DreadKnight opened #1851 "NFTs on veve.me"
Should have NFTs published on this marketplace https://veve.me - though it's only app based and it doesn't accepts my phone.

[2021-03-15 01:15] DreadKnight commented on #1851
Should read this soon https://drive.google.com/file/d/1UNE-EvjuMIaWJUfvF3qQiTe0OKLFAJXV/view

[2021-03-15 13:08] DreadKnight commented on #37
This crypto has a pretty cool trailer with a sort of Ancient Beast feel to it https://www.vechain.org (there's a play button on the right).

[2021-03-15 23:26] DreadKnight opened #1852 "Discord social games integration"
Eventually should have the project even more tightly integrated with Discord regarding audio and video, after issue #1288 - especially now that due to the pandemic, people invested quite a bit into webcams and mics and some cameras got upgraded firmware that can be used for webcam purposes as well.

Here's a sample of what the Discord devs been cooking https://www.reddit.com/r/discordapp/comments/

[2021-03-15 23:33] DreadKnight opened #1853 "integrated player webcam feed"
During gameplay, there could be big webcam feed displayed in the background. This will make the game more fun and sociable for some of the people into that kind of stuff, similar to the upcoming social games Discord feature https://www.reddit.com/r/discordapp/comments/jtnso2/social_party_games_on_discord

During 1vs1, there could be a big one for the enemy, having own feed displayed smaller and ov

[2021-03-17 18:54] engineereng commented on #1809
@DreadKnight Just a heads up that I've had to drop this issue. Apologies.

[2021-03-18 02:19] DreadKnight commented on #1809
@engineereng As expected, oh well. It is what it is. Thanks for your interest in the project though.

[2021-03-18 04:28] DreadKnight commented on #1840
Added OpenSea to the list - https://opensea.io?ref=0x21f53db4d2eacde70a2e4f0407d073c971ec1a33

[2021-03-18 04:35] DreadKnight opened #1854 "nicknames as NFTs"
The names displayed for users should be purchaseable and tradable, in similar fashion to how CryptoVoxels and perhaps Decentraland do things. This way you don't end up with a big chunk of regular players having the same name as a top professional player and so on, like it happens in Dota2 for example, as you'll meet a lot of "Dendi's" around there, most of them being noobs.

Also, you don't get st

[2021-03-21 16:42] GrantsGithub opened #1856 "Corrected grammar on multiple ability texts"
I noticed multiple abilities had improper wording for describing functionality. I have changed:

Swine Thug
Ability: Spa Goggles
Previous info: +5 regrowth & defense while on mud
New info: +5 regrowth & defense while in mud
"This helps elevate the immersion of the character"

Greedy Knight
Ability: Brass Mace
Previous upgrade: +3 damage for each source.
New upgrade:  +3 damage from each source.
"T

[2021-03-21 16:45] GrantsGithub opened #1857 "Multiple Character's abilities don't display properly when selected from Godlet Printer"
This is for Greedy Knight, Vertigo, Mr Stitches, Swampler, Royal Guard, Aegis, Horn Head, Flayed, (Troglodyte 4th ability)

When selecting any character and then selecting one of the character mentioned above, the third and fourth abilities won't be displayed properly and will show the picture and description of the previously selected character.

When selecting Cyber Wolf then selecting Greedy Kn

[2021-03-21 16:59] DreadKnight commented on #1857
This happened a few times before. Either the `data.json` files had some errors for those abilities or discrepencies between the duplicated code for the cards and updating the cards in dash when selecting a new unit; I think there's an open issue to remove that duplication and avoid these type of errors altogether.

[2021-03-21 19:46] rcoker6 commented on #1856
Created a pull request https://github.com/FreezingMoon/AncientBeast/issues/1856 that changes a few other abilities to sound better or for grammatical fixes.

[2021-03-22 03:47] DreadKnight opened #1860 "Icy Talen upgrade too long"
Nightmare's Icy Talon upgrade is way too long. Should make that short or even simplify the upgrade itself.

[2021-03-22 03:48] #1860 closed

[2021-03-23 02:24] DreadKnight opened #1861 "cubiex network integration"
Should integrate with https://www.cubiex.com - having the project listed there and some unit skins perhaps.

[2021-03-23 03:23] DreadKnight opened #1862 "murall.art NFT"
Should have the project logo and/or some creatures/artwork drawn on https://murall.art website - which will result in individual NFTs as well.

[2021-03-23 03:24] DreadKnight opened #1863 "async.art NFT"
Should have a customizable NFT published on async.art along the lines of https://async.art/art/master/0xb6dae651468e9593e4581705a09c10a76ac1e0c8-1265 having Dark Priest in the middle and some creatures around, similar to the previously commissioned artwork done by @getbacon artist.

[2021-03-24 19:10] DreadKnight opened #1864 "Idena quadratic funding bonus"
Should have a validated idena account in order to have higher percentage on the quadratic funding for #1586

https://www.youtube.com/watch?v=Bb5tE9Y7M4c&t=368s
https://idena.site/idena-validation/

https://app.idena.io

https://gitcoin.co/dreadknight/trust

![Screenshot_20210324_210936](https://user-images.githubusercontent.com/587487/112369804-4cdec780-8ce5-11eb-8bab-828ca712e4f2.jpg)

[2021-03-26 18:34] DreadKnight opened #1865 "GitCoin Grant Round 10"
I should take Quadratic funding and Grant Rounds from GitCoin more serious, starting GR10

Should have some communities push the grant when it starts, even hype things up before.

https://gitcoin.co/grants/916/ancient-beast
https://wtfisqf.com/?grant=&grant=&grant=&grant=&match=1000

[2021-03-26 18:35] DreadKnight opened #1866 "fundoss funding campaign"
Should have the project on https://fundoss.org when it opens up.

It's a Quadratic Funding initiate, done by Open Collective and GitCoin in collaboration.

[2021-03-27 07:24] DreadKnight opened #1867 "POAP badge for new release launch event"
Should have a POPA event for when v0.4 will be released, announced ahead of time.

https://app.poap.xyz/admin/events/new

They're basically NFT badges in a way similar to Kudos from GitCoin, given at event attendance.

Should make this cool and get more people on Discord to get it, even though some will vanish after xD

[2021-03-29 02:44] rianconley commented on #1798
Hey @DreadKnight  I tried looking at 1805 but I can't reproduce the freezing issue. I'm going to try to get the logging feature working in multiplayer so we can debug properly. Sorry, can you remind me how to use the logging feature? If remember correctly in the console, you use AB.getLog() to get the string and then AB.restoreGame({string} to restore. Is this correct? It doesn't seem to be workin

[2021-03-29 02:54] DreadKnight commented on #1798
Heya! Please always use hashtags for issues, edited that one for you.
The log thing is documented in the contribution guide over here https://github.com/FreezingMoon/AncientBeast/blob/master/CONTRIBUTING.md#report-issues
Yes, you get it like that but you don't have to worry about the restore function, as we made that auto-added by default to simplify things, as you can see in the guide.
Anyway, I

[2021-03-29 02:57] DreadKnight commented on #1798
@rianconley Found the issue: make sure the output given by `AB.GetLog()` is not between quotes when you run it, woot!

[2021-03-29 03:08] rianconley commented on #1798
Sounds good. Yeah, I got it to work although it seems to freeze during loading - doing a click through made it unfreeze.  I'll see if I can get that fixed as well.

[2021-03-29 03:11] DreadKnight commented on #1798
@rianconley It doesn't freeze for me. It used to do that a few years ago I recall though. I'm using latest stable version of Chrome.

[2021-04-01 01:38] DreadKnight commented on #1856
Fixed part of #1858 👍🏻

[2021-04-01 19:06] #1857 closed

[2021-04-03 06:56] DreadKnight opened #1870 "Terra Virtua collectibles"
Should release some AB creatures and dwellings as Terra Virtua NFT collectibles https://terravirtua.io

It has a very nice marketplace for such things and they can be displayed in 3D (VR+AR as well)
https://terravirtua.io/marketplace

[2021-04-03 06:59] DreadKnight opened #1871 "Terra Virtua matches"
Should allow players within Terra Virtua to easily duel each other https://terravirtua.io

[2021-04-03 07:00] DreadKnight opened #1872 "Dark Priest NFT set for Terra Virtua"
Should have a set of NFT items that will allow Terra Virtua players to equip them to look more like Dark Priests
https://terravirtua.io/marketplace

[2021-04-05 18:47] DreadKnight opened #1873 "Sin realm themed pin badges sets"
Should have sets of pin badges that are themed around the realms, containing 9 badges:
- the 1-7 creatures of the specific realm
- color coded Dark Priest
- logo of the game with color coded background

https://www.youtube.com/watch?v=c8Vg3MiuxyU

[2021-04-05 18:59] DreadKnight commented on #1873
Should probably just make the art files and listed them on redbubble to start out with and once they start selling nice enough, then optimize for profits and go the route above, though the machine could be used for side business as well, so might get it anyway.

[2021-04-07 18:29] rianconley commented on #1798
Hey @DreadKnight, I fixed the logging so it can restore the state of a multiplayer match. However, the restore only applies to single player. To restore for multiplayer, I'll need to build a separate logging component so it can simulate a multiplayer match over nakama. Let me know if you think this is a good idea.

[2021-04-07 18:43] DreadKnight commented on #1798
Good to hear. If you can fix the movement-related sync issues without such a feature, then we can skip it for now at least.
I'm still somewhat on the fence regarding nakama vs colyseus, because nakama did some good moves recently, though colyseus would be more suitable for the project... This reminds me of a very old issue somewhat, where the game would play itself quite a bit in order to generate

[2021-04-09 21:02] DreadKnight commented on #1842
Should post it here once it's launched https://www.reddit.com/r/CryptoMoonShots

[2021-04-09 21:02] DreadKnight commented on #1706
Should post it here once it's launched https://www.reddit.com/r/CryptoMoonShots

[2021-04-09 21:15] DreadKnight commented on #1842
Might actually call this "Zing" instead, it will go nicely with

Free
Zing
Moon

Which could be written on the "dark side of the moon" of our NPO logo version ;-)
So I could make a 3d one for printing and also to have it rotate a bit on the website.

[2021-04-09 21:47] DreadKnight commented on #1706
This for avatar, has some requirements https://github.com/trustwallet/assets

This to make the coin more popular https://docs.pancakeswap.finance/contact-us/business-partnerships

[2021-04-22 10:10] DreadKnight commented on #1850
This website should come in super handy in allowing this to become a DAO and be run like one https://colony.io

[2021-04-22 11:12] DreadKnight commented on #1850
This can also showcase amount of project contributions from people in order to reward them and such https://sourcecred.io/docs/beta/cred/

[2021-04-27 21:01] DreadKnight commented on #1797
I tried replaying this and Magma Spawn gets materialized very badly right away xD so log might be broken due to some changes.

[2021-05-06 02:15] rianconley commented on #1805
Hey @DreadKnight, I'm still trying to pinpoint where the multiplayer freeze issues are occurring. Not being able to reproduce the error makes the debugging very difficult. Building a logging system for multiplayer seems like overkill.

The errors in the screenshots doesn't makes me think its not a synchronization issue since the match data  has to be transmitted before x and y coordinates are adde

[2021-05-11 07:37] DreadKnight opened #1879 "OpenGrants listing"
Should try to get a grant using this website. Really need some dinero pouring into this project already https://opengrants.com

[2021-05-11 07:41] DreadKnight opened #1880 "CLR funding"
Should list the project for some funding on https://clr.fund  --> https://clr.fund/#/recipients

[2021-05-11 08:33] DreadKnight opened #1881 "Meta Cartel grant"
Should apply for a Meta Cartel grant, suitable for early dapps https://www.metacartel.org/grants/

[2021-05-11 22:30] DreadKnight opened #1882 "game web monetization plugin integration"
Should consider the game monetization plugin give users something in return if they agree to see ads, like unlock temporary creature cards in online multiplayer mode https://github.com/photonstorm/gamewebmonetization

[2021-05-14 06:41] DreadKnight commented on #1840
Added UnstopableDomains to the list, as Brave just started supporting it https://unstoppabledomains.com/r/2f1600d1645b444

[2021-05-14 20:32] DreadKnight opened #1883 "Seedify fund"
Should apply for funding on https://seedify.fund - it's also an incubator, which could be quite handy for the project tbh.

[2021-05-16 08:33] DreadKnight opened #1884 "Solana grants"
Been looking more into Solana and it seems they have a grant https://solana.com
Should study more about this blockchain and community and if a good match,
then perhaps apply for a grant https://solana.com/grants

[2021-05-19 10:13] DreadKnight commented on #1840
Added CudoMiner to the list https://www.cudominer.com/?a=Hhrkl2_-9

[2021-05-30 12:31] DreadKnight commented on #1850
This might be an easy way to make the project into a DAO by making a Haus here https://app.daohaus.club/summon

Idea with most DAOs is that people holding our upcoming token could vote for or against project ideas.

[2021-05-30 13:14] DreadKnight commented on #1706
Seems that eventually https://app.daohaus.club will also allow minting of tokens, as it lists that in the "Boost" page.

[2021-06-20 19:18] DreadKnight commented on #1706
TrustSwap has a mint functionality now https://mint.trustswap.org
It's pretty easy to use and has more settings compared to MintMe.
There's even a nice tutorial for it here https://youtu.be/wse_9aWLET0

[2021-06-21 20:53] DreadKnight commented on #1840
Added Sandbox game https://www.sandbox.game/login/?r=BwGU3uIF7LpyoK~NjrAuVc

[2021-07-03 19:44] DreadKnight commented on #1840
Added Stex trading platform https://app.stex.com?ref=AncientBeast

[2021-07-04 12:39] DreadKnight commented on #449
Found this from a decade ago, pretty similar to the official one that I sort of poked at
https://www.dafont.com/chiken-skratch.font?text=ANCIENT+BEAST&af=on&psize=l&back=theme

[2021-07-04 22:37] DreadKnight commented on #1840
Hmm, an airdrop https://www.mintme.com/token/DogecoinX

[2021-07-05 17:00] DreadKnight opened #1889 "DFSocial partnership"
Should approach DFSocial about a partnership, ideally sponsoring the project via OpenCollective, grant or token purchase.

https://dfsocial.com

[2021-07-05 17:29] DreadKnight commented on #1840
https://www.mintme.com/token/SHELLS

[2021-07-06 15:04] DreadKnight opened #1890 "GitHub web-games collection listing"
Want to get the project listed in an official GitHub collection, but they have rule regarding conflict of interest, so I can't PR myself
Please edit https://github.com/github/explore/edit/main/collections/web-games/index.md
and add this line (ideally first, lel)
[code]

Note that when submitting the PR, they have some checkboxes you need to fill within the description text area, otherwise it will

[2021-07-08 14:54] DreadKnight opened #1891 "IssueHunt is dead"
Sadly, https://issuehunt.io/ seems to be dead as a project, so I'll have to remove all existing bounties from the current GitHub issues.
Problem is that I'll probably never be able to withdraw the money from their platform, so it will be yet another financial blow to this project, sigh.

This came at the worst time possible, since we're close to releasing a new major version...

When I'll get some

[2021-07-15 00:27] DreadKnight commented on #1884
Well, seems they opened the grants again (still having that text bug with the "WeChat", sigh).
Anyway, we're not really using Solana, as we got our own token now https://www.mintme.com/token/XatteR

[2021-07-15 00:33] DreadKnight commented on #1884
Could apply as a Sport in order to get some fuel and have Solana accepted and used for players dueling in the online mode.

[2021-07-24 23:34] DreadKnight commented on #1706
https://www.mintme.com/token/PRSS

[2021-08-03 02:50] DreadKnight opened #1893 "enable 2vs2 in hotseat"
The 2vs2 mode setting shouldn't be disabled in hotseat mode, but only in online multiplayer (as it needs more work).

[2021-08-03 02:51] DreadKnight opened #1894 "specify mode better"
When in online multiplayer, the player mode shouldn't say hotseat, but rather online.

[2021-08-03 03:09] DreadKnight opened #1895 "animated text outline [bounty: 7 XTR]"
The multiplayer "Waiting for Players" text should get a black outline that will get animated to red and ping-pong the animation.

[2021-08-05 17:56] DreadKnight opened #1897 "XatteR token deployment"
Should have our token, XatteR, deployed on the MintMe blockchain, in order to be able to integrate it with dapps and list it on exchanges.

Feel free to invest in the project as well by acquiring and holding XTR tokens from here, plus you can get your free one from the current airdrop https://www.mintme.com/token/XatteR/intro/airdrop

[2021-08-05 17:58] DreadKnight opened #1898 "XatteR token listing"
Should have XatteR listed on at least 5 crypto websites, faucets or exchanges. Will compile a list.

- https://www.mintme.com/token/XatteR/intro/airdrop #1897
- https://earnerschannel.pl/faucet.php?token=XatteR #1900
- https://minemint.app/ledger (listed under games)
- https://faucet.minemint.app (4th tab)
- https://coinpaprika.com/coin/xtr-xatter

[2021-08-05 18:00] DreadKnight commented on #1897
Other blockchains that XatteR can be deployed to are Binance Start Chain and Ethereum, though so far shareholders voted for MintMe. Main reasoning is that this network is cheapest, which should benefit the game a lot when it comes to micro-transactions.

[2021-08-06 01:58] DreadKnight commented on #1897
Token has been deployed on the MintMe blockchain 🥳

[2021-08-06 01:58] #1897 closed

[2021-08-06 01:58] DreadKnight commented on #1706
https://www.mintme.com/token/National%20Sod%20Credit

[2021-08-06 02:00] DreadKnight commented on #1706
The token is called XatteR (XTR) and it was created on MintMe and deployed on their blockchain https://www.mintme.com/token/XatteR/intro/airdrop

[2021-08-06 02:00] #1706 closed

[2021-08-07 02:46] DreadKnight opened #1899 "MineMint faucet"
https://minemint.app

Since we deployed our token, XatteR on the MintMe blockchain, we can now start using it in dapps. One of the first should be a faucet in order to market this whole thing better.

Each round there will be shown a number of avatars (more on higher levels) and a unit name.
https://github.com/FreezingMoon/AncientBeast/tree/master/assets/units/avatars
The player will have to click

[2021-08-09 22:42] DreadKnight opened #1900 "earnerschannel faucet listing"
XatteR should be listed on https://earnerschannel.pl faucet, along with link to the project.

[2021-08-10 00:23] DreadKnight opened #1901 "2d printed pins"
Should produce some printed unit pins. Tutorial shows up the process and also links the required stuff in the description https://www.youtube.com/watch?v=cem0Z2FtJq8

[2021-08-12 01:25] DreadKnight commented on #1900
Token has been added to the website, being 11th, because it goes all the way up to eleven, ofc.
It's one of the highest paying faucets around, so have a swing at it.
https://earnerschannel.pl/faucet.php?token=XatteR

[2021-08-12 01:30] #1900 closed

[2021-08-16 09:03] DreadKnight opened #1903 "firstcontributions repo listing"
Someone should add the project to this website https://firstcontributions.github.io (not yet sure how), as the repo is kinda bogus
https://github.com/firstcontributions/first-contributions

[2021-08-18 04:41] DreadKnight opened #1904 "workhole integration"
Should integrate with https://www.wormholelabs.com and allow players to duel each others easily from there.

[2021-08-21 08:39] DreadKnight opened #1905 "Blockspot listing"
Should list the token / project on Blockspot https://portal.blockspot.io/submit-coin

[2021-08-28 12:53] DreadKnight commented on #1840
Need to look into this one as well https://www.universalslots.net/content/affiliates
Probably lots of online casino websites offer such things, though not super sure if to go this route hmm

[2021-08-31 12:51] DreadKnight commented on #1905
https://www.mintme.com/token/Spiffcoin

[2021-09-29 08:33] DreadKnight commented on #1898
https://www.mintme.com/token/MOTh

[2021-10-02 17:55] gauravsoni119 commented on #1894
I would like to contribute. Is this something like updating [hotseat](https://github.com/FreezingMoon/AncientBeast/blob/master/src/index.ejs#L76) text only?

[2021-10-02 17:58] DreadKnight commented on #1894
Yeah, should be different from online multiplayer, so it needs a condition.

On Sat, Oct 2, 2021, 20:56 Gaurav Soni ***@***.***> wrote:

[2021-10-02 18:49] gauravsoni119 commented on #1894
I think it's already covered by another PR.

[2021-10-02 19:30] DreadKnight commented on #1894
Those other PRs are broken, sadly. They had plenty of time to make changes
based on my reviews. So no worries, go for it.

On Sat, Oct 2, 2021, 21:49 Gaurav Soni ***@***.***> wrote:

[2021-10-03 11:44] #1893 closed

[2021-10-03 11:53] DreadKnight commented on #1894
Fixed in #1909

[2021-10-03 11:53] #1894 closed

[2021-10-03 12:25] #1801 closed

[2021-10-03 12:40] #1802 closed

[2021-10-03 14:22] TheSeally commented on #741
@DreadKnight, I think this issue is not actual any more. At least I can't to repeat it

[2021-10-03 14:28] TheSeally opened #1914 "Arrow hotkeys don't work in game"
**Describe the bug**
I can't use arrows in game. In console log I found an error about `hex is undefined`

**To Reproduce**
Steps to reproduce the behavior:
1. Start game
2. Press any arrow button
3. Look at console log

**Expected behavior**
I looked at implementation of arrow key binding and found that it miss hex parameter
For example here https://github.com/FreezingMoon/AncientBeast/blob/6a98b

[2021-10-03 14:31] DreadKnight commented on #741
@TheSeally It's still an issue when the game is embedded, like on the homepage https://AncientBeast.com - but you would have to zoom in the page to make sure it's scrollable and problem only happens with the pre-match screen, not while actual gameplay.

[2021-10-03 14:37] DreadKnight commented on #1914
This might definitely be regression. Game should be playable with mouse or keyboard only, so arrows should move the cursor, depending on active player and unit (making up/down arrows select hexagons that are forward in the direction the active player is facing). So pressing right arrow while player 1 is active would select the hexagon in front of the active unit (if possible, as in not outside of

[2021-10-03 14:48] TheSeally commented on #1914
Yeah, I'll try to implement this

[2021-10-03 14:49] TheSeally commented on #741
I'll look on this problem. Thanks for additional info

[2021-10-07 22:29] DreadKnight opened #1916 "top XTR holders within game"
The top holders of XatteR token should be displayed in-game, within the score screen, to the right side, along with a big button under to visit the page to buy some (will open the page in a new tab, obviously).
Could use an iframe to get it right from https://www.mintme.com/token/XatteR if there's no API for doing so otherwise.

This stuff will only be displayed on the desktop version, so media-qu

[2021-10-13 12:48] DreadKnight opened #1918 "LouisTeeChannel marketing"
Could go for a marketing video about the project and the token for about 3:33, provided the time is right and there is enough money, as it costs $100/minute. Hopefully his traffic and subscriber count will increase soon. https://youtube.com/LouisTeeChannel

[2021-10-31 16:05] DreadKnight opened #1920 "small fullscreen button on mobile"
The in-game fullscreen button displays smaller on mobile.

[2021-11-01 08:40] DreadKnight opened #1921 "fullscreen doesn't work on iPhone"
The fullscreen buttons don't work on iPhones afaik. I don't have one to test out, so if you can confirm along with versions feel free.

[2021-11-01 09:30] DreadKnight opened #1922 "awesome-game-remakes listing"
Should have the project listed on https://github.com/radek-sprta/awesome-game-remakes in order to find more contributors.

[2021-11-01 09:31] DreadKnight commented on #1922
I've opened out a PR for this https://github.com/radek-sprta/awesome-game-remakes/pull/10 - feel free to react to it 🙏🏻

[2021-11-04 12:33] DreadKnight commented on #1898
https://www.mintme.com/token/WG%20Studio

[2021-11-04 19:06] DreadKnight commented on #1898
https://www.mintme.com/token/bEUBI

[2021-11-06 07:22] DreadKnight commented on #1898
https://www.mintme.com/token/H2GOCoin

[2021-11-06 19:50] DreadKnight commented on #1898
https://www.mintme.com/token/Kraken

[2021-11-14 22:54] Sdaniel5 commented on #1851
Anyone here who has a bot for Veve?

[2021-11-28 11:56] DreadKnight commented on #1899
XTR was added to https://minemint.app a while back, though not as a special game as I was hoping, better than nothing though. This could get repurposed for some other faucet, as long as it meets the overall defined specs. Considering this later priority as of now and pushing it to v0.5

[2021-11-29 06:49] DreadKnight opened #1923 "online multiplayer blocked by CORS crap"
Online multiplayer stuff is being blocked by some new browser crapware related to CORS. Can't log in, can't make new account 😡
![Screenshot_20211129_083932](https://user-images.githubusercontent.com/587487/143821084-45264b6b-f1f0-4d79-bb78-1a85012a8f4d.jpg)

[2021-11-29 07:29] DreadKnight opened #1924 "tip.cc XatteR listing"
Out token XatteR should be added to tip.cc bot, ideally after MintMe listed, provided we got added as referral (they sure have a crappy system for that) or after Discord server gets big https://tip.cc/guides/listing-coins

[2021-11-29 07:38] DreadKnight commented on #1923
This is so retarded, might have to set up a CORS server on Heroku to somehow bypass this cockshit https://stackoverflow.com/questions/43262121/trying-to-use-fetch-and-pass-in-mode-no-cors

[2021-11-29 09:54] DreadKnight commented on #1923
Seems Digital Ocean closed the droplet because it doesn't take money automatically from PayPal and expected some payment. I paid manually but droplet wasn't turned back on, so it stayed offline for nearly 8 days until I figured what was actually going on.

[2021-11-29 09:54] #1923 closed

[2021-11-30 06:07] DreadKnight opened #1925 "cursor keyboard movement regression"
There's a regression going on atm, as the game should be fully playable with keyboard only, not being able to move the cursor around using arrow keys, which is handy to move around units or target abilities and such. Assuming red player is current active:
- right arrow will move cursor to the front
- left arrow will move cursor to the back, starting from last active unit hexagon in case of medium

[2021-11-30 06:09] DreadKnight commented on #1925
@TheSeally I've opened up issue for the regression we've encountered before; feel free to poke at it if you have time and such.

[2021-11-30 06:19] DreadKnight opened #1926 "search units in Dash"
Pressing Return and typing could display chat based UI at the bottom to suggest you units based on input, listed on rows above it.
You could use arrow keys to switch between suggested ones and then press Return again to select it.

_Units could have all sorts of labels that you could search for, like tank, support, clown, undead, cute; avatar grid could showcase avatars from search results while l

[2021-11-30 07:10] DreadKnight commented on #1891
They sent me the money just fine. Some noob was confused on their support forum, which is now dead for a while now, read-only, as the service closed down. Anyway, might consider BountySource again, GitCoin or perhaps a new method we would have to develop to reward people with our token, XatteR; could do so manually for now though.

[2021-11-30 07:13] DreadKnight opened #1927 "match list showing up empty"
Sometimes when trying to join an online multiplayer game, the match list doesn't populate.
Might be because of trying to join too fast after login.

[2021-11-30 07:15] DreadKnight opened #1928 "mutually exclusive screens"
All the overlay screen modes, such as score screen, audio screen and dash, should be mutually exclusive, as in triggering one via hotkeys etc should close the other first instead of stacking. The hotkeys are Shift + A(udio), Shift + S(core) and Shift + D(ash).

[2021-11-30 10:35] DreadKnight opened #1929 "refresh match list stylish button"
When logged into online multiplayer and trying to join a game, there should be a refresh button (ideally with a timer).
Both back and refresh buttons should be styled like the "Create Match" and "Join Match" buttons.

[2021-11-30 10:36] DreadKnight commented on #1929
Hopefully this will improve things regarding issue #1927 a bit.

[2021-12-01 09:13] aspectdev-ph commented on #1929
Sure hope so

[2021-12-01 09:18] aspectdev-ph commented on #1928
hmmm

[2021-12-02 01:39] #1524 closed

[2021-12-02 01:42] DreadKnight commented on #1524
Well, analytics now display only for production deployments, regardless if beta or not, as of 7c78e37ddd456557c3ca8b344993f61fd32ae679

Your suggestion is interesting, though I think it would skip analytics from all the players we're getting from arcade websites or other embedded instances if I'm not mistaken, since the URL would be different. Anyway, all good now.

[2021-12-02 05:23] nandastone opened #1930 "Cannot type "f"/"l" characters into registration/login fields"
**Describe the bug**
When trying to login or register for multiplayer I cannot enter an email address that contains an "f" or "l" character. Pressing those keys has no effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Multiplayer.
2. Click on an Email field in Login or Register.
3. Type in an email address containing an "f" or "l" character.
4. See error.

**Expected behavior**
C

[2021-12-02 05:26] DreadKnight commented on #1930
Hmm, woah, such a lulz bug. Could be that some hotkey related code is scooping for those keys and all my test accounts lacked those letters. Thanks for the report!

[2021-12-02 05:31] nandastone commented on #1930
@DreadKnight https://github.com/FreezingMoon/AncientBeast/pull/1931

[2021-12-02 05:47] DreadKnight commented on #1930
@nandastone No problem, I'm here to serve. Will check out that PR right away :)

[2021-12-02 05:51] nandastone commented on #1929
@DreadKnight Is the timer to automatically refresh the list, or to prevent clicking refresh for a certain amount of time?

[2021-12-02 05:59] DreadKnight commented on #1929
@nandastone Good question. It's to prevent spam/abuse. Need to have all sorts of protection measures like that wherever needed. Button could also turn grey or cursor change to disabled, but those are usually afterward visual enhancements.

[2021-12-02 06:56] #1930 closed

[2021-12-02 07:03] nandastone commented on #1929
@DreadKnight https://github.com/FreezingMoon/AncientBeast/pull/1932

[2021-12-02 08:40] aspectdev-ph commented on #1928
this issue is make everything sync like if the player has its turn everything is disabled for him?

[2021-12-02 08:43] DreadKnight commented on #1928
Um, not at all, idea is too avoid too many screens from overlapping or even some hotkey redundancy awkwardness. Example:
![Screenshot_20211202_104243](https://user-images.githubusercontent.com/587487/144387680-d5a8dcad-1448-4696-b931-e877a229087b.jpg)

[2021-12-03 07:15] DreadKnight commented on #986
Duplicate of #1928

[2021-12-03 07:15] #986 closed

[2021-12-03 07:23] DreadKnight commented on #1922
... and it got rejected, meh https://github.com/radek-sprta/awesome-game-remakes/pull/10#issuecomment-969255577 :(

[2021-12-03 07:23] #1922 closed

[2021-12-03 07:25] DreadKnight commented on #1865
GR12 is now on https://gitcoin.co/grants/916/ancient-beast - consider pitching in!

[2021-12-03 07:25] #1865 closed

[2021-12-03 07:30] DreadKnight commented on #1705
ETH is super expensive gas fee wise, so will remove any mention of that from the original post.
We're using MintMe blockchain since it's dirt cheap https://www.mintme.com/token/XatteR/invite

[2021-12-03 07:34] DreadKnight commented on #1588
Got rejected a second time a while ago, they provided some reasoning this time, as we're not planning to make use of their protocol.

[2021-12-03 07:37] DreadKnight commented on #1265
This is actually implemented for a while now. Recently the hotkey has been changed to Ctrl+Meta+L

[2021-12-03 07:37] #1265 closed

[2021-12-03 07:49] DreadKnight commented on #791
Nakama's admin panel might have some activity stats graphs, will have to check again soon, need to recall the admin link xD
And if we'll switch to Colyseus as of #1788 - it has some graphs to display number of active players at a given time, basic stuff.

[2021-12-03 11:27] DreadKnight opened #1934 "timestamp in saved game logs"
Saved or generated game logs should include a timestamp after the version number, that way it will be easier to tell if they're rather recent and less likely to be broken by the gameplay changes that might have occurred after.

[2021-12-03 11:36] DreadKnight opened #1935 "build id inside saved match logs"
Would be great if we can include something like the id of the latest GitHub commit (basically a build number) into the saved match log files.

[2021-12-03 11:39] DreadKnight commented on #1935
If we manage something like this or an easy type of hash or identification code, we could have the game provide a warning when players try to load a match log that has a different one. At some point in the future we might even provide a way to fetch and temporary build that specific version and pass it the match log, in order to make sure that match logs will be usable even if old.

[2021-12-03 21:49] #1929 closed

[2021-12-04 17:42] DrDub commented on #1934
I would like to give this issue a try, unless other people are working on it.

[2021-12-04 17:44] DreadKnight commented on #1934
@DrDub Sure thing, go for it! Deadline 2 weeks btw, should be plenty of time ;-)

[2021-12-05 09:10] nandastone commented on #1816
@DreadKnight I think I have a fix for this but need clarification on a few questions:

1. Drop buffs are not handled like normal buffs using the `Effect` class. Is there some reason for that?
2. Can drop buffs stack?
3. Do drop buffs expire?
4. Are there other abilities that remove buffs from creatures, and if so should they remove drop buffs?
5. Anything else I should know about drop buffs?

[2021-12-05 09:19] DreadKnight commented on #1816
Nice! Hoping this is some easy fix, because it's odd this one doesn't work when it's very similar to all the others overall afaik.

1. Well, I think they might have changed in style along the way. But it's good for them to be different somehow because normal buffs are usually related to unit abilities.
2. Yeah, that's the whole idea, though they're rather weak atm, will have to buff them soon quit

[2021-12-05 10:10] nandastone commented on #1816
@DreadKnight https://github.com/FreezingMoon/AncientBeast/pull/1936

[2021-12-06 07:02] nandastone commented on #1430
@DreadKnight There's a bit of back and forward in this thread as to what "a complete turn" actually means.

Does it mean when it comes back around to the Impaler's next turn the trap should disappear?

If not, can you please clarify?

[2021-12-06 07:23] DreadKnight commented on #1430
We could make it to work until targeted unit ends next turn (or moves). But that way it will cut the vine's life short in certain cases or make it last longer, influencing the possibility of other units to move (triggering damage ) or cure the vine affected unit.

Easiest "good enough" solution would be to remove the old Poisonous Vine at the start of Impaler's next turn.
That way player can see w

[2021-12-06 09:45] nandastone commented on #1430
@DreadKnight After some testing I'm unable to replicate this issue. The log in the ticket doesn't work anymore.

Here are some screenshots demonstrating current behaviour:

![CleanShot 2021-12-06 at 19 41 28](https://user-images.githubusercontent.com/199204/144823762-aa99d4fa-a417-4cf8-b546-bc88d1428075.png)

![CleanShot 2021-12-06 at 19 42 09](https://user-images.githubusercontent.com/199204/1448

[2021-12-06 09:55] DreadKnight commented on #1430
Yeah, it's super likely that the log doesn't work by now, will need something like #1935 and building the specific revision to see stuff like this in the future. I think there was some scenario were the skill didn't performed "good enough", so I'll just consider this invalid (for now) until possibly bumping into the issue again randomly while doing more play testing sessions with real players.

[2021-12-06 09:55] #1430 closed

[2021-12-06 11:04] DrDub commented on #1934
Alright, got the dev build working and running (following the instructions out of the box, really impressed such a complex system built so smoothly). The save files I get are already in this format:

```AB-0.4_2021-12-06.ab```

The relevant line in ```gamelog.js``` (line 126) says:

[code]

Either the timestamp functionality is already implemented or you want to extend the version number with a ti

[2021-12-06 11:10] DreadKnight commented on #1934
Good to hear, though I had to run a command and update stuff. Hopefully things still run for you, sync and do a `npm update` just in case; there might be a bug for users with spaces in name for Windows afaik, hopefully won't affect us.

Want the timestamp also included in the code provided for copy-pasting, because we can't attach logs easily on GitHub for example, so need to easily get an idea of

[2021-12-06 11:27] DrDub commented on #1934
Thanks for the detailed response. Adding it as ```date``` under the key ```config``` in the saved log will work for you?

[2021-12-06 11:31] DreadKnight commented on #1934
@DrDub Maybe. Feel free to open a PR and we'll see from there, as I'm not looking at the exact code atm and such.

[2021-12-06 11:43] DreadKnight commented on #1748
Since I don't compose *for now*, we still need to hunt for about 3 more tracks to have a decent enough base 🎶

[2021-12-06 12:09] #1816 closed

[2021-12-06 12:11] DreadKnight commented on #1928
This should also take into consideration the new and secret Meta Powers screen (local hotseat / development flag), hotkey Meta + Alt + P.

[2021-12-06 15:47] #1934 closed

[2021-12-06 22:28] DrDub commented on #542
Hi, AI is my area. Here are some thoughts:

* The code has to have the player decisions clearly marked. Looking at the code, it looks like some decisions are given to the player in the form of available UI elements (but I may be mistaken). If that's the case, the code will need to evolve to make the decisions more explicit.
* With the player and its decisions available at every moment clearly mark

[2021-12-06 22:54] DreadKnight commented on #542
Hey! Good to know this is actually your thing.

Hey! Good to know this is actually your thing.

The UI is just a reflection of the game mechanics. Though the ability code will get rewritten to become more like an API instead of pretty much reinventing the wheel with each unit, even if rarely 2 abilities are really alike, see issue #1469

Each ability or action has clearly defined rules / requireme

[2021-12-07 12:10] nandastone commented on #1106
@DreadKnight MR opened for this bug: https://github.com/FreezingMoon/AncientBeast/pull/1939

[2021-12-07 13:24] DreadKnight commented on #1927
Probably fixed in 0dc30fb by @nandostone 👏🏻

[2021-12-07 13:24] #1927 closed

[2021-12-07 15:40] OmerFarukGenc commented on #1004
I want to work on this issue. Can you assign me?

[2021-12-07 15:50] OmerFarukGenc commented on #1004
Thank you so much. Is there any channel for me to ask about details beside this thread?

[2021-12-07 15:55] DreadKnight opened #1940 "Larva Infest causing issues for target unit"
Headless' Larva Infest is causing issues for the target unit, not properly showing it up as active when turn comes.

Console throws some errors:
![Screenshot_20211207_175219](https://user-images.githubusercontent.com/587487/145062184-2c11f615-d746-4ee4-a5ad-762f85e6780f.jpg)

[2021-12-07 15:57] DreadKnight commented on #1004
No problem. Yes, you can drop by our Discord server, there's a channel related to coding
Here's your invitation https://discord.gg/RY8btF4x

[2021-12-07 21:59] DreadKnight opened #1941 "announce online multiplayer matches in Discord"
We could eventually integrate the online multiplayer feature with Discord itself, by advertising online matches waiting for players to a specially created channel in our Discord server. This will result in more match-ups and leading to increased player base.
There's a JS library with access to the Discord API and also uses npm https://github.com/discordjs/discord.js

Would be handy if the messages

[2021-12-09 10:41] #1106 closed

[2021-12-11 14:19] OmerFarukGenc commented on #1004
Sorry, can you send discord link again. Invitation seems expired.

[2021-12-11 14:27] DreadKnight commented on #1004
@OmerFarukGenc By default Discord generates 1 day invitations for various reasons.
You can find icon for Discord within the game (lower left corner) or on the website's footer.

[2021-12-12 18:08] #1089 closed

[2021-12-12 18:12] DreadKnight opened #1947 "message suppression not working"
Nutcase's Tentacle Bush was supposed to have some suppression to avoid scenarios like "Nutcase uses tentacle bush" and "Unit_x has been affected by Tentacle Bush" because that's a bit redundant. Code is there but not working, most likely a regression or bug. Code is here https://github.com/FreezingMoon/AncientBeast/blob/master/src/abilities/Nutcase.js#L73

[2021-12-12 18:14] DreadKnight opened #1948 "Nutcase's War Horn is harmless"
Nutcase's War Horn is not doing any damage at all. Probably some bug or regression.

[2021-12-12 18:17] DreadKnight opened #1949 "ability info fields not displayed in tooltips"
The info field of abilities is not being displayed inside tooltips while hovering unit abilities of active unit while viewing the combat.

[2021-12-12 20:14] DreadKnight commented on #1748
Pushing this to v0.5 Chimera's milestone, as I don't wanna rush things and it also fits way better with Chimera's theme (as it has sound damage ability called "Disturbing Sound" and the unit itself symbolizes some kind of bipolarity).

[2021-12-12 21:56] #1649 closed

[2021-12-12 23:20] DreadKnight commented on #1924
https://www.mintme.com/token/CRYPTOPICX

[2021-12-13 01:06] nandastone commented on #1940
@DreadKnight Questions re Larva Infest:

1. Is a Larva effect applied at the start/end of every turn, or just the Headless' turn?
2. Why does the debuff only remove -5 endurnace on the target's turn, rather than instantly?

[2021-12-13 12:09] DreadKnight commented on #1940
Headless has this tail pincer basically; when its turn starts, he pinches enemy unit behind, doing that again when turn ends.
So if not enemy behind in each case, then no targets getting debuffed. So yeah, they're all about Headless' turn itself, indeed.

It should be instant, because just like in the case of stat pools, we're lowering the total pool itself.
Well, this is super buggy atm, obviousl

[2021-12-13 13:11] DreadKnight commented on #1797
Note that this only happened in online multiplayer. We have a big issue with it that's been keeping the project in development hell basically as I mentioned before, though somehow it seems that I haven't opened an issue about it. All abilities that have unit movement are bugged in online multiplayer, as they allow units go step inside other units (enemy ones at least) and sometimes even causing th

[2021-12-14 08:46] nandastone commented on #1940
@DreadKnight more questions needed to fix this properly:

1. Is this ability supposed to remove -5 current endurance (remove from pool), or -5 maximum endurance (reduce size of pool)?
2. If removing current endurance, my understanding is that creatures instantly regenerate to maximum endurance when they activate their turn. So what is the point of removing endurance when it's not their turn?
3x. I

[2021-12-14 09:40] nandastone commented on #1810
@DreadKnight Questions:

1. Is "nearby ally" manually targetable? Or selected via another mechanism?
2. What is the range the ability?
3. Should full life allies show as targetable, but cancel the ability with a message? Or just not be targetable?
4. Is the 10 regrowth buff permanent?
5. Will graphics/sound be added in another task?

[2021-12-14 13:44] DreadKnight opened #1961 "locked units don't always show status text [bounty: 5 XTR]"
After right clicking an active unit or the avatar for it and then clicking on a locked unit's avatar in the dash view, it doesn't display the big button with text saying that the unit is under heavy development.

[2021-12-14 13:49] DreadKnight commented on #1556
Some typo goof, this not fixed by that PR xD

[2021-12-14 13:51] DreadKnight commented on #1566
Fixed in #1957 by @nandastone (there was a small typo goof when referencing the issue number, lulz). 🐻

[2021-12-14 13:51] #1566 closed

[2021-12-14 14:38] DreadKnight commented on #1810
Manually targetable indeed. This is a buff for a selected ally.

Usually when I say "nearby" I mean adjacent, so allies that are close to Golden Wyrm.

We could make them not targetable. We'll also have ways with time to sort of put more emphasis on better targets.

Sort of. It lasts, but there might be units at some point that will remove or even steal positive buffs from enemy units.

Every abil

[2021-12-14 16:02] DreadKnight commented on #1940
We could enforce a minimum value of 1 when it comes to pools, though the debuff could keep stacking. That way we can ensure the pool still exists (super deflated) and that units don't sort of end up being zombies/ghosts just walking around,
still having chances to recover and do some damage. There will be units to transfer energy onto others eventually or give endurance, remove debuffs and so on;

[2021-12-14 23:01] DreadKnight opened #1962 "log ability upgrades"
When abilities get upgrades, they should display a log entry, for example:

`Visible Stigmata has been upgraded`

[2021-12-14 23:13] DreadKnight opened #1963 "semi playable units"
When enabling a new unit for development, a developer could only be poking at a certain ability, which would be problematic. Even worse, the other abilities would probably be unusable. We should handle such scenarios a bit better, in order to improve beta testing.

Possible solution would be to have another option for the `playable` field from `data.json` file, so that you can define an unit as `s

[2021-12-15 09:51] DreadKnight opened #1965 "don't turn around while casting"
Golden Wyrm should not turn around when using Visible Stigmata on allies that are on adjacent hexagons near the frontal diagonal ones.

[2021-12-15 09:58] #1810 closed

[2021-12-15 09:59] nandastone commented on #1949
@DreadKnight Can you confirm you want this change? Most abilities have a double up between the info text, and the costs/upgrades text below:

<img width="413" alt="CleanShot 2021-12-15 at 19 56 57@2x" src="https://user-images.githubusercontent.com/199204/146165129-c39ad094-e4a4-4ee6-9afc-20c7fc8b3c9e.png">

[2021-12-15 11:08] DreadKnight commented on #1949
Yeah, could use empty row (or margin/padding, whatever) between all the different stuff actually.

[2021-12-15 11:11] DreadKnight commented on #1949
@nandastone Not fully sure what you mean by "double up", it's related if to keep empty line between description and info?

[2021-12-15 11:31] nandastone commented on #1949
"-1 plasma for each countered attack."

Then right below it:

"Costs: 1 per countered attack"

What I mean is that most info text appears to repeat the costs/upgrade info right below it.

[2021-12-15 12:00] DreadKnight commented on #1949
Yeah, noticed it's a bit redundant, so was just making sure.
In a lot of other cases info doesn't repeat like that hmm.
We should display the info regardless, later on improve.

[2021-12-15 23:18] #1949 closed

[2021-12-15 23:26] DreadKnight opened #1967 "right click to close any screen [bounty: 9 XTR]"
All screen views should be closed when using right click, though the secret Meta Powers (hotseat / development flag / Meta+Alt+P) and the Score Screen (Shift+S) don't close when right clicking, this specific screen shouldn't be closable when the match is actually over.

[2021-12-15 23:30] DreadKnight opened #1968 "more original suggestions"
When opening the dash to materialize an unit, the dash view makes a semi-random suggestion by having an unit already selected. The algorithm should take into account the already existing queued and dead units from all players and try to avoid suggesting those if possible, so main pool of choices priority would be only units that are unlocked and haven't been materialized in the match so far, provi

[2021-12-15 23:31] DreadKnight commented on #1968
The idea with this change is to avoid copycatting more or using the same units in a match and encourage way more variety overall.

[2021-12-15 23:53] DreadKnight opened #1969 "TypeScript migration [bounty: 666 XTR]"
The whole project's codebase should be migrated to TypeScript for various reasons. Plain JS is kinda meh.

Phaser engine itself supports TypeScript as well, we'll upgrade to newer version #1584

[2021-12-16 00:40] DreadKnight opened #1970 "CLI based ASCII renderer"
After game logic will be separated from UI, we can have a *headless* client (no, not the unit) which could generate data streams that can be plugged into various visual modes (renderers). A crazy idea is to have the game playable from any CLI, so you would see the combat field with symbols for units, input text for actions based on the hex grid coordinates. When active unit performs an ability, co

[2021-12-16 10:12] DreadKnight opened #1971 "Larva Infest log tweaks [bounty: 5 XTR]"
Headless' Larva Infest passive ability should log with the amount of endurance that's actually decreasing, so in can be less than 5 if target unit gets to the last minimum point for the pool; if there's no more reduction happening, log entry could be "Unit_x is already fragile".

[2021-12-16 10:35] #1940 closed

[2021-12-16 12:33] DreadKnight commented on #1840
https://www.mintme.com/token/Supercalifragilisticexpialidocious

[2021-12-17 22:39] nandastone commented on #1809
@DreadKnight some questions:

1. Is there an energy cost?
2. Is this usable if Golden Wyrm is affected by Immoveable? Are there any other status effects that might affect the ability?
3. Does the upgraded +25 offense buff last across turns? i.e. don't move, use executioner axe next turn
4."Travels to a nearby location passing over obstacles at no movement cost." Is that flying or hovering? My unde

[2021-12-18 00:14] DreadKnight commented on #1809
Yes, the energy costs are usually in `data.json` file, so please get the data from there. Seems you missed that with the ultimate and we already have discrepancy as I said an arbitrary value at the time that's way less to what I had in mind when I designed it.
Having essential data within that file makes balancing the game way easier, as I won't have to hunt around for the hardcoded variables with

[2021-12-18 11:17] nandastone commented on #1809
It'd be great to take other values like damages, durations, etc from this file to make things easier to balance. I'm sure you have an issue for that somewhere ;)

[2021-12-18 11:22] nandastone commented on #1742
@DreadKnight Questions:

1. "Upgrade: Hits don't break the effect." Does this only apply for Vehemoth damage, or other creature damage as well?

[2021-12-18 12:39] nandastone commented on #1948
@DreadKnight I have a fix for the missing damage, but I don't think the upgraded ability push is working properly.

Can you please describe exactly how the upgraded push should work, or link me to the original issue that has those details?

[2021-12-18 20:05] DreadKnight commented on #1809
Damages are usually taken from that `data.json` file as well *usually*. Duration tends to be pretty standard though. But in case you hard-coded stuff, you can always patch things to take it from the file. Well, eventually we'll poke at #1469 and enforce stuff.

[2021-12-18 20:31] DreadKnight commented on #1742
From all damage. Basically when upgraded, the status for that unit could turn from `Fatigued` into `Skipping` or something.
This way we'll better indicate that the unit cat be hit just fine without having any fear that the attack will cause it to defrost.

[2021-12-18 20:47] nandastone commented on #1742
Mega-Frozen 😅

[2021-12-18 20:47] DreadKnight commented on #1948
@nandastone Good find. Well Nutcase's abilities got tweaked quite a bit over the years. The upgrade should work like this: If there's one hexagon free space behind the target unit, Nutcase will also push the target into that spot, but unlike a regular knockback, he'll end the charge itself by remaining adjacent to the unit. So he'll also get bonus damage for that hexagon.

[2021-12-18 20:49] nandastone commented on #1948
Thanks. Does the push repeat until colliding with another obstacle, or only for one hex? I ask because the current implementation tries to push back repeatedly.

[2021-12-18 20:54] DreadKnight commented on #1948
Yeah, I think it was meant to be repeated, but that's way too problematic and over powered imho. Huge distance (meaning huge bonus), not differentiating units based on size, tons of traps can be along the way and so on. Let's stick to one hex only.

[2021-12-18 22:31] #1808 closed

[2021-12-18 22:59] #1809 closed

[2021-12-18 23:01] DreadKnight opened #1976 "showcase ability bonus potential [bounty: 8 XTR]"
Golden Wyrm's Executioner Axe icon should bounce a bit towards right side constantly after landing an upgraded Dragon Flight, provided the ability is actually usable and not selected.

[2021-12-18 23:04] DreadKnight commented on #473
Golden Wyrm fully playable now, finally! Cheers @leopoldwe and @nandastone 🥳 👏🏻

[2021-12-18 23:04] #473 closed

[2021-12-19 12:34] DreadKnight commented on #1742
@nandastone I think `Cryostasis` is the most suitable term, so we should go with that for the status (it represents a deep-freeze).

[2021-12-19 15:56] DreadKnight commented on #1840
https://www.mintme.com/token/Wrapped%20Gifts

[2021-12-21 04:01] DreadKnight opened #1979 "confusing or wrong ability comments"
Snow Bunny's Bunny Hop comments could use some tweaks, as they're a bit confusing or even wrong:

https://github.com/FreezingMoon/AncientBeast/blob/899df43ab9a585804ccfa3ebb13dde8ba66302ae/src/abilities/Snow-Bunny.js#L102

[2021-12-21 04:03] DreadKnight opened #1980 "faster charging speed for Vehemoth"
Vehemoth's Flat Frons upgraded ability should cause the unit to move faster while charging towards foe, would make more sense.

[2021-12-21 04:12] #1812 closed

[2021-12-21 04:14] #1948 closed

[2021-12-22 06:50] nandastone commented on #1419
@DreadKnight The game log doesn't work and unable to manually reproduce. I imagine this bug occurred from a very specific sequence of circumstances.

[2021-12-22 06:51] nandastone commented on #1979
https://github.com/FreezingMoon/AncientBeast/pull/1981

[2021-12-22 17:08] #1979 closed

[2021-12-22 17:17] DreadKnight commented on #608
Fixed in issue #1982 (I self-mentioned the id to the one of the PR's itself by accident, oh well...).

[2021-12-22 17:17] #608 closed

[2021-12-22 17:22] DreadKnight commented on #1042
This could happen as well if taking care of #1469 and doing things properly.

[2021-12-22 17:29] DreadKnight commented on #1419
Indeed. One idea would be to get a revision from the time this issue was made, deploy that and then test the log. If scenario reproduces in the latest build, then the bug is still relevant. Was thinking about a feature to facilitate this for a while now, but it seems that I might have not made an issue about it, so will probably see about that soon. Gitpod should come in very handy. I've seen othe

[2021-12-23 00:24] DreadKnight commented on #1968
Duplicate of #1773 apparently.

[2021-12-23 00:24] #1968 closed

[2021-12-23 01:46] nandastone commented on #1419
Good idea re checking out the project at an earlier time. I tried checking out https://github.com/FreezingMoon/AncientBeast/commit/d46ae021ee2112faeabb67dc8341abd6a4bba6bb but unfortunately the codebase has changed significantly and I'm having trouble getting the app to run. Spent about 30 minutes before deciding to work on something else.

I know you recently added the date to the game log, but t

[2021-12-23 02:03] DreadKnight commented on #1935
I've bumped into https://wallet.zksync.io recently that actually uses a similar approach, as it displays the exact GitHub commit id/hash thingy as a link, right next to the official version number (lower right corner, just like we here with Ancient Beast).
So their source code could be checked out on GitHub and maybe figure out how to actually get that id/hash automatically.
![Screenshot_20211223_

[2021-12-23 02:35] nandastone commented on #1743
@DreadKnight Can you please clarify the targeting method?

Should the targeting work like this:

![CleanShot 2021-12-23 at 12 19 40](https://user-images.githubusercontent.com/199204/147178091-0e8b572a-7af7-4dff-84a2-198e92ae6741.png)

Or like this (the same backwards)?

![CleanShot 2021-12-23 at 12 33 46](https://user-images.githubusercontent.com/199204/147179159-0a17bdd0-c376-4f55-807f-8c4e03cdcb

[2021-12-23 02:45] DreadKnight commented on #1419
Had to do stuff like `npm i`, `npm run build:dev`, `npm run start:dev` all manually for some reason for this in gitpod (that AB revision too old and primitive perhaps), but after that struggled into port config, didn't knew how to open the stuff manually. Imported the thing as well into local VSCode, did all the stuff again, but when opening localhost:8080 manually, was seeing the website striped

[2021-12-23 02:58] DreadKnight commented on #1743
Basically it's what I was initially thinking, but since we don't care about line of sight stuff, we can spice things up a bit with this one targeting wise.

Yeah, that's pretty much how it is, as the unit will basically stand up, materialize an ice arrow in the nose cavity and then shoot it. Initially I had some concerns regarding actual unit animations and sprites, but we can easily trick this so

[2021-12-24 01:10] DreadKnight opened #1985 "Vehemoth's Snow Convertor ability revamp"
Vehemoth could have `Snow Convertor` revamped and become ultimate, acting like this:
- targeting like Gumble's basic attack
- freezing foe if only target within area
- all hexagons of the foe would need to be hit for the freezing effect to occur
- upgrade could add bonus cold damage based on mastery difference

Name could be something like `Freon Breath`, had something like that before, but afaik

[2021-12-24 01:46] DreadKnight commented on #1985
While this ability will get units together to avoid the `Frozen` effect, it will cause them to be more susceptible to area damage/effects.

[2021-12-24 02:19] #1742 closed

[2021-12-24 02:25] DreadKnight opened #1986 "prioritize fatigue status effect over fragile"
The `Fatigued` status should be prioritized over `Fragile`, because `Fragile` is a fancy way of saying 1/1 endurance pool, while `Fatigued` means being at 0/x. `Fragile` status log should only happen the first time the pool is reduced to the minimal value.

This is related to https://github.com/FreezingMoon/AncientBeast/pull/1983#issuecomment-999975288

[2021-12-24 02:56] #1743 closed

[2021-12-24 03:06] DreadKnight commented on #575
Finished recently with commit #1984, cheers @leopoldwe and @nandastone 🥳 👏🏻

[2021-12-24 03:07] #575 closed

[2021-12-24 03:09] #1980 closed

[2021-12-24 09:00] nandastone commented on #1088
@DreadKnight

Currently the ability is coded to be a regular 3 range inline attack on a single target, doing 10 slash and 10 fire damage. The upgrade extends the range to 5. I don't believe that's how it should work based on its description, or this issue. Can you please clarify exactly how this ability, and its upgrade should work?

1. "This attack has 2 hexagons extra reach." Does that mean it w

[2021-12-24 09:43] DreadKnight commented on #1088
Idea with this is the following:
- Abolished has some pretty long hands, being able to reach units further away than other units do with their basic attacks
- the hand itself does physical damage (the slash), that also ignites itself in the process to deal bonus damage (the burn)
- it's a single target "melee" attack animation wise that's basically disguised functionality wise as a ranged attack s

[2021-12-24 14:04] DreadKnight commented on #1088
@nandastone So instead of using dashed hexagons (which would add confusion and represent "unavailable" targets usually), we should actually use scaled down lined hexagons instead, which will represent less efficiency or damage, that way we can eventually make them scale percentage wise in order to solve an issue like #326, by differentiating more viable targets overall (by showing bigger hexagons

[2021-12-24 20:58] nandastone commented on #1402
@DreadKnight Can you clarify the correct minimum/maximum ranges for this ability? It currently has a minimum range of 3 (requires two empty hexes before unit), but a maximum range of 6 (can target an enemy 6 hexes away).

Maybe the ability description needs to be updated to mention min/max range rather than "Pull range". Normally a min range of 2 (as in description) would allow Scavenger to be tar

[2021-12-24 21:12] DreadKnight commented on #1402
@nandastone We're dealing with that "count from 0" programming stuff. In description I probably meant the empty hexagons between the two units. So I might just bump up the min/max numbers by 1 I guess to have some sort of consistency perhaps, hmm..

[2021-12-30 02:59] #1834 closed

[2021-12-30 03:02] #1928 closed

[2021-12-30 03:04] DreadKnight opened #1994 "shorter audio player timeline [bounty: 6 XTR]"
The audio player's timeline is a bit rather long, should get more about the same size as the rest of the stuff in the page now that @nandastone added the div as the background.

[2021-12-30 03:12] nandastone commented on #1088
As discussed in Discord, I'm having trouble understanding exactly how the requested changes should work, as the functionality you're describing sounds quite different to the current ability.

Because this is a very "visual" change, it'd be a huge help if you could visually mock up how the ability should work regarding targeting and activation.

For example, screenshots with annotations demonstrati

[2021-12-30 03:15] DreadKnight opened #1995 "Whip Move minimum range indicators [bounty: 25 XTR]"
Should have some special "hexagons" to better indicate the minimum range hexagons for Headless' Whip Move, allowing to click on them to trigger the ability in that direction, having things be less confusing. They could be dashed hexes with horizontal lines.

![CleanShot 2021-12-25 at 09 05 53](https://user-images.githubusercontent.com/199204/147374593-0dbf7ebd-96d2-4e5e-8e1a-a3cff8fab1dc.png)

[2021-12-30 03:19] #1402 closed

[2021-12-30 03:48] DreadKnight commented on #1088
@nandastone I've revamped the OP to be more clear and also included mock-up(s). Hopefully the idea is depicted properly now :)

[2021-12-30 04:30] DreadKnight opened #1996 "less draconian card update function"
In the game's dash, can't see abilities of Kraken unit, because some energy values haven't been defined.
The function for updating that stuff should be way more lose and just skip missing stuff or have a predefined value for that.
That way, it will get easier to work on additional unit sets pretty soon, being able to constantly check out the progress.

[2021-12-30 08:59] DreadKnight commented on #851
Seems this is not working anymore, regression that needs to be fixed.

[2021-12-30 09:07] #1925 closed

[2022-01-01 04:39] DreadKnight opened #2000 "proper hexagon tile hovering [bounty: 35 XTR]"
Hovering of hexagons should be improved, having the actual area mapped better.

![CleanShot 2022-01-01 at 12 33 08](https://user-images.githubusercontent.com/199204/147842849-269733a0-bd5a-445e-b680-8db8332589ee.gif)

This is probably caused by the hexagons being square, as reported here https://github.com/FreezingMoon/AncientBeast/pull/1999#issuecomment-1003489221

[2022-01-01 04:48] DreadKnight opened #2001 "not able to materialize by obvious means"
If having ability upgrades set to 1, materialize an unit and then skip turn while Godlet Printer ability is showing the ability upgrade animation will result in the blue Dark Priest not able to use the ability as well if clicking the icon or pressing R, tested it in hotseat.

[2022-01-01 05:07] #851 closed

[2022-01-02 06:37] nandastone opened #2002 "Upgraded Flat Frons targeting and damage issues for left-facing Vehemoth"
When the Vehemoth is using upgraded Flat Frons to target an enemy to the left (blue Vehemoth or red Vehemoth targeting backwards), there are two issues:

1. Inconsistent targeting. Sometimes the ability should be able to target an enemy (and can be activated), but nothing can be targeted.
2. No damage when used point blank. This only happens if the Vehemoth starts its turn point blank (no movement

[2022-01-03 06:15] DreadKnight opened #2003 "rotating targeting cursor [bounty: 9 XTR]"
The targeting cursor (circle+spikes) should spin around. The cursor is visible when hovering outside movement range for example.

![Screenshot_20220110_223651](https://user-images.githubusercontent.com/587487/148835855-d67b1c3a-0972-419c-94da-134dfaa9e79f.jpg)

[2022-01-03 06:20] DreadKnight opened #2004 "ability unit targeting tweaks"
When targeting an ability, the target hexagons should be using an overlapped non-spinning targeting hexagon on top of the filled outline hexagon. Also, if the ability only affects a hexagon of an unit, the other hexagons should be displayed as player color coded filled outline hexagons. This way we'll better indicate the range of some abilities or area effect, while also being able to click anywhe

[2022-01-04 00:13] #1088 closed

[2022-01-04 00:24] #2002 closed

[2022-01-06 05:16] DreadKnight opened #2006 "Flake Converter sprite"
Vehemoth's Flake Converter needs a custom sprite, as it's using the one from Snow Bunny's Chilling Spit.

[2022-01-06 05:18] DreadKnight opened #2007 "Blowing Wind sprite"
Snow Bunny's Blowing Wind ability should use a sprite, sort of a cloud that will quickly fade away when reaching the target unit.

[2022-01-06 05:20] DreadKnight opened #2008 "v0.4 press release"
Should make a press release for v0.4 when it's ready, highlighting some main changes; the milestone lists some target goals https://github.com/FreezingMoon/AncientBeast/milestone/4
The website blog is kinda hidden (not linked anywhere atm besides from within games' main menu), so will consider if to do that in GH's draft release https://github.com/FreezingMoon/AncientBeast/releases/new

[2022-01-10 20:33] shagungarg0 commented on #2003
i am a beginner here..can you please explain the issue..

[2022-01-10 20:34] DreadKnight commented on #2003
@shagungarg0 Hey, do you use Discord by any chance? Here's an invitation https://discord.gg/4EwQXjqB

[2022-01-10 20:39] DreadKnight commented on #2003
@shagungarg0 I've updated original post with more details about it. Hopefully that gets the point across.

[2022-01-10 20:46] shagungarg0 commented on #1994
can i work on this issue??

[2022-01-10 21:01] DreadKnight commented on #1994
@shagungarg0 Sure, go for it!

[2022-01-25 23:22] DreadKnight opened #2010 "units can snap to different location after materialization [bounty: 22 XTR]"
When materializing an unit, if actually clicking on other nearby hexagons to where the unit will supposedly be placed will actually cause the unit to snap into that location after the materialization fade-in animation is complete, because of the problematic hexagon hitboxes.

This is related to issue #2000

[2022-01-25 23:29] #2001 closed

[2022-01-28 00:19] KyleStrout commented on #2003
Is anyone working on this? I'd like to give it a try