[2022-01-28 00:21] DreadKnight commented on #2003
@KyleStrout Feel free to give it a go. I've assigned you to the issue for up to 2 weeks.

[2022-01-29 00:41] #1962 closed

[2022-01-29 22:58] DreadKnight opened #2014 "Whip Move targeting path [bounty: 16 XTR]"
Headless' Whip Move should show black hexagons outlines for the path to the target. The path can be hovered for targeting (would get dark) like in the case of other abilities.

[2022-01-29 23:00] DreadKnight opened #2015 "Whip Move improper pull [bounty: 66 XTR]"
Headless' Whip Move should fully drag the unit(s) to each other, not leave space between them. Minimum range only affects the ability's targeting requirement, not end result. Sometimes Headless won't even move after ability usage, like in this scenario here:

![Screenshot_20220130_011154](https://user-images.githubusercontent.com/587487/151680559-2ebdee32-2db6-46e2-86c5-f052372ca24c.jpg)

[2022-01-29 23:21] DreadKnight commented on #1805
A bounty of 66 XatteR is being offered for fixing this issue.
https://www.mintme.com/token/XatteR/intro/airdrop

[2022-01-29 23:22] DreadKnight commented on #2015
A bounty of 6 XatteR is being offered for fixing this issue.
https://www.mintme.com/token/XatteR/intro/airdrop

[2022-01-29 23:23] DreadKnight commented on #2014
A bounty of 4 XatteR is being offered for fixing this issue
https://www.mintme.com/token/XatteR/intro/airdrop

[2022-01-29 23:35] DreadKnight commented on #1891
No more relying on IssueHunt, no more 10% commission fees which were putting off quite a few coders before.
I've added a new label for issues called "bounty" https://github.com/FreezingMoon/AncientBeast/labels/bounty
in order to indicate issues for which I'm offering some of out XatteR token https://www.mintme.com/token/XatteR/intro/airdrop
XatteR is based on MintMe blockchain and transfers for al

[2022-01-29 23:35] #1891 closed

[2022-01-29 23:43] DreadKnight commented on #1971
Offering some of out XatteR token as a bounty for fixing this issue
https://www.mintme.com/token/XatteR/intro/airdrop

[2022-01-29 23:50] #1971 closed

[2022-01-29 23:51] DreadKnight commented on #1971
Well done @KyleStrout - awarded 5 XTR on discord (Laevus).

[2022-01-30 00:09] DreadKnight opened #2016 "icons of ultimate abilities snap after upgrade [bounty: 5 XatteR]"
The smooth transition animation of ultimate abilities icon gets disabled somehow when using the original speeds, causing the icon to snap in and out depending if the ability is usable. See commit bellow for original slower values, which should be restored when fixing this.

[2022-02-10 08:22] danvg commented on #1970
A colleague of mine and I are working in this issue as part of a school project. We are primarily focused on the first part of the description, e.g. trying to generate data streams from a headless client. Our initial idea is to generate commands which are queued and processed by the render function. The actual implementation would be provided by clients of the game's headless client. The game coul

[2022-02-14 13:53] DreadKnight commented on #1970
Nice to hear, hope something will... materialize out of this.

I've done some searching through existing open issues, seems I haven't made one to address just the support for multiple video modes, so I'll split this into 2 different issues (like you said); your work should also affect #249, possibly #1603 and an upcoming issue about having this game redone in a metaverse, basically I'll want to ap

[2022-03-02 13:05] DreadKnight opened #2021 "CLI based ASCII renderer"
After game logic will be separated from UI (depends on #1970), we can have a headless client (no, not the unit) which could generate data streams that can be plugged into various visual modes (renderers).

A crazy idea is to have the game playable from any CLI, so you would see the combat field with symbols for units, input text for actions based on the hex grid coordinates. When active unit perfo

[2022-03-02 13:10] DreadKnight opened #2022 "the Sandbox metaverse accelerator"
Should eventually apply for the Sandbox metaverse accelerator program.
https://www.brinc.io/metaverse

We could use #1970 so that we can eventually have AB playable from within Sandbox metaverse game.

[2022-03-02 13:12] DreadKnight opened #2023 "AB gameplay within Sandbox metaverse"
Ancient Beast should be reproduced and playable within the Sandbox metaverse game, especially if we go for the #2022 (accelerator). Link for the Sandbox metaverse game is https://sandbox.game - it's using voxel art and has a nice editor that also supports animations and putting stuff up for sell in their market place and so on https://sandbox.game/en/create/vox-edit

Relies on #1970 to be implemen

[2022-03-02 14:57] danvg commented on #1970
Sorry, I was trying to merge into our fork of the project but forgot to change the target branch (the default seems to be the original repo). I have deleted the PR , if not please delete it. We haven't made much progress sadly, most of our efforts have been spent translating into typescript and creating interface/base classes for those classes that are dependent on the current Phaser backend.

[2022-03-02 16:26] DreadKnight commented on #1970
@danvg Understood, just keep in mind that tackling too many things at once can be rather bad, for example TS support and migration has its own open issue and place in the timeline #1969 - so if you guys don't properly coordinate or take too long, your work *might* end up stale or too hard to merge back in (even if the progress seems very slow at times with the project overall) and it will all end

[2022-03-12 02:01] aareggo commented on #1851
Text me. Telegram- @bedser

[2022-03-18 23:57] Drew-Daniels commented on #720
@DreadKnight is this issue still available?

I think it might be a cool effect if the characters faded off the screen from bottom to top. Might still be good eye candy for gameplay but be less distracting than falling off the screen.

[2022-03-19 00:59] DreadKnight commented on #720
@Drew-Daniels By avatars I meant the square icons at the top from the unit queue.
But sure, sounds good, you can make a PR and will give it a go and maybe merge it.
Though it might not really fix the issue but will consider closing this based on tests.

[2022-03-19 01:21] Drew-Daniels commented on #720
@DreadKnight Understood - thanks for clarifying that for me. I'm on it!

[2022-03-19 01:27] DreadKnight commented on #720
@Drew-Daniels Alright, will assign you to it for 2 weeks just for the kicks of it :D
The term we use for the unit graphics are cardboards, because they're static atm.

[2022-03-23 05:39] DreadKnight commented on #1897
https://www.mintme.com/token/KuKluxKlan

[2022-04-06 22:13] mohamedazizkallel commented on #1107
hey i would like to give this issue a shot

[2022-04-06 23:08] DreadKnight commented on #1107
@mohamedazizkallel Heya, sure thing. Assigned for 2 weeks. Good luck!

[2022-04-07 10:24] DreadKnight opened #2024 "BitcoinTalk thread"
There should be a thread on [BitcoinTalk](https://bitcointalk.org/index.php?board=12.0) about the project.

[2022-04-07 10:25] DreadKnight opened #2025 "Nomics token listing"
Should have out token [XatteR](https://www.mintme.com/token/XatteR) listed on [Nomics.com](https://nomics.com)

Depends on #2024 to be resolved first.

[2022-04-07 10:26] DreadKnight commented on #2024
And here it is https://bitcointalk.org/index.php?topic=5393503.0 - feel free to comment in the thread to bump it and such 🔨

[2022-04-07 10:26] #2024 closed

[2022-04-07 10:27] DreadKnight commented on #2025
I've applied for this. Now we wait for the results. Hopefully it doesn't have some hidden fee xD

[2022-04-09 10:39] DreadKnight commented on #2025
Token has been listed https://nomics.com/assets/xatter - link redirects a bit oddly, heh, Duran Duran style I guess.

[2022-04-09 10:39] #2025 closed

[2022-04-09 10:41] DreadKnight opened #2027 "coinPaprika listing of XatteR token"
Should list XatteR on coinPaprika https://coinpaprika.com

[2022-04-09 10:41] DreadKnight commented on #2027
Already submitted the exchange, but it was there already, just couldn't get it search via (internal and google) https://coinpaprika.com/exchanges/mintme

[2022-04-09 11:09] DreadKnight commented on #2027
I've applied for XTR to be listed on coinPaprika. Might take a month though as I don't have $1k for this to speed things up xD

[2022-04-13 14:46] DreadKnight opened #2028 "WhalesHeaven.com XatteR listing"
I've applied to [Whales Heaven](https://WhalesHeaven.com) Cex via the [List your token](https://whalesheaven.com/list-your-token) page from the footer and I already got a reply from one of their guys.
Seems still need to check a few items off the list in order to be ready for the listing.

XatteR contract address(es) for the various blockchains deployed on:
- [[MintMe.com](https://www.mintme.com/t

[2022-04-14 17:29] DreadKnight commented on #158
There's [NW.js](https://nwjs.io), with repo https://github.com/nwjs/nw.js
There's some documentation for how to provide user with only a binary.
It can also support kiosk mode, so that would deal with this issue #933

Also, project could be added to this list over here for a bit of `marketing`
https://github.com/nwjs/nw.js/wiki/List-of-apps-and-companies-using-nw.js

[2022-04-15 23:25] DreadKnight opened #2029 "XTR-ETH liquidity pool on Uniswap"
Should have a liquidity poot for our XatteR token paired with ETH on Uniswap.org

Will need to figure how to have XTR on Ethereum network, if possible, since MintMe is actually an Ethreum fork.
Could have a wrapped token I guess in worst case scenario, via bridging.
https://www.youtube.com/watch?v=zlBuaPfFd_k

If more people are interested in providing liquidity for various XatteR pools, feel free

[2022-04-15 23:26] DreadKnight commented on #2029
Fixing this will help with #2027

[2022-04-15 23:28] DreadKnight opened #2030 "XTR-ETH swap widget in contribute page"
After implementing #2029 - should have a XTR-ETH (uni)swap widget inside this page https://ancientbeast.com/contribute/#donate so that people can support the project by easily acquiring some XatteR using some Eth from their MetaMask wallet, as simple as that.

[2022-04-15 23:33] DreadKnight commented on #2030
You can see the widget showcased in some tweets:
https://twitter.com/Uniswap/status/1514603576093335553
https://twitter.com/FWBtweets/status/1514733724021129227

[2022-04-16 02:03] DreadKnight opened #2031 "downloadable game using nw.js binary"
Using https://github.com/nwjs/nw.js | https://nwjs.io should allow us to eventually have a downloadable binary of the game that can integrate with the system, which can also allow for kiosk mode later on #933, which will facilitate having arcades.

[2022-04-16 02:06] DreadKnight commented on #158
Research complete! Some of the projects died along the way (as expected) and got a top 3 now. Seems NW.js is active and going in the direction we want overall. So closing this in favor of next steps, opened new issue for the actual task now, see #2031

[2022-04-16 02:06] #158 closed

[2022-04-17 02:07] DreadKnight opened #2032 "web3 multiplayer log-in"
Should be able to log into multiplayer mode using web3 accounts or wallets, like [MetaMask](https://metamask.io).

This seems like one of the go-to technologies used nowadays: https://login.xyz - I hope #1788 will support it by default.

[2022-04-19 18:18] DreadKnight commented on #2029
A nice article on how to set up a pool; it doesn't mention about other chains but MintMe is ERC-20 and Ethereum fork...
https://nightlycrypto.medium.com/how-to-list-your-token-on-uniswap-8882cfbc0e1d

[2022-04-23 15:54] aspectdev-ph commented on #2032
In metamask thus it need a username or the username woud be the wallet?

[2022-04-24 02:43] DreadKnight commented on #1898
https://www.mintme.com/token/MemeLife

[2022-04-24 05:15] DreadKnight commented on #1898
https://www.mintme.com/token/MintMoXMR

[2022-04-24 11:55] DreadKnight commented on #2032
@aspectdev-ph I guess it will just be the wallet, that's fine. Then players could some up some non-verified nickname but eventually could use a nicer identity that's NFT based #1854

[2022-04-24 14:38] aspectdev-ph commented on #2032
the login can be done but the NFT thing is not lmao

[2022-04-24 17:30] DreadKnight commented on #2032
@aspectdev-ph Should be doable as well eventually. One step at a time though :D

[2022-05-03 22:51] estesnr commented on #2003
Hey if this isn't finished yet can I give 'er a whack?

[2022-05-04 03:27] DreadKnight commented on #2003
@estesnr Sure, go for it. Previous person didn't provided, that's the case most of the time tbh, sadly.

The asset is https://github.com/FreezingMoon/AncientBeast/blob/master/assets/interface/cancel.png

[2022-05-04 13:26] estesnr commented on #2003
Thanks! I feel like it might take me awhile just to get the lay of the land, but I appreciate the opportunity!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Dread Knight ***@***.***>
Sent: Tuesday, May 3, 2022 11:28:25 PM
To: FreezingMoon/AncientBeast ***@***.***>
Cc: Nate Estes ***@***.***>; Assign ***@***.***>
Subject: Re: [FreezingMoon/AncientBeast] rot

[2022-05-04 13:33] DreadKnight commented on #2003
@estesnr No worries, just don't take forever xD Usually "soft deadline" for simpler issues is about 2-3 weeks.
There's also Discord server if you have coding questions and such btw https://discord.gg/x78rKen feel free to drop by.

[2022-05-09 13:52] DreadKnight opened #2035 "GSOC 2025 application"
Should apply the project to Google Summer of Code 2025
https://developers.google.com/open-source/gsoc/timeline

[2022-05-12 00:41] jaas666 commented on #1445
Is this issue still being worked on or can it be closed?

[2022-05-12 06:16] DreadKnight commented on #1445
@jaas666 It's open, you're free to poke at it if you want to.

[2022-05-12 08:52] DreadKnight commented on #1445
@jaas666 I've assigned you to the issue for 2 weeks. I've also added a 10 XatteR bounty (our project token, XTR symbol).

[2022-05-12 10:31] DreadKnight commented on #2016
Increased bounty:
5 -> 7 XTR

https://mintme.com/token/XatteR/trade

[2022-05-12 13:02] jaas666 commented on #1445
Oh no my friend. I wouldn't have the slightest idea how to solve this particular issue. I was just trying to move it along in hopes the previous taker answered as it seemed stale.

[2022-05-15 18:26] #1683 closed

[2022-05-15 19:14] DreadKnight opened #2037 "create and license VeVe.me NFTs"
It appears that VeVe.me app now has a page (last link on the website) to submit proposal to license/release NFTs on their platform
https://www.veve.me/veve-support-licensors

Seen some very crappy stuff listed on the app before. Some good NFTs could do the project a lot of good: ton of exposure and hopefully raising some nice funding, also increasing the community as well ideally. I'm quite the Ve

[2022-05-17 23:23] DreadKnight commented on #1683
Bounty sent https://www.mintme.com/explorer/tx/0x024a2d79070b2429f38d2fd2dc175f66955db8bfe432f1a6f1418f9368d7501c
Thanks for contributing @BrutchsamaJeanLouis 👍🏻

[2022-07-09 13:53] jessielesbian commented on #2032
How about on-chain username storage?

[2022-07-09 14:05] DreadKnight commented on #2032
@jessielesbian That would be cool. Can't code stuff like that myself though. There's another open issue actually #1854 where people could buy and trade nicknames as NFTs, that would be ideal down the road. Kinda like domain names in a way ;)

[2022-07-10 00:54] jessielesbian commented on #1854
I will be working on AB_NFTNicknamesManager soon

[2022-07-10 04:27] DreadKnight commented on #1854
@jessielesbian Cool, just don't forget next milestone priority bugs, especially pinned ones and that we don't have (Metamask) wallet (login) integration to begin with xD

[2022-07-11 08:17] jessielesbian commented on #1805
Ability.activate() should have a no-throw guarantee. But since it doesn't we put it in try-catch.

https://github.com/jessielesbian/AncientBeast/commit/1aefd1a40ed10703961ed1163db40901f3f7bea7

Plus remember all the null reference errors? Optional chaining can help.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining

[2022-08-12 15:54] usmanonazim commented on #2003
Hi @DreadKnight, is this issue still open? I'd be more than happy to take it

[2022-08-12 16:38] DreadKnight commented on #2003
@usmanonazim Sure, go for it. I'll assign you right away. Deadline 2 weeks, should be plenty of time :P

[2022-08-21 23:28] rachel-l-sanchez commented on #1686
Can I contribute to this?

[2022-08-21 23:36] DreadKnight commented on #1686
@rachel-l-sanchez Sure thing, but hopefully you can code it into the game as well, since that's usually the bottleneck of the project, coding.

[2022-08-22 00:08] rachel-l-sanchez commented on #1686
I can do that.

[2022-08-22 00:10] DreadKnight commented on #1686
@rachel-l-sanchez Neat :3 I'll assign you, deadline 2 weeks. Feel free to drop by our discord and don't forget to ⭐ the project.

[2022-09-22 01:24] DreadKnight opened #2041 "Y8 arcade listing"
Should have the project listed as part of the Y8 online game arcade, perhaps in this category https://www.y8.com/tags/multiplayer
Once online multiplayer is in good shape that is.

[2022-10-01 08:56] DreadKnight opened #2043 "disable right click menus in Brave [bounty: 6 XTR]"
Right clicking during matches is a bit broken in Brave browser, as it tends to show a menu, which shouldn't be visible at all:
![right-click](https://user-images.githubusercontent.com/587487/193401580-cadb7c67-362a-42cb-8eef-3318b3af52cc.jpg)

This one is when right clicking multiple times:
![right-click-2](https://user-images.githubusercontent.com/587487/193401602-5119cc12-3df7-4f25-abad-539eedcf

[2022-10-01 09:20] DreadKnight commented on #2027
XTR was listed a few months ago already. Guess I forgot about this issue. Check it out https://coinpaprika.com/coin/xtr-xatter/

[2022-10-01 09:20] #2027 closed

[2022-10-01 09:41] DreadKnight commented on #1898
It was added to CoinPaprika a while ago, so that's at *least* 5.

[2022-10-01 09:41] #1898 closed

[2022-10-01 09:46] DreadKnight commented on #1864
Trust level is at max for a while now (150%). Too bad funding on gitcoin has become total cockshit overall, creatures supporting each others, crappy projects getting funds or some that have just been creating. Rip gitcoin grants ☠️

[2022-10-01 09:46] #1864 closed

[2022-10-01 11:55] DreadKnight commented on #1725
This line https://github.com/FreezingMoon/AncientBeast/blob/master/src/ui/interface.js#L1115 displays "H" instead of hexagon.
Not sure how to add the special html character in there in order to properly display in the UI.

[2022-10-01 12:08] #1725 closed

[2022-10-01 12:17] DreadKnight commented on #1805
Doubled the XatteR bounty for this! 🪙

[2022-10-01 12:17] DreadKnight commented on #2015
Doubled the XatteR bounty for this! 🪙

[2022-10-01 12:18] DreadKnight commented on #2016
+50% XatteR bounty for this! 🪙

[2022-10-01 12:18] DreadKnight commented on #1995
Added 40 XatteR bounty for this! 🪙

[2022-10-01 12:40] JlPOCTO commented on #2015
I'll take this

[2022-10-01 12:42] DreadKnight commented on #2015
@JlPOCTO Good luck! Assigned you to it for 2 weeks (soft deadline) :)

[2022-10-01 12:50] DreadKnight opened #2044 "movement abilities cause desynchronization [bounty: 200 XTR]"
When it comes to online multiplayer, most movement related abilities cause desyncronization between players.
The code is peer2peer, so there's a bug that doesn't handle such abilities well enough, having involved units show up in different places for the 2 players (as online multiplayer code atm is 1vs1 only), ruining the match. Might be related to #1805

Need to confirm if it happens with all mov

[2022-10-01 12:51] DreadKnight commented on #1797
This will be considered as part of #2044 since Royal Seal changes position of Gumble (1 hexagon).

[2022-10-01 12:51] #1797 closed

[2022-10-01 12:52] DreadKnight commented on #1805
Opened #2044 which might be related, but focuses on the abilities that move units aspect, hopefully you'll look at it @rianconley

[2022-10-01 13:04] DreadKnight commented on #1814
Will consider this as part of #2044

[2022-10-01 13:04] #1814 closed

[2022-10-01 13:32] #1961 closed

[2022-10-02 05:01] theonly1me commented on #2043
@DreadKnight, can you please assign this to me?

[2022-10-02 05:06] DreadKnight commented on #2043
@theonly1me Sure thing, right away. 2 weeks soft deadline.

[2022-10-02 06:22] theonly1me commented on #2043
Thanks @DreadKnight. However, I'm unable to replicate this behavior. I've tried on both Mac OSX and Windows with the latest Brave build [Version 1.44.105 Chromium: 106.0.5249.91 (Official Build) (64-bit)](https://brave.com/latest/) and this doesn't seem to be the case anymore.

Would you be able to check and confirm if this is still an issue on the version of Brave browser you're using? If yes, pl

[2022-10-02 13:08] DreadKnight commented on #2043
@theonly1me Thanks for your feedback, it came in handy. I'm using latest version version on Linux.
You gave me an idea to try something else: I've tested the game in the incognito tab and the issue don't happen there at all.
So probably there's some extension messing it up for me in the normal session. Guess I could disable them 1 by 1 and test and hopefully find the problematic extension, maybe I

[2022-10-02 13:57] DreadKnight commented on #2043
@theonly1me Made a new label, invalid, useful for scenarios like this.

Also made a page for our token in our wiki https://github.com/FreezingMoon/AncientBeast/wiki/Token
Feel free to check it out and provide me with your ERC20 address, as I'll award you this bounty 🪙

[2022-10-02 14:21] theonly1me commented on #2043
Surely will.

Thanks @DreadKnight , my ECR20 address is `0x01b2059cA5caE2B0E268d30B3706C6B11aD0DE8e`

[2022-10-02 14:25] theonly1me commented on #2043
Thanks @DreadKnight, my ECR20 address is `0x01b2059cA5caE2B0E268d30B3706C6B11aD0DE8e`.

[2022-10-02 14:29] DreadKnight commented on #2043
Cool, looking forward to a PR :)

Bounty sent!

[2022-10-03 22:32] DreadKnight opened #2050 "opensourcehub.io listing"
Should list the project on https://opensourcehub.io so that we'll hopefully find more people willing to contribute to it.

[2022-10-03 22:33] DreadKnight commented on #2050
I've submitted an application through their website form, which generated a PR on my behalf https://github.com/Codesee-io/opensourcehub/pull/132 - too bad this is not easily editable afters wards through my account, but hopefully it can be done with specific PR...

[2022-10-04 14:32] DreadKnight opened #2051 "enable 2vs2 matches for online multiplayer [bounty: 100 XTR]"
Currently, online multiplayer mode is limited to 1vs1 matches. The peer2peer code should be poked at, allowing for 2vs2 matches as well.

[2022-10-04 15:02] DreadKnight commented on #2044
@rianconley Hey man! Been over a year, this issue is still keeping us back from releasing v0.4 overall. Let me know if you can poke at it 🙏🏻

[2022-10-04 16:23] DreadKnight commented on #2050
The PR was merged in, with the requested update (first time friendly) and is already online https://opensourcehub.io
Hopefully it will draw way more contributors to the project, as we really need more of that 🦖

[2022-10-04 16:23] #2050 closed

[2022-10-04 20:08] DreadKnight opened #2053 "Github actions build fails [bounty: 10 XTR]"
The Github Actions for node.js CI builder fail: Process completed with exit code 134.
Here's a direct link to the log https://github.com/FreezingMoon/AncientBeast/actions/runs/3184815578/jobs/5193687240

[2022-10-04 20:09] DreadKnight commented on #2053
https://github.com/FreezingMoon/AncientBeast/actions/runs/3184815578/jobs/5193687240

[2022-10-05 13:20] DreadKnight commented on #2043
Seems that I actually had an "enable right click menu" extension installed, because some other website annoyed me. Lel, epic fail xD

[2022-10-05 13:20] #2043 closed

[2022-10-05 15:53] DreadKnight commented on #1721
I've marked non-playable units. If there are other usable abilities that could really benefit from this, they can be proposed for the list.

[2022-10-06 00:12] #1344 closed

[2022-10-06 11:00] DreadKnight commented on #1721
Useful links for the record:
- implementations https://github.com/FreezingMoon/AncientBeast/search?q=camera
- documentation https://photonstorm.github.io/phaser-ce/Phaser.Camera.html#shake

[2022-10-08 01:30] DreadKnight opened #2055 "cvvc.com investor"
Should email https://www.cvvc.com and see if they're interested in investing into the project, as they're all about that kind of stuff, especially when related to blockchain technology.

[2022-10-08 01:31] DreadKnight commented on #2055
So far I've poked them about becoming a sponsor through https://opencollective.com/ancientbeast/contribute/sponsor-8022
Though even having them as a backer at very least would be nice 🐻

[2022-10-08 10:00] MahijithMenon commented on #2014
hi would love to do it but can you share me resources on how to do it?

[2022-10-08 10:42] DreadKnight commented on #2014
Heya! The ability itself is here https://github.com/FreezingMoon/AncientBeast/blob/master/src/abilities/Headless.js#L174
And I think this file deals with hexagons https://github.com/FreezingMoon/AncientBeast/blob/master/src/utility/hexgrid.ts

[2022-10-09 05:24] LordUbuntu opened #2056 "unit avatars can move offscreen [bounty: 14 XTR]"
**Describe the bug**
The character icons when clicking characters on the screen bounces farther than it should, and can be moved down infinitely if you click repeatedly and quickly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the game site and play 1v1
2. Click on a character on the map repeatedly and quickly
3. Watch the buggy magic happen as the icon goes into the nether

**Expec

[2022-10-09 17:40] DreadKnight commented on #2056
Heya! Thanks for the report. It's fine for the avatar to bounce multiple times for people who insist clicking (as many noobs want to select units to move them), but it should probably not leave the canvas viewport because that's a bit pointless. Will tweak expected behavior a bit and put a bounty on it 👍🏻

[2022-10-09 21:54] LordUbuntu commented on #2056
Out of curiosity, where would the offending code be located?

[2022-10-09 22:02] DreadKnight commented on #2056
Related code is around here if you want to take a peek at it:
https://github.com/FreezingMoon/AncientBeast/blob/master/src/ui/interface.js#L2502

[2022-10-10 17:42] #1721 closed

[2022-10-10 17:48] ClEvERskull commented on #1967
Hello, is this issue still up for grab?

[2022-10-10 17:53] DreadKnight commented on #1967
@ClEvERskull Sure thing, go for it! I've assigned you, 2 weeks soft deadline :-)

[2022-10-10 18:29] DreadKnight opened #2058 "building game client fails on Heroku [bounty: 7 XTR]"
The game client is failing to build on the latest Heroku stack (22). Usually been using Heroku to host the client that is embedded in official website and in a lot of other arcades around the web. I'm very bad at fixing this kind of stuff myself so I could use some pointers at very least.

[code]

[2022-10-10 18:35] DreadKnight opened #2059 "some abilities don't shake camera [bounty: 12 XTR]"
We've added camera shaking for most unit abilities, though there are some that don't work properly:

- Dark Priest abilities (they have code added, but probably bad location; all should cause shake except the ultimate, Godlet Printer)
- Impaler's Chain Lightning (has code added, but didn't worked properly in all scenarios, so it should be moved and/or duplicated, ideally reused though)

More testi

[2022-10-10 18:50] DreadKnight commented on #2056
Tweaked issue to not have avatars drop all the way down at the bottom of the screen but some value that's decent enough.

[2022-10-10 18:53] DreadKnight opened #2060 "Seismic Stomp problematic for blue players [bounty: 11 XTR]"
The blue Stomper's "Seismic Stomp" ability gets targeted from the unit's back hexagon, which reduces range and often causes the ability to not be usable, as it displays that it could be used but can't really picked the target within range.

Attached screenie where blue Stomper should be able to hit the red one but can't confirm the target, as it's not selectable (no hexagons):
![Screenshot_2022101

[2022-10-10 21:35] Marian-N commented on #2059
@DreadKnight I can take look at this. Can you assign it?

[2022-10-10 21:50] DreadKnight commented on #2059
@Marian-N Sure thing! I've assigned it to you. 2 weeks soft deadline.

[2022-10-10 22:32] #2059 closed

[2022-10-11 17:04] DreadKnight commented on #2056
@Michaela-R Sure thing, I've assigned you to it; 2 weeks soft deadline. Good luck! :)

[2022-10-11 18:25] LordUbuntu commented on #2056
Count me in! I'll give a shot at it too!

[2022-10-11 19:18] LordUbuntu commented on #2056
@DreadKnight Will do. Thanks for the advise!

[2022-10-13 13:10] KamilNalevanko commented on #1995
Hello Can you asign this to me ? Thank you.

[2022-10-13 16:51] DreadKnight opened #2063 "optimize score screen for embeds [bounty: 7 XTR]"
The score screen should have title hidden and max height of 400px when game is small, like embedded in [website](https://AncientBeast.com) or arcades.

Mock-up of how it should look when the game is embedded (or small window or screen):
![Screenshot_20221013_195142](https://user-images.githubusercontent.com/587487/195657866-87ea95e6-09c4-496d-84d0-5d71b90a004f.jpg)

[2022-10-13 16:54] DreadKnight opened #2064 "score screen button tooltip [bounty: 6 XTR]"
The upper right button for score screen should also have a tooltip giving some basic details about it and also showcasing hotkey.

[2022-10-14 03:25] DreadKnight opened #2066 "GitHub Sponsors"
Should apply to GitHub Sponsors and connect to Open Collective financial host.

[2022-10-14 03:25] DreadKnight commented on #2066
I've completed all the steps in the process and applied for review 🤞🏻

[2022-10-14 05:08] sanyamgandhak commented on #2064
Hi there ,
Please assign it to me

[2022-10-14 05:09] DreadKnight commented on #2064
@sanyamgandhak Sure thing! 2 weeks soft deadline.

[2022-10-15 08:22] DreadKnight opened #2069 "problematic Freezing Spit for right side players [bounty: 12 XTR]"
Snow Bunny made by a right side player (blue or green color) has issues using Freezing Spit ability inline, both forward and backwards, while diagonal shots work fine.

![Screenshot_20221015_111431](https://user-images.githubusercontent.com/587487/195976966-db9e246f-cc57-465a-89c7-5956493371e0.jpg)

[2022-10-15 13:30] DreadKnight commented on #2066
Organization was approved, I've added it to the list so now it shows in the top Sponsor button as the main big thing
https://github.com/FreezingMoon
https://github.com/FreezingMoon/AncientBeast/commit/db9d2f68baeb333f5f0294937d873d5c125965a3

Will need to tweak tiers/rewards/details and all that soon. I've also applied for my personal account, hopefully will get some support soon as I'll be moving

[2022-10-15 13:54] DreadKnight commented on #2066
Did more tweaking to it and added some tiers https://github.com/sponsors/FreezingMoon - hope that we'll get more support 🚀

[2022-10-15 13:54] #2066 closed

[2022-10-15 14:18] sanyamgandhak commented on #2064
@DreadKnight what are the hot keys we should show in tooltip ?

[2022-10-15 14:41] DreadKnight commented on #2064
Seems there might not be one yet, so it should have one defined over here (yeah, messy, will make new issue about cleaning that mess up a bit) =https://github.com/FreezingMoon/AncientBeast/blob/862072a1c8ee247905b9a8dfd05848aa1035ec7b/src/ui/interface.js#L385
Perhaps T should do (as of table), as it's probably not used atm for anything else.

[2022-10-15 14:43] DreadKnight opened #2070 "more modular hotkeys [bounty: 8 XTR]"
The hotkeys should be moved into their own file
https://github.com/FreezingMoon/AncientBeast/blob/862072a1c8ee247905b9a8dfd05848aa1035ec7b/src/ui/interface.js#L385

Also keep in mind #308

[2022-10-16 07:54] sanyamgandhak commented on #2064
Can u please send me the file name where i can find the code on which i have to work

[2022-10-16 08:40] DreadKnight commented on #2064
Sure thing. Over here: https://github.com/FreezingMoon/AncientBeast/blob/master/src/index.ejs#L600

Eventually index will be split into different files instead of that mess there #1111

[2022-10-16 09:05] DreadKnight opened #2072 "documentation for various getLog parameters"
Should have the `AB.getLog();` various parameters located and briefly documented as they can come in very handy regarding development https://github.com/FreezingMoon/AncientBeast/blob/master/CONTRIBUTING.md#report-issues

[2022-10-16 09:20] DreadKnight opened #2073 "turn unit while attacking behind [bounty: 5 XTR]"
Snow Bunny doesn't turn around when using Freezing Spit ability behind.

[2022-10-16 09:22] DreadKnight commented on #2072
Found the related code for it over here: https://github.com/FreezingMoon/AncientBeast/blob/0305dda60a3523cf561b1fa9712cfa86bde9436f/src/utility/gamelog.js#L128

[2022-10-16 19:27] #2073 closed

[2022-10-16 19:32] DreadKnight commented on #2073
@JlPOCTO Bounty provided via Discord bot 🪙

[2022-10-16 20:24] Sangresz commented on #2063
I would like to try this :D

[2022-10-16 20:26] Sangresz commented on #2014
Hi i would like to try this :D

[2022-10-16 20:33] DreadKnight commented on #2014
@Sangresz Heya! Feel free to go for it, assigned you to it; soft deadline 2 weeks.

[2022-10-16 20:34] DreadKnight commented on #2063
@Sangresz Heya! Feel free to go for it, assigned you to it; soft deadline 2 weeks.

[2022-10-16 20:54] Sangresz commented on #2063
Can you tell me what do you mean by saying this?

[2022-10-16 20:57] DreadKnight commented on #2063
That's what the attached mock-up is for; compare it to how the game has the screen atm (showing title).

[2022-10-16 21:10] Sangresz commented on #2063
perfect :D.
Can u link by any chance to the js file that contains the score page??

[2022-10-16 21:19] DreadKnight commented on #2063
@Sangresz It's over here https://github.com/FreezingMoon/AncientBeast/blob/master/src/index.ejs#L272
Index is a mess atm, but it will eventually get split into several files, each dealing with different screen or UI piece #1111

[2022-10-16 21:22] Sangresz commented on #2014
![image](https://user-images.githubusercontent.com/96419810/196058924-b2683141-9f70-42fd-b7bc-502cabd0d232.png)

So i need to add just black borders on the hexagons to the target?

[2022-10-16 21:25] DreadKnight commented on #2014
Basically yeah, I guess so. They should be clickable though in order to easier activate the ability.

[2022-10-16 21:50] Sangresz commented on #2063
Perfect.
I have tried to do this alone but i don't know how to dynamically change the html (end then css) if I am in fullscreenmode.
I read trough fullscreen.js and script.ts

[2022-10-16 22:02] DreadKnight commented on #2063
CSS deals with that kind of stuff with @media queries like these one over here:
https://github.com/FreezingMoon/AncientBeast/blob/master/src/style/styles.less#L1708

[2022-10-17 10:12] DreadKnight opened #2076 "right side Stomper diagonal attacks do no damage [bounty: 10 XTR]"
Right side player Stomper doesn't do any damage while targeting Seismic Stomp attack diagonally.

[2022-10-17 10:21] DreadKnight opened #2077 "Seismic Stomp problematic targeting [bounty: 12 XTR]"
Stomper's Seismic Stomp upgrade during gameplay causes issues, having the range path being calculated from the wrong unit hexagon; tends to happen when there are two Stompers on the battlefield, so I take it that some variable influences all the units.

[2022-10-17 10:28] #2060 closed

[2022-10-17 11:00] DreadKnight opened #2078 "dashed hexagons for Seismic Stomp under obstructed targets [bounty: 8 XTR]"
Non-upgraded Stomper's Seismic Stomp should display dashed hexagons even under targets within path, better indicating range.

I've attached an example, backwards hexagon under Scavenger should be a dashed on:
![Screenshot_20221017_135653](https://user-images.githubusercontent.com/587487/196160682-f36baaa6-4513-4438-807e-f3ebfd1c124c.jpg)

[2022-10-17 11:15] DreadKnight opened #2079 "upgraded Seismic Stomp path quick trigger [bounty: 8 XTR]"
Stomper's upgraded Seismic Stomp should show outlined hexagons until first unit if a viable target, that when clicked would trigger the ability, similar to the non-upgraded version. This is for ability consistency and as a shortcut to improve UX a bit.

[2022-10-17 14:10] Sangresz commented on #2063
I am unable to run the webapp trough the docker and using npm like its written in [CONTRIBUTING.md](https://github.com/FreezingMoon/AncientBeast/blob/master/CONTRIBUTING.md#github-marketing)

![image](https://user-images.githubusercontent.com/96419810/196199509-ccc75ef0-a194-4f0b-a5e1-38884865f992.png)

[2022-10-17 14:16] DreadKnight commented on #2063
@Sangresz Make sure you use your username. I had to use different port myself, as something else was running on 80.

I don't tend to run the project with docker usually, as that's a rather new addition to the project and I have less experience with it.

[2022-10-17 15:00] DreadKnight commented on #2063
@Sangresz I use the non-docker set-up from that Contribution guide. Guess I'll have to make it more clear soon that Docker is an alternative.

[2022-10-17 16:02] Sangresz commented on #2063
![image](https://user-images.githubusercontent.com/96419810/196226543-f7a9e837-b358-426b-8906-26b61df5c6bf.png)
This is what i get running trough `npm run start`

[2022-10-17 16:34] DreadKnight commented on #2063
You're using a wrong port. Should be localhost:90 or set it to 91 if that
one is busy. Got confused by that as well, hopefully the docker thingy can
be improved regard the port stuff. I should open an issue about it soon.

On Mon, Oct 17, 2022, 7:02 PM Corrado Cionini ***@***.***>
wrote:

[2022-10-17 16:43] Sangresz commented on #2063
![image](https://user-images.githubusercontent.com/96419810/196234446-dc80162c-e8e5-485f-a0e8-6983a03b1bc1.png)

as you can see i only got that port if I run like written in contributing.md

[2022-10-17 17:04] DreadKnight commented on #2063
I didn't write the docker part myself and had issues with it as well. Also
the guy who did didn't clarify things for me nor tweak things based on
feedback, so tweak the first part of the port as I mentioned and connect to
it, not localhost:8383, but localhost:91 or so.

On Mon, Oct 17, 2022, 7:43 PM Corrado Cionini ***@***.***>
wrote:

[2022-10-17 17:05] Sangresz commented on #2063
Perfect, but I don't know where to modify the port ahah :)

[2022-10-17 17:24] DreadKnight commented on #2063
@Sangresz Alright, got back at my machine so now I can give a properly detailed reply. This is not npm stuff at all, but that docker command that was suggested; you would do something like `docker run -p80:8383 yourusername/ancient-beast` and access this via localhost:80, but if 80 is already taken, you do `docker run -p81:8383 yourusername/ancient-beast` and access localhost:81 instead and so on.

[2022-10-17 17:31] Sangresz commented on #2063
![image](https://user-images.githubusercontent.com/96419810/196243873-32643b9c-5b91-4628-b3bb-589d27b4f6a7.png)
This is with `docker run -p80:8383 sangres/ancient-beast:latest`

![image](https://user-images.githubusercontent.com/96419810/196226543-f7a9e837-b358-426b-8906-26b61df5c6bf.png)
this is if I use `npm run start`

[2022-10-17 17:32] Sangresz commented on #2063
perfect now it works, ill try to work on the issues :D

[2022-10-18 11:16] #2078 closed

[2022-10-19 07:40] DreadKnight opened #2082 "giveth.io project listing"
Add the project to https://giveth.io in order to raise some more funds (hopefully, probably won't happen) and do some marketing.

[2022-10-19 13:14] #2082 closed

[2022-10-20 03:59] DreadKnight opened #2085 "audio player skin [bounty: 14 XTR]"
The audio player should be skinned in order to look nicer and better integrate with the game itself.

[2022-10-20 08:19] #2076 closed

[2022-10-20 09:02] DreadKnight opened #2088 "health visual offset when Brave's shield is on [bounty: 6 XTR]"
Brave's shield causes a visual bug, health and plasma amounts under unit tend to display a bit offset to the bottom center of  pills.

![Screenshot_20221020_115900](https://user-images.githubusercontent.com/587487/196905176-3b77075e-7e12-484c-80f9-ce14142393ae.jpg)

[2022-10-20 09:07] #2069 closed

[2022-10-21 01:45] DreadKnight opened #2089 "audio player can freeze the game [bounty: 6 XTR]"
Audio player: if disabling both the play list tags (epic, rock), the game freezes a few seconds after the track finishes, memory leak.

[2022-10-21 02:00] DreadKnight opened #2090 "Shuffle button tooltip [bounty: 2 XTR]"
The Shuffle button (dice) from the audio player should have a tooltip similar to the ones of the icons that are in the Score screen.

[2022-10-21 02:02] DreadKnight opened #2091 "right side effects volume slider [bounty: 3 XTR]"
In the Audio view, the "Effects Volume" should be displayed on the right side, rotated vertically (loud = top), under the close button.

[2022-10-21 02:06] DreadKnight opened #2092 "less distracting HUD when in the background [bounty: 5 XTR]"
When opening any full screen view (for example audio view), the game HUD should become very transparent in order to be less distracting.

[2022-10-21 02:07] DreadKnight commented on #2091
Solving #2092 will also probably help with this quite a bit, as it makes that area less visually bloated.

[2022-10-21 02:10] DreadKnight opened #2093 "div around the playlist only [bounty: 3 XTR]"
In Audio view, the div that's around the audio player stuff should only encompass the playlist itself & should be way more narrow.

[2022-10-21 02:11] DreadKnight commented on #2093
Ideally move the "Effects Volume" on the right side first by fixing #2091

[2022-10-21 08:58] DreadKnight opened #2094 "OSS Governance GitHub bot"
Should make use of this GitHub bot in order to triage PRs and issues better by triggering some useful auto-replies:
https://github.com/BirthdayResearch/oss-governance-bot

List of ideas of how to make use of this:
- tell the coder about our token and that he should provide a corresponding ERC20 wallet address
- merging a PR should thank the contributor and suggest next steps, like poking at new is

[2022-10-22 03:05] disabledandfab commented on #2093
Could I be assigned this issue for Hacktoberfest?

[2022-10-22 04:46] DreadKnight commented on #2093
@disabledandfab Hey! Thanks for your interest in the project. I got a bit ahead of myself with this issue, as #2084 needs to be merged first and might even fix this in the process. Plenty of other issues with even higher bounties; please avoid the ones with "audio" tag until that PR gets merged anyway. How about this issue here: #2092 ?

[2022-10-22 08:20] #1994 closed

[2022-10-22 08:20] #2085 closed

[2022-10-22 08:28] DreadKnight commented on #2093
The PR mentioned got merged! 🥳

[2022-10-22 08:37] #2053 closed

[2022-10-22 09:30] DimiPavlov commented on #2090
Hello, can I take this issue as part of Open Hack? It will be useful to familiarize myself with the codebase

[2022-10-22 09:36] DreadKnight commented on #2090
@DimiPavlov As you wish. It's a super simple issue though, but good to get things going with :-) I'll assign you to it, 2 weeks soft deadline.

[2022-10-24 18:41] #2056 closed

[2022-10-24 19:15] viveknshah commented on #1686
@DreadKnight I figured how to get the sound files in. Is the expectation from a gameplay perspective that adding the play sound line in Swine-Thug.js after createTrap solve for this issue?

`hex.createTrap('mud-bath', effects, ability.creature.player);
 game.soundsys.playSound(game.soundLoaded[7], game.soundsys.effectsGainNode);
`

[2022-10-24 19:19] DreadKnight commented on #1686
Yeah, I guess so. Feel free to open a PR :-)

[2022-10-24 20:15] kavyadeepdev commented on #2092
I would like to work on this issue if it is open.

[2022-10-24 20:53] DreadKnight commented on #2092
@kavyadeepdev Sure, go for it. I've assigned you, soft deadline 2 weeks.

[2022-10-24 21:46] #2015 closed

[2022-10-24 21:52] DreadKnight commented on #2082
Project is now having the Verified label thingy -> https://giveth.io/project/ancient-beast

[2022-10-24 22:39] KamilNalevanko commented on #1995
Hello I had problems with my desktop and just got on issue 2-3 days ago is there chance to extend deadline?

[2022-10-24 22:52] DreadKnight commented on #1995
@KamilNalevanko Heya! Alright, have at it. Hopefully you'll manage 🐻

[2022-10-25 06:07] kavyadeepdev commented on #2092
Can I write my own CSS or do I have to edit some existing CSS (which I'm unable to find)?

[2022-10-25 08:31] DreadKnight commented on #2092
@kavyadeepdev Have you looked at this file? https://github.com/FreezingMoon/AncientBeast/blob/master/src/style/styles.less

[2022-10-25 14:30] JlPOCTO commented on #2077
Hi! Can you assign me to this issue pls?

[2022-10-25 15:04] DreadKnight commented on #2077
@JlPOCTO Sure thing, go for it! Soft deadline 2 weeks.

[2022-10-25 20:13] #2077 closed

[2022-10-26 03:41] HridoyHazard commented on #2072
can u plz explain the issue a bit further so that i can understand and give it shot

[2022-10-26 05:55] DreadKnight commented on #2072
Hey, this issue is assigned to me for a good purpose. Please poke at any of the hundreds or other issues that aren't assigned or labeled "brainstorm".

[2022-10-26 08:13] DreadKnight commented on #1470
This is somewhat related to issue https://github.com/FreezingMoon/AncientBeast/issues/441

[2022-10-29 06:05] jatinmark commented on #2091
Can you assign it to me i want to work on this issue

[2022-10-29 06:06] jatinmark commented on #2093
Can you assign it to me i want to work on this issue.

[2022-10-29 06:59] DreadKnight commented on #2093
Assigned it to you. 2 weeks deadline.

[2022-10-29 07:00] DreadKnight commented on #2091
Assigned this one to you as well. 2 weeks deadline.

[2022-10-29 07:01] jatinmark commented on #2093
Can you add a hacktoberfest label on it please.

[2022-10-29 07:03] DreadKnight commented on #2093
There's label on the repository itself, no worries.

On Sat, Oct 29, 2022, 10:02 AM jatin choudhary ***@***.***>
wrote:

[2022-10-29 07:06] jatinmark commented on #2093
Can you elaborate the issue .

[2022-10-29 07:09] DreadKnight commented on #2093
During a match, when you go to the Audio view, the styled div should only
be around the playlist and not include audio player and effects volume in
it.

On Sat, Oct 29, 2022, 10:06 AM jatin choudhary ***@***.***>
wrote:

[2022-10-30 11:41] jatinmark commented on #2091
@DreadKnight i make the necessary changes in the files please review it .

[2022-10-30 15:04] #2091 closed

[2022-10-31 04:05] jatinmark commented on #2093
@DreadKnight When I encompass the style div around playlist then the music player size and position is changed so , i want to ask that i have to adjust it also ? If yes so please give the hint about layout or I can do it according to my convenience.

[2022-10-31 04:14] DreadKnight commented on #2093
That was to be expected. It should basically remain same size and the same position (horizontally centered and above the playlist).

[2022-10-31 07:08] UsmanAhmadSaeed commented on #2089
@DreadKnight can you point me in the right direction to fix this? I'd like to take it on for hacktoberfest

[2022-10-31 07:23] DreadKnight commented on #2089
@UsmanAhmadSaeed Heya! It probably has to do with this file here https://github.com/FreezingMoon/AncientBeast/blob/master/src/sound/musicplayer.js

So when next track is picked, if no genre types are selected, music should probably stop.

[2022-10-31 07:24] UsmanAhmadSaeed commented on #2089
@DreadKnight thanks!
I'll take a look, play around and update.

[2022-10-31 16:01] JlPOCTO commented on #2079
Hi! In both situations outlined hexagon are showing now (after my fixing of this ability). And I don't think, that in the first scenario outlined hex should be clickable, because we need to choose target, not direction

[2022-11-01 20:24] DreadKnight commented on #2079
Heya! I was thinking about just that when you were doing the presentation during OpenHack, but was thinking it the other way around actually: clicking on path is a default behaviour shortcut thingy to quickly select first encountered target and we could still make use of that when the ability is upgraded, otherwise we get somewhat of an UX regression, so I'll update this issue to poke at that.

[2022-11-04 05:35] UsmanAhmadSaeed commented on #2089
Just wanted to update that I haven't been able to take a proper look yet. I'll try to dig deeper this weekend.

P.S. If anyone else sees this issue and would like to try along, they're welcome to ping me.

[2022-11-07 09:34] kavyadeepdev commented on #2092
Sorry, I had some school/exam work to attend to leading to the delay. I was wondering if the HUD referred to the sidebars and the top bar with buttons only or does it mean the entire game screen when a menu is clicked. I think one way of making the HUD less distracting would be to increase the background opacity of the menu. But if HUD only refers to the top and side bars, then the situation is di

[2022-11-07 10:26] DreadKnight commented on #2092
https://en.wikipedia.org/wiki/HUD_(video_gaming) - means the interface elements that show you info or allow you to interact with the game. They need to become very transparent when some fullscreen menu is opened or even fully hidden.

[2022-11-08 03:46] rotom-washingmachine commented on #2088
Hello,I wanna solve this issue.I don't quite understand it though.How should I change the position of the health and plasma amounts.They seem to be in the right place in the pic.

[2022-11-08 09:55] DreadKnight commented on #2088
Heya! They're not in the right place at all in the pic, they're obviously hanging :P This is how they should be:
![Screenshot_20221108_114903](https://user-images.githubusercontent.com/587487/200532374-a256c4f8-8547-415a-aa3d-7f8227d18f2b.jpg)

Seems they're placed with Phaser, so they're part of the canvas, not regular html elements.
I did more testing at I had the same issue outside of gitpod, s

[2022-11-08 11:04] rotom-washingmachine commented on #2079
Could you assign it to me? I want to work on this issue.

[2022-11-08 11:11] DreadKnight commented on #2079
@rotom-washingmachine Sure thing, assigned! Soft deadline 2 weeks 🐻

[2022-11-08 22:12] DreadKnight commented on #2063
@Sangresz Hey, any progress with this? Been longer than the usual 2 weeks soft deadline period.

[2022-11-08 22:13] DreadKnight commented on #2064
@sanyamgandhak  Hey, any progress with this? Been longer than the usual 2 weeks soft deadline period.

[2022-11-08 22:14] DreadKnight commented on #2090
@DimiPavlov Hey, any progress with this? Been longer than the usual 2 weeks soft deadline period.

[2022-11-08 22:29] Sangresz commented on #2063
yeah I know, sorry about that but I've been real busy these days. you can let someone else work on this issue without any problem and sorry if I cause any troubles

[2022-11-08 23:24] DreadKnight commented on #2063
@Sangresz Well, you can poke at it this week if you want to. Don't forget to ⭐ the project 🙏🏻

[2022-11-08 23:25] Sangresz commented on #2063
ill give it a look if i have time :D

[2022-11-10 13:23] Roshanjossey commented on #1903
Could you explain the bogus bit? We like feedback.

[2022-11-10 14:02] DreadKnight commented on #1903
Initially I thought that repo I posted my issue on was the one for the website, but couldn't find anything regarding the listed projects over there. A link to github page from the website or "Add your project" would basically resolve the confusion 🐻

[2022-11-10 14:17] DreadKnight commented on #1903
I've opened PR for the project to be added to the website https://github.com/firstcontributions/firstcontributions.github.io/pull/283

[2022-11-10 15:03] DreadKnight commented on #1903
Indeed, usually I tend to forget those domains are hosted on a github repo, good point, should have figured it out.

Yeah, figured that might be the case. All good even if not super obvious to get to the right repo I guess. If too many projects get listed, it might create a saturation and have my project overlooked way easier (provided the PR gets merged in the first place).

[2022-11-11 03:30] daiy29 commented on #2064
Hi, is this still available? If so I'd like to have it assigned to me.

[2022-11-11 03:31] DreadKnight commented on #2064
@daiy29 Sure, I'll assign it to you then, go for it! Soft deadline 2 weeks 🐻

[2022-11-11 16:17] #2093 closed

[2022-11-12 01:00] DreadKnight commented on #1903
The PR was merged https://github.com/firstcontributions/firstcontributions.github.io/pull/283 and it's showing up on the website https://firstcontributions.github.io

I should probably upload a high-res favicon https://github.com/FreezingMoon/AncientBeast-Website/blob/master/favicon.png, as that makes way more sense nowadays, especially for web apps.

[2022-11-12 01:00] #1903 closed

[2022-11-12 04:49] kavyadeepdev commented on #2092
Sorry, but I am having difficulty with finding any time to be working on projects currently. I'm going to unassign myself. Sorry for the inconvenience.

[2022-11-12 17:14] DreadKnight commented on #2092
It is what it is. No worries, you can still help the project by giving a ⭐ if you wish 🐻

[2022-11-12 17:14] DreadKnight commented on #2092
@kavyadeepdev It is what it is. No worries, you can still help the project by giving a ⭐ if you wish 🐻

[2022-11-14 14:09] mrworld196wide commented on #1716
@DreadKnight can you assign me this issue please?

[2022-11-14 16:28] DreadKnight commented on #1716
@mrworld196wide I've assigned it to you, though issues labeled "brainstorm" are to be left alone.
Ideally you would be poking at something for the next milestone btw https://github.com/FreezingMoon/AncientBeast/milestone/4

[2022-11-14 23:11] #1995 closed

[2022-11-14 23:14] DreadKnight opened #2105 "Whip Move path clicking confirmation [bounty: 3 XTR]"
Headless' Whip Move ability should have the minimum range indicators actually trigger the ability on that path when clicked.
This will avoid some visual mess with the hex cursor showing up on top of that, making things rather confusing and bloated.
And it will also make the ability behave in a standard way when it comes to targeting paths, making things more consistent.

[2022-11-16 18:18] #1967 closed

[2022-11-16 18:42] DreadKnight opened #2110 "can't target most abilities [bounty: 5 XTR]"
A recent patch broke the game badly, as most abilities are not targetable anymore it seems; PRs should be tested more 🐻
![Screenshot_20221116_203950](https://user-images.githubusercontent.com/587487/202265601-988568d5-9a4a-4880-b9d9-16eb50911bf3.jpg)

[2022-11-16 19:55] JlPOCTO commented on #2110
Sorry, I am very bad at nights :( I checked the game before my PR, and it also was bugging. Trying to understand, what's going on

[2022-11-16 21:18] #2110 closed

[2022-11-16 21:27] DreadKnight opened #2112 "score menu hotkey [bounty: 2 XTR]"
The "T" hotkey should open up the score menu (upper right button, as indicated in it's tooltip).

[2022-11-16 21:30] #2064 closed

[2022-11-17 10:34] DreadKnight commented on #1817
As I recall this was fixed at some point when delay was added to the refresh available matches button in the lobby menu.

[2022-11-17 10:34] #1817 closed

[2022-11-18 00:53] DreadKnight commented on #2014
This is most likely a duplicate of #1995 which has been fixed recently.

[2022-11-18 00:53] #2014 closed

[2022-11-21 14:01] rotom-washingmachine commented on #2079
Hello. I have some problems now.Can I get an extra week

[2022-11-21 16:15] DreadKnight commented on #2079
Heya! Alright, hopefully you'll manage 🐻

[2022-11-23 14:39] UsmanAhmadSaeed commented on #2089
Sorry for the delay. Busy schedule!
I've tested the changes on gitpod and seems to be working as expected.

[2022-11-23 15:16] DreadKnight opened #2116 "indicate error if no genres selected [bounty: 5 XTR]"
In the audio view, when no genres are selected, the playlist should be populated with an error message to say to pick one.
Alternatively, we could fix this by just showing all the tracks when all tags are disabled, as they would get turned back on.

![Screenshot_20221123_171156](https://user-images.githubusercontent.com/587487/203582502-cdb42f72-38e8-41d6-8cdd-7cc716f1a64b.jpg)

Code for this shou

[2022-11-23 15:22] #2089 closed

[2022-11-23 15:24] DreadKnight commented on #2089
No worries. Tested, works well, got it merged and bounty 🪙 sent. Don't forget to ⭐ the project 🙏🏻

[2022-11-24 19:25] TiesDO commented on #2116
![image](https://user-images.githubusercontent.com/118288338/203853630-d0426821-56c5-4f1e-962a-29f3129bb0a9.png)

By playlist do you mean the gray box at the bottom? If so where in the codebase should this be handled?

[2022-11-24 19:47] DreadKnight commented on #2116
Yeah, that's the one. Code should be here https://github.com/FreezingMoon/AncientBeast/blob/master/src/index.ejs#L1060

[2022-11-25 22:01] DreadKnight opened #2117 "project name used by a mod of a different game"
A MineCrap ⛏️ 💩 mod is doing name infringement on our project. We need to take action.
Please log into the website bellow using your Twitch account (soon more options) and report the following for "Copyright Infringement"

https://www.curseforge.com/minecraft/mc-mods/ancient-beasts

![Screenshot_20221125_235405](https://user-images.githubusercontent.com/587487/204058547-cfbfe14a-ab44-4902-9ed7-26d

[2022-11-25 22:15] DreadKnight commented on #2117
I've notified the project by opening an issue to their GH repo.
https://github.com/Un-Original1/AncientBeasts/issues/15

[2022-11-25 23:51] DreadKnight opened #2118 "DLC doing project name copyright infrigement"
There's a DLC on steam store with similar name https://store.steampowered.com/app/1599010/Chronicon__Ancient_Beasts/

[2022-11-26 00:02] DreadKnight opened #2119 "expansion doing name copyright infrigement"
An expansion to a game doing name copyright infringement
https://store.steampowered.com/app/1059290/Talisman__The_Ancient_Beasts_Expansion/

https://steamcommunity.com/dmca/create

[2022-11-26 04:58] DreadKnight commented on #2117
Need to start taking action on this if 90 days passed without rebranding.

[2022-11-26 09:25] rotom-washingmachine commented on #2079
I pushed pr.Can you check it

[2022-11-26 14:29] DreadKnight commented on #2079
You haven't made a PR. I can only see a branch in your profile that has a lot of bogus commits, deleting the code basically.

[2022-11-26 15:20] rotom-washingmachine commented on #2079
So sorry for that.Should be ok now

[2022-11-26 15:46] DreadKnight commented on #2079
Reviewed PR, needs some tweaks.

[2022-11-26 15:56] rotom-washingmachine commented on #2079
Can you elaborate

[2022-11-26 16:05] DreadKnight commented on #2079
I did on the PR itself, not here, because it's PR specific stuff.

[2022-11-26 18:25] Oskarzyca commented on #2117
"A MineCrap ⛏️ 💩  mod is doing name infringement on our project. We need to take action.
Please log into the website bellow using your Twitch account (soon more options) and report the following for 'Copyright Infringement' "
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/119130151/204103572-6f39f91c-26ef-4442-ace9-d318c8d32b17.gif)

[2022-11-26 20:54] TheRealZonko commented on #2119
The original game is trademarked as "Talisman", the update is trademarked as "The Ancient Beasts Expansion" which is a modification to Talisman.  "Ancient Beast" is a trademark title to your game and not an update, therefore this copyright infringement is null and void.

[2022-11-27 01:24] DreadKnight commented on #2119
So with that logic, I might as well make a game called "This is" and then release an expansion for it called "StarsCraft" 🐻

[2022-11-28 21:56] DreadKnight commented on #2117
They renamed to "Beast Slayer", pretty cool name, tempted to rename project to "Beast Slayers" to prank them but I don't want the initials to be "BS", even though current ones now relate to that shitty game where to slingshot birds into pigs 🐷

[2022-11-28 21:56] #2117 closed

[2022-11-29 22:21] SapheSab3r commented on #2112
Hi, my team is thinking about taking this issue and also issues #2070 #1481 #308. We will be prioritizing the first three issues and the stretch goal is the last one.

notes: there are a total of four members on the team. We are all undergrad students and want to use this opportunity to help us gain experience in working with open source project

[2022-11-29 23:03] DreadKnight commented on #2112
@SapheSab3r Feel free to take a swing at this one (#2112) and #2070, the other 2 ones are tagged "brainstorm" for now, so will have to tweak their specs when we get closer, especially for #308 as we don't have a settings page, but I'm getting some ideas already and will this the specs accordingly. Feel free to poke at other issues that are due for v0.4 release, which is scheduled for 22th this mon

[2022-11-30 21:55] DreadKnight opened #2122 "GameJolt creator role"
Become a creator on GameJolt, this allows for additional revenue stream for the project.

https://gamejolt.com/creators

Would require over 1000 followers for the project though https://gamejolt.com/games/ancientbeast/15964
Or over 3000 on a social media platform.